﻿<div class="row">
    <div class="col-lg-12">
        <div class="row">
            <div id="action-bar" class="m-t-10 m-b-10 no-print">
                <button class="btn btn-primary m-r-10 m-b-10"
                        [disabled]="isLeavingForm || isReviewButtonDissabled()"
                        (click)="runReviewAction()">
                    <i class="fa fa-list-alt m-r-10"></i>{{'ActionButtons.BtnReview' | translate:lang}}
                </button>
                <button class="btn btn-primary m-r-10 m-b-10"
                        [disabled]="isLeavingForm || isReplaceButtonDisabled()"
                        (click)="replaceClick()">
                    <i class="fa fa-code-fork m-r-10"></i>{{'ActionButtons.BtnReplace' | translate:lang}}
                </button>
                <button class="btn btn-primary m-r-10 m-b-10"
                        [disabled]="isLeavingForm || isCancelButtonDisabled()"
                        (click)="cancelClick()">
                    <i class="fa fa-hand-paper-o m-r-10"></i>{{'ActionButtons.BtnCancel' | translate:lang}}
                </button>
                <button class="btn btn-primary m-r-10 m-b-10"
                        [disabled]="isLeavingForm || isCloneButtonDisabled()"
                        (click)="runCloneAction()">
                    <i class="fa fa-clone m-r-10"></i>{{'ActionButtons.BtnClone' | translate:lang}}
                </button>
                <button class="btn btn-info m-r-10 m-b-10" type="button"
                        [disabled]="isHistoryButtonDisabled()"
                        (click)="showHistory()">
                    <i class="fa fa-history m-r-10"></i>{{'ActionButtons.BtnViewHistory' | translate:lang}}
                </button>
            </div>
        </div>
    </div>

    <div class="col-lg-12" style="height:100%;">
        <div class="row">
            <div class="col-lg-9 portlets ui-sortable" style="width:76% !important">
                <div class="panel" style="margin-bottom:0px; ">
                    <div class="panel-content" style="padding:5px">
                        <div class="dataTables_wrapper form-inline">
                            <div class="row">
                                <div class="panel">
                                    <div class="panel-header" style="padding-bottom:11px;">
                                        <div class="control-btn">
                                            <a class="panel-close" href="#" *ngIf="isFilterApplied" (click)="filter.clearFilter($event, false)">
                                                <i class="fa fa-trash filter-remove"></i>
                                            </a>
                                            <a class="panel-toggle">
                                                <i class="fa fa-filter" [class.filter-active]="isFilterApplied"></i>
                                                <i class="m-l-10 fa" [ngClass]="filterPannelOpen ? 'fa-angle-up' : 'fa-angle-down'" (click)="filterPannelOpen = !filterPannelOpen"></i>
                                            </a>
                                        </div>
                                        <div class="form-group">
                                            <span class="control-label" style="line-height:34px">Items per Page:</span>
                                            <select2 [data]="tableHeaders.itemsPerPage"
                                                     [value]="queryOptions.pageSize"
                                                     [options]="{minimumResultsForSearch:-1}"
                                                     [width]="50"
                                                     (valueChanged)="itemsPerPageChanged($event)"></select2>
                                        </div>
                                    </div>
                                    <img src="../../../content/images/animated_loading.gif" [style.display]="loadingData ? 'inherit': 'none'"
                                         class="pull-right" style="width:150px; height:20px;" />
                                    <div class="panel-content" style="display:none; background-color:#edf6fb; min-height:200px;">
                                        <notam-filter #notamFilter [pageSize]="paging.pageSize" filterType="1" (onFilterChanged)="onFilterChanged($event)"></notam-filter>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <table class="table table-cell-hover table-dynamic table-responsive filter-footer header-fixed dataTable m-b-5" role="grid">
                                    <thead>
                                        <tr role="row">
                                            <th tabindex="1" [class]="sortingClass(0)" (click)="sort(0)" style="width: 7%" rowspan="1" colspan="1" title="NOTAM ID">NOTAM #</th>
                                            <th tabindex="2" [class]="sortingClass(1)" (click)="sort(1)" style="width: 5%" rowspan="1" colspan="1" title="{{'TableHeaders.NotamType' | translate:lang}}">TYP</th>
                                            <th tabindex="3" [class]="sortingClass(2)" (click)="sort(2)" style="width: 6%" rowspan="1" colspan="1" title="{{'TableHeaders.RefNotam' | translate:lang}}">REF #</th>
                                            <th tabindex="4" style="width: 5%" rowspan="1" colspan="1" title="{{'TableHeaders.SiteID' | translate:lang}}">SID</th>
                                            <th tabindex="5" [class]="sortingClass(4)" (click)="sort(4)" style="width: 5%;" rowspan="1" colspan="1" title="{{'TableHeaders.Series' | translate:lang}}">SER</th>
                                            <th tabindex="6" [class]="sortingClass(5)" (click)="sort(5)" style="width: 7%;" rowspan="1" colspan="1">ITEM A</th>
                                            <th tabindex="7" [class]="sortingClass(6)" (click)="sort(6)" style="width: 5%;" rowspan="1" colspan="1" title="Code23">Q23</th>
                                            <th tabindex="8" [class]="sortingClass(7)" (click)="sort(7)" style="width: 5%;" rowspan="1" colspan="1" title="Code45">Q45</th>
                                            <th tabindex="9" [class]="sortingClass(8)" (click)="sort(8)" style="width: 5%;" rowspan="1" colspan="1" title="{{'TableHeaders.Per' | translate:lang}}?">PRM</th>
                                            <th tabindex="10" [class]="sortingClass(9)" (click)="sort(9)" style="width: 5%;" rowspan="1" colspan="1" title="{{'TableHeaders.Estimated' | translate:lang}}?">EST</th>
                                            <th tabindex="11" [class]="sortingClass(10)" (click)="sort(10)" style="width: 14%" rowspan="1" colspan="1" title="{{'TableHeaders.Originator' | translate:lang}}">ORIG</th>
                                            <th tabindex="12" [class]="sortingClass(11)" (click)="sort(11)" style="width: 7%" rowspan="1" colspan="1" title="{{'TableHeaders.Approver' | translate:lang}}">APPR</th>
                                            <th tabindex="13" [class]="sortingClass(12)" (click)="sort(12)" style="width: 8%" rowspan="1" colspan="1">{{'TableHeaders.Start' | translate:lang}} </th>
                                            <th tabindex="14" [class]="sortingClass(13)" (click)="sort(13)" style="width: 8%" rowspan="1" colspan="1">{{'TableHeaders.End' | translate:lang}} </th>
                                            <th tabindex="15" [class]="sortingClass(14)" (click)="sort(14)" style="width: 8%" rowspan="1" colspan="1">{{'TableHeaders.Published' | translate:lang}}</th>
                                            <!--<th tabindex="16" style="width: 5%" rowspan="1" colspan="1">{{'Filter.Active' | translate:lang}}</th>-->
                                        </tr>
                                    </thead>
                                    <tbody _id="data-response">
                                        <tr _role="row" *ngFor="let notam of notams; let i = index;" id="p_{{notam.id}}" 
                                            (click)="onRowSelected(i)"
                                            [class.success]="notam.isSelected">
                                            <td style="width: 7%" [ngClass]="rowColor(notam)">{{notam.notamId}}</td>
                                            <td style="width: 5%" [ngClass]="rowColor(notam)">{{notam.typeStr}}</td>
                                            <td style="width: 6%" [ngClass]="rowColor(notam)">{{notam.referredNotamId}}</td>
                                            <td style="width: 5%" [ngClass]="rowColor(notam)">{{notam.siteId}}</td>
                                            <td style="width: 5%" [ngClass]="rowColor(notam)">{{notam.series}}</td>
                                            <td style="width: 7%" [ngClass]="rowColor(notam)" [style.font-size]="notam.itemA.length > 4 ? '11px' : '13px'">{{notam.itemA}}</td>
                                            <td style="width: 5%" [ngClass]="rowColor(notam)">{{notam.code23}}</td>
                                            <td style="width: 5%" [ngClass]="rowColor(notam)">{{notam.code45}}</td>
                                            <td style="width: 5%" [ngClass]="rowColor(notam)">{{notam.isPermanent ? 'Y' : 'N' }}</td>
                                            <td style="width: 5%" [ngClass]="rowColor(notam)">{{notam.isEstimated ? 'Y' : 'N' }}</td>
                                            <td style="width: 14%" [ngClass]="rowColor(notam)">{{ (notam.originator && notam.originator.length > 14) ? (notam.originator | slice:0:14) + '...' : (notam.originator)}}</td>
                                            <!--<td>{{notam.operator}}</td>-->
                                            <td style="width: 7%" [ngClass]="rowColor(notam)">{{notam.modifiedByUsr}}</td>
                                            <td style="width: 8%" [ngClass]="rowColor(notam)">{{notam.startActivity}}</td>
                                            <td style="width: 8%" [ngClass]="rowColor(notam)">{{notam.endValidity}}</td>
                                            <td style="width: 8%" [ngClass]="rowColor(notam)">{{notam.published | datex: 'YYMMDDHHmm'}}</td>
                                            <!--<td style="width: 5%">{{notam.isObsolete ? "N" : "Y"}}</td>-->
                                        </tr>
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th colspan="8">
                                                <span class="label label-default bg-submitted"><i class="fa fa-upload"></i>{{'NotamStatus.Submitted' | translate:lang}}</span>|
                                                <span class="label label-default bg-expired"><i class="fa fa-clock-o"></i>{{'NotamStatus.Expired' | translate:lang}}</span>|
                                                <span class="label label-default bg-widthdrawn"><i class="fa fa-remove"></i>{{'NotamStatus.Cancel' | translate:lang}}</span>|
                                            </th>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                            <server-pagination [currentPage]="paging.currentPage"
                                               [pageSize]="paging.pageSize"
                                               [totalCount]="paging.totalCount"
                                               [totalPages]="totalPages"
                                               [sliderSize]="9"
                                               (onPageChange)="onPageChange($event)"></server-pagination>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3" style="width:24% !important">
                <div class="row">
                    <div class="panel bg-gray-light">
                        <div class="panel-header bg-light-default">
                            <h3>
                                <i class="fa fa-lightbulb-o" style="font-size: 1.4em;"></i>
                                <strong>{{'Nsd.ICAOFormat' | translate:lang}}</strong>
                            </h3>
                        </div>
                        <div class="panel-body">
                            <div id="plainTextView">
                                <div style="padding-top:0px; width:100%;">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div>
                                                <pre id="icaoFormat" style="background-color:white;">{{icaoFormat}}</pre>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div>
                                        <button class="btn btn-primary m-r-5 m-b-5" type="button" (click)="copyIcaoText()">
                                            {{'ActionButtons.Copy' | translate:lang}}
                                        </button>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div style="width:100%; height:400px; background: transparent url(/content/images/loading.png) no-repeat center center; border:1px solid #E2E2E2">
                        <div id="map" style="width:100%; height:398px"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12 portlets ui-sortable">
            </div>
        </div>
    </div>
</div>

<simple-modal modalId="notam-tracking-list" title="{{'Dashboard.NotamTrackingHistory' | translate:lang}}" btnClose="{{'ActionButtons.BtnClose' | translate:lang}}">
    <table>
        <tr>
            <td>
                <table class="table" style="margin-bottom: 0">
                    <thead>
                        <tr>
                            <th tabindex="0" style="width: 10px" rowspan="1"></th>
                            <th tabindex="1" style="width: 90px" rowspan="1" title="{{'TableHeaders.NotamNumber' | translate:lang}}">{{'TableHeaders.NotamNumber' | translate:lang}}</th>
                            <th tabindex="2" style="width: 40px" rowspan="1" title="{{'TableHeaders.NotamType' | translate:lang}}">TYP</th>
                            <th tabindex="3" style="width: 90px" rowspan="1" title="{{'TableHeaders.RefNotam' | translate:lang}}">REF #</th>
                            <th tabindex="4" style="width: 50px" rowspan="1" title="{{'TableHeaders.Series' | translate:lang}}">SER</th>
                            <th tabindex="5" style="width: 90px" rowspan="1">{{'TableHeaders.ItemA' | translate:lang}}</th>
                            <th tabindex="6" style="width: 50px" rowspan="1" title="Code23">Q23</th>
                            <th tabindex="7" style="width: 50px" rowspan="1" title="Code45">Q45</th>
                            <th tabindex="8" style="width: 40px" rowspan="1" title="{{'TableHeaders.Permanent' | translate:lang}}?">PRM</th>
                            <th tabindex="9" style="width: 40px" rowspan="1" title="{{'TableHeaders.Estimated' | translate:lang}}?">EST</th>
                            <th tabindex="10" style="width: 100px" rowspan="1" title="{{'TableHeaders.Operator' | translate:lang}}">OPER</th>
                            <th tabindex="11" style="width: 100px" rowspan="1" title="{{'TableHeaders.Originator' | translate:lang}}">ORIG</th>
                            <th tabindex="12" style="width: 100px" rowspan="1" title="{{'TableHeaders.Approver' | translate:lang}}">APPR</th>
                            <th tabindex="13" style="width: 90px" rowspan="1">{{'TableHeaders.Start' | translate:lang}} </th>
                            <th tabindex="14" style="width: 90px" rowspan="1">{{'TableHeaders.End' | translate:lang}} </th>
                            <th tabindex="15" style="width: 90px" rowspan="1">{{'TableHeaders.Published' | translate:lang}}</th>
                            <th style="width: 20px" rowspan="1"></th>
                        </tr>
                    </thead>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                <div style="height:315px; overflow:auto;">
                    <table class="table table-hover">
                        <tr role="row" *ngFor="let notam of notamTrakingList; let i = index;" style="font-size:10px"
                            [class.success]="notam.isSelected"
                            [ngClass]="rowColor(notam)">
                            <td style="width: 10px">
                                <span *ngIf="!notam.isProposal" class="fa {{notam.historyOpen ? 'fa-minus-square' : 'fa-plus-square'}}"
                                      (click)="onProposalHistory(i, notam.index, notam.proposalId)"></span>
                            </td>
                            <td style="width: 90px">{{notam.notamId}}</td>
                            <td style="width: 40px">{{notam.typeStr}}</td>
                            <td style="width: 90px">{{notam.referredNotamId}}</td>
                            <td style="width: 50px">{{notam.series}}</td>
                            <td style="width: 90px">{{notam.itemA}}</td>
                            <td style="width: 50px">{{notam.code23}}</td>
                            <td style="width: 50px">{{notam.code45}}</td>
                            <td style="width: 40px">{{notam.isPermanent ? 'Y' : 'N' }}</td>
                            <td style="width: 40px">{{notam.isEstimated ? 'Y' : 'N' }}</td>
                            <td style="width: 100px">{{getOperatorString(notam)}}</td>
                            <td style="width: 100px">{{getOriginatorString(notam.originator)}}</td>
                            <td style="width: 100px">{{getApproverString(notam)}}</td>
                            <td style="width: 90px">{{notam.startActivity}}</td>
                            <td style="width: 90px">{{notam.endValidity}}</td>
                            <td style="width: 90px">{{notam.published | datex: 'YYMMDDHHmm'}}</td>
                            <td style="width: 20px"><a *ngIf="notam.isProposal" [routerLink]="['/dashboard/viewhistory', notam.id]" class="text-muted" title="Review Proposal"><i class="fa fa-external-link"></i></a></td>
                        </tr>
                    </table>
                </div>
            </td>
        </tr>
    </table>
</simple-modal>

