﻿.select-label {
    font-weight: 700;
    padding-left:5px;
    padding-right:2px;
    color:#3e484e;
}

.header-fixed {
    width: 100%
}

.header-fixed > thead,
.header-fixed > tbody,
.header-fixed > thead > tr,
.header-fixed > tbody > tr,
.header-fixed > thead > tr > th,
.header-fixed > tbody > tr > td {
    display: block;
}

.header-fixed > thead > tr > th {
    height: 45px;
    font-size: 10px;
    background-color: #f5f5f5;
}

.header-fixed > tbody > tr > td {
    font-family: Consolas;
    font-size: 13px;
    height: 38px;
}

.header-fixed > tbody > tr:after,
.header-fixed > thead > tr:after {
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
}

.header-fixed > tbody {
    overflow-y: auto;
    height: 800px;
}

.header-fixed > tbody > tr > td,
.header-fixed > thead > tr > th {
    float: left;
}
