﻿<div class="app-header">
    <h2>
        <strong> {{title}} Proposal ({{model.displayName}})</strong>
        <a href="../Content/help/NESUserGuide{{langCulture}}.pdf#{{model.helpLink}}" target="_blank" style="padding-left:10px;"><i class="icon-question"></i></a>
    </h2>
</div>

<proposal-form [model]="model" [isReadOnly]="false" [isNOF]="true"></proposal-form>

<div id="modal-takeownership" class="modal fade" style="margin-top:100px;" tabindex="-1">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header bg-danger">
                <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
                <h4 class="modal-title"><b>{{'NofPick.ProposalOwnership' | translate:lang}}</b></h4>
            </div>
            <div class="modal-body">
                <b>{{'NofPick.ProposalOwnershipMsg1' | translate:lang}}{{proposalOwner}}. {{'NofPick.ProposalOwnershipMsg2' | translate:lang}}</b>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="takeProposalOwnership()">{{'Common.Yes' | translate:lang}}</button>
                <button type="button" class="btn btn-dark" data-dismiss="modal" (click)="backToDashboard()">{{'Common.No' | translate:lang}}</button>
            </div>
            <!--<a href="nof-pick.component.html">nof-pick.component.html</a>-->
        </div>
    </div>
</div>

<div id="modal-ownershiptaken" class="modal fade" style="margin-top:100px;" tabindex="-1">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header bg-danger">
                <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
                <h4 class="modal-title"><b>{{'NofPick.ProposalOwnershipTaken' | translate:lang}}</b></h4>
            </div>
            <div class="modal-body">
                <b>{{'NofPick.ProposalOwnershipTakenMsg' | translate:lang}}</b>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="backToDashboard()">{{'Common.Ok' | translate:lang}}</button>
            </div>
        </div>
    </div>
</div>


<div style="margin-top:100px">
</div>


