﻿<div class="app-header">
    <h2>
        <strong>{{'MessageQueue.Compose' | translate:lang}} {{'MessageQueue.Message' | translate:lang}}</strong> 
    </h2>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="m-t-10 m-b-10 no-print">
                <button class="btn btn-info m-r-10 m-b-10" type="button" (click)="backToMsgList()" [disabled]="false">
                    <span><i class="fa fa-arrow-left m-r-10"></i>{{'MessageQueue.BackToList' | translate:lang}}</span>
                </button>
            </div>
        </div>
    </div>

    <div class="col-md-12 col-sm-12 col-xs-12">
        <form [formGroup]="msgForm" class="form" autocomplete="off" (ngSubmit)="onSubmit()" novalidate="novalidate">

            <div class="panel bg-blue-dark">
                <div class="panel-header">
                    <h3><i class="fa fa-envelope"></i> <strong>{{'MessageQueue.ComposeMessage' | translate:lang}}</strong></h3>
                </div>
                <div class="panel-content bg-white">
                    <div class="row">
                        <div class="col-sm-2">
                            <div class="form-group">
                                <label class="control-label">{{'MessageQueue.Originator' | translate:lang}}</label>
                                <div class="append-icon">
                                    <input id="originator" formControlName="originator" type="text" class="form-control" maxlength="8" style="text-transform: uppercase;">
                                    <i class="fa fa-envelope-o"></i>
                                </div>
                                <div *ngIf="isOriginatorRequired()" class="form-error">{{'MessageQueue.OriginatorRequiered' | translate:lang}}</div>
                                <div *ngIf="isOriginatorFormatInvalid()" class="form-error">{{'MessageQueue.OriginatorInvalidFormat' | translate:lang}}</div>
                            </div>
                        </div>
                        <div class="col-sm-5">
                            <div class="form-group">
                                <label class="control-label">{{'MessageQueue.PriorityCode' | translate:lang}}</label>
                                <div class="append-icon">
                                    <select2 [data]="priorityCodes" [class.form-white]="!isReadOnly"
                                             [options]="prioriTyCodeOptions"
                                             [width]="500"
                                             [disabled]="isReadOnly"
                                             [value]="selectedPriorityCodeId"
                                             (valueChanged)="onPriorityCodeChanged($event)"></select2>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-5">
                            <div class="form-group">
                                <label class="control-label">{{'MessageQueue.Template' | translate:lang}}</label>
                                <div class="append-icon">
                                    <select2 [data]="templates" [class.form-white]="!isReadOnly"
                                             [options]="templateOptions"
                                             [width]="500"
                                             [disabled]="isReadOnly"
                                             [value]="selectedTemplateId"
                                             (valueChanged)="onTemplateChanged($event)"></select2>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label class="control-label">{{'MessageQueue.Recipients' | translate:lang}}</label>
                                <div class="input-group">
                                    <input id="recipients" formControlName="recipients" type="text" style="text-transform: uppercase;"
                                           class="form-control form-white"
                                           placeholder="{{'MessageQueue.Recipients' | translate:lang}}"
                                           maxlength="189"
                                           [ngClass]="{'form-error': !validateRecipients() }" />
                                    <span class="input-group-addon btn btn-sm btn-primary" (click)="openSearchDialog()"><i class="fa fa-users"></i></span>
                                </div>
                                <div *ngIf="!validateRecipients() && msgForm.controls.recipients.errors && msgForm.controls.recipients.errors.required" class="form-error">{{'MessageQueue.RecipientsRequiered' | translate:lang}}</div>
                                <div *ngIf="msgForm.controls.recipients.errors && msgForm.controls.recipients.errors.invalidRecipientFormat" class="form-error">{{'MessageQueue.RecipientsInvalidFormat' | translate:lang}}</div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label class="control-label">{{'MessageQueue.MessageBody' | translate:lang}}</label>
                                <div class="append-icon">
                                    <textarea id="messageBody" formControlName="messageBody" type="text" rows="30" style="text-transform: uppercase;"
                                           class="form-control form-white"
                                           [ngClass]="{'form-error': !validateMessageBody() }"></textarea>
                                    <div *ngIf="!validateMessageBody() && msgForm.controls.messageBody.errors && msgForm.controls.messageBody.errors.required" class="form-error">{{'MessageQueue.MessageBodyRequired' | translate:lang}}</div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="text-center  m-t-20">
                        <button class="btn btn-embossed btn-primary" type="submit" [disabled]="msgForm.pristine || !msgForm.valid">{{'MessageQueue.Send' | translate:lang}}</button>
                        <button class="cancel btn btn-info m-b-10 m-r-0" type="reset" (click)="backToMsgList()">
                            <span><i class="fa fa-arrow-left m-r-10"></i>{{'MessageQueue.BackToList' | translate:lang}}</span>
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>


<div id="modal-search" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-lg" >
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
                <h4 class="modal-title"><b>{{'MessageQueue.SearchDialog' | translate:lang}}</b></h4>
            </div>
            <div class="modal-body">
                <div class="panel">
                    <div class="panel-header panel-controls">
                        <div class="panel-header" style="padding:0px 0px 0px 7px;">
                            <button class="btn btn-sm btn-primary m-b-5 m-t-5 m-r-0" (click)="addAddress()" [disabled]="addresses.length > 14"><i class="fa fa-plus-circle p-r-0"></i></button>
                            <button class="btn btn-sm btn-danger m-b-5 m-t-5 m-l-0" (click)="deleteAddress()" [disabled]="addressIndexSelected < 0"><i class="fa fa-minus-circle p-r-0"></i></button>
                            <div class="message-address-box">
                                <span class="label label-default m-r-5" style="z-index:200; max-width:40px"
                                      [class.label-primary]="addressIndexSelected===i" *ngFor="let address of addresses; let i = index;"
                                      (click)="selectAddress(i)"><strong>{{address}}</strong></span>
                            </div>
                        </div>
                    </div>
                    <div class="panel-content" style="height:310px; overflow-y:auto; padding-top: 5px">
                        <table class="table">
                            <thead>
                                <tr class="active">
                                    <th>
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                            <input [(ngModel)]="searchFilter.client" class="form-control form-white" type="text" placeholder="Client Name">
                                        </div>
                                    </th>
                                    <th>
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="fa fa-search"></i></span>
                                            <input [(ngModel)]="searchFilter.clientTypeStr" class="form-control form-white" type="text" placeholder="Client Type">
                                        </div>
                                    </th>
                                    <th>
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="fa fa-keyboard-o"></i></span>
                                            <input [(ngModel)]="searchFilter.address" class="form-control form-white" type="text" placeholder="Client Address">
                                        </div>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr role="row" *ngFor="let subsc of subscriptions | subscfilter:searchFilter; let i = index;" id="p_{{subsc.id}}"
                                    (click)="selectSubscription(subsc)"
                                    (dblclick)="addAddress()"
                                    [class.bg-selected]="subsc.isSelected">
                                    <td>{{subsc.client}}</td>
                                    <td>{{subsc.clientTypeStr}}</td>
                                    <td>{{subsc.address}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal" [disabled]="addresses.length <= 0 || addresses.length > 14" (click)="appendAddressToRecipientList()">{{'Common.Yes' | translate:lang}}</button>
                <button type="button" class="btn btn-dark" data-dismiss="modal" (click)="closeSearchDialog()">{{'Common.Cancel' | translate:lang}}</button>
            </div>
        </div>
    </div>
</div>



