﻿<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div id="action-bar" class="m-l-5 m-t-10 m-b-10 no-print">
                <!--RESOLVE CATEGORIES IN CODE-->
                <div class="btn-group" style="vertical-align:top">
                    <button class="btn btn-success dropdown-toggle" aria-expanded="false" type="button" data-toggle="dropdown" [disabled]="isLeavingForm">
                        <i class="fa fa-plus"></i> {{'ActionButtons.BtnCreate' | translate:lang}}
                        <span class="caret"></span>
                    </button>
                    <span class="dropdown-arrow"></span>
                    <ul class="dropdown-menu" role="menu">
                        <li *ngIf="isNSDAllowed('CATCHALL')">
                            <a [routerLink]="['/dashboard/create', 2]">
                                <span class="bold" style="display:inline-block; width:75%">CATCHALL</span>
                                <span class="text-right" style="display:inline-block; width:25%">Ctrl-C C</span>
                            </a>
                        </li>
                        <li *ngIf="isNSDAllowed('CATCHALL')" class="divider"></li>

                        <li *ngIf="isNSDAllowed('OBST')">
                            <a [routerLink]="['/dashboard/create', 4]">
                                <span class="bold" style="display:inline-block; width:75%">OBST</span>
                                <span class="text-right" style="display:inline-block; width:25%">Ctrl-C O 1</span>
                            </a>
                        </li>
                        <li *ngIf="isNSDAllowed('OBST LGT U/S')">
                            <a [routerLink]="['/dashboard/create', 5]">
                                <span class="bold" style="display:inline-block; width:75%">OBST LGT U/S</span>
                                <span class="text-right" style="display:inline-block; width:25%">Ctrl-C O 2</span>
                            </a>
                        </li>
                        <li *ngIf="isNSDAllowed('MULT OBST')">
                            <a [routerLink]="['/dashboard/create', 14]">
                                <span class="bold" style="display:inline-block; width:75%">MULT OBST</span>
                                <span class="text-right" style="display:inline-block; width:25%">Ctrl-C O 3</span>
                            </a>
                        </li>
                        <li *ngIf="isNSDAllowed('MULT OBST LGT U/S')">
                            <a [routerLink]="['/dashboard/create', 15]">
                                <span class="bold" style="display:inline-block; width:75%">MULTI OBST LGT U/S</span>
                                <span class="text-right" style="display:inline-block; width:25%">Ctrl-C O 4</span>
                            </a>
                        </li>
                        <li *ngIf="isNSDAllowed('OBST') || isNSDAllowed('OBST LGT U/S') || isNSDAllowed('MULT OBST') || isNSDAllowed('MULT OBST LGT U/S')" class="divider"></li>

                        <li *ngIf="isNSDAllowed('RWY CLSD')">
                            <a [routerLink]="['/dashboard/create', 7]">
                                <span class="bold" style="display:inline-block; width:75%">RWY CLSD</span>
                                <span class="text-right" style="display:inline-block; width:25%">Ctrl-C R 1</span>
                            </a>
                        </li>
                        <li *ngIf="isNSDAllowed('RWY CLSD')" class="divider"></li>

                        <li *ngIf="isNSDAllowed('TWY CLSD')">
                            <a [routerLink]="['/dashboard/create', 11]">
                                <span class="bold" style="display:inline-block; width:75%">TWY CLSD</span>
                                <span class="text-right" style="display:inline-block; width:25%">Ctrl-C T 1</span>
                            </a>
                        </li>
                        <li *ngIf="isNSDAllowed('TWY CLSD') && isNSDAllowed('CARS')" class="divider"></li>
                        <li *ngIf="isNSDAllowed('CARS')">
                            <a [routerLink]="['/dashboard/create', 13]">
                                <span class="bold" style="display:inline-block; width:75%">CARS</span>
                                <span class="text-right" style="display:inline-block; width:25%">Ctrl-C A 1</span>
                            </a>
                        </li>
                        <li *ngIf="isNSDAllowed('TWY CLSD') && isNSDAllowed('RSC')" class="divider"></li>
                        <li *ngIf="isNSDAllowed('RSC')">
                            <a [routerLink]="['/dashboard/create/rsc', 18]">
                                <span class="bold" style="display:inline-block; width:75%">RSC</span>
                                <span class="text-right" style="display:inline-block; width:25%">Ctrl-C S 1</span>
                            </a>
                        </li>
                        <li *ngIf="isNSDAllowed('AREA DEFINITION')" class="divider"></li>
                        <li *ngIf="isNSDAllowed('AREA DEFINITION')">
                            <a [routerLink]="['/dashboard/create/', 19]">
                                <span class="bold" style="display:inline-block; width:75%">Area Definition</span>
                                <span class="text-right" style="display:inline-block; width:25%">Ctrl-C D 1</span>
                                <!-- TODO: Implement the hot keys here -->
                            </a>
                        </li>
                    </ul>
                </div>
                <button class="btn btn-primary m-r-10 m-b-10"
                        [disabled]="isPickedButtonDisabled()"
                        (click)="changeRoute(['/dashboard/pick', selectedProposal?.id])">
                    <!--routerLink]="['/dashboard/pick', selectedProposal?.id]">-->
                    <i class="fa fa-pencil-square-o m-r-10"></i>{{'ActionButtons.BtnPick' | translate:lang}}
                </button>
                <button class="btn btn-primary m-r-10 m-b-10"
                        [disabled]="isReviewButtonDissabled()"
                        (click)="changeRoute(['/dashboard/view', selectedProposal?.id])">
                    <!--[routerLink]="['/dashboard/view', selectedProposal?.id]">-->
                    <i class="fa fa-list-alt m-r-10"></i>{{'ActionButtons.BtnReview' | translate:lang}}
                </button>
                <button class="btn btn-primary m-r-10 m-b-10"
                        [disabled]="isReplaceButtonDisabled()"
                        (click)="changeRoute(['/dashboard/replace', selectedProposal?.id,'proposal'])">
                    <!--[routerLink]="['/dashboard/replace', selectedProposal?.id,'proposal']">-->
                    <i class="fa fa-code-fork m-r-10"></i>{{'ActionButtons.BtnReplace' | translate:lang}}
                </button>
                <button class="btn btn-primary m-r-10 m-b-10"
                        [disabled]="isCancelButtonDisabled()"
                        (click)="changeRoute(['/dashboard/cancel', selectedProposal?.id,'proposal'])">
                    <!--[routerLink]="['/dashboard/cancel', selectedProposal?.id,'proposal']">-->
                    <i class="fa fa-hand-paper-o m-r-10"></i>{{'ActionButtons.BtnCancel' | translate:lang}}
                </button>
                <button class="btn btn-primary m-r-10 m-b-10"
                        [disabled]="isCloneButtonDisabled()"
                        (click)="runCloneAction()">
                    <i class="fa fa-clone m-r-10"></i>{{'ActionButtons.BtnClone' | translate:lang}}
                </button>
                <button class="btn btn-info m-r-10 m-b-10"
                        [disabled]="isHistoryButtonDisabled()"
                        (click)="showHistory(selectedProposal?.id)">
                    <i class="fa fa-history m-r-10"></i>{{'ActionButtons.BtnHistory' | translate:lang}}
                </button>
                <!--[style.display]="queueName === 'PARK_QUEUE' && isDiscardButtonHidden(selectedProposal) ? 'inline' : 'none'"-->
                <button class="btn btn-primary m-r-10 m-b-10"
                        [disabled]="isLeavingForm || !isDiscardButtonHidden(selectedProposal)"
                        [style.display]="queueName === 'PARK_QUEUE' ? 'inline' : 'none'"
                        (click)="confirmDiscardProposal()">
                    <i class="fa fa-trash-o m-r-10"></i>{{'ActionButtons.Clear' | translate:lang}}
                </button>
                <button *ngIf="expiringCount > 0 && queueName === 'REVIEW_QUEUE'" class="btn btn-transparent btn-warning pull-right"
                        style="padding:1px 18px 2px 18px"
                        (click)="executeFilter()">
                    <i *ngIf="!expiringApplied" class="fa fa-bell-o faa-ring" [class.animated]="runExpiringBellAnimation" style="font-size:1.7em !important"></i>
                    <i *ngIf="expiringApplied" class="fa fa-check" style="font-size:1.7em !important"></i>
                    <b class="f-15">&nbsp;&nbsp;{{expiringCount}}</b>
                </button>

            </div>
        </div>
    </div>

    <div class="col-md-12" style="height:100%">
        <div class="row">
            <div class="col-md-12 portlets ui-sortable">
                <div class="panel">
                    <div class="panel-content">
                        <div class="dataTables_wrapper form-inline">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <span class="control-label" style="line-height:34px">{{'Dashboard.ItemsPerPage' | translate:lang}}:</span>
                                        <select2 [data]="tableHeaders.itemsPerPage"
                                                 [value]="queryOptions.pageSize"
                                                 [options]="{minimumResultsForSearch:-1}"
                                                 [width]="50"
                                                 (valueChanged)="itemsPerPageChanged($event)"></select2>
                                    </div>
                                    <div *ngIf="!expiringApplied" class="form-group p-l-10">
                                        <span class="control-label" style="line-height:34px">{{'Dashboard.Categories' | translate:lang}}:</span>
                                        <select2 [data]="parentCategories"
                                                 [value]="categoryStartValue"
                                                 [options]="{minimumResultsForSearch:-1}"
                                                 [width]="150"
                                                 (valueChanged)="onCategoryChanged($event)"></select2>
                                    </div>
                                    <div class="form-group p-l-10" *ngIf="childCategories.length > 0 && !expiringApplied">
                                        <span class="control-label" style="line-height:34px">{{'Dashboard.Subcategories' | translate:lang}}:</span>
                                        <select2 [data]="childCategories"
                                                 [value]="subCategoryStartValue"
                                                 [options]="{minimumResultsForSearch:-1}"
                                                 [width]="150"
                                                 (valueChanged)="onChildCategoryChanged($event)"></select2>
                                    </div>
                                    <div class="pull-right">
                                        <img src="../../../content/images/animated_loading.gif" [style.display]="loadingData ? 'inherit': 'none'"
                                             class="pull-right" style="width:150px; height:20px;" />
                                    </div>
                                </div>
                            </div>
                            <hr style="margin-bottom: 4px; margin-top:4px" />
                            <table class="table table-cell-hover table-dynamic table-responsive filter-footer header-fixed dataTable" role="grid">
                                <thead>
                                    <tr role="row">
                                        <th tabindex="1" [class]="sortingClass(0)" (click)="sort(0)" style="width: 6%;" rowspan="1" colspan="1">Id</th>
                                        <th tabindex="2" [class]="sortingClass(1)" (click)="sort(1)" style="width: 9%;" rowspan="1" colspan="1">{{'TableHeaders.Type' | translate:lang}}</th>
                                        <th tabindex="3" [class]="sortingClass(2)" (click)="sort(2)" style="width: 8%;" rowspan="1" colspan="1">{{'TableHeaders.Location' | translate:lang}}</th>
                                        <th tabindex="4" style="width: 5%;" rowspan="1" colspan="1">{{'TableHeaders.SiteID' | translate:lang}}</th>
                                        <th tabindex="5" [class]="sortingClass(4)" (click)="sort(4)" style="width: 31%" rowspan="1" colspan="1">{{'TableHeaders.ItemE' | translate:lang}}</th>
                                        <th tabindex="6" [class]="sortingClass(5)" (click)="sort(5)" style="width: 6%" rowspan="1" colspan="1">{{'TableHeaders.StartActivity' | translate:lang}}</th>
                                        <th tabindex="7" [class]="sortingClass(6)" (click)="sort(6)" style="width: 6%" rowspan="1" colspan="1">{{'TableHeaders.EndValidity' | translate:lang}}</th>
                                        <th tabindex="8" [class]="sortingClass(7)" (click)="sort(7)" style="width: 4%" rowspan="1" colspan="1">{{'TableHeaders.Est' | translate:lang}}</th>
                                        <th tabindex="9" [class]="sortingClass(8)" (click)="sort(8)" style="width: 6%" rowspan="1" colspan="1">{{'TableHeaders.Received' | translate:lang}}</th>
                                        <th tabindex="10" [class]="sortingClass(9)" (click)="sort(9)" style="width: 7%" rowspan="1" colspan="1">{{'TableHeaders.Operator' | translate:lang}}</th>
                                        <th tabindex="11" [class]="sortingClass(10)" (click)="sort(10)" style="width: 7%" rowspan="1" colspan="1">{{'TableHeaders.Originator' | translate:lang}}</th>
                                        <!--<th tabindex="12" [class]="sortingClass(11)" (click)="sort(11)" style="width: 5%" rowspan="1" colspan="1">{{'TableHeaders.Approver' | translate:lang}}</th>-->
                                        <th tabindex="13" [class]="sortingClass(12)" (click)="sort(12)" style="width: 4%; text-align:center" rowspan="1" colspan="1">{{'TableHeaders.Status' | translate:lang}}</th>
                                    </tr>
                                </thead>
                                <tbody id="data-response">
                                    <tr role="row" *ngFor="let proposal of proposals; let i = index;" id="p_{{proposal.id}}"
                                        (click)="selectProposal(proposal)"
                                        (dblclick)="pickProposal(proposal)"
                                        [class.success]="proposal.isSelected">
                                        <td style="width: 6%;" [ngClass]="rowColor(proposal)">{{proposal.notamId}}</td>
                                        <td style="width: 9%;" [ngClass]="rowColor(proposal)">{{proposal.categoryName}}</td>
                                        <td style="width: 8%;" [ngClass]="rowColor(proposal)" [style.font-size]="proposal.itemA.length > 10 ? '11px' : '13px'">{{proposal.itemA}}</td>
                                        <td style="width: 5%;" [ngClass]="rowColor(proposal)">{{proposal.siteId}}</td>
                                        <td style="width: 31%;" [ngClass]="rowColor(proposal)" title="{{proposal.itemE}}">{{getItemEString(proposal,false)}}</td>
                                        <td style="width: 6%;" [ngClass]="rowColor(proposal)">{{proposal.startActivity}}</td>
                                        <td style="width: 6%;" [ngClass]="rowColor(proposal)">{{proposal.endValidity}}</td>
                                        <td style="width: 4%;" [ngClass]="rowColor(proposal)">
                                            <i *ngIf="proposal.estimated" class="fa fa-check"></i>
                                            <i *ngIf="!proposal.estimated"></i>
                                        </td>
                                        <td style="width: 6%;" [ngClass]="rowColor(proposal)">{{proposal.received | datex: 'YYMMDDHHmm'}}</td>
                                        <td style="width: 7%;" [ngClass]="rowColor(proposal)">{{getOperatorString(proposal)}}</td>
                                        <td style="width: 7%;" [ngClass]="rowColor(proposal)" title="{{proposal.originator}}">{{getOriginatorString(proposal,false)}}</td>
                                        <!--<td>{{getApproverString(proposal)}}</td>-->
                                        <td style="width: 4%;" [ngClass]="rowColor(proposal)" class="text-right">
                                            <i *ngIf="proposal.groupId" (click)="showGroup(i)" [ngClass]="proposal.groupOpen ? 'fa fa-minus-square-o' : 'fa fa-plus-square-o'" aria-hidden="true"></i>
                                            <i class="fa" [ngClass]="cssIcon(proposal)"><span></span></i>
                                        </td>
                                        <!--<td><i *ngIf="proposal.groupId" class="fa fa-plus-square-o" aria-hidden="true"></i></td>-->
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr *ngIf="queueName==='PENDING_QUEUE'">
                                        <th colspan="8">
                                            <span class="label label-default bg-white"><i class="fa fa-upload"></i>{{'NotamStatus.Submitted' | translate:lang}}</span>|
                                            <span class="label label-default bg-picked"><i class="fa fa-hourglass-o"></i>{{'NotamStatus.Picked' | translate:lang}}</span>
                                        </th>
                                    </tr>
                                    <tr *ngIf="queueName==='PARK_QUEUE'">
                                        <th colspan="8">
                                            <span class="label label-default bg-white"><i class="fa fa-lock"></i>{{'NotamStatus.Parked' | translate:lang}}</span>|
                                            <span class="label label-default bg-saved"><i class="fa fa-save"></i>{{'NotamStatus.Draft' | translate:lang}}</span>
                                        </th>
                                    </tr>
                                </tfoot>
                            </table>
                            <server-pagination [currentPage]="paging.currentPage"
                                               [pageSize]="paging.pageSize"
                                               [totalCount]="paging.totalCount"
                                               [totalPages]="totalPages"
                                               [sliderSize]="9"
                                               (onPageChange)="onPageChange($event)"></server-pagination>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="modal-delete" class="modal fade" style="margin-top:100px;" tabindex="-1">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header bg-danger">
                <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
                <h4 class="modal-title"><b>{{'Dashboard.DiscardProposal' | translate:lang}}</b></h4>
            </div>
            <div class="modal-body">
                <b>{{'Dashboard.DiscardProposalConfirmation' | translate:lang}}</b>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="discardProposal()">{{'Common.Yes' | translate:lang}}</button>
                <button type="button" class="btn btn-dark" data-dismiss="modal">{{'Common.No' | translate:lang}}</button>
            </div>
        </div>
    </div>
</div>

<simple-modal modalId="proposal-history" title="{{'Dashboard.ProposalHistory' | translate:lang}}" btnClose="{{'ActionButtons.BtnClose' | translate:lang}}">
    <table>
        <tr>
            <td>
                <table class="table" style="margin-bottom: 0">
                    <thead>
                        <tr>
                            <th style="width: 80px;">ID</th>
                            <th style="width: 90px;">{{'TableHeaders.Location' | translate:lang}}</th>
                            <th style="width: 250px;">{{'TableHeaders.ItemE' | translate:lang}}</th>
                            <th style="width: 110px;">{{'TableHeaders.StartActivity' | translate:lang}}</th>
                            <th style="width: 110px;">{{'TableHeaders.EndValidity' | translate:lang}}</th>
                            <th style="width: 110px;">{{'TableHeaders.Received' | translate:lang}}</th>
                            <th style="width: 100px;">{{'TableHeaders.Operator' | translate:lang}}</th>
                            <th style="width: 100px;">{{'TableHeaders.Originator' | translate:lang}}</th>
                            <th style="width: 100px;">{{'TableHeaders.Approver' | translate:lang}}</th>
                            <th style="width: 20px;" class="text-right">{{'TableHeaders.Status' | translate:lang}}</th>
                            <th style="width: 20px;"></th>
                        </tr>
                    </thead>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                <div style="height:300px; overflow:auto;">
                    <table class="table table-hover">
                        <tr role="row" *ngFor="let ph of proposalHistory; let i = index" style="font-size:10px"
                            [ngClass]="rowColor(ph)"
                            [class.success]="isFilterApplied && filter.isUsingSearchOption ? ph.id === selectedProposal.id : i === proposalHistory.length - 1">
                            <td style="width: 80px;">{{ph.notamId}}</td>
                            <td style="width: 90px;">{{ph.itemA}}</td>
                            <td style="width: 250px;" title="{{ph.itemE}}">{{getItemEString(ph,true)}}</td>
                            <td style="width: 110px;">{{ph.startActivity}}</td>
                            <td style="width: 110px;">{{ph.endValidity}}</td>
                            <td style="width: 110px;">{{ph.received | datex: 'YYMMDDHHmm'}}</td>
                            <td style="width: 100px;">{{getOperatorString(ph)}}</td>
                            <td style="width: 100px;" title="{{ph.originator}}">{{getOriginatorString(ph,true)}}</td>
                            <td style="width: 100px;">{{getApproverString(ph)}}</td>
                            <td style="width: 20px;" class="text-right"><i class="fa" [ngClass]="cssIcon(ph)"></i></td>
                            <td style="width: 20px;"><a [routerLink]="['/dashboard/viewhistory', ph.id]" class="text-muted" title="Review Proposal"><i class="fa fa-external-link"></i></a></td>
                        </tr>
                    </table>
                </div>
            </td>
        </tr>
    </table>
</simple-modal>


<audio id="estimated-queue-sound" muted>
    <source src="../../../Content/sounds/{{currentEstimatedQueueSound.id}}.{{currentEstimatedQueueSound.ext}}" type="audio/mp3" />
</audio>
