﻿<div class="app-header">
    <h2>
        <strong>{{'MessageQueue.ManageTemplates' | translate:lang}}</strong>
    </h2>
</div>

<div class="row">
    <div class="row">
        <div class="m-t-10 m-b-10 no-print">
            <button class="btn btn-info m-r-10 m-b-10" type="button" (click)="backToMsgList()" [disabled]="false">
                <span><i class="fa fa-arrow-left m-r-10"></i>{{'MessageQueue.BackToMessages' | translate:lang}}</span>
            </button>
        </div>
    </div>


    <div class="col-md-12">
        <div class="row">
            <div class="m-t-10 m-b-10 no-print">
                <button class="btn btn-primary m-r-10 m-b-10"
                        [disabled]="selectedClient === null"
                        [routerLink]="['/dashboard/messages/templates/create']">
                    <i class="fa fa-plus m-r-10"></i>{{'ActionButtons.Add' | translate:lang}}
                </button>
                <button class="btn btn-primary m-r-10 m-b-10"
                        [disabled]="selectedClient === null"
                        [routerLink]="['/dashboard/messages/templates/edit', selectedTemplate?.id]">
                    <i class="fa fa-pencil-square-o m-r-10"></i>{{'Common.Edit' | translate:lang}}
                </button>
                <button class="btn btn-primary m-r-10 m-b-10"
                        [disabled]="selectedClient === null" (click)="confirmDelete()">
                    <i class="fa fa-trash-o m-r-10"></i>{{'ActionButtons.Delete' | translate:lang}}
                </button>
            </div>
        </div>
    </div>

    <div class="col-md-12" style="height:100%;">
        <div class="row">
            <div class="col-md-12 portlets ui-sortable">
                <div class="panel">
                    <div class="panel-content" style="padding:5px">
                        <div class="dataTables_wrapper form-inline">
                            <table class="table table-hover table-dynamic table-responsive filter-footer dataTable" role="grid">
                                <thead>
                                    <tr role="row">
                                        <th tabindex="2" style="width: 20%;" rowspan="1" colspan="1">{{'MessageQueue.Name' | translate:lang}}</th>
                                        <th tabindex="2" style="width: 70%;" rowspan="1" colspan="1">Addresses</th>
                                        <th tabindex="2" style="width: 10%;" rowspan="1" colspan="1">{{'MessageQueue.Created' | translate:lang}}</th>
                                    </tr>
                                </thead>
                                <tbody id="data-response">
                                    <tr role="row" *ngFor="let template of templates; let i = index;" id="p_{{template.id}}"
                                        (click)="onRowSelected(i)"
                                        [class.success]="template.isSelected">
                                        <td>{{template.name}}</td>
                                        <td>{{template.addresses}}</td>
                                        <td>{{template.created | date: 'short' }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="modal-delete" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-sm" style="margin-top: 17% !important;">
        <div class="modal-content">
            <div class="modal-header bg-danger">
                <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
                <h4 class="modal-title"><b>{{'MessageQueue.DeleteTemplate' | translate:lang}}</b></h4>
            </div>
            <div class="modal-body">
                <b>{{'MessageQueue.DeleteConfirm' | translate:lang}}</b>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="deleteTemplate()">{{'Common.Yes' | translate:lang}}</button>
                <button type="button" class="btn btn-dark" data-dismiss="modal">{{'Common.No' | translate:lang}}</button>
            </div>
        </div>
    </div>

