﻿<!DOCTYPE html>
<html style="height:100%">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <title>INO</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/content/kendo/kendoBundle")
    @Styles.Render("~/content/site")

    <!-- other content -->
    @Scripts.Render("~/bundles/jqueryBundle")
    @Scripts.Render("~/bundles/jqueryLayoutBundle")
    @Scripts.Render("~/bundles/kendo")

    <script src="~/scripts/kendo.aspnetmvc.min.js"></script>

    <script src="~/scripts/modernizr-2.8.3.js"></script>
    

    <script src="~/scripts/jquery.signalR-2.2.0.min.js"></script>
    <script src="~/signalr/hubs"></script>

</head>
<body >
    @RenderBody()

    @RenderSection("scripts", required: false)
</body>
</html>
