﻿<div *ngIf="!checkIfNofUser()" class="app-header">
    <h2><strong>{{'Reports.Reports' | translate:lang}}</strong></h2>
</div>

<div class="row">
    <div class="col-md-12" style="height:100%;">
        <div class="row">
            <div class="panel">
                <div class="panel-header">
                    <div class="form-group m-t-5 m-b-0">
                        <div class="btn-group">
                            <button *ngIf="!checkIfNofUser()" class="btn btn-white" type="button" [routerLink]="['/dashboard']"><i class="fa fa-reply"></i>{{'ActionButtons.BackToReviewList' | translate:lang}}</button>
                            <button class="btn btn-white" [class.active]="currentReportType === 1" type="button" (click)="onReportChange(1)"><i class="fa fa-bar-chart"></i>{{'Reports.Notams' | translate:lang}}</button>
                            <button class="btn btn-white" [class.active]="currentReportType === 2" type="button" (click)="onReportChange(2)"><i class="fa fa-pie-chart"></i>{{'Reports.Statistics' | translate:lang}}</button>
                            <button class="btn btn-white" [class.active]="currentReportType === 3" type="button" (click)="onReportChange(3)"><i class="fa fa-clock-o"></i>{{'Reports.ActiveNotams' | translate:lang}}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div *ngIf="currentReportType === 1">
                <report-notam [exportFunc]="exportDataToCSV"></report-notam>
            </div>
            <div *ngIf="currentReportType === 2">
                <report-stats [exportFunc]="exportTableToCSV"></report-stats>
            </div>
            <div *ngIf="currentReportType === 3">
                <report-active [exportFunc]="exportActiveToCSV"></report-active>
            </div>
        </div>
    </div>
</div>

