﻿table {
    text-align: left !important;
    position: relative !important;
    border-collapse: collapse !important;
}

th {
    background: white !important;
    position: sticky !important;
    top: 0 !important;
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4) !important;
}
