﻿<div class="dataTables_wrapper form-inline">
    <div class="panel">
        <div class="panel-header" style="margin-bottom:40px;">
            <div class="control-btn">
                <a class="panel-close" href="#" *ngIf="isFilterApplied" (click)="filter.clearFilter($event, false)">
                    <i class="fa fa-trash filter-remove"></i>
                </a>
                <a class="panel-toggle">
                    <i class="fa fa-filter" [class.filter-active]="isFilterApplied"></i>
                    <i class="m-l-10 fa" [ngClass]="filterPannelOpen ? 'fa-angle-up' : 'fa-angle-down'" (click)="filterPannelOpen = !filterPannelOpen"></i>
                </a>
            </div>
            <div class="form-horizontal">
                <div class="col-sm-12">
                    <div class="row">
                        <div class="form-group" style="vertical-align:top">
                            <div class="col-sm-12">
                                <label class="control-label m-t-5">{{'Dashboard.ItemsPerPage' | translate:lang}}:</label>
                                <div class="input-group">
                                    <select2 [data]="tableHeaders.itemsPerPage"
                                             [value]="queryOptions.pageSize"
                                             [options]="{minimumResultsForSearch:-1}"
                                             [width]="50"
                                             (valueChanged)="itemsPerPageChanged($event)"></select2>
                                </div>
                            </div>
                        </div>
                        <div class="form-group m-l-10" style="vertical-align:top">
                            <div class="col-sm-12">
                                <label class="control-label m-t-5">{{'Schedule.StartDate' | translate:lang}}:</label>
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="icon-calendar"></i></span>
                                    <input id="rpt-notam-startdate" class="rpt-notam-datepicker form-control form-white" type="text" style="width: 150px" data-orientation="top" onkeydown="event.preventDefault()" placeholder="{{'Common.MMDDYYY' | translate:lang}}">
                                </div>
                            </div>
                        </div>
                        <div class="form-group m-l-5" style="vertical-align:top">
                            <div class="col-sm-12">
                                <label class="control-label m-t-5">{{'Schedule.EndDate' | translate:lang}}:</label>
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="icon-calendar"></i></span>
                                    <input id="rpt-notam-enddate" class="rpt-notam-datepicker form-control form-white" type="text" data-orientation="top" onkeydown="event.preventDefault()" placeholder="{{'Common.MMDDYYY' | translate:lang}}">
                                </div>
                            </div>
                        </div>
                        <!--<div class="form-group m-l-5">
                            <div class="col-sm-12">
                                <div class="input-group">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-white" [class.active]="filterByActive==='All'" (click)="filterByActives('All')">{{'Filter.All' | translate:lang}}</button>
                                        <button type="button" class="btn btn-white" [class.active]="filterByActive==='Active'" (click)="filterByActives('Active')">{{'Filter.Active' | translate:lang}}</button>
                                        <button type="button" class="btn btn-white" [class.active]="filterByActive==='Inactive'" (click)="filterByActives('Inactive')">{{'Filter.Inactive' | translate:lang}}</button>
                                    </div>
                                </div>
                            </div>
                        </div>-->
                        <div class="form-group pull-right">
                            <button class="btn btn-info" [disabled]="!isRunReportButtonEnabled()" (click)="exportReport()">{{'Reports.ExportCSV' | translate:lang}}</button>
                            <button class="btn btn-primary" style="margin-right:90px" [disabled]="!isRunReportButtonEnabled()" (click)="runReport()">{{'Reports.RunReport' | translate:lang}}</button>
                        </div>
                    </div>
                </div>
            </div>
            </div>
            <img src="../../../content/images/animated_loading.gif" [style.display]="loadingData ? 'inherit': 'none'" class="pull-right" style="width:150px; height:20px;" />
            <div class="panel-content" style="display:none; background-color:#edf6fb; min-height:200px;">
                <report-filter #reportFilter [pageSize]="paging.pageSize" filterType="2" (onFilterChanged)="onFilterChanged($event)"></report-filter>
            </div>
        </div>
    <table class="table table-cell-hover table-dynamic table-responsive filter-footer header-fixed dataTable" role="grid">
        <thead>
            <tr role="row">
                <th tabindex="1" [class]="sortingClass(0)" (click)="sort(0)" style="width: 6%;" title="NOTAM ID">NOTAM #</th>
                <th tabindex="2" [class]="sortingClass(1)" (click)="sort(1)" style="width: 4%;" title="{{'TableHeaders.NotamType' | translate:lang}}">TYP</th>
                <th tabindex="3" [class]="sortingClass(2)" (click)="sort(2)" style="width: 5%;" title="{{'TableHeaders.RefNotam' | translate:lang}}">REF #</th>
                <th tabindex="3" [class]="sortingClass(3)" (click)="sort(3)" style="width: 4%;" title="{{'TableHeaders.Series' | translate:lang}}">SER</th>
                <th tabindex="5" [class]="sortingClass(4)" (click)="sort(4)" style="width: 5%;" title="Item A">{{'TableHeaders.ItemA' | translate:lang}}</th>
                <th tabindex="6" style="width: 5%">{{'TableHeaders.SiteID' | translate:lang}}</th>
                <th tabindex="7" [class]="sortingClass(6)" (click)="sort(6)" style="width: 4%;" title="{{'TableHeaders.Permanent' | translate:lang}}?">PRM</th>
                <th tabindex="8" [class]="sortingClass(7)" (click)="sort(7)" style="width: 4%;" title="{{'TableHeaders.Estimated' | translate:lang}}?">EST</th>
                <th tabindex="9" [class]="sortingClass(8)" (click)="sort(8)" style="width: 17%" title="Item E">{{'TableHeaders.ItemE' | translate:lang}}</th>
                <th tabindex="10" [class]="sortingClass(9)" (click)="sort(9)" style="width: 10%;">{{'TableHeaders.Originator' | translate:lang}}</th>
                <th tabindex="11" [class]="sortingClass(10)" (click)="sort(10)" style="width: 7%;">{{'TableHeaders.Approver' | translate:lang}}</th>
                <th tabindex="12" [class]="sortingClass(11)" (click)="sort(11)" style="width: 7%">{{'TableHeaders.Start' | translate:lang}} </th>
                <th tabindex="13" [class]="sortingClass(12)" (click)="sort(12)" style="width: 7%">{{'TableHeaders.End' | translate:lang}} </th>
                <th tabindex="14" [class]="sortingClass(13)" (click)="sort(13)" style="width: 7%">{{'TableHeaders.Received' | translate:lang}}</th>
                <th tabindex="15" [class]="sortingClass(14)" (click)="sort(14)" style="width: 7%">{{'TableHeaders.Published' | translate:lang}}</th>
                <!--<th tabindex="16" style="width: 3%">{{'Filter.Active' | translate:lang}}</th>-->
            </tr>
        </thead>
        <tbody id="data-response">
            <tr role="row" *ngFor="let notam of notams; let i = index;" (click)="onRowSelected(i)" [class.success]="notam.isSelected">
                <td style="width: 6%;">{{notam.notamId}}</td>
                <td style="width: 4%;">{{notam.typeStr}}</td>
                <td style="width: 5%;">{{notam.referredNotamId}}</td>
                <td style="width: 4%;">{{notam.series}}</td>
                <td style="width: 5%;" [style.font-size]="notam.itemA.length > 4 ? '11px' : '13px'">{{notam.itemA}}</td>
                <td style="width: 5%;">{{notam.siteId}}</td>
                <td style="width: 4%;">{{notam.isPermanent ? 'Y' : 'N' }}</td>
                <td style="width: 4%;">{{notam.isEstimated ? 'Y' : 'N' }}</td>
                <td style="width: 17%;">{{ (notam.itemE && notam.itemE.length > 28) ? (notam.itemE | slice:0:28) + '...' : (notam.itemE) }}</td>
                <td style="width: 10%;">{{ (notam.originator && notam.originator.length > 14) ? (notam.originator | slice:0:14) + '...' : (notam.originator)}}</td>
                <td style="width: 7%;">{{notam.modifiedByUsr}}</td>
                <td style="width: 7%;">{{notam.startActivity | datex: 'YYMMDDHHmm'}}</td>
                <td style="width: 7%;">{{notam.permanent ? 'PERM' : (notam.endValidity | datex: 'YYMMDDHHmm')}}</td>
                <td style="width: 7%;">{{notam.received | datex: 'YYMMDDHHmm'}}</td>
                <td style="width: 7%;">{{notam.published | datex: 'YYMMDDHHmm'}}</td>
                <!--<td style="width: 3%;">{{notam.isObsolete ? "N" : "Y"}}</td>-->
            </tr>
        </tbody>
    </table>
    <server-pagination [currentPage]="paging.currentPage"
                       [pageSize]="paging.pageSize"
                       [totalCount]="paging.totalCount"
                       [totalPages]="totalPages"
                       [sliderSize]="9"
                       (onPageChange)="onPageChange($event)"></server-pagination>

</div>

