﻿<div class="dataTables_wrapper form-inline">
    <div class="panel" style="height:50px;">
        <div class="panel-header" style="margin-bottom:40px;">
            <div class="form-horizontal">
                <div class="col-sm-12">
                    <div class="row">
                        <div class="form-group">
                            <div class="col-sm-12">
                                <label class="control-label m-t-5">{{'Reports.AggregateBy' | translate:lang}}:</label>
                                <div class="input-group">
                                    <select2 [data]="periodOptions"
                                             [value]="currentPeriodOption"
                                             [width]="100"
                                             (valueChanged)="onPeriodOptionsChanged($event)"></select2>
                                </div>
                            </div>
                        </div>
                        <div class="form-group m-l-10">
                            <div class="col-sm-12">
                                <label class="control-label m-t-5">{{'Schedule.StartDate' | translate:lang}}:</label>
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="icon-calendar"></i></span>
                                    <input id="rpt-stats-startdate" class="rpt-stats-datepicker form-control form-white" type="text" data-orientation="top" onkeydown="event.preventDefault()" placeholder="{{'Common.MMDDYYY' | translate:lang}}">
                                </div>
                            </div>
                        </div>
                        <div class="form-group m-l-10">
                            <div class="col-sm-12">
                                <label class="control-label m-t-5">{{'Schedule.EndDate' | translate:lang}}:</label>
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="icon-calendar"></i></span>
                                    <input id="rpt-stats-enddate" class="rpt-stats-datepicker form-control form-white" type="text" data-orientation="top" onkeydown="event.preventDefault()" placeholder="{{'Common.MMDDYYY' | translate:lang}}" [disabled]="currentPeriodOption == 3">
                                </div>
                            </div>
                        </div>
                        <div class="form-group pull-right">
                            <a id="export" class="btn btn-info" target="_blank" [class.disabled]="stats ? stats.length < 1 : true">{{'Reports.ExportCSV' | translate:lang}}</a>
                            <button class="btn btn-primary" [disabled]="!isRunReportButtonEnabled()" (click)="runReport()">{{'Reports.RunReport' | translate:lang}}</button>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
    <div style="">
        <img src="../../../content/images/animated_loading.gif" [style.display]="loadingData ? 'inherit': 'none'" class="pull-right" style="width:150px; height:20px;" />
    </div>
    <table id="rpt-stats-data" class="table table-hover table-dynamic table-responsive filter-footer dataTable" role="grid">
        <thead>
            <tr>
                <th colspan="30" class="text-center" style="background-color: #e6e6e6;">{{'TableHeaders.Series' | translate:lang}}</th>
            </tr>
            <tr role="row" style="background-color: #ddd;"> 
                <th title="Start" *ngIf="currentPeriodOption <= 3">{{currentPeriodOption === '3' ? 'Date' : 'Start'}}</th>
                <th title="End" *ngIf="currentPeriodOption <= 3">{{currentPeriodOption === '3' ? 'Time' : 'End'}}</th>
                <th title="Period" colspan="2" *ngIf="currentPeriodOption > 3">Date</th>
                <th title="A">A</th>
                <th title="B">B</th>
                <th title="C">C</th>
                <th title="D">D</th>
                <th title="E">E</th>
                <th title="F">F</th>
                <th title="G">G</th>
                <th title="H">H</th>
                <th title="I">I</th>
                <th title="J">J</th>
                <th title="K">K</th>
                <th title="L">L</th>
                <th title="M">M</th>
                <th title="N">N</th>
                <th title="O">O</th>
                <th title="P">P</th>
                <th title="Q">Q</th>
                <th title="R">R</th>
                <th title="S">S</th>
                <th title="T">T</th>
                <th title="U">U</th>
                <th title="V">V</th>
                <th title="W">W</th>
                <th title="X">X</th>
                <th title="Y">Y</th>
                <th title="Z">Z</th>
                <th title="Total" class="bold">{{'Reports.Totals' | translate:lang}}</th>
            </tr>
        </thead>
        <tbody id="data-response">
            <tr role="row" *ngFor="let stat of stats; let i = index;" (click)="onRowSelected(i)" [class.success]="stats.isSelected">
                <td [class.bold]="stat.totals" *ngIf="currentPeriodOption != 4">{{stat.startPeriod}}</td>
                <td colspan="2" [class.bold]="stat.totals" *ngIf="currentPeriodOption == 4">{{stat.startPeriod}}</td>
                <td *ngIf="currentPeriodOption != 4">{{stat.endPeriod}}</td>
                <td [class.bold]="stat.totals">{{stat.a}}</td>
                <td [class.bold]="stat.totals">{{stat.b}}</td>
                <td [class.bold]="stat.totals">{{stat.c}}</td>
                <td [class.bold]="stat.totals">{{stat.d}}</td>
                <td [class.bold]="stat.totals">{{stat.e}}</td>
                <td [class.bold]="stat.totals">{{stat.f}}</td>
                <td [class.bold]="stat.totals">{{stat.g}}</td>
                <td [class.bold]="stat.totals">{{stat.h}}</td>
                <td [class.bold]="stat.totals">{{stat.i}}</td>
                <td [class.bold]="stat.totals">{{stat.j}}</td>
                <td [class.bold]="stat.totals">{{stat.k}}</td>
                <td [class.bold]="stat.totals">{{stat.l}}</td>
                <td [class.bold]="stat.totals">{{stat.m}}</td>
                <td [class.bold]="stat.totals">{{stat.n}}</td>
                <td [class.bold]="stat.totals">{{stat.o}}</td>
                <td [class.bold]="stat.totals">{{stat.p}}</td>
                <td [class.bold]="stat.totals">{{stat.q}}</td>
                <td [class.bold]="stat.totals">{{stat.r}}</td>
                <td [class.bold]="stat.totals">{{stat.s}}</td>
                <td [class.bold]="stat.totals">{{stat.t}}</td>
                <td [class.bold]="stat.totals">{{stat.u}}</td>
                <td [class.bold]="stat.totals">{{stat.v}}</td>
                <td [class.bold]="stat.totals">{{stat.w}}</td>
                <td [class.bold]="stat.totals">{{stat.x}}</td>
                <td [class.bold]="stat.totals">{{stat.y}}</td>
                <td [class.bold]="stat.totals">{{stat.z}}</td>
                <td><b>{{stat.total}}</b></td>
            </tr>
        </tbody>
    </table>
</div>
