﻿@using Westwind.Globalization;


<h2>@DbRes.T("Organization Management", "OrganizationRes")</h2>


<div id="orgGrid"></div>

<div id="doaList" data-model='@Html.Raw(Json.Encode(ViewBag.DoaList))'></div>

<script id="userGridTemplate" type="text/kendo-tmpl">
    <div class="userDetailGrid organization_group_user_grid"></div>
</script>
<div id="roles" data-ccsRole='@Html.Raw(Json.Encode(ViewBag.CCSRole))' data-orgAdminRole='@Html.Raw(Json.Encode(ViewBag.OrgAdminRole))' data-adminRole='@Html.Raw(Json.Encode(ViewBag.AdminRole))'></div>


<div id="Organization-Popup">
    @Html.Partial("OrganizationTemplate")
</div>
<script>
@section Scripts{
    require(["admin/Controllers/Organization/Index"], function (index) {
        var labels = {
            phoneNumberIncomplete: '@DbRes.T("Phone number is not completed", "OrganizationRes")',
            orgNameRequired: '@DbRes.T("Organization Name is required!", "OrganizationRes")',
            addressIsRequired: '@DbRes.T("Address is required!", "OrganizationRes")',
            emailIsRequired: '@DbRes.T("Email is required!", "OrganizationRes")',
            telephoneIsRequired: '@DbRes.T("Telephone is required!", "OrganizationRes")',
            typeOfOpIsRequired: '@DbRes.T("Type of Operation is required!", "OrganizationRes")',
            nameLabel: '@DbRes.T("Name", "OrganizationRes")',
            addressLabel: '@DbRes.T("Address", "OrganizationRes")',
            emailAddress: '@DbRes.T("Email Address", "OrganizationRes")',
            telephoneNumber: '@DbRes.T("Telephone Number", "OrganizationRes")',
            typeOfOperation: '@DbRes.T("Type Of Operation", "OrganizationRes")',
            headOfficeInfo: '@DbRes.T("Head Office Information", "OrganizationRes")',
            emailDistList: '@DbRes.T("Email Distribution List", "OrganizationRes")',
            addNewOrg: '@DbRes.T("Add New Organization", "OrganizationRes")',
            showOrgDetails: '@DbRes.T("Show Organization Details", "OrganizationRes")',
            updateOrg: '@DbRes.T("Update an Organization", "OrganizationRes")',
            deleteOrg: '@DbRes.T("Delete an Organization", "OrganizationRes")',
            addUpdateOrg: '@DbRes.T("Add or Update an Organization", "OrganizationRes")',
            errorLabel: '@DbRes.T("Error!", "OrganizationRes")',
            deleteSelOrg: '@DbRes.T("Delete selected Organization ", "OrganizationRes")',
            deleteSelOrgQuest: '@DbRes.T("Delete selected Organization ?", "OrganizationRes")',
            selectFir: '@DbRes.T("Select FIR...", "OrganizationRes")',
            ficIsRequired: '@DbRes.T("FIC is required when this Organization is marked as FIC.", "OrganizationRes")',
            isFic: '@DbRes.T("Is FIC", "OrganizationRes")',
            fic: '@DbRes.T("FIC", "OrganizationRes")',
            closeLbl: '@DbRes.T("Close", "OrganizationRes")',
        };
        index.init(labels);
    })
}
</script>

