﻿<nsd-buttonbar [model]="model" [isNOF]="isNOF" [isReadOnly]="isReadOnly"></nsd-buttonbar>

<div class="col-md-12 portlets ui-sortable" style="padding-left:0 !important" *ngIf="isGroupingEnabled">
    <div class="panel" style="background:mintcream">
        <div class="panel-header panel-controls">
            <h3 style="margin-bottom:0 !important"><i class="fa fa-link"></i> <strong>{{'Nsd.Grouped' | translate:lang}}</strong> {{'Nsd.Proposals' | translate:lang}}</h3>
            <div *ngIf="isGroupingActionButtonEnabled()" class="control-btn" style="top:5px;">
                <a style="margin-left:0" (click)="addToGroup()" title="{{'Nsd.AddToGroup' | translate:lang}}"><i class="fa fa-2x fa-plus-square text-success"></i></a>
                <a style="margin-left:0" (click)="removeFromGroup()" title="{{'Nsd.RemoveFromGroup' | translate:lang}}"><i class="fa fa-2x fa-minus-square text-danger"></i></a>
            </div>
            <div *ngIf="!isGroupingActionButtonEnabled()" class="control-btn" style="top:5px;">
                <span style="margin-left:0" title="{{'Nsd.AddToGroup' | translate:lang}}"><i class="fa fa-2x fa-plus-square text-success-disabled"></i></span>
                <span style="margin-left:0" title="{{'Nsd.RemoveFromGroup' | translate:lang}}"><i class="fa fa-2x fa-minus-square text-danger-disabled"></i></span>
            </div>
        </div>
        <div class="panel-content" style="padding-top:0 !important">
            <div class="row">
                <div class="btn-group btn-group" style="padding-left:25px">
                    <button type="button" class="btn btn-sm btn-primary" *ngFor="let item of groupModel; let i = index;"
                            [class.active]="item.isSelected" (click)="onGroupItemSelected(i)">
                        {{i+1}}
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xlg87 col-lg-8">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="panel bg-yellow" *ngIf="model.rejectionReason">
                            <div class="panel-header">
                                <h3><i class="fa fa-ban"></i><strong>{{'Nsd.RejectedReason' | translate:lang}}</strong></h3>
                                <div class="control-btn">
                                    <a href="#" class="panel-toggle"><i class="fa fa-angle-down" style="color:#fff"></i></a>
                                </div>
                            </div>
                            <div class="panel-content bg-white">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="bg-gray-light p-10">{{model.rejectionReason}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <form [(formGroup)]="nsdForm" class="form" autocomplete="off" novalidate="novalidate">

                            <dynamic-component [componentData]="componentData"></dynamic-component>

                            <div class="panel bg-blue-dark">
                                <div class="panel-header">
                                    <h3><i class="fa fa-calendar-check-o"></i> <strong>{{'Nsd.ActivePeriod' | translate:lang}}</strong></h3>
                                    <div class="control-btn">
                                        <a href="#" class="panel-toggle"><i class="fa fa-angle-down"></i></a>
                                    </div>
                                </div>
                                <div class="panel-content bg-white">
                                    <div class="row" formGroupName="grpDatePeriod">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="form-label">{{'Nsd.StartActivity' | translate:lang}}<span class="f-10 m-l-5" style="font-weight:normal">{{'Schedule.Format' | translate:lang}}</span></label>
                                                <div class="input-group">
                                                    <span class="input-group-addon">
                                                        <i class="fa fa-calendar-plus-o" *ngIf="isStartActivityCalendarActive()"
                                                           [(dateTimePicker)]="startActivityMoment"
                                                           (dateTimePickerChange)="setStartActivityDate($event)"
                                                           (click)="setStartActivityDate(null)"
                                                           [theme]="'gray'"
                                                           [hourTime]="'24'"
                                                           [mode]="'dropdown'"></i>
                                                        <i class="fa fa-calendar-plus-o" *ngIf="!isStartActivityCalendarActive()"></i>
                                                    </span>
                                                    <input class="form-control" placeholder="{{'Schedule.Format' | translate:lang}}"
                                                           formControlName="startActivity"
                                                           [class.form-white]="!isDateTimePeriodDisable()"
                                                           [ngClass]="{'form-error': !validateStartActivity() }"
                                                           (ngModelChange)="onStartActivityDateInputChange($event)"
                                                           datetimeformat>
                                                    <span *ngIf="startActivityText" class="input-group-addon f-10 bold">{{startActivityText}}</span>
                                                </div>
                                                <div *ngIf="isStartApproaching()" class="alert alert-warning" style="margin-top:10px;">
                                                    {{'ErrorMsgs.StartApproaching' | translate:lang}}
                                                </div>
                                                <div *ngIf="!validateStartActivity('startActivityRequired')" class="form-error" style="margin-top:10px;">
                                                    {{'ErrorMsgs.StartActivityRequired' | translate:lang}}
                                                </div>
                                                <div *ngIf="!validateStartActivity('validateOnlyInFuture')" class="form-error" style="margin-top:10px;">
                                                    {{'ErrorMsgs.StartActivityFuture' | translate:lang}}
                                                </div>
                                                <div *ngIf="!validateStartActivity('invalidStartActivityTenDigitDate')" class="form-error" style="margin-top:10px;">
                                                    {{'ErrorMsgs.InvalidUTCFormat' | translate:lang}}
                                                </div>
                                                <div *ngIf="check48Hours()" class="alert alert-warning" style="margin-top:10px; ">
                                                    <span class="fa fa-info-circle">
                                                        <strong>{{'ErrorMsgs.MoreThan48HoursA' | translate:lang}}</strong>
                                                    </span>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <label class="form-label">{{'Nsd.Immediate' | translate:lang}}</label>
                                                <div>
                                                    <label class="switch m-r-20">
                                                        <input id="immediate" formControlName="immediate" class="switch-input" type="checkbox"
                                                               (change)="immediateChanged(nsdForm.get('grpDatePeriod.immediate').value)"
                                                               [checked]="nsdForm.get('grpDatePeriod.immediate').value === true">
                                                        <span class="switch-label" attr.data-off="{{'Switch.No' | translate:lang}}" attr.data-on="{{'Switch.Yes' | translate:lang}}"></span>
                                                        <span class="switch-handle"></span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="form-label">{{'Nsd.EndValidity' | translate:lang}}<span class="f-10 m-l-5" style="font-weight:normal">{{'Schedule.Format' | translate:lang}}</span></label>
                                                <div class="input-group">
                                                    <span class="input-group-addon">
                                                        <i class="fa fa-calendar-plus-o" *ngIf="isEndValidityCalendarActive()"
                                                           [(dateTimePicker)]="endValidityMoment"
                                                           (dateTimePickerChange)="setEndValidityDate($event)"
                                                           (click)="setEndValidityDate(null)"
                                                           [theme]="'gray'"
                                                           [hourTime]="'24'"
                                                           [mode]="'dropdown'"></i>
                                                        <i class="fa fa-calendar-plus-o" *ngIf="!isEndValidityCalendarActive()"></i>
                                                    </span>
                                                    <input class="form-control" placeholder="{{'Schedule.Format' | translate:lang}}"
                                                           formControlName="endValidity"
                                                           [class.form-white]="!isDateTimePeriodDisable()"
                                                           [ngClass]="{'form-error': !validateEndValidity() }"
                                                           (ngModelChange)="onEndValidityInputChange($event)"
                                                           datetimeformat>
                                                    <span *ngIf="endValidityText" class="input-group-addon f-10 bold">{{endValidityText}}</span>
                                                </div>
                                                <div *ngIf="!validateEndValidity('endValidityRequired')" class="form-error" style="margin-top:10px;">
                                                    {{'ErrorMsgs.EndValidityRequired' | translate:lang}}
                                                </div>
                                                <div *ngIf="!validateEndValidity('validateLaterThan30MinStartingDate')" class="form-error" style="margin-top:10px;">
                                                    {{mvpPeriodErrorMessage}}
                                                </div>
                                                <div *ngIf="!validateStartActivity('invalidEndValidityTenDigitDate')" class="form-error" style="margin-top:10px;">
                                                    {{'ErrorMsgs.InvalidUTCFormat' | translate:lang}}
                                                </div>
                                                <div *ngIf="!validateEndValidity('validateLaterThan92Days')" class="form-error" style="margin-top:10px;">
                                                    {{'ErrorMsgs.EndValidityFuture92days' | translate:lang}}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-1">
                                            <div class="form-group">
                                                <label class="form-label">{{'Nsd.Permanent' | translate:lang}}</label>
                                                <div>
                                                    <label class="switch m-r-20">
                                                        <input id="permanent" formControlName="permanent" class="switch-input" type="checkbox"
                                                               (change)="permanentChanged(nsdForm.get('grpDatePeriod.permanent').value)"
                                                               [checked]="nsdForm.get('grpDatePeriod.permanent').value === true">
                                                        <span class="switch-label" attr.data-off="{{'Switch.No' | translate:lang}}" attr.data-on="{{'Switch.Yes' | translate:lang}}"></span>
                                                        <span class="switch-handle"></span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-1">
                                            <div class="form-group">
                                                <label class="form-label">{{'Nsd.Estimated' | translate:lang}}</label>
                                                <div>
                                                    <label class="switch m-r-20">
                                                        <input id="estimated" formControlName="estimated" class="switch-input" type="checkbox"
                                                               (change)="estimatedChanged(nsdForm.get('grpDatePeriod.estimated').value)" />
                                                        <span class="switch-label" attr.data-off="{{'Switch.No' | translate:lang}}" attr.data-on="{{'Switch.Yes' | translate:lang}}"></span>
                                                        <span class="switch-handle"></span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row" [hidden]="!isPermanent">
                                        <div *ngIf="isBilingualRegion" class="col-md-6">
                                            <!--Ammend publication (en)-->
                                            <div class="form-group">
                                                <label class="form-label">{{'Nsd.AmendPubEn' | translate:lang}} <span style="font-weight:normal">{{'Nsd.EnglishDescription' | translate:lang}}</span></label>
                                                <div class="append-icon">
                                                    <input id="amendPubMessage" formControlName="amendPubMessage" type="text"
                                                           class="form-control" [class.form-white]="!isReadOnly"
                                                           placeholder="{{'Nsd.AmendPubTextEn' | translate:lang}}" style="text-transform:uppercase;" />
                                                </div>
                                            </div>
                                        </div>
                                        <div *ngIf="isBilingualRegion" class="col-md-6">
                                            <!--Ammend publication (fr)-->
                                            <div class="form-group">
                                                <label class="form-label">{{'Nsd.AmendPubFr' | translate:lang}} <span style="font-weight:normal">{{'Nsd.FrenchDescription' | translate:lang}}</span></label>
                                                <div class="append-icon">
                                                    <input id="amendPubMessageFrench" formControlName="amendPubMessageFrench" type="text"
                                                           class="form-control" [class.form-white]="!isReadOnly" [disabled]="!isBilingual"
                                                           placeholder="{{'Nsd.AmendPubTextFr' | translate:lang}}" style="text-transform:uppercase;" />
                                                </div>
                                            </div>
                                        </div>
                                        <div *ngIf="!isBilingualRegion" class="col-md-12">
                                            <!--Ammend publication (en)-->
                                            <div class="form-group">
                                                <label class="form-label">{{'Nsd.AmendPubEn' | translate:lang}} <span style="font-weight:normal">{{'Nsd.EnglishDescription' | translate:lang}}</span></label>
                                                <div class="append-icon">
                                                    <input id="amendPubMessage" formControlName="amendPubMessage" type="text"
                                                           class="form-control" [class.form-white]="!isReadOnly"
                                                           placeholder="{{'Nsd.AmendPubTextEn' | translate:lang}}" style="text-transform:uppercase;" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="panel bg-blue-light">
                                        <div class="panel-header panel-inner-header">
                                            <h3><i class="fa fa-clock-o"></i><strong>{{'Nsd.Schedule' | translate:lang}}</strong></h3>
                                            <div *ngIf="isScheduleButtonActionVisible" class="control-btn">
                                                <a href="#" class="panel-inner-toggle"><i class="fa fa-angle-down"></i></a>
                                            </div>
                                        </div>
                                        <div id="schedule-panel" class="panel-inner-content bg-white" [hidden]="!isSchedulePanelOpen">
                                            <div class="p-5">
                                                <ul class="nav nav-tabs nav-primary">
                                                    <!--Schedule Daily-->
                                                    <li *ngIf="(!hasScheduler || schedulerTab === 1 || schedulerTab === 4) && !isScheduleOverridden" [class.active]="schedulerTab === 1">
                                                        <a href="#tab2_1" data-toggle="tab" aria-expanded="true" (click)="selectSchedulerTab(1, $event)"><i class="fa fa-calendar-plus-o"></i> {{'Schedule.Daily' | translate:lang}}</a>
                                                    </li>
                                                    <li *ngIf="(hasScheduler && schedulerTab !== 1 && schedulerTab !== 4) || isScheduleOverridden" class="m-t-5 m-l-10 m-r-10">
                                                        <span class="m-t-5"><i class="fa fa-calendar-plus-o"></i> {{'Schedule.Daily' | translate:lang}}</span>
                                                    </li>
                                                    <!--Schedule Days of the week-->
                                                    <li *ngIf="(!hasScheduler || schedulerTab === 2 || schedulerTab === 4) && !isScheduleOverridden" [class.active]="schedulerTab === 2">
                                                        <a href="#tab2_2" data-toggle="tab" aria-expanded="true" (click)="selectSchedulerTab(2, $event)"><i class="fa fa-calendar-minus-o"></i> {{'Schedule.DaysOfWeek' | translate:lang}}</a>
                                                    </li>
                                                    <li *ngIf="(hasScheduler && schedulerTab !== 2 && schedulerTab !== 4) || isScheduleOverridden" class="m-t-5 m-l-10 m-r-10">
                                                        <span class="m-t-5"><i class="fa fa-calendar-minus-o"></i> {{'Schedule.DaysOfWeek' | translate:lang}}</span>
                                                    </li>
                                                    <!--Schedule Dates-->
                                                    <li *ngIf="(!hasScheduler || schedulerTab === 3 || schedulerTab === 4) && !isScheduleOverridden" [class.active]="schedulerTab === 3">
                                                        <a href="#tab2_3" data-toggle="tab" aria-expanded="true" (click)="selectSchedulerTab(3, $event)"><i class="fa fa-calendar-check-o"></i> Date</a>
                                                    </li>
                                                    <li *ngIf="(hasScheduler && schedulerTab !== 3 && schedulerTab !== 4) || isScheduleOverridden" class="m-t-5 m-l-20">
                                                        <span class="m-t-5"><i class="fa fa-calendar-check-o"></i> Date</span>
                                                    </li>
                                                    <!--Schedule Freetext-->
                                                    <li [class.active]="schedulerTab === 4">
                                                        <a href="#tab2_4" data-toggle="tab" aria-expanded="true" (click)="selectSchedulerTab(4, $event)"><i class="fa fa-pencil"></i>{{'Schedule.FreeText' | translate:lang}}</a>
                                                    </li>
                                                </ul>
                                                <div class="tab-content">
                                                    <div class="tab-pane fade" [class.active]="schedulerTab === 1" [class.in]="schedulerTab === 1" id="tab2_1">
                                                        <scheduler-daily [model]="model" [form]="nsdForm"></scheduler-daily>
                                                    </div>
                                                    <div class="tab-pane fade" [class.active]="schedulerTab === 2" [class.in]="schedulerTab === 2" id="tab2_2">
                                                        <scheduler-days-week [model]="model" [form]="nsdForm"></scheduler-days-week>
                                                    </div>
                                                    <div class="tab-pane fade" [class.active]="schedulerTab === 3" [class.in]="schedulerTab === 3" id="tab2_3">
                                                        <scheduler-date [model]="model" [form]="nsdForm"></scheduler-date>
                                                    </div>
                                                    <div class="tab-pane fade" [class.active]="schedulerTab === 4" [class.in]="schedulerTab === 4" id="tab2_4">
                                                        <scheduler-freetext [model]="model" [form]="nsdForm"></scheduler-freetext>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel bg-blue-dark">
                                <div class="panel-header">
                                    <h3><i class="fa fa-user-o"></i><strong>{{'Nsd.ContactPerson' | translate:lang}}</strong></h3>
                                    <div class="control-btn">
                                        <a href="#" class="panel-toggle"><i class="fa fa-angle-down"></i></a>
                                    </div>
                                </div>
                                <div class="panel-content bg-white">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <label class="form-label m-t-10">{{'Nsd.OriginatorName' | translate:lang}}</label>
                                            <div class="btn-group pull-right m-r-0">
                                                <button *ngIf="!isReadOnly" class="btn btn-sm btn-primary" type="button" (click)="addOriginator()" [disabled]="isReadOnly || isAddOriginatorButtonDisabled()">
                                                    <i class="fa fa-plus"></i>
                                                </button>
                                                <button *ngIf="!isReadOnly" class="btn btn-sm btn-info" type="button" (click)="removeOriginator()" [disabled]="isRemoveOriginatorButtonDisabled()">
                                                    <i class="fa fa-minus"></i>
                                                </button>
                                                <button *ngIf="isReadOnly" class="btn btn-sm btn-primary" type="button" (click)="updateOriginatorContactInfo()" [disabled]="isSaveContactInfoButtonDisabled()">
                                                    <i class="fa fa-save"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <select2 id="select2-originator" [data]="originators"
                                                         [value]="seletedOriginatorId"
                                                         [options]="select2Options()"></select2>
                                                <!--<i class="fa fa-user-circle-o"></i>-->
                                                <div *ngIf="!validateOriginator() && nsdForm.controls.originator.errors && nsdForm.controls.originator.errors.required" class="form-error">{{'ErrorMsgs.OriginatorRequired' | translate:lang}}</div>
                                                <div *ngIf="!validateOriginator() && nsdForm.controls.originator.errors && nsdForm.controls.originator.errors.pattern" class="form-error">{{'ErrorMsgs.OriginatorFirstLetter' | translate:lang}}</div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label class="form-label">{{'Nsd.Email' | translate:lang}}</label>
                                                <div class="append-icon">
                                                    <input formControlName="originatorEmail" type="text"
                                                           class="form-control form-white"
                                                           [ngClass]="{'form-error': !this.nsdForm.pristine && nsdForm.get('originatorEmail').value && nsdForm.get('originatorEmail').value.length > 0 && nsdForm.controls.originatorEmail.errors && nsdForm.controls.originatorEmail.errors.email }"
                                                           placeholder="{{'Nsd.Email' | translate:lang}}" />
                                                    <i class="fa fa-envelope"></i>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="form-label">{{'Nsd.Phone' | translate:lang}}</label>
                                                    <div class="append-icon">
                                                        <input formControlName="originatorPhone" type="text"
                                                               class="form-control form-white"
                                                               [ngClass]="{'form-error': !this.nsdForm.pristine && nsdForm.get('originatorPhone').value && nsdForm.get('originatorPhone').value.length > 0 && nsdForm.controls.originatorPhone.errors && nsdForm.controls.originatorPhone.errors.pattern }"
                                                               placeholder="{{'Nsd.Phone' | translate:lang}}" style="text-transform:uppercase;" />
                                                        <i class="fa fa-phone"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel bg-blue-dark">
                                <div class="panel-header">
                                    <h3><i class="fa fa-file-text-o"></i> <strong>{{'Nsd.AditionalInformation' | translate:lang}}</strong></h3>
                                    <div class="control-btn">
                                        <a href="#" class="panel-toggle"><i class="fa fa-angle-down"></i></a>
                                    </div>
                                </div>
                                <div class="panel-content bg-white" [style.display]="openNotesToNof ? 'block' : 'none' ">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <!--GG/DD-->
                                                <label class="form-label">{{'Nsd.Priority' | translate:lang}}</label>
                                                <div>
                                                    <label class="switch m-r-20">
                                                        <input id="urgent" formControlName="urgent" class="switch-input" type="checkbox"
                                                               [checked]="nsdForm.get('urgent').value === true">
                                                        <span class="switch-label" attr.data-off="{{'GG'}}" attr.data-on="{{'DD'}}"></span>
                                                        <span class="switch-handle"></span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <label class="form-label">{{'Nsd.Attachments' | translate:lang}}<span style="font-weight:normal">{{'Nsd.AttachmentsMsg' | translate:lang}}</span></label>
                                            <div class="btn-group pull-right">
                                                <div class="file">
                                                    <div class="option-group">
                                                        <button class="file-button btn btn-sm btn-primary" [disabled]="model.proposalId == null || isReadOnly"
                                                                style="height: 25px; line-height: 15px">
                                                            <i class="fa fa-upload"></i>&nbsp;&nbsp;{{'Nsd.ChooseFiles' | translate:lang}}
                                                        </button>
                                                        <div *ngIf="model.proposalId">
                                                            <input type="file" class="custom-file" name="attachments" id="attachments" [disabled]="model.proposalId == null || isReadOnly"
                                                                   (change)="saveProposalAttchments()" multiple required="" aria-required="true">
                                                            <input type="text" class="" id="uploader" placeholder="" readonly="" [disabled]="model.proposalId == null || isReadOnly"
                                                                   style="height: 25px; width:100px; line-height: 15px; opacity:0">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="bs-example" style="padding-top:15px">
                                                <div class="list-group">
                                                    <div class="list-group-item">
                                                        <table class="table table-condensed table-hover table-striped">
                                                            <thead>
                                                                <tr>
                                                                    <th class="text-left"><label class="text-sm">{{'TableHeaders.FileName' | translate:lang}}</label></th>
                                                                    <th class="text-left" style="width:10%"><label class="text-sm">{{'TableHeaders.ByUser' | translate:lang}}</label></th>
                                                                    <th class="text-right" style="width:10%"></th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr class="item-row" *ngFor="let att of model.attachments">
                                                                    <td class="delete-wpr" style="padding-top:0; padding-bottom:0">{{att.fileName}}</td>
                                                                    <td>{{att.userName}}</td>
                                                                    <td class="text-right">
                                                                        <span style="font-size: 15px; color:#AAA; margin-bottom:5px" [hidden]="!att.readOnly">
                                                                            <i class="icon-trash"></i>
                                                                        </span>
                                                                        <a class="panel-close" (click)="downloadAttachment(att.id)" style="margin-bottom:5px; cursor: pointer !important">
                                                                            <i class="fa fa-file-text-o"></i>
                                                                        </a>
                                                                        <a class="panel-close" [hidden]="att.readOnly" (click)="deleteProposalAttchment(att)" style="margin-bottom:5px; cursor: pointer !important">
                                                                            <i class="icon-trash"></i>
                                                                        </a>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label class="form-label">{{'Nsd.NotesToNOF' | translate:lang}}</label>
                                                <div class="btn-group pull-right">
                                                    <button type="button" class="btn btn-primary btn-sm" style="margin-right:2px"
                                                            (click)="addProposalAnnotation()">
                                                        <i class="icon-plus"></i> {{'Nsd.Add' | translate:lang}}
                                                    </button>
                                                    <button type="button" class="btn btn-primary btn-sm" style="margin-right:2px"
                                                            (click)="deleteProposalAnnotation()"
                                                            [disabled]="selectedProposalAnnotationId != 0">
                                                        <i class="fa fa-trash-o"></i> {{'Nsd.Delete' | translate:lang}}
                                                    </button>
                                                    <button *ngIf="isReadOnly" type="button" class="btn btn-primary btn-sm"
                                                            (click)="saveProposalAnnotations()"
                                                            [disabled]="isSaveAnnotationButtonDisabled()">
                                                        <i class="fa fa-save"></i> {{'Common.Save' | translate:lang}}
                                                    </button>
                                                </div>
                                                <div class="bs-example" style="padding-top:15px">
                                                    <div class="list-group" *ngIf="annotations.length > 0">
                                                        <div class="list-group-item"
                                                             formArrayName="annotations" *ngFor="let ann of annotations.controls; let i=index">
                                                            <div style="margin-bottom:5px" [formGroupName]="i" (click)="selectProposalAnnotation(i)">
                                                                <h5 class="list-group-item-heading">
                                                                    <span class="text-sm"><b>{{ann.value.userId}}</b></span>
                                                                    <span class="pull-right text-sm"><b>{{ann.value.created | datex: 'MM/DD/YYYY, HH:mm'}}</b></span>
                                                                </h5>
                                                                <div class="append-icon">
                                                                    <textarea class="form-control" style="margin-top:5px"
                                                                              [class.form-white]="selectedProposalAnnotationId == 0"
                                                                              [class.form-selected]="ann.value.selected"
                                                                              [ngClass]="{'form-error': !validateProposalAnnotation(i) }"
                                                                              formControlName="note"
                                                                              placeholder="{{'Nsd.Notes' | translate:lang}}"
                                                                              [readonly]="isCurrentAnnotationReadonly(ann)"></textarea>
                                                                    <i class="fa fa-comments-o" style="margin-top:15px"></i>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="list-group" *ngIf="annotations.length === 0">
                                                        <div class="list-group-item">
                                                            <span></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <nsd-buttonbar [model]="model" [isNOF]="isNOF" [isReadOnly]="isReadOnly"></nsd-buttonbar>
    </div>
    <div class="col-xlg-4 col-lg-4 col-visitors">
        <div class="row">
            <div class="col-md-12">
                <div class="panel-header" style="margin-left:12px">
                    <h3>
                        <i class="fa fa-lightbulb-o"></i>
                        <strong>{{'Nsd.LocICAOPanel' | translate:lang}}</strong>
                    </h3>
                </div>
                <div class="panel-body">
                    <div class="nav-tabs2">
                        <ul class="nav nav-tabs" id="detailsTab">
                            <li [class.active]="tabActive === 1">
                                <a href="#tab_2" data-toggle="tab" (click)="activateTab('icao-text')">
                                    <i class="fa fa-list-alt"></i>{{'Nsd.ICAOText' | translate:lang}}
                                </a>
                            </li>
                            <li *ngIf="nsdForm.valid" [class.active]="tabActive === 2">
                                <a href="#tab_3" data-toggle="tab" (click)="activateTab('icao-format')">
                                    <i class="fa fa-list-alt"></i>{{'Nsd.ICAOFormat' | translate:lang}}
                                </a>
                            </li>
                            <li *ngIf="!nsdForm.valid" class="disabled" style="margin:0 2px; background-color: white;">
                                <div data-toggle="tab" style="color: #ccc; margin: 6px 10px">
                                    <i class="m-5 fa fa-list-alt"></i>{{'Nsd.ICAOFormat' | translate:lang}}
                                </div>
                            </li>
                            <li [class.active]="tabActive === 0" *ngIf="mapAvailable()">
                                <a href="#tab_1" (click)="activateTab('map')" data-toggle="tab">
                                    <i class="fa fa-map"></i>{{'Nsd.Location' | translate:lang}}
                                </a>
                                <div *ngIf="tabActive === 0">{{ this.validateMap() }}</div>
                            </li>
                            <li *ngIf="!isReadOnly" [class.active]="tabActive === 3">
                                <a href="#tab_geotool" (click)="activateTab('geoMap')" data-toggle="tab">
                                    <i class="fa fa-map-marker"></i>{{'GeoRefTool.TabTitle' | translate:lang}}
                                </a>
                                <div *ngIf="tabActive === 3">{{ this.validateGeoMap() }}</div>
                            </li>
                            <li *ngIf="isPrevIcaoTabVisible" [class.active]="tabActive === 4">
                                <a href="#tab_5" data-toggle="tab" (click)="activateTab('last-icao-format')">
                                    <i class="fa fa-list-alt"></i>{{'Nsd.PreviousICAOFormat' | translate:lang}}
                                </a>
                            </li>

                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane" id="tab_2" [class.active]="tabActive === 1" style="width:100%; height:620px;">
                                <icao [model]="model" [loading]="waitingForGeneratingIcao"></icao>
                            </div>
                            <div class="tab-pane" id="tab_3" [class.active]="tabActive === 2" style="width:100%; height:620px;">
                                <icaoformat [icaoText]="model.icaoText" [loading]="waitingForGeneratingIcao"></icaoformat>
                            </div>
                            <div id="tab_map" class="tab-pane" [class.active]="tabActive === 0"
                                 style="width:100%; height:620px; background: transparent url(/content/images/loading.png) no-repeat center center">
                                <div id="map" style="width:100%; height:620px"></div>
                            </div>
                            <div id="tab_geotool" class="tab-pane" [class.active]="tabActive === 3"
                                 style="width:100%; height:620px; background: transparent url(/content/images/loading.png) no-repeat center center">
                                <nsd-georeftool [model]="model"></nsd-georeftool>
                            </div>
                            <div class="tab-pane" id="tab_5" [class.active]="tabActive === 4" style="width:100%; height:620px;">
                                <icaoformat [icaoText]="prevIcaoText" [loading]="loadingPrevIcao"></icaoformat>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="modal-unsave-changes" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header bg-info">
                <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
                <h4 class="modal-title"><b>{{'Nsd.UnsavedChanges' | translate:lang}}</b></h4>
            </div>
            <div class="modal-body">
                <b>{{'Nsd.LeavePage' | translate:lang}}</b>
            </div>
            <div class="modal-footer">
                <button id="btn-yes" type="button" class="btn btn-primary" data-dismiss="modal">{{'Switch.Yes' | translate:lang}}</button>
                <button id="btn-no" type="button" class="btn btn-dark" data-dismiss="modal">{{'Switch.No' | translate:lang}}</button>
            </div>
        </div>
    </div>
</div>

<div id="modal-remove-schedule" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header bg-info">
                <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
                <h4 class="modal-title"><b>{{'Common.Warning' | translate:lang}}</b></h4>
            </div>
            <div class="modal-body">
                <b>{{'Nsd.RemoveSchedule' | translate:lang}}</b>
            </div>
            <div class="modal-footer">
                <button id="btn-remove" type="button" class="btn btn-primary" data-dismiss="modal">{{'Switch.Yes' | translate:lang}}</button>
                <button id="btn-keep" type="button" class="btn btn-dark" data-dismiss="modal">{{'Switch.No' | translate:lang}}</button>
            </div>
        </div>
    </div>
</div>

<!--<div id="modal-warning-date" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header bg-info">
                <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
                <h4 class="modal-title"><b>{{'Common.Warning' | translate:lang}}</b></h4>
            </div>
            <div class="modal-body">
                <b>{{'Nsd.WarningDate' | translate:lang}}</b>
            </div>
            <div class="modal-footer">
                <button id="btn-close" type="button" class="btn btn-default" data-dismiss="modal">{{'Nsd.Close' | translate:lang}}</button>
            </div>
        </div>
    </div>
</div>-->

<div id="modal-delete" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header bg-danger">
                <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
                <h4 class="modal-title"><b>{{'Dashboard.DiscardProposal' | translate:lang}}</b></h4>
            </div>
            <div class="modal-body">
                <b>{{'Dashboard.DiscardProposalConfirmation' | translate:lang}}</b>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="discardProposal()">{{'ActionButtons.BtnYes' | translate:lang}}</button>
                <button type="button" class="btn btn-dark" data-dismiss="modal">{{'ActionButtons.BtnNo' | translate:lang}}</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-reject-reason" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">


        nt
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">{{'Nsd.RejectedReason' | translate:lang}}</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label class="form-label">{{'Nsd.RjcReason' | translate:lang}}</label>
                    <div class="append-icon">
                        <input id="reason" name="reason" type="text" class="form-control  form-white" [(ngModel)]="model.token.rejectionReason" placeholder="{{'Nsd.RejectedReason' | translate:lang}}">
                        <i class="icon-calendar"></i>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="btn-reject" type="button" class="btn btn-primary" data-dismiss="modal"
                        (click)="rejectProposal()"
                        [disabled]="model.token.rejectionReason == null || model.token.rejectionReason == ''">
                    {{'Nsd.Reject' | translate:lang}}
                </button>
                <button id="btn-close" type="button" class="btn btn-default" data-dismiss="modal">{{'Nsd.Close' | translate:lang}}</button>
            </div>
        </div>
    </div>
</div>




