﻿<div class="row">
    <div class="btn-group">
        <button type="button" class="btn btn-white" (click)="override()" [disabled]="parent && (!parent.hasScheduler || parent.isReadOnly)"><i class="fa fa-edit"></i>{{'Nsd.Override' | translate:lang}}</button>
        <!--<button type="button" class="btn btn-white" [disabled]="isDisabled || (parent && parent.isReadOnly)" (click)="validate()"><i class="fa fa-ckeck"></i>Validate</button>-->
        <button type="button" class="btn btn-white" (click)="clear()" ><i class="fa fa-trash-o"></i>{{'Nsd.Clear' | translate:lang}}</button>
        <button type="button" class="btn btn-white" (click)="apply()" [disabled]="!isValid()"><i class="fa fa-check-circle-o"></i>{{'Nsd.Apply' | translate:lang}}</button>
    </div>
</div>
<div class="bd-3" style="background-color:#fafbfd">
    <div class="row">
        <div class="col-md-12 m-t-10">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="form-label col-sm-2 m-t-10 p-l-0">{{'Nsd.StartActivityD' | translate:lang}}: </label>
                    <div class="col-md-5 p-l-0">
                        <div class="prepend-icon">
                            <input id="ft-start" class="ft-datepicker form-control" [class.form-white]="!isDisabled" type="text" placeholder="YYMMDD (UTC)" data-orientation="top" onkeydown="event.preventDefault()">
                            <i class="icon-calendar"></i>
                        </div>
                    </div>
                    <div class="col-md-3 p-l-0">
                        <div class="prepend-icon">
                            <input id="ft-starttime" class="form-control" type="text" placeholder="hh:mm" [class.form-white]="!isDisabled" data-orientation="top" [(ngModel)]="starttime" [disabled]="isDisabled" maxlength="5">
                            <i class="icon-clock"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="form-label col-sm-3 m-t-10">{{'Nsd.EndActivityD' | translate:lang}}: </label>
                    <div class="col-md-5 p-l-0">
                        <div class="prepend-icon">
                            <input id="ft-end" class="ft-datepicker form-control" type="text" [class.form-white]="!isDisabled" placeholder="YYMMDD (UTC)" data-orientation="top" onkeydown="event.preventDefault()">
                            <i class="icon-calendar"></i>
                        </div>
                    </div>
                    <div class="col-md-3 p-l-0">
                        <div class="prepend-icon">
                            <input id="ft-endtime" class="form-control" type="text" placeholder="hh:mm" [class.form-white]="!isDisabled" data-orientation="top" [(ngModel)]="endtime" [disabled]="isDisabled" maxlength="5">
                            <i class="icon-clock"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <hr />
            <div class="col-md-1 m-t-10 p-l-10">
                <label>{{'Nsd.ItemDText' | translate:lang}}:</label>
            </div>
            <div class="col-md-11 p-l-0">
                <div class="form-group">
                    <input id="w-start" class="form-control" type="text" placeholder="" data-orientation="top"  style="text-transform:uppercase;"
                           [class.form-white]="!isDisabled" [disabled]="isDisabled || isItemDControlDisabled()" [(ngModel)]="itemD"
                           [ngClass]="{'form-error': !validationResult }">
                </div>
                <div *ngIf="!validationResult" class="form-error" style="margin-top:10px;">
                    {{parserError}}
                </div>
            </div>
        </div>
    </div>
</div>