﻿<div id="plainTextView">
    <div class="panel bg-gray-light">
        <div class="panel-content" style="padding-top:0px; width:100%; height:620px;">
            <div class="row">
                <h3>
                    <strong>ICAO</strong> {{'IcaoText.Text' | translate:lang}}
                    <img [style.display]="loading ? 'inherit': 'none'" src="../../../content/images/animated_loading.gif" class="pull-right" style="width:150px;" />
                </h3>
                <div class="col-md-12" *ngIf="model.notamId !== null">
                    <div class="bd-green">
                        <address>
                            <span>{{'IcaoText.DiseminatedNOTAMID' | translate:lang}}: </span><b>{{model.notamId}}</b>
                        </address>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="bd-blue">
                        <address>
                            <span>{{'IcaoText.FIR' | translate:lang}}:  </span><b>{{model.fir}}</b>
                            <hr style="margin-top:2px; margin-bottom:2px" />
                            <span>{{'IcaoText.Code' | translate:lang}}:  </span><b>Q{{model.code23 + model.code45}}</b>
                            <hr style="margin-top:2px; margin-bottom:2px" />
                            <span>{{'IcaoText.Traffic' | translate:lang}}:  </span><b>{{model.traffic}}</b>
                            <hr style="margin-top:2px; margin-bottom:2px" />
                            <span>{{'IcaoText.Purpose' | translate:lang}}:  </span><b>{{model.purpose}}</b>
                            <hr style="margin-top:2px; margin-bottom:2px" />
                            <span>{{'IcaoText.Scope' | translate:lang}}:  </span><b>{{model.scope}}</b>
                            <hr style="margin-top:2px; margin-bottom:2px" />
                        </address>
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="bd-blue">
                        <address>
                            <span>{{'IcaoText.ItemA' | translate:lang}}:  </span><b>{{model.itemA}}</b>
                            <hr style="margin-top:2px; margin-bottom:2px" />
                            <span>{{'IcaoText.LowerLimit' | translate:lang}}:  </span><b>{{lowerLimit}}</b>
                            <hr style="margin-top:2px; margin-bottom:2px" />
                            <span>{{'IcaoText.UpperLimit' | translate:lang}}:  </span><b>{{upperLimit}}</b>
                            <hr style="margin-top:2px; margin-bottom:2px" />
                            <span>{{'IcaoText.Coords' | translate:lang}}:  </span><b>{{model.icaoCoordinates}}</b>
                            <hr style="margin-top:2px; margin-bottom:2px" />
                            <span>{{'IcaoText.Series' | translate:lang}}:  </span><b>{{model.series}}</b>
                            <hr style="margin-top:2px; margin-bottom:2px" />
                        </address>
                    </div>
                </div>
            </div>
            <div class="row">
                <h3><strong>{{'IcaoText.Period' | translate:lang}}</strong> {{'IcaoText.Validity' | translate:lang}}</h3>
                <div class="col-md-12">
                    <div class="bd-red">
                        <address>
                            <span>{{'IcaoText.From' | translate:lang}} <i>({{'IcaoText.DTGroup' | translate:lang}})</i>:  </span><b>{{startActivityText}}</b>
                            <hr style="margin-top:2px; margin-bottom:2px" />
                            <span>{{'IcaoText.To' | translate:lang}} <i>({{'IcaoText.PERM' | translate:lang}})</i>:  </span><b>{{endValidityText}}</b>
                            <hr style="margin-top:2px; margin-bottom:2px" />

                            <div *ngIf="model.itemD">
                                <span>{{'IcaoText.TimeSchedule' | translate:lang}}:  </span><b>{{model.itemD}}</b>
                                <hr style="margin-top:2px; margin-bottom:2px" />
                            </div>
                        </address>
                    </div>
                </div>
            </div>
            <div class="row">
                <h3><strong>{{'IcaoText.PlainLanguage' | translate:lang}}</strong> {{'IcaoText.Entry' | translate:lang}} (<i>{{'IcaoText.ICAOAbbreviations' | translate:lang}}</i>)</h3>
                <div class="col-md-12">
                    <div class="bd-green">
                        <address>
                            <div>
                                <span>{{'IcaoText.ItemE' | translate:lang}} <i>(english)</i>:</span><br />
                                <span style="margin-left:3px; font-size:11px;" class="item-e wordwrap"><b>{{model.itemE}}</b></span>
                                <hr style="margin-top:2px; margin-bottom:2px" />
                            </div>

                            <div *ngIf="model.itemEFrench">
                                <span>{{'IcaoText.ItemE' | translate:lang}} <i>(french)</i>:</span><br />
                                <span style="margin-left:3px; font-size:11px" class="item-e wordwrap"><b>{{model.itemEFrench}}</b></span>
                                <hr style="margin-top:2px; margin-bottom:2px" />
                            </div>

                            <div *ngIf="model.itemF">
                                <span>{{'IcaoText.LowerLimit' | translate:lang}} <i>(F)</i>:  </span><b>{{model.itemF}}</b>
                                <hr style="margin-top:2px; margin-bottom:2px" />
                            </div>

                            <div *ngIf="model.itemG">
                                <span>{{'IcaoText.UpperLimit' | translate:lang}} <i>(G)</i>:  </span><b>{{model.itemG}}</b>
                            </div>
                        </address>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
