﻿<div class="m-t-10 m-b-10 no-print">
    <div *ngIf="!isNOF">
        <button class="btn btn-info m-r-10 m-b-10" type="button" (click)="backToProposals()">
            <i class="fa fa-mail-reply m-r-10"></i> {{backToReviewText()}}
        </button>
        <span *ngIf="showActionButtons()">
            <!--<button *ngIf="model.proposalType !== 2" class="btn btn-primary m-r-10 m-b-10" type="button" (click)="saveDraft()" [disabled]="isSaveButtonDisabled()">-->
            <button *ngIf="model.proposalType === 0" class="btn btn-primary m-r-10 m-b-10" type="button" (click)="saveDraft()" [disabled]="isSaveButtonDisabled()">
                <i class="fa fa-save m-r-10"></i> {{'ActionButtons.SaveDraft' | translate:lang}}
            </button>
            <button class="btn btn-primary m-r-10 m-b-10" type="button" (click)="submitProposal()" [disabled]="isSubmitButtonDisabled()">
                <i class="fa fa-external-link m-r-10"></i> {{'ActionButtons.SubmitProposal' | translate:lang}}
            </button>
            <button class="btn btn-primary m-r-10 m-b-10" type="button" *ngIf="model.status === 3" (click)="discardProposal()" [disabled]="isSubmitButtonDisabled()">
                <i class="fa fa-trash-o m-r-10"></i> {{'ActionButtons.BtnDiscard' | translate:lang}}
            </button>
        </span>
    </div>
    <div *ngIf="isNOF">
        <button class="btn btn-info m-r-10 m-b-10" type="button" (click)="backToProposals()">
            <i class="fa fa-mail-reply m-r-10"></i> {{'ActionButtons.BackToReviewList' | translate:lang}}
        </button>
        <span *ngIf="showActionButtons()">
            <button *ngIf="canPark" class="btn btn-primary m-r-10 m-b-10" type="button" (click)="parkProposal()" [disabled]="isParkProposalButtonDisabled()">
                <i class="fa fa-save m-r-10"></i> {{'ActionButtons.ParkProposal' | translate:lang}}
            </button>
            <button *ngIf="canReject" class="btn btn-primary m-r-10 m-b-10" type="button" (click)="openRejectProposalDialog()" [disabled]="isRejectProposalDisable()">
                <i class="fa fa-ban m-r-10"></i> {{'ActionButtons.RejectProposal' | translate:lang}}
            </button>
            <button class="btn btn-primary m-r-10 m-b-10" type="button" (click)="disseminateProposal()" [disabled]="isDisseminateButtonDisabled()">
                <i class="fa fa-wifi m-r-10"></i> {{'ActionButtons.DisseminateProposal' | translate:lang}}
            </button>
            <!--<button class="btn btn-primary m-r-10 m-b-10" type="button" (click)="createProposalGroup()" [disabled]="isCreateGroupButtonDisabled()">
                <i class="fa fa-link m-r-10"></i> {{'ActionButtons.GroupProposal' | translate:lang}}
            </button>-->
        </span>
    </div>

</div>