﻿<div class="app-header">
    <h2>
        <strong>{{'AerordsSession.PageTitleBold' | translate:lang}} </strong>
        <a href="../Content/help/NESUserGuide{{langCulture}}.pdf#c_adm_aerords_sync" target="_blank" style="padding-left:10px;"><i class="icon-question"></i></a>
    </h2>

</div>

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="panel bg-blue-dark">
            <div class="panel-header">
                <h3><i class="fa fa-user-md"></i> <strong>{{'AerordsSession.Details' | translate:lang}}</strong></h3>
                <div class="control-btn">
                    <a href="#" class="panel-toggle"><i class="fa fa-angle-down"></i></a>
                </div>
            </div>
            <div class="panel-content bg-white">
                <div class="row">
                    <!--Name-->
                    <div class="col-sm-6">
                        <table class="table table-hover table-dynamic table-responsive filter-footer dataTable" role="grid">
                            <thead>
                                <tr>
                                    <th>{{'AerordsSession.SdoData' | translate:lang}}</th>
                                    <th>{{'AerordsSession.AiracCycle' | translate:lang}}</th>
                                    <th>{{'AerordsSession.CurrentAiracCycle' | translate:lang}}</th>
                                    <th>{{'AerordsSession.LastUpdated' | translate:lang}}</th>
                                    <th class="m-0 p-0"><button class="btn btn-dark btn-sm pull-right" (click)="refreshCacheStatus($event)"><i class="icon-refresh"></i></button></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr [ngClass]="activeDateClass">
                                    <td><strong>{{'AerordsSession.Active' | translate:lang}}</strong></td>
                                    <td>{{status.airacActiveDate}}</td>
                                    <td>{{status.lastActiveDate}}</td>
                                    <td>{{status.lastActiveUpdated}}</td>
                                    <td></td>
                                </tr>
                                <tr [ngClass]="effectiveDateClass">
                                    <td><strong>{{'AerordsSession.Effective' | translate:lang}}</strong></td>
                                    <td>{{status.airacEffectiveDate}}</td>
                                    <td>{{status.lastEffectiveDate}}</td>
                                    <td>{{status.lastEffectiveUpdated}}</td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="form-group">
                            <!--<label class="form-label">{{'AerordsSession.Actions' | translate:lang}}</label>-->
                            <div class="input-group">
                                <button type="button" class="btn btn-embossed btn-primary"
                                        (click)="globalSync()">
                                    <i class="icon-refresh"></i> {{'AerordsSession.Full' | translate:lang}}
                                </button>
                                <button type="button" class="btn btn-embossed btn-primary"
                                        (click)="effectiveCacheSync()">
                                    <i class="icon-arrow-down-circle"></i> {{'AerordsSession.CacheEffective' | translate:lang}}
                                </button>
                                <button type="button" class="btn btn-embossed btn-primary"
                                        (click)="effectiveCacheLoad()">
                                    <i class="icon-refresh"></i> {{'AerordsSession.LoadEffective' | translate:lang}}
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="modal-global" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-sm" style="margin-top: 17% !important;">
        <div class="modal-content">
            <div class="modal-header bg-danger">
                <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
                <h4 class="modal-title"><b>{{'AerordsSession.GSynchronization' | translate:lang}}</b></h4>
            </div>
            <div class="modal-body">
                <b>{{'AerordsSession.GlobalConfirmation' | translate:lang}}</b>
                <br />
                <b>{{'AerordsSession.GlobalWarning' | translate:lang}}</b>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="runGlobalSync()">{{'Common.Yes' | translate:lang}}</button>
                <button type="button" class="btn btn-dark" data-dismiss="modal">{{'Common.No' | translate:lang}}</button>
            </div>
        </div>
    </div>
</div>

<div id="modal-effective-sync" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-sm" style="margin-top: 17% !important;">
        <div class="modal-content">
            <div class="modal-header bg-danger">
                <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
                <h4 class="modal-title"><b>{{'AerordsSession.PSynchronization' | translate:lang}}</b></h4>
            </div>
            <div class="modal-body">
                <b>{{'AerordsSession.PartialConfirmation' | translate:lang}}</b>
                <br />
                <b>{{'AerordsSession.PartialWarning' | translate:lang}}</b>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="runEffectiveCacheSync()">{{'Common.Yes' | translate:lang}}</button>
                <button type="button" class="btn btn-dark" data-dismiss="modal">{{'Common.No' | translate:lang}}</button>
            </div>
        </div>
    </div>
</div>

<div id="modal-effective-load" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-sm" style="margin-top: 17% !important;">
        <div class="modal-content">
            <div class="modal-header bg-danger">
                <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
                <h4 class="modal-title"><b>{{'AerordsSession.PSynchronization' | translate:lang}}</b></h4>
            </div>
            <div class="modal-body">
                <b>{{'AerordsSession.PartialConfirmation' | translate:lang}}</b>
                <br />
                <b>{{'AerordsSession.PartialWarning' | translate:lang}}</b>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="runEffectiveCacheLoad()">{{'Common.Yes' | translate:lang}}</button>
                <button type="button" class="btn btn-dark" data-dismiss="modal">{{'Common.No' | translate:lang}}</button>
            </div>
        </div>
    </div>
</div>