﻿@{
    ViewBag.Title = "About";
}

<div id="homeMainContent">

    @{
        Html.Kendo().Window()
            .Name("about")
            .Width(500)
            .Title("About")
            .Actions(actions => { })
            .Iframe(true)
            .Content(
                @<text>
                    <p>NOTAMWiz is a blah blah..</p>

                    <p>
                        For information contact blah blah.
                    </p>

                </text>)
            .Render();
    }
</div>