﻿@using Westwind.Globalization;

@{
    if (User.Identity.IsAuthenticated)
    {
        Layout = "~/Views/Shared/_LayoutRegisteredUser.cshtml";
    }

    ViewBag.InfoMessage = "";//This is the area for informational messages to be displayed. Right now the message is welcoming you to NOTAMWiz...  In the future it may give you important information about service outages, and other events of that nature.";
}

@section styles {
    <link href="@Url.Content("~/Content/Views/Home/Index.css")" rel="stylesheet" type="text/css" />
}

<div id="homeMainContent" class="middle-center" style="padding-top:20px">
    <div id="landingPageCenter">
        <img src="~/Images/NavCanada.png" class="margin10-top" />
        <div id="notwamWizInfoArea" class="float-right margin10-top">
            <table align="center" id="notamInfoTable">
                <tr>
                    <td>@DbRes.T("NOTAMWiz is a tool for entering NOTAMs through the web. Create and review NOTAMs easily using the wizard interface.", "Home")</td>
                </tr>
                <tr><td>&nbsp;</td></tr>
                <tr>
                    <td colspan="2" align="center">
                        @if (User.Identity.IsAuthenticated)
                        {
                            <a href="javascript:document.getElementById('logoutForm').submit()">
                                <div class="k-button landingPageButton">@DbRes.T("Logoff", "Home")</div>
                            </a>
                        }
                        else
                        {
                            <a href="~/Account/Login">
                                <div class="k-button landingPageButton">@DbRes.T("Login", "Home")</div>
                            </a>
                        }
                    </td>
                </tr>
                <tr>
                    <td colspan="2" align="center">@DbRes.T("or", "Home")</td>
                </tr>
                <tr>
                    <td colspan="2" align="center">
                        <a href="~/Account/Register">
                            <div class="k-button landingPageButton">@DbRes.T("Register", "Home")</div>
                        </a>
                    </td>
                </tr>
            </table>
        </div>

        <div id="howitWorksSection" class="pad10 k-block margin5-top">
            <div class="center"><font size="6" color="gray">@DbRes.T("How It Works","Home")</font> </div>
            <div class="pad10">
                <table class="pad10" id="howItWorksTable">
                    <tr>
                        <td width="250px">
                            <img src="~/Images/create_notams_icon.png" />
                        </td>
                        <td rowspan="10"></td>
                        <td width="250px">
                            <img src="~/Images/review_notam_icon.png" />
                        </td>
                        <td rowspan="10"></td>
                        <td width="250px">
                            <img src="~/Images/run_reports_icon.png" />
                        </td>
                    </tr>
                    <tr>
                        <td><font size="3"><b>@DbRes.T("Create NOTAMs","Home")</b></font></td>
                        <td><font size="3"><b>@DbRes.T("Review NOTAMs","Home")</b></font></td>
                        <td><font size="3"><b>@DbRes.T("Run Reports","Home")</b></font></td>
                    </tr>
                    <tr>
                        <td><font color="gray">@DbRes.T("Create NOTAMs with minimal input using predefined entry form. Save drafts and reuse previous NOTAMs.", "Home")</font></td>
                        <td><font color="gray">@DbRes.T("View status of submitted NOTAMs. Review NOTAM history.", "Home")</font></td>
                        <td><font color="gray">@DbRes.T("View reports and Statistics on previously entered and currently active NOTAMs.", "Home")</font></td>
                    </tr>
                </table>
            </div>
        </div>
        <div id="moreInfoSection" class="k-block k-block-dark pad10 margin5-top">
            <table>
                <tr>
                    <td><b>@DbRes.T("Quick Links","Home")</b></td>
                    <td><b>@DbRes.T("Documentation","Home")</b></td>
                    <td><b>@DbRes.T("Contact Info","Home")</b></td>
                    <td><b>@DbRes.T("News","Home")</b></td>
                </tr>
                <tr>
                    <td valign="top">
                        @Html.ActionLink(DbRes.T("Dashboard","Home"), "Index", "Dashboard")<br />
                        @Html.RouteLink(DbRes.T("Administrator Area","Home"), new { controller = "AdminHome", action = "Index", area = "Admin" })
                    </td>
                    <td>
                        @DbRes.T("ICAO NOTAM Format","Home")<br />
                        @DbRes.T("User Documentation","Home")<br />
                        @DbRes.T("Legal Documentation","Home")
                    </td>
                    <td valign="top">
                        @DbRes.T("About NAV CANADA","Home")<br />
                        @DbRes.T("About NOTAMWiz","Home")
                    </td>
                    <td valign="top">
                        @DbRes.T("Current News","Home")<br />
                        @DbRes.T("Training","Home")<br />
                    </td>
                </tr>

            </table>

        </div>

    </div>


</div>

@section Scripts{

}

