﻿@using Westwind.Globalization;

@{

    ViewBag.Title = "System User Management";
}

<h2>@DbRes.T("System User Management", "UserManagementRes")</h2>

<div id="userGrid"></div>

`
<div id="rolesList" data-model='@Html.Raw(Json.Encode(ViewBag.RolesList))'></div>
<div id="orgsList" data-model='@Html.Raw(Json.Encode(ViewBag.OrgsList))'></div>

<span id="notification" style="display: none;"></span>

<div id="User-Popup">
    @Html.Partial("UserTemplate")
</div>


<script>
    
    @section Scripts{
    require(["admin/Controllers/UserManagement/Index"], function (index) {
        var labels = {
            userGrid_fieldUserName: '@DbRes.T("User Name", "UserManagementRes")',
            userGrid_fieldRoles: '@DbRes.T("Roles", "UserManagementRes")',
            userGrid_fieldOrganization: '@DbRes.T("Organization", "UserManagementRes")',
            userGrid_fieldFirstName: '@DbRes.T("First Name", "UserManagementRes")',
            userGrid_fieldLastName: '@DbRes.T("Last Name", "UserManagementRes")',
            userGrid_toolbarCreate: '@DbRes.T("Add a New User", "UserManagementRes")',
            userGrid_toolbarShow: '@DbRes.T("Show User Details", "UserManagementRes")',
            userGrid_toolbarUpdate: '@DbRes.T("Update User", "UserManagementRes")',
            userGrid_toolbarDelete: '@DbRes.T("Delete User", "UserManagementRes")',
            userGrid_toolbarResetPassword: '@DbRes.T("Reset Password", "UserManagementRes")',
            userGrid_optionAddUser: '@DbRes.T("Add or Update a User", "UserManagementRes")',
            userGrid_valPasswordMatch: '@DbRes.T("Password and Confirm Password need to match", "UserManagementRes")',
            userGrid_valEmailValid: '@DbRes.T("That does not appear to be a valid email address", "UserManagementRes")',
            userGrid_valPasswordRule: '@DbRes.T("Password must be at least 8 characters long including a combination of lower, upper, digit and special characters", "UserManagementRes")',
            userGrid_valPasswordDifferentRule: '@DbRes.T("Password can not be the same as your current password", "UserManagementRes")',
            userGrid_valPhoneIncomplete: '@DbRes.T("Phone number is not completed", "UserManagementRes")',
            userGrid_valFaxIncomplete: '@DbRes.T("Fax number is not completed", "UserManagementRes")',
            userGrid_valUsernameRequired: '@DbRes.T("Username is required!", "UserManagementRes")',
            userGrid_valEmailRequired: '@DbRes.T("Email is required!", "UserManagementRes")',
            userGrid_valPasswordRequired: '@DbRes.T("Password is required!", "UserManagementRes")',
            userGrid_valConfirmRequired: '@DbRes.T("You must confirm your password!", "UserManagementRes")',
            userGrid_valLastNameRequired: '@DbRes.T("Last Name is required!", "UserManagementRes")',
            userGrid_valFirstNameRequired: '@DbRes.T("First Name is required!", "UserManagementRes")',
            userGrid_valPositionRequired: '@DbRes.T("Positon is required!", "UserManagementRes")',
            userGrid_valAddressRequired: '@DbRes.T("Address is required!", "UserManagementRes")',
            userGrid_valAvailableMsg: '@DbRes.T("Checking...", "UserManagementRes")',
            userGrid_valAvailableError: '@DbRes.T("The username is not available", "UserManagementRes")',
            userGrid_deleteUserMessage: '@DbRes.T("Delete selected User", "UserManagementRes")',
        };
        index.init(labels);
    })
    }
</script>
