﻿﻿@using Westwind.Globalization;

<script id="ShowDetails_UserTemplate" type="text/x-kendo-template">
    <div id="ShowDetails_DetailContent">
        <table style=" width:500px" class="ShowDetails_UserTable">
            <tr>
                <td style="width: 290px">
                    <strong>
                        @DbRes.T("UserName:", "UserManagementRes")
                    </strong>
                </td>
                <td style="width: 210px">
                    <input type="text" style="width:290px" class="k-textbox" name="ShowDetails_UserName" data-bind="value: UserName" required maxlength="100" readonly />
                </td>
            </tr>
            <tr>
                <td style="width: 290px">
                    <strong>
                        @DbRes.T("UserRoles:", "UserManagementRes")
                    </strong>
                </td>
                <td style="width: 210px">
                    <input type="text" name="ShowDetails_UserRolesDisplay" style="width:290px;height:50px;" class="k-textbox" maxlength="100" readonly />
                </td>
            </tr>
            <tr>
                <td style="width: 290px">
                    <strong>
                        @DbRes.T("Organization:", "UserManagementRes")
                    </strong>
                </td>
                <td style="width: 210px">
                    <input type="text" name="ShowDetails_UserOrgDisplay" style="width:290px;height:50px;" class="k-textbox" maxlength="100" readonly />
                </td>
            </tr>
            <tr>
                <td style="width: 290px">
                    <strong>
                        @DbRes.T("Approved:", "UserManagementRes")
                    </strong>
                </td>
                <td style="width: 210px">
                    <input type="checkbox" id="IsApproved" name="ShowDetails_IsApproved" data-bind="checked: IsApproved" onclick="return false" />
                </td>
            </tr>
            <tr>
                <td style="width: 290px">
                    <strong>
                        @DbRes.T("Disabled:", "UserManagementRes")
                    </strong>
                </td>
                <td style="width: 210px">
                    <input type="checkbox" id="IsDisabled" name="ShowDetails_IsDisabled" data-bind="checked: IsDisabled" onclick="return false" />
                </td>
            </tr>
            <tr>
                <td style="width: 290px">
                    <strong>
                        @DbRes.T("First Name:", "UserManagementRes")
                    </strong>
                </td>
                <td style="width: 210px">
                    <input type="text" style="width:290px" class="k-textbox" name="ShowDetails_FirstName" data-bind="value: FirstName" required maxlength="100" readonly />
                </td>
            </tr>
            <tr>
                <td style="width: 290px">
                    <strong>
                        @DbRes.T("Last Name:", "UserManagementRes")
                    </strong>
                </td>
                <td style="width: 210px">
                    <input type="text" style="width:290px" class="k-textbox" name="ShowDetails_LastName" data-bind="value: LastName" required maxlength="100" readonly />
                </td>
            </tr>
            <tr>
                <td style="width: 290px">
                    <strong>
                        @DbRes.T("Email Address:", "UserManagementRes")
                    </strong>
                </td>
                <td style="width: 210px">
                    <input type="text" style="width:290px" class="k-textbox" name="ShowDetails_EmailAddress" data-bind="value: EmailAddress" required maxlength="100" readonly />
                </td>
            </tr>
            <tr>
                <td style="width: 290px">
                    <strong>
                        @DbRes.T("Title/Position:", "UserManagementRes")
                    </strong>
                </td>
                <td style="width: 210px">
                    <input type="text" style="width:290px" class="k-textbox" name="ShowDetails_Position" data-bind="value: Position" required maxlength="100" readonly />
                </td>
            </tr>
            <tr>
                <td style="width: 290px">
                    <strong>
                        @DbRes.T("Address:", "UserManagementRes")
                    </strong>
                </td>
                <td style="width: 210px">
                    <input type="text" style="width:290px" class="k-textbox" name="ShowDetails_Address" data-bind="value: Address" required maxlength="100" readonly />
                </td>
            </tr>
            <tr>
                <td style="width: 290px">
                    <strong>
                        @DbRes.T("Fax:", "UserManagementRes")
                    </strong>
                </td>
                <td style="width: 210px">
                    <input type="text" style="width:290px" class="k-textbox" name="ShowDetails_Fax" data-bind="value: Fax" maxlength="100" readonly />
                </td>
            </tr>
            <tr>
                <td style="width: 290px">
                    <strong>
                        @DbRes.T("Telephone:", "UserManagementRes")
                    </strong>
                </td>
                <td style="width: 210px">
                    <input type="text" style="width:290px" class="k-textbox" name="ShowDetails_Telephone" data-bind="value: Telephone" required maxlength="100" readonly />
                </td>
            </tr>
        </table>

    </div>

</script>

<script id="ResetPassword_Template" type="text/x-kendo-template">
    <div id="ResetPassword_Content">
        <form id="resetPassword-form" class="label-margin">
            <table style=" width:500px" class="ResetPAssword_Details">
                <tr>
                    <td style="width: 290px">
                        <strong>
                            @DbRes.T("UserName:", "UserManagementRes")
                        </strong>
                    </td>
                    <td style="width: 210px">
                        <input type="text" style="width:290px" class="k-textbox" id="username" name="ShowDetails_UserName" data-bind="value: UserName" required maxlength="100" readonly />
                    </td>
                </tr>
                <tr>
                    <td style="width: 290px">
                        <strong>
                            @DbRes.T("UserRoles:", "UserManagementRes")
                        </strong>
                    </td>
                    <td style="width: 210px">
                        <input type="text" name="ShowDetails_UserRolesDisplay" style="width:290px;height:50px;" class="k-textbox" maxlength="100" readonly />
                    </td>
                </tr>
                <tr>
                    <td style="width: 290px">
                        <strong>
                            @DbRes.T("Organization:", "UserManagementRes")
                        </strong>
                    </td>
                    <td style="width: 210px">
                        <input type="text" name="ShowDetails_UserOrgDisplay" style="width:290px;height:50px;" class="k-textbox" maxlength="100" readonly />
                    </td>
                </tr>
                <tr>
                    <td style="width: 290px">
                        <strong>
                            @DbRes.T("Approved:", "UserManagementRes")
                        </strong>
                    </td>
                    <td style="width: 210px">
                        <input type="checkbox" id="IsApproved" name="ShowDetails_IsApproved" data-bind="checked: IsApproved" disabled="disabled" />
                    </td>
                </tr>
                <tr>
                    <td style="width: 290px">
                        <strong>
                            @DbRes.T("Disabled:", "UserManagementRes")
                        </strong>
                    </td>
                    <td style="width: 210px">
                        <input type="checkbox" id="IsDisabled" name="ShowDetails_IsDisabled" data-bind="checked: IsDisabled" readonly disabled="disabled"/>
                    </td>
                </tr>
                <tr>
                    <td style="width: 290px">
                        <strong>
                            @DbRes.T("First Name:", "UserManagementRes")
                        </strong>
                    </td>
                    <td style="width: 210px">
                        <input type="text" style="width:290px" class="k-textbox" name="ShowDetails_FirstName" data-bind="value: FirstName" required maxlength="100" readonly />
                    </td>
                </tr>
                <tr>
                    <td style="width: 290px">
                        <strong>
                            @DbRes.T("Last Name:", "UserManagementRes")
                        </strong>
                    </td>
                    <td style="width: 210px">
                        <input type="text" style="width:290px" class="k-textbox" name="ShowDetails_LastName" data-bind="value: LastName" required maxlength="100" readonly />
                    </td>
                </tr>
                <tr>
                    <td style="width: 290px">
                        <strong>
                            @DbRes.T("Email Address:", "UserManagementRes")
                        </strong>
                    </td>
                    <td style="width: 210px">
                        <input type="text" style="width:290px" class="k-textbox" name="ShowDetails_EmailAddress" data-bind="value: EmailAddress" required maxlength="100" readonly />
                    </td>
                </tr>
                <tr>
                    <td style="width: 290px">
                        <strong>
                            @DbRes.T("Title/Position:", "UserManagementRes")
                        </strong>
                    </td>
                    <td style="width: 210px">
                        <input type="text" style="width:290px" class="k-textbox" name="ShowDetails_Position" data-bind="value: Position" required maxlength="100" readonly />
                    </td>
                </tr>
                <tr>
                    <td style="width: 290px">
                        <strong>
                            @DbRes.T("Address:", "UserManagementRes")
                        </strong>
                    </td>
                    <td style="width: 210px">
                        <input type="text" style="width:290px" class="k-textbox" name="ShowDetails_Address" data-bind="value: Address" required maxlength="100" readonly />
                    </td>
                </tr>
                <tr>
                    <td style="width: 290px">
                        <strong>
                            @DbRes.T("Fax:", "UserManagementRes")
                        </strong>
                    </td>
                    <td style="width: 210px">
                        <input type="text" style="width:290px" class="k-textbox" name="ShowDetails_Fax" data-bind="value: Fax" maxlength="100" readonly />
                    </td>
                </tr>
                <tr>
                    <td style="width: 290px">
                        <strong>
                            @DbRes.T("Telephone:", "UserManagementRes")
                        </strong>
                    </td>
                    <td style="width: 210px">
                        <input type="text" style="width:290px" class="k-textbox" name="ShowDetails_Telephone" data-bind="value: Telephone" required maxlength="100" readonly />
                    </td>
                </tr>
                <tr name="PasswordTr">
                    <td style="width: 290px;">
                        <strong>
                            @DbRes.T("Password:", "UserManagementRes")
                        </strong>
                    </td>
                    <td style="width: 210px">
                        <input type="password" style="width:290px" class="k-textbox"
                               id="update-password" name="update-password"
                               data-bind="value: Password" maxlength="100" />
                    </td>
                </tr>
                <tr name="ConfirmPasswordTr">
                    <td style="width: 290px;">
                        <strong>
                            @DbRes.T("Confirm Password:", "UserManagementRes")
                        </strong>
                    </td>
                    <td style="width: 210px">
                        <input type="password" style="width:290px" class="k-textbox"
                               id="update-confirmPassword" name="update-confirmPassword"
                               data-bind="value: ConfirmPassword"
                               maxlength="100" />
                    </td>
                </tr>
                <tr id="saveUserFromReg">
                    <td colspan="2">
                        <p>
                            <div id="userActionPanel" align="right">
                                <button id="btnResetPasswordCancel" type="button" class="k-button" data-bind="click: closeResetPasswordWindow">@DbRes.T("Cancel", "AssignUserRoles")</button>
                                <button id="btnResetPassord" type="button" class="k-button" data-bind="click: resetPasswordWindow">@DbRes.T("Reset Password", "AssignUserRoles")</button>
                            </div>
                        </p>
                    </td>
                </tr>
            </table>
        </form>
</div>
</script>


<script id="Update_UserTemplate" type="text/x-kendo-template">
    
    <div id="popupErrorMessage">
    </div>
    <div id="Update_DetailContent" class="k-content">
        <form id="register-form" class="label-margin">
            <table style=" width:500px" class="Update_UserTable">
                <tr>
                    <td style="width: 290px; padding-left:10px;">
                        <strong>
                            @DbRes.T("UserName:", "UserManagementRes")
                        </strong>
                    </td>
                    <td style="width: 210px">
                        <input type="text" style="width:290px" class="k-textbox" data-available
                               id="update_username" name="update_username" data-available
                               data-bind="value: UserName" required maxlength="100" />
                    </td>
                </tr>
                <tr>
                    <td style="width: 290px; padding-left:10px;">
                        <strong>
                            @DbRes.T("UserRoles:", "UserManagementRes")
                        </strong>
                    </td>
                    <td style="width: 210px">
                        <input type="text" name="Update_UserRolesDisplay" style="width:290px;height:50px; display:none" class="k-textbox" maxlength="100" />
                        <select id="Update_UserRolesMultiSelect" style="height:50px" multiple='multiple' data-bind='value : UserRoles' />
                    </td>
                </tr>
                <tr name="PasswordTr" >
                    <td style="width: 290px; padding-left:10px;">
                        <strong>
                            @DbRes.T("Password:", "UserManagementRes")
                        </strong>
                    </td>
                    <td style="width: 210px">
                        <input type="password" style="width:290px" class="k-textbox"
                               id="update-password" name="update-password"
                               data-bind="value: Password" maxlength="100" />
                    </td>
                </tr>
                <tr name="ConfirmPasswordTr" >
                    <td style="width: 290px; padding-left:10px;">
                        <strong>
                            @DbRes.T("Confirm Password:", "UserManagementRes")
                        </strong>
                    </td>
                    <td style="width: 210px">
                        <input type="password" style="width:290px" class="k-textbox"
                               id="update-confirmPassword" name="update-confirmPassword"
                               data-bind="value: ConfirmPassword"
                               maxlength="100" />
                    </td>
                </tr>
                <tr>
                    <td style="width: 290px; padding-left:10px;">
                        <strong>
                            @DbRes.T("Organization:", "UserManagementRes")
                        </strong>
                    </td>
                    <td style="width: 210px">
                        <input type="text" name="Update_UserOrgDisplay" style="width:290px;height:50px; display:none" class="k-textbox" maxlength="100" />
                        <input id="Update_UserOrgContainer" data-bind='value : UserOrgId' />

                    </td>
                </tr>
                <tr id="IsApprovedtr">
                    <td style="width: 290px; padding-left:10px;">
                        <strong>
                            @DbRes.T("Approved:", "UserManagementRes")
                        </strong>
                    </td>
                    <td style="width: 210px">
                        <input type="checkbox" id="IsApproved" name="Update_IsApproved" data-bind="checked: IsApproved" />
                    </td>
                </tr>
                <tr id="IsDisabledtr">
                    <td style="width: 290px; padding-left:10px;">
                        <strong>
                            @DbRes.T("Disabled:", "UserManagementRes")
                        </strong>
                    </td>
                    <td style="width: 210px">
                        <input type="checkbox" id="IsDisabled" name="Update_IsDisabled" data-bind="checked: IsDisabled" />
                    </td>
                </tr>
                <tr>
                    <td style="width: 290px; padding-left:10px;">
                        <strong>
                            @DbRes.T("First Name:", "UserManagementRes")
                        </strong>
                    </td>
                    <td style="width: 210px">
                        <input type="text" style="width:290px" class="k-textbox" name="update-firstname" data-bind="value: FirstName" required maxlength="100" />
                    </td>
                </tr>
                <tr>
                    <td style="width: 290px; padding-left:10px;">
                        <strong>
                            @DbRes.T("Last Name:", "UserManagementRes")
                        </strong>
                    </td>
                    <td style="width: 210px">
                        <input type="text" style="width:290px" class="k-textbox" name="update-lastname" data-bind="value: LastName" required maxlength="100" />
                    </td>
                </tr>
                <tr>
                    <td style="width: 290px; padding-left:10px;">
                        <strong>
                            @DbRes.T("Email Address:", "UserManagementRes")
                        </strong>
                    </td>
                    <td style="width: 210px">
                        <input type="email" style="width:290px" class="k-textbox"
                               name="update-email" required
                               data-bind="value: EmailAddress" maxlength="100" />
                    </td>
                </tr>
                <tr>
                    <td style="width: 290px; padding-left:10px;">
                        <strong>
                            @DbRes.T("Title/Position:", "UserManagementRes")
                        </strong>
                    </td>
                    <td style="width: 210px">
                        <input type="text" style="width:290px" class="k-textbox" name="update-position" data-bind="value: Position" required maxlength="100" />
                    </td>
                </tr>
                <tr>
                    <td style="width: 290px; padding-left:10px;">
                        <strong>
                            @DbRes.T("Address:", "UserManagementRes")
                        </strong>
                    </td>
                    <td style="width: 210px">
                        <input type="text" style="width:290px" class="k-textbox" name="update-address" data-bind="value: Address" required maxlength="100" />
                    </td>
                </tr>
                <tr>
                    <td style="width: 290px; padding-left:10px;">
                        <strong>
                            @DbRes.T("Fax:", "UserManagementRes")
                        </strong>
                    </td>
                    <td style="width: 210px">
                        <input type="text" style="width:290px" class="k-textbox" id="update-fax" name="update-fax" data-bind="value: Fax" maxlength="100" />
                    </td>
                </tr>
                <tr>
                    <td style="width: 290px; padding-left:10px;">
                        <strong>
                            @DbRes.T("Telephone:", "UserManagementRes")
                        </strong>
                    </td>
                    <td style="width: 210px">
                        <input type="text" style="width:290px" class="k-textbox"
                               id="update-telephone" name="update-telephone"
                               data-bind="value: Telephone" required maxlength="100" />
                    </td>
                </tr>
                <tr id="saveUserFromReg" style="display:none">
                    <td><button id="btnPreviousUserFromReg" style="width:200px" type="button" class="k-button">@DbRes.T("Previous", "AssignUserRoles")</button></td>
                    <td>
                        <p>
                            <div id="userActionPanel" align="right">
                                <button id="btnCompleteRegistration" style="width:290px" type="button" class="k-button">@DbRes.T("Complete Registration", "AssignUserRoles")</button>
                                @*<button id="btnCancelUser" style="width:90px" type="button" class="k-button">@DbRes.T("Cancel", "AssignUserRoles")</button>*@
                            </div>
                        </p>
                    </td>
                </tr>
            </table>
        </form>
        <div id="error-panel" class="label-margin" style="display:none">
            <hr />
            <div id="error-panel" class="k-edit-buttons k-state-default label-margin" style="display:none; text-align:left">
                <strong>
                    @DbRes.T("One or more errors have ocurred!", "UserManagementRes")
                </strong>
            </div>
            <div style="padding-left:10px;">
                <ul style="color:red">
                </ul>
            </div>
        </div>
    </div>



</script>