﻿<div class="row">
    <div class="app-header">
        <h2>
            <strong>{{'IcaoSubjectSession.PageTitleBold' | translate:lang}} {{'IcaoSubjectSession.PageTitle' | translate:lang}} </strong>
            <a href="../Content/help/NESUserGuide{{langCulture}}.pdf#c_adm_icao_subjects_and_conditions" target="_blank" style="padding-left:10px;"><i class="icon-question"></i></a>
        </h2>
    </div>
    <div class="col-md-12">
        <div class="row">
            <div class="m-t-10 m-b-10 no-print">
                <button class="btn btn-primary m-r-10 m-b-10"
                    [routerLink]="['/administration/icaosubjects/create']">
                    <i class="fa fa-plus m-r-10"></i>{{'Common.Add' | translate:lang}} 
                </button>
                <button class="btn btn-primary m-r-10 m-b-10"
                        [disabled]="selectedIcaoSubject === null"
                        [routerLink]="['/administration/icaosubjects/edit', selectedIcaoSubject?.id]">
                    <i class="fa fa-list-alt m-r-10"></i>{{'Common.Edit' | translate:lang}}
                </button>
                <button class="btn btn-primary m-r-10 m-b-10"
                        [disabled]="selectedIcaoSubject === null"
                        (click)="confirmDeleteIcaoSubject()">
                    <i class="fa fa-trash-o m-r-10"></i>{{'Common.Delete' | translate:lang}}
                </button>
            </div>
        </div>
    </div>
    <form [formGroup]="icaoSubjectListForm" class="form" autocomplete="off" novalidate="novalidate">
        <div class="col-md-12" style="height:100%;">
            <div class="row">
                <div class="col-md-12 portlets ui-sortable" style="padding-left:0px">
                    <div class="panel" style="margin-bottom:0px; ">
                        <div class="panel-content" style="padding:5px">
                            <div class="dataTables_wrapper form-inline">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="panel">
                                            <div class="panel-header" style="padding-bottom:11px;">
                                                <div class="form-group">
                                                    <span class="control-label" style="line-height:34px">{{'Common.ItemPerPage' | translate:lang}}:</span>
                                                    <select2 [data]="tableSubjectHeaders.itemsPerPage"
                                                             [value]="itemsPerPageStartValue"
                                                             [options]="{minimumResultsForSearch:-1}"
                                                             [width]="50"
                                                             (valueChanged)="itemsPerPageChanged($event)"></select2>
                                                </div>
                                                <div class="pull-right">
                                                    <div class="form-group">
                                                        <div class="append-icon">
                                                            <input id="searchSubject" formControlName="searchSubject" type="text"
                                                                   placeholder="{{'Common.Search' | translate:lang}}"
                                                                   class="form-control form-white"
                                                                   minlenght="2" maxlength="20" style="text-transform:uppercase">
                                                            <i class="fa fa-file-code-o"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="table-body-container scrollable" style="min-height: 329px !important; max-height: 329px !important">
                                    <table class="table table-hover table-dynamic table-responsive filter-footer dataTable m-b-5" role="grid">
                                        <thead>
                                            <tr role="row">
                                                <th tabindex="1" [class]="sortingClass(0, true)" (click)="sort(0, true)" style="width: 8%;" rowspan="1" colspan="1">{{'IcaoSubjectSession.Subject' | translate:lang}}</th>
                                                <th tabindex="2" [class]="sortingClass(1, true)" (click)="sort(1, true)" style="width: 26%;" rowspan="1" colspan="1">{{'IcaoSubjectSession.Name' | translate:lang}}</th>
                                                <th tabindex="3" [class]="sortingClass(2, true)" (click)="sort(2, true)" style="width: 26%;" rowspan="1" colspan="1">{{'IcaoSubjectSession.NameFrench' | translate:lang}}</th>
                                                <th tabindex="4" [class]="sortingClass(3, true)" (click)="sort(3, true)" style="width: 8%;" rowspan="1" colspan="1">{{'IcaoSubjectSession.Code23' | translate:lang}}</th>
                                                <th tabindex="5" [class]="sortingClass(4, true)" (click)="sort(4, true)" style="width: 8%;" rowspan="1" colspan="1">{{'IcaoSubjectSession.Scope' | translate:lang}}</th>
                                                <th tabindex="6" [class]="sortingClass(5, true)" (click)="sort(5, true)" style="width: 8%;" rowspan="1" colspan="1">{{'IcaoSubjectSession.ItemAUpdate' | translate:lang}}</th>
                                                <th tabindex="7" [class]="sortingClass(6, true)" (click)="sort(6, true)" style="width: 8%;" rowspan="1" colspan="1">{{'IcaoSubjectSession.ScopeUpdate' | translate:lang}}</th>
                                                <th tabindex="8" [class]="sortingClass(7, true)" (click)="sort(7, true)" style="width: 8%;" rowspan="1" colspan="1">{{'IcaoSubjectSession.SeriesUpdate' | translate:lang}}</th>
                                            </tr>
                                        </thead>
                                        <tbody id="data-response">
                                            <tr role="row" *ngFor="let subject of icaoSubjects; let i = index;" id="p_{{subject.id}}"
                                                (click)="selectIcaoSubject(subject)"
                                                [class.success]="subject.isSelected">
                                                <td>{{subject.entityCode}}</td>
                                                <td>{{subject.name}}</td>
                                                <td>{{subject.nameFrench}}</td>
                                                <td>{{subject.code}}</td>
                                                <td>{{subject.scope}}</td>
                                                <td class="text-center"><i class="fa" [class.fa-check]="subject.requiresItemA"></i></td>
                                                <td class="text-center"><i class="fa" [class.fa-check]="subject.requiresScope"></i></td>
                                                <td class="text-center"><i class="fa" [class.fa-check]="subject.requiresSeries"></i></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <server-pagination [currentPage]="paging.currentPage"
                                                   [pageSize]="paging.pageSize"
                                                   [totalCount]="paging.totalCount"
                                                   [totalPages]="totalPages"
                                                   [sliderSize]="9"
                                                   (onPageChange)="onPageChange($event)"></server-pagination>

                                <div style="padding-left:0; margin-bottom:0; margin-top:10px">
                                    <div class="app-header">
                                        <h2><strong>{{'IcaoSubjectSession.IcaoConditions' | translate:lang}} {{'IcaoSubjectSession.PageTitle' | translate:lang}} </strong></h2>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="panel" style="background-color:#efefef">
                                                <div class="panel-header" style="padding:0px 0px 0px 7px;">
                                                    <button class="btn btn-sm btn-primary m-r-0"
                                                            style="margin-bottom:5px; margin-top:6px"
                                                            [routerLink]="['/administration/icaosubjects/createcondition', selectedIcaoSubject?.id]">
                                                        <i class="fa fa-plus m-r-10"></i>{{'Common.Add' | translate:lang}}
                                                    </button>
                                                    <button class="btn btn-sm btn-primary m-r-0 m-l-0"
                                                            style="margin-bottom:5px; margin-top:6px"
                                                            [disabled]="selectedIcaoCondition === null"
                                                            [routerLink]="['/administration/icaosubjects/editcondition', selectedIcaoCondition?.id]">
                                                        <i class="fa fa-pencil-square-o m-r-10"></i>{{'Common.Edit' | translate:lang}}
                                                    </button>
                                                    <button class="btn btn-sm btn-primary m-r-0 m-l-0"
                                                            style="margin-bottom:5px; margin-top:6px"
                                                            [disabled]="selectedIcaoCondition === null"
                                                            (click)="confirmDeleteIcaoCondition()">
                                                        <i class="fa fa-trash-o m-r-10"></i>{{'Common.Delete' | translate:lang}}
                                                    </button>
                                                </div>
                                                <div class="panel-content" style="padding:5px">
                                                    <table class="table table-hover table-dynamic table-responsive filter-footer dataTable" style="margin-bottom:0">
                                                        <thead>
                                                            <tr role="row" style="background-color: #c2c5bb">
                                                                <th tabindex="1" [class]="sortingClass(0, false)" (click)="sortCondition(0)" style="width: 15%;" rowspan="1" colspan="1">{{'IcaoSubjectSession.Description' | translate:lang}}</th>
                                                                <th tabindex="2" [class]="sortingClass(1, false)" (click)="sortCondition(1)" style="width: 15%;" rowspan="1" colspan="1">{{'IcaoSubjectSession.DescriptionFrench' | translate:lang}}</th>
                                                                <th tabindex="3" [class]="sortingClass(2, false)" (click)="sortCondition(2)" style="width: 7%;" rowspan="1" colspan="1">{{'IcaoSubjectSession.Code45' | translate:lang}}</th>
                                                                <th tabindex="4" [class]="sortingClass(3, false)" (click)="sortCondition(3)" style="width: 7%;" rowspan="1" colspan="1">{{'IcaoSubjectSession.Lower' | translate:lang}}</th>
                                                                <th tabindex="5" [class]="sortingClass(4, false)" (click)="sortCondition(4)" style="width: 7%;" rowspan="1" colspan="1">{{'IcaoSubjectSession.Upper' | translate:lang}}</th>
                                                                <th tabindex="6" [class]="sortingClass(5, false)" (click)="sortCondition(5)" style="width: 7%;" rowspan="1" colspan="1">{{'IcaoSubjectSession.Radius' | translate:lang}}</th>
                                                                <th tabindex="7" [class]="sortingClass(6, false)" (click)="sortCondition(6)" style="width: 7%;" rowspan="1" colspan="1">{{'IcaoSubjectSession.Traffic' | translate:lang}}</th>
                                                                <th tabindex="8" [class]="sortingClass(7, false)" (click)="sortCondition(7)" style="width: 7%;" rowspan="1" colspan="1">{{'IcaoSubjectSession.Purpose' | translate:lang}}</th>
                                                                <th tabindex="9" [class]="sortingClass(8, false)" (click)="sortCondition(8)" style="width: 7%;" rowspan="1" colspan="1">{{'IcaoSubjectSession.FGEntry' | translate:lang}}</th>
                                                                <th tabindex="10" [class]="sortingClass(9, false)" (click)="sortCondition(9)" style="width: 7%;" rowspan="1" colspan="1">{{'IcaoSubjectSession.ChangePurpose' | translate:lang}}</th>
                                                                <th tabindex="11" [class]="sortingClass(10, false)" (click)="sortCondition(10)" style="width: 7%;" rowspan="1" colspan="1">{{'IcaoSubjectSession.CancelOnly' | translate:lang}}</th>
                                                                <th tabindex="12" [class]="sortingClass(11, false)" (click)="sortCondition(11)" style="width: 7%;" rowspan="1" colspan="1">{{'IcaoSubjectSession.Active' | translate:lang}}</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody id="data-response">
                                                            <tr role="row" *ngFor="let condition of icaoConditions; let i = index;" id="p_{{condition.id}}"
                                                                (click)="selectIcaoCondition(condition)"
                                                                [class.success]="condition.isSelected">
                                                                <td>{{condition.description}}</td>
                                                                <td>{{condition.descriptionFrench}}</td>
                                                                <td>{{condition.code}}</td>
                                                                <td>{{condition.lower}}</td>
                                                                <td>{{condition.upper}}</td>
                                                                <td>{{condition.radius}}</td>
                                                                <td>{{condition.traffic}}</td>
                                                                <td>{{condition.purpose}}</td>
                                                                <td class="text-center"><i class="fa" [class.fa-check]="condition.requiresItemFG"></i></td>
                                                                <td class="text-center"><i class="fa" [class.fa-check]="condition.requiresPurpose"></i></td>
                                                                <td class="text-center"><i class="fa" [class.fa-check]="condition.cancellationOnly"></i></td>
                                                                <td class="text-center"><i class="fa" [class.fa-check]="condition.isActive"></i></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                                <img src="../../../content/images/animated_loading.gif" [style.display]="loadingConditions ? 'inherit': 'none'"
                                                     class="pull-right" style="width:150px; height:20px;" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<div id="modal-delete-subject" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header bg-danger">
                <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
                <h4 class="modal-title"><b>{{'IcaoSubjectSession.DeleteIcaoSubject' | translate:lang}}</b></h4>
            </div>
            <div class="modal-body">
                <b>{{'IcaoSubjectSession.DeleteIcaoSubjectConfirmation' | translate:lang}}</b>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="deleteIcaoSubject()">{{'Common.Yes' | translate:lang}}</button>
                <button type="button" class="btn btn-dark" data-dismiss="modal">{{'Common.No' | translate:lang}}</button>
            </div>
        </div>
    </div>
</div>

<div id="modal-delete-condition" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header bg-danger">
                <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
                <h4 class="modal-title"><b>{{'IcaoSubjectSession.DeleteIcaoCondition' | translate:lang}}</b></h4>
            </div>
            <div class="modal-body">
                <b>{{'IcaoSubjectSession.DeleteIcaoConditionConfirmation' | translate:lang}}</b>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="deleteIcaoCondition()">{{'Common.Yes' | translate:lang}}</button>
                <button type="button" class="btn btn-dark" data-dismiss="modal">{{'Common.No' | translate:lang}}</button>
            </div>
        </div>
    </div>
</div>


