﻿<div class="app-header">
    <h2>
        <strong>{{'Common.Edit' | translate:lang}} {{'IcaoSubjectSession.IcaoConditions' | translate:lang}} </strong> 
    </h2>
</div>

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <form [formGroup]="icaoConditionForm" class="form" autocomplete="off" (ngSubmit)="onSubmit()" novalidate="novalidate">

            <div class="panel bg-blue-dark">
                <div class="panel-header">
                    <h3><i class="fa fa-building-o"></i> <strong>{{'IcaoSubjectSession.IcaoConditionDetails' | translate:lang}}</strong></h3>
                    <div class="control-btn">
                        <a href="#" class="panel-toggle"><i class="fa fa-angle-down"></i></a>
                    </div>
                </div>
                <div class="panel-content bg-white">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label">{{'IcaoSubjectSession.ConditionDesc' | translate:lang}}</label>
                                <div class="append-icon">
                                    <input id="description" formControlName="description" type="text"
                                           placeholder="{{'IcaoSubjectSession.ConditionDesc' | translate:lang}}"
                                           class="form-control form-white"
                                           [ngClass]="{'form-error': !validateDescription() }">
                                    <i class="fa fa-info"></i>
                                    <div *ngIf="!validateDescription() && icaoConditionForm.controls.description.errors" class="form-error">{{'IcaoSubjectSession.ValidateConditionDesc' | translate:lang}}</div>
                                    <div *ngIf="validateDescriptionLength('description')" class="form-error">{{'IcaoSubjectSession.ValidateNameLength' | translate:lang}}</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label">{{'IcaoSubjectSession.ConditionDescFrench' | translate:lang}}</label>
                                <div class="append-icon">
                                    <input id="descriptionFrench" formControlName="descriptionFrench" type="text"
                                           placeholder="{{'IcaoSubjectSession.ConditionDescFrench' | translate:lang}}"
                                           class="form-control form-white"
                                           [ngClass]="{'form-error': !validateDescriptionFrench() }">
                                    <i class="fa fa-info"></i>
                                    <div *ngIf="!validateDescriptionFrench() && icaoConditionForm.controls.descriptionFrench.errors" class="form-error">{{'IcaoSubjectSession.ValidateConditionDescFrench' | translate:lang}}</div>
                                    <div *ngIf="validateDescriptionLength('descriptionFrench')" class="form-error">{{'IcaoSubjectSession.ValidateNameLength' | translate:lang}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <div class="form-group">
                                <label class="form-label">{{'IcaoSubjectSession.Radius' | translate:lang}} <span class="f-8" style="font-weight:normal">(NM)</span></label>
                                <div class="input-group">
                                    <span class="input-group-addon btn btn-plus-minus" style="padding:7px 11px 8px;" (click)="decValue('radius')">-</span>
                                    <input id="radius" formControlName="radius" class="form-control" type="text"
                                           (keypress)="validateKeyPressNumber($event)"
                                           [class.form-white]="!isReadOnly" [ngClass]="{'form-error': !validateRadius() }" />
                                    <span class="input-group-addon btn btn-plus-minus" style="padding:7px 10px 8px;" (click)="incValue('radius')">+</span>
                                </div>
                                <div style="padding-left:20px">
                                    <div *ngIf="!validateRadius() && icaoConditionForm.get('radius').errors && icaoConditionForm.get('radius').errors.required" class="form-error">{{'IcaoSubjectSession.ValidateRadiusRequired' | translate:lang}}</div>
                                    <div *ngIf="!validateRadius() && icaoConditionForm.get('radius').errors && icaoConditionForm.get('radius').errors.invalid" class="form-error">{{'IcaoSubjectSession.ValidateRadiusInputInvalid' | translate:lang}}</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-offset">
                            <div class="form-group">
                                <label class="form-label">{{'IcaoSubjectSession.LowerLimit' | translate:lang}} <span class="f-8" style="font-weight:normal">(FL)</span></label>
                                <div class="input-group">
                                    <span class="input-group-addon btn btn-plus-minus" style="padding:7px 11px 8px" (click)="decValue('lowerLimit')">-</span>
                                    <input id="lowerLimit" formControlName="lowerLimit" class="form-control" type="text"
                                           (keypress)="validateKeyPressNumber($event)"
                                           [ngClass]="{'form-error': !validateLowerLimit() }" [class.form-white]="!isReadOnly">
                                    <span class="input-group-addon btn btn-plus-minus" style="padding:7px 10px 8px" (click)="incValue('lowerLimit')">+</span>
                                </div>
                                <div style="padding-left:20px">
                                    <div *ngIf="!validateLowerLimit()" class="form-error">{{'IcaoSubjectSession.ValidateInputInvalid' | translate:lang}}</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label class="form-label">{{'IcaoSubjectSession.UpperLimit' | translate:lang}} <span class="f-8" style="font-weight:normal">(FL)</span></label>
                                <div class="input-group">
                                    <span class="input-group-addon btn btn-plus-minus" style="padding:7px 11px 8px" (click)="decValue('upperLimit')">-</span>
                                    <input id="upperLimit" formControlName="upperLimit" class="form-control" type="text"
                                           (keypress)="validateKeyPressNumber($event)"
                                           [ngClass]="{'form-error': !validateUpperLimit() }" [class.form-white]="!isReadOnly">
                                    <span class="input-group-addon btn btn-plus-minus" style="padding:7px 10px 8px" (click)="incValue('upperLimit')">+</span>
                                </div>
                                <div style="padding-left:20px">
                                    <div *ngIf="!validateUpperLimit()" class="form-error">{{'IcaoSubjectSession.ValidateInputInvalid' | translate:lang}}</div>
                                    <!--<div *ngIf="icaoConditionForm.get('upperLimit').errors && icaoConditionForm.get('upperLimit').errors.required" class="form-error">{{'IcaoSubjectSession.ValidateUpperLimitRequired' | translate:lang}}</div>
                                    <div *ngIf="icaoConditionForm.get('upperLimit').errors && icaoConditionForm.get('upperLimit').errors.invalid" class="form-error">{{'IcaoSubjectSession.ValidateInputInvalid' | translate:lang}}</div>
                                    <div *ngIf="icaoConditionForm.get('upperLimit').errors && icaoConditionForm.get('upperLimit').errors.invalidUpperLimitRange" class="form-error">{{'IcaoSubjectSession.ValidateUpperLimitRange' | translate:lang}}</div>-->
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="form-label">{{'IcaoSubjectSession.AllowModifications' | translate:lang}}</label>
                                <br />
                                <div class="input-group">
                                    <div class="icheck-inline">
                                        <label>
                                            <iCheck [isChecked]="icaoConditionForm.get('requiresItemFG').value" (change)="checkboxChanged('requiresItemFG', $event)">{{'IcaoSubjectSession.FGEntry' | translate:lang}}</iCheck>
                                        </label>
                                        <label>
                                            <iCheck [isChecked]="icaoConditionForm.get('requiresPurpose').value" (change)="checkboxChanged('requiresPurpose', $event)">{{'IcaoSubjectSession.ChangePurpose' | translate:lang}}</iCheck>
                                        </label>
                                        <label>
                                            <iCheck [isChecked]="icaoConditionForm.get('cancellationOnly').value" (change)="checkboxChanged('cancellationOnly', $event)">{{'IcaoSubjectSession.CancelOnly' | translate:lang}}</iCheck>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label class="control-label">{{'IcaoSubjectSession.Code45' | translate:lang}}</label>
                                <div class="append-icon">
                                    <input id="code" formControlName="code" type="text"
                                           placeholder="{{'IcaoSubjectSession.Code45' | translate:lang}}"
                                           (keypress)="validateKeyPressLetter($event)"
                                           class="form-control form-white"
                                           minlenght="2" maxlength="2" style="text-transform:uppercase"
                                           [ngClass]="{'form-error': !validateCode45() }">
                                    <i class="fa fa-building-o"></i>
                                    <div *ngIf="!validateCode45()" class="form-error">{{'IcaoSubjectSession.ValidateEntityCode' | translate:lang}}</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3" formGroupName="grpPurposes">
                            <div class="form-group">
                                <label class="form-label">{{'IcaoSubjectSession.Purpose' | translate:lang}}</label>
                                <div class="input-group">
                                    <div class="icheck-inline">
                                        <label>
                                            <iCheck [isChecked]="icaoConditionForm.get('grpPurposes.purposeN').value" (change)="checkboxChanged('grpPurposes.purposeN', $event)">N</iCheck>
                                        </label>
                                        <label>
                                            <iCheck [isChecked]="icaoConditionForm.get('grpPurposes.purposeB').value" (change)="checkboxChanged('grpPurposes.purposeB', $event)">B</iCheck>
                                        </label>
                                        <label>
                                            <iCheck [isChecked]="icaoConditionForm.get('grpPurposes.purposeO').value" (change)="checkboxChanged('grpPurposes.purposeO', $event)">O</iCheck>
                                        </label>
                                        <label>
                                            <iCheck [isChecked]="icaoConditionForm.get('grpPurposes.purposeM').value" (change)="checkboxChanged('grpPurposes.purposeM', $event)">M</iCheck>
                                        </label>
                                    </div>
                                </div>
                                <div>
                                    <div *ngIf="icaoConditionForm.dirty && icaoConditionForm.get('grpPurposes').errors && icaoConditionForm.get('grpPurposes').errors.purposeRequired" class="form-error">
                                        {{'IcaoSubjectSession.ValidatePurposeRequired' | translate:lang}}
                                    </div>
                                    <div *ngIf="icaoConditionForm.dirty && icaoConditionForm.get('grpPurposes').errors && icaoConditionForm.get('grpPurposes').errors.purposeInvalid" class="form-error">
                                        {{'IcaoSubjectSession.ValidatePurposeInvalid' | translate:lang}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3" formGroupName="grpTraffic">
                            <div class="form-group">
                                <label class="form-label">Traffic Conditions</label>
                                <div class="input-group">
                                    <div class="icheck-inline">
                                        <label>
                                            <iCheck [isChecked]="icaoConditionForm.get('grpTraffic.trafficI').value" (change)="checkboxChanged('grpTraffic.trafficI', $event)">I</iCheck>
                                        </label>
                                        <label>
                                            <iCheck [isChecked]="icaoConditionForm.get('grpTraffic.trafficV').value" (change)="checkboxChanged('grpTraffic.trafficV', $event)">V</iCheck>
                                        </label>
                                    </div>
                                </div>
                                <div *ngIf="icaoConditionForm.dirty && icaoConditionForm.get('grpTraffic').errors" class="form-error">
                                    {{'IcaoSubjectSession.ValidateTrafficRequired' | translate:lang}}
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label class="form-label">{{'IcaoSubjectSession.Status' | translate:lang}}</label>
                                <br />
                                <div class="input-group">
                                    <div class="icheck-inline">
                                        <label>
                                            <iCheck [isChecked]="icaoConditionForm.get('active').value" (change)="checkboxChanged('active', $event)">{{'IcaoSubjectSession.Active' | translate:lang}}</iCheck>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="text-center  m-t-20">
                        <button class="btn btn-embossed btn-primary" type="submit" [disabled]="disableSubmit()">{{'Common.Save' | translate:lang}}</button>
                        <button class="cancel btn btn-embossed btn-default m-b-10 m-r-0" type="reset" (click)="backToIcaoSubjectList()">{{'Common.Cancel' | translate:lang}}</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

