﻿@{
    ViewData["Title"] = Resources.HomePageTitle;
}

<script>
    function loginButtonClick() {
        location.href = "@Url.Content("~")Dashboard";
    }

    function registerButtonClick() {
        location.href = "@Url.Content("~")Account/Register";
    }

    function logoffButtonClick() {
        document.getElementById('logoutForm').submit();
    }
</script>

<div class="row">
    <!-- centered content -->
    <div class="col-md-12">
        <!-- top container -->
        <div class="container">
            <div class="panel">
                <div class="panel-content home-top-panel">
                    <div class="row">
                        <div class="col-xlg-5 col-lg-5">
                            <div class="row">
                                <div class="col-md-12">
                                    <img src="~/content/Images/NavCanada.png" class="img-responsive img-rounded center-block">
                                </div>
                            </div>
                        </div>
                        <div class="col-xlg-7 col-lg-7">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="text-center">
                                        <h1><b>@Resources.WelcomeMessageHeader</b></h1>
                                        <p class="text-center">@Resources.WelcomeMessage</p>
                                    </div>
                                    @if (User.Identity.IsAuthenticated)
                                    {
                                        <div class="row">
                                            <div class="col-md-12 text-center">
                                                <p class="text-center">@Html.Raw(Resources.WelcomeMessageLogoff)</p>
                                                <button class="btn btn-blue home-button" onclick="logoffButtonClick()">@Resources.LogoffButtonLabel</button>
                                            </div>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="row">
                                            <div class="col-md-12 text-center">
                                                <p class="text-center">@Html.Raw(Resources.WelcomeMessageLogin)</p>
                                                <button class="btn btn-blue home-button" onclick="loginButtonClick()">@Resources.LoginButtonLabel</button>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12 text-center">
                                                <p class="text-center">@Html.Raw(Resources.WelcomeMessageRegister)</p>
                                                <button class="btn btn-blue home-button" onclick="registerButtonClick()">@Resources.RegisterButtonLabel</button>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- center container -->
        <div class="container">
            <div class="panel">
                <div class="panel-content home-mid-panel">
                    <div class="row">
                        <div class="text-center">
                            <h2 style="margin-top: 0px">@Resources.HowItWorks</h2>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div style="padding: 10px">
                                    <img class="center-block" src="~/content/images/create_notams_icon.png" />
                                    <div class="text-center">
                                        <h4>@Resources.CreateNOTAMs</h4>
                                    </div>
                                    <div class="text-center">
                                        @Resources.CreateNOTAMDescription
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div style="padding: 10px">
                                    <img class="center-block" src="~/content/images/review_notam_icon.png" />
                                    <div class="text-center">
                                        <h4>@Resources.ReviewNOTAMs</h4>
                                    </div>
                                    <div class="text-center">
                                        @Resources.ReviewNOTAMDescription
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div style="padding: 10px">
                                    <img class="center-block" src="~/content/images/run_reports_icon.png" />
                                    <div class="text-center">
                                        <h4>@Resources.RunReports</h4>
                                    </div>
                                    <div class="text-center">
                                        @Resources.RunResportsDescription
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- bottom container -->
        <div class="container">
            <div class="panel">
                <div class="panel-content home-bottom-panel">
                    <div class="row">
                        <div class="col-md-3">
                            <label>Applications</label><br />
                            <ul class="list-unstyled">
                                <li>
                                    <a href="~/dashboard">@Resources.Dashboard</a>
                                </li>
                                <li>
                                    <a href="@ViewData["AdminSiteUrl"]" target="_admin">@Resources.Administration</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-3">
                            <label>Documentation</label>
                            <ul class="list-unstyled">
                                <li>
                                    <a href="#">ICAO NOTAM Format</a>
                                </li>
                                <li>
                                    <a href="#">User Documentation</a>
                                </li>
                                <li>
                                    <a href="#">Legal Documentation</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-3">
                            <label>Contacts</label><br />
                            <ul class="list-unstyled">
                                <li>
                                    <a href="#">About NavCanada</a>
                                </li>
                                <li>
                                    <a href="#">@Resources.ApplicationName</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-3">
                            <label>News</label><br />
                            <ul class="list-unstyled">
                                <li>
                                    <a href="#">Current News</a>
                                </li>
                                <li>
                                    <a href="#">Training</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
