﻿<div class="panel bg-blue-dark" [formGroup]="nsdFrmGroup">
    <div class="panel-header">
        <h3><i class="fa fa-plane"></i> <strong>{{'Nsd.AeroNauticalSubCondHeader' | translate:lang}}</strong></h3>
        <div class="control-btn">
            <a href="#" class="panel-toggle"><i class="fa fa-angle-down"></i></a>
        </div>
    </div>
    <div class="panel-content bg-white">
        <div class="row">
            <div class="col-sm-10">
                <div class="form-group">
                    <label class="form-label">{{'Nsd.ItemA' | translate:lang}}</label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-search"></i></span>
                        <select2 [value]="nsdFrmGroup.get('subjectId').value"
                                 [data]="subjects"
                                 [disabled]="isReadOnly || proposalType === 1"
                                 [options]="select2Options()"></select2>
                    </div>
                    <div *ngIf="!validateSubjectId() && nsdFrmGroup.controls.subjectId.errors.required" class="form-error">{{'ErrorMsgs.SubjectRequired' | translate:lang}}</div>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="form-group">
                    <div>
                        <label class="form-label">{{'NdsClient.Override' | translate:lang}}</label>
                        <div>
                            <label class="switch m-r-20">
                                <input class="switch-input" type="checkbox"
                                       (change)="toogleOverrideBilingual($event)"
                                       [checked]="isBilingualRegion || overrideBilingual"
                                       [disabled]="isBilingualRegion ||isReadOnly" />

                                <span class="switch-label" attr.data-off="{{'Switch.No' | translate:lang}}" attr.data-on="{{'Switch.Yes' | translate:lang}}"></span>
                                <span class="switch-handle"></span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>{{'Nsd.IcaoSubject' | translate:lang}}</label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-reorder"></i></span>
                        <select2 [value]="nsdFrmGroup.get('icaoSubjectId').value" 
                                 [disabled]="isReadOnly || disableIcaoSubjectSelect || proposalType === 1"
                                 [data]="icaoSubjects"
                                 (valueChanged)="icaoSubjectChanged($event)"
                                 [options]="icaoSubjectSelectOptions"></select2>
                    </div>
                    <div *ngIf="!validateIcaoSubjectId()" class="form-error" style="margin-top:10px;">{{'ErrorMsgs.IcaoSubjectId' | translate:lang}}</div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>{{'Nsd.IcaoCondition' | translate:lang}}</label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-random"></i></span>
                        <select2 [value]="nsdFrmGroup.get('icaoConditionId').value"
                                 [disabled]="isReadOnly || disableIcaoConditionSelect"
                                 [data]="icaoConditions"
                                 (valueChanged)="icaoConditionChanged($event)"
                                 [options]="icaoConditionSelectOptions"></select2>
                    </div>
                    <div *ngIf="!validateIcaoConditionId()" class="form-error" style="margin-top:10px;">{{'ErrorMsgs.IcaoSubjectId' | translate:lang}}</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="form-label">{{'Nsd.Location' | translate:lang}}</label>
                    <div class="append-icon">
                        <i class="fa fa-map-marker"></i>
                        <input id="subjectLocation" formControlName="subjectLocation" type="text" class="form-control"
                               [ngClass]="{'form-error': !validateSubjectLocation() }" [class.form-white]="!isReadOnly"
                               placeholder="{{'Nsd.Location' | translate:lang}}" style="text-transform:uppercase; font-size: 10px !important">
                    </div>
                    <div *ngIf="!validateSubjectLocation() || !locationInDoa" class="form-error">{{'ErrorMsgs.SubjectLocation' | translate:lang}}</div>
                </div>
            </div>
            <div class="col-md-2" *ngIf="nsdFrmGroup.get('icaoConditionId').value != -1">
                <div class="form-group">
                    <label class="form-label">{{'Nsd.Radius' | translate:lang}} <span class="f-8" style="font-weight:normal">(NM)</span></label>
                    <div class="input-group">
                        <span class="input-group-addon btn btn-plus-minus" style="padding:7px 11px 8px;" (click)="decValue('radius')">-</span>
                        <input id="radius" formControlName="radius" class="form-control" type="text"  
                               (keypress)="validateKeyPressNumber($event)"
                               [class.form-white]="!isReadOnly" [ngClass]="{'form-error': !validateRadius() }"/>
                        <span class="input-group-addon btn btn-plus-minus" style="padding:7px 10px 8px;" (click)="incValue('radius')">+</span>
                    </div>
                    <div style="padding-left:20px">
                        <div *ngIf="!validateRadius() && nsdFrmGroup.get('radius').errors && nsdFrmGroup.get('radius').errors.required" class="form-error">{{'ErrorMsgs.RadiusRequired' | translate:lang}}</div>
                        <div *ngIf="!validateRadius() && nsdFrmGroup.get('radius').errors && nsdFrmGroup.get('radius').errors.invalid" class="form-error">{{'ErrorMsgs.RadiusInvalid' | translate:lang}}</div>
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-sm-offset" *ngIf="requireLowerUpperLimit()">  
                <div class="form-group">
                    <label class="form-label">{{'Nsd.LowerLimit' | translate:lang}} <span class="f-8" style="font-weight:normal">(FL)</span></label>
                    <div class="input-group">
                        <span class="input-group-addon btn btn-plus-minus" style="padding:7px 11px 8px" 
                              [ngClass]="{'btn btn-plus-minus' : !nsdFrmGroup.get('grpItemFG.itemFSurface').value}"
                              (click)="decValue('lowerLimit')">-</span>
                        <input id="lowerLimit" formControlName="lowerLimit" class="form-control" type="text"
                               (keypress)="validateKeyPressNumber($event)"
                               [ngClass]="{'form-error': !validateLowerLimit() }" [class.form-white]="!isReadOnly">
                        <span class="input-group-addon btn btn-plus-minus" style="padding:7px 10px 8px" 
                              [ngClass]="{'btn btn-plus-minus' : !nsdFrmGroup.get('grpItemFG.itemFSurface').value}"
                              (click)="incValue('lowerLimit')">+</span>
                    </div>
                    <div style="padding-left:20px">
                        <div *ngIf="nsdFrmGroup.get('lowerLimit').errors && nsdFrmGroup.get('lowerLimit').errors.required" class="form-error">{{'ErrorMsgs.LowerLimitRequired' | translate:lang}}</div>
                        <div *ngIf="nsdFrmGroup.get('lowerLimit').errors && nsdFrmGroup.get('lowerLimit').errors.invalid" class="form-error">{{'ErrorMsgs.LowerLimitInvalid' | translate:lang}}</div>
                        <div *ngIf="nsdFrmGroup.get('lowerLimit').errors && nsdFrmGroup.get('lowerLimit').errors.invalidLowerLimitRange" class="form-error">{{'ErrorMsgs.LowerLimitRangeError' | translate:lang}}</div>
                    </div>
                </div>
            </div>
            <div class="col-md-2" *ngIf="requireLowerUpperLimit()"> 
                <div class="form-group">
                    <label class="form-label">{{'Nsd.UpperLimit' | translate:lang}} <span class="f-8" style="font-weight:normal">(FL)</span></label>
                    <div class="input-group">
                        <span class="input-group-addon btn btn-plus-minus" style="padding:7px 11px 8px" 
                              [ngClass]="{'btn btn-plus-minus' : !nsdFrmGroup.get('grpItemFG.itemGUnlimited').value}"
                              (click)="decValue('upperLimit')">-</span>
                        <input id="upperLimit" formControlName="upperLimit" class="form-control" type="text"
                               (keypress)="validateKeyPressNumber($event)"
                               [ngClass]="{'form-error': !validateUpperLimit() }" [class.form-white]="!isReadOnly" >
                        <span class="input-group-addon btn btn-plus-minus" style="padding:7px 10px 8px" 
                              [ngClass]="{'btn btn-plus-minus' : !nsdFrmGroup.get('grpItemFG.itemGUnlimited').value}"
                              (click)="incValue('upperLimit')">+</span>
                    </div>
                    <div style="padding-left:20px">
                        <div *ngIf="nsdFrmGroup.get('upperLimit').errors && nsdFrmGroup.get('upperLimit').errors.required" class="form-error">{{'ErrorMsgs.UpperLimitRequired' | translate:lang}}</div>
                        <div *ngIf="nsdFrmGroup.get('upperLimit').errors && nsdFrmGroup.get('upperLimit').errors.invalid" class="form-error">{{'ErrorMsgs.UpperLimitInvalid' | translate:lang}}</div>
                        <div *ngIf="nsdFrmGroup.get('upperLimit').errors && nsdFrmGroup.get('upperLimit').errors.invalidUpperLimitRange" class="form-error">{{'ErrorMsgs.UpperLimitRangeError' | translate:lang}}</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" formGroupName="grpItemFG" *ngIf="requireItemFG()">
            <div class="col-md-6">
                <label class="form-label">{{'Nsd.ItemF' | translate:lang}}</label>
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-5">
                            <div class="form-group">
                                <p>{{'Nsd.Limit' | translate:lang}}</p>
                                <div class="input-group">
                                    <span class="input-group-addon" [ngClass]="{'btn btn-plus-minus' : !nsdFrmGroup.get('grpItemFG.itemFSurface').value}"      
                                          style="padding:7px 11px 8px" (click)="decValue('itemF')">-</span>
                                    <input id="itemFValue" formControlName="itemFValue" class="form-control" type="text" 
                                        (keypress)="validateKeyPressNumber($event)"
                                        [class.form-white]="!isReadOnly" [ngClass]="{'form-error': itemFErrors() }"/>                                           
                                    <span class="input-group-addon" [ngClass]="{'btn btn-plus-minus' : !nsdFrmGroup.get('grpItemFG.itemFSurface').value}" 
                                          style="padding:7px 10px 8px" (click)="incValue('itemF')">+</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <p>{{'Nsd.UnitOfMeasure' | translate:lang}}</p>
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-random"></i></span>
                                    <select2 [data]="units"
                                             [value]="nsdFrmGroup.get('grpItemFG.itemFUnits').value"
                                             [disabled]="isReadOnly || nsdFrmGroup.get('grpItemFG.itemFSurface').value"
                                             [options]="{width: '100%'}"
                                             (valueChanged)="itemFUnitChanged($event)"></select2>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <p>{{'Nsd.Surface' | translate:lang}}</p>
                                <div>
                                    <label class="switch m-r-20">
                                        <!--todo: use the iCheck control-->
                                        <input id="itemFSurface" formControlName="itemFSurface" class="switch-input" type="checkbox" 
                                           [checked]="nsdFrmGroup.get('grpItemFG.itemFSurface').value === true">
                                        <span class="switch-label" attr.data-off="{{'Switch.No' | translate:lang}}" attr.data-on="{{'Switch.Yes' | translate:lang}}"></span>
                                        <span class="switch-handle"></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="padding-left:20px">
                        <div *ngIf="itemFErrors()" class="form-error">{{itemFErrorMessage}}</div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <label class="form-label">{{'Nsd.ItemG' | translate:lang}}</label>
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-5">
                            <div class="form-group">
                                <p>{{'Nsd.Limit' | translate:lang}}</p>
                                <div class="input-group">
                                    <span class="input-group-addon" [ngClass]="{'btn btn-plus-minus' : !nsdFrmGroup.get('grpItemFG.itemGUnlimited').value}"
                                          style="padding:7px 11px 8px" (click)="decValue('itemG')">-</span>
                                    <input id="itemGValue" formControlName="itemGValue" class="form-control" type="text" 
                                        (keypress)="validateKeyPressNumber($event)"
                                        [class.form-white]="!isReadOnly" [ngClass]="{'form-error': itemGErrors() }"/>                                           
                                    <span class="input-group-addon" [ngClass]="{'btn btn-plus-minus' : !nsdFrmGroup.get('grpItemFG.itemGUnlimited').value}"
                                          style="padding:7px 10px 8px" (click)="incValue('itemG')">+</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <p>{{'Nsd.UnitOfMeasure' | translate:lang}}</p>
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-balance-scale"></i></span>
                                    <select2 [data]="units"
                                             [value]="nsdFrmGroup.get('grpItemFG.itemGUnits').value"
                                             [disabled]="isReadOnly || nsdFrmGroup.get('grpItemFG.itemGUnlimited').value"
                                             [options]="{width: '100%'}"
                                             (valueChanged)="itemGUnitChanged($event)"></select2>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <p>{{'Nsd.Unlimited' | translate:lang}}</p>
                                <div>
                                    <label class="switch m-r-20">
                                        <input id="itemGUnlimited" formControlName="itemGUnlimited" class="switch-input" type="checkbox"
                                               [checked]="nsdFrmGroup.get('grpItemFG.itemGUnlimited').value === true">
                                        <span class="switch-label" attr.data-off="{{'Switch.No' | translate:lang}}" attr.data-on="{{'Switch.Yes' | translate:lang}}"></span>
                                        <span class="switch-handle"></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="padding-left:20px">
                    <div *ngIf="itemGErrors()" class="form-error">{{itemGErrorMessage}}</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2" formGroupName="grpTraffic">
                <div class="form-group">
                    <label class="form-label">{{'Nsd.Traffic' | translate:lang}}</label>
                    <div class="input-group">
                        <div class="icheck-inline">
                            <label>
                                <iCheck [isChecked]="nsdFrmGroup.get('grpTraffic.trafficI').value"  [disabled]="isTrafficDisabled || isReadOnly"
                                        (change)="checkboxChanged('grpTraffic.trafficI', $event)">I</iCheck>
                            </label>
                            <label>
                                <iCheck [isChecked]="nsdFrmGroup.get('grpTraffic.trafficV').value"  [disabled]="isTrafficDisabled || isReadOnly"
                                        (change)="checkboxChanged('grpTraffic.trafficV', $event)">V</iCheck>
                            </label>
                        </div>
                    </div>
                    <div *ngIf="nsdFrmGroup.get('grpTraffic').errors" class="form-error">
                        {{'ErrorMsgs.TrafficRequired' | translate:lang}}
                    </div>
                </div>
            </div>
            <div class="col-md-3" formGroupName="grpPurposes" *ngIf="nsdFrmGroup.get('requiresPurpose').value" >
                <div class="form-group">
                    <label class="form-label">{{'Nsd.Purpose' | translate:lang}}</label>
                    <div class="input-group">
                        <div class="icheck-inline">
                            <label>
                                <iCheck [isChecked]="nsdFrmGroup.get('grpPurposes.purposeN').value"  [disabled]="isReadOnly"
                                        (change)="checkboxChanged('grpPurposes.purposeN', $event)">N</iCheck>     
                            </label>
                            <label>
                                <iCheck [isChecked]="nsdFrmGroup.get('grpPurposes.purposeB').value"  [disabled]="isReadOnly"
                                        (change)="checkboxChanged('grpPurposes.purposeB', $event)">B</iCheck>     
                            </label>
                            <label>
                                <iCheck [isChecked]="nsdFrmGroup.get('grpPurposes.purposeO').value"  [disabled]="isReadOnly"
                                        (change)="checkboxChanged('grpPurposes.purposeO', $event)">O</iCheck>     
                            </label>
                            <label>
                                <iCheck [isChecked]="nsdFrmGroup.get('grpPurposes.purposeM').value"  [disabled]="isReadOnly"
                                        (change)="checkboxChanged('grpPurposes.purposeM', $event)">M</iCheck>     
                            </label>
                        </div>
                    </div>
                    <div>
                        <div *ngIf="nsdFrmGroup.get('grpPurposes').errors && nsdFrmGroup.get('grpPurposes').errors.purposeRequired" class="form-error">
                            {{'ErrorMsgs.PurposeRequired' | translate:lang}}
                        </div>
                        <div *ngIf="nsdFrmGroup.get('grpPurposes').errors && nsdFrmGroup.get('grpPurposes').errors.purposeInvalid" class="form-error">
                            {{'ErrorMsgs.PurposeInvalid' | translate:lang}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3" *ngIf="nsdFrmGroup.get('requiresItemA').value">
                <div class="form-group">
                    <label class="form-label">{{'Nsd.ItemA' | translate:lang}}</label>
                    <div class="append-icon">
                        <input id="itemA" formControlName="itemA" class="form-control" 
                               placeholder="{{'Nsd.ItemA' | translate:lang}}" style="text-transform:uppercase;" type="text"
                               [class.form-white]="nsdFrmGroup.get('itemA').enabled"
                               [ngClass]="{'form-error': nsdFrmGroup.get('itemA').errors }">
                        <i class="fa fa-terminal"></i>
                    </div>
                    <div *ngIf="nsdFrmGroup.get('itemA').errors && nsdFrmGroup.get('itemA').errors.required" class="form-error">
                        {{'ErrorMsgs.ItemARequired' | translate:lang}}
                    </div>
                    <div *ngIf="nsdFrmGroup.get('itemA').errors && nsdFrmGroup.get('itemA').errors.invalid" class="form-error">
                        {{'ErrorMsgs.ItemAInvalid' | translate:lang}}
                    </div>
                    <div *ngIf="nsdFrmGroup.get('itemA').errors && nsdFrmGroup.get('itemA').errors.invalid_fir" class="form-error">
                        {{'ErrorMsgs.ItemAInvalidOnList' | translate:lang}}
                    </div>
                    <div *ngIf="nsdFrmGroup.get('itemA').errors && nsdFrmGroup.get('itemA').errors.repeated_fir" class="form-error">
                        {{'ErrorMsgs.ItemARepeated' | translate:lang}}
                    </div>
                    <div *ngIf="nsdFrmGroup.get('itemA').errors && nsdFrmGroup.get('itemA').errors.invalid_adjadent_fir" class="form-error">
                        {{'ErrorMsgs.ItemAInvalidAdjFIR' | translate:lang}}
                    </div>
                </div>
            </div>
            <div class="col-md-2" *ngIf="nsdFrmGroup.get('requiresScope').value">
                <div class="form-group">
                    <label class="form-label">{{'Nsd.Scope' | translate:lang}}</label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-object-group"></i></span>
                        <select2 [data]="scopes" 
                                 [value]="nsdFrmGroup.get('scope').value"
                                 [disabled]="isReadOnly"   
                                 [options]="{width: '100%'}"
                                 (valueChanged)="scopeChanged($event)"></select2>
                    </div>
                </div>
            </div>
            <div class="col-md-2" *ngIf="nsdFrmGroup.get('requiresSeries').value">
                <div class="form-group">
                    <div class="form-group">
                        <label class="form-label">{{'Nsd.Series' | translate:lang}}</label>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-object-group"></i></span>
                            <select2 [data]="series"
                                     [options]="{width: '100%'}"
                                     [disabled]="isReadOnly || proposalType === 1"   
                                     [value]="nsdFrmGroup.get('series').value"
                                     (valueChanged)="seriesChanged($event)"></select2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div *ngIf="nonIcaoAerodrome" class="col-md-12">
                <div class="form-group">
                    <label class="form-label">{{'Nsd.AerodromeName' | translate:lang}}<span style="font-weight:normal"></span></label>
                    <div class="append-icon">
                        <input cols="80" rows="5" formControlName="aerodromeName" class="form-control" placeholder="{{'Nsd.AerodromeName' | translate:lang}}"
                               [class.form-white]="!isReadOnly" [ngClass]="{'form-error': !validateAerodromeName() }"
                               style="text-transform:uppercase; resize:vertical" />
                        <i class="fa fa-plane"></i>
                    </div>
                    <div *ngIf="!validateAerodromeName()" class="form-error">{{'ErrorMsgs.ICAOSubjectNameRequired' | translate:lang}}</div>
                </div>
            </div>
            <div *ngIf="overrideBilingual || isBilingualRegion" class="col-md-6">
                <div class="form-group">
                    <label class="form-label">{{'Nsd.ItemEDescription' | translate:lang}} <span style="font-weight:normal">{{'Nsd.EnglishDescription' | translate:lang}}</span></label>
                    <div class="append-icon">
                        <textarea cols="80" rows="5" formControlName="itemEValue"
                                  class="form-control itemEFont" placeholder="{{'Nsd.ItemEEn' | translate:lang}}"
                                  [class.form-white]="!isReadOnly" [ngClass]="{'form-error': !validateItemE() }"
                                  style="text-transform:uppercase; resize:vertical"></textarea>
                        <i class="fa fa-pencil-square-o"></i>
                    </div>
                    <div *ngIf="!validateItemE() && nsdFrmGroup.controls.itemEValue.errors.required" class="form-error">{{'ErrorMsgs.ItemERequired' | translate:lang}}</div>
                </div>
            </div>
            <div *ngIf="overrideBilingual || isBilingualRegion" class="col-md-6">
                <div class="form-group">
                    <label class="form-label">{{'Nsd.ItemEDescription' | translate:lang}} <span style="font-weight:normal">{{'Nsd.FrenchDescription' | translate:lang}}</span></label>
                    <div class="append-icon">
                        <textarea cols="80" rows="5" formControlName="itemEFrenchValue"
                                  class="form-control itemEFont" placeholder="{{'Nsd.ItemEFr' | translate:lang}}"
                                  [class.form-white]="!isReadOnly" [ngClass]="{'form-error': !validateItemEFrench() }"
                                  style="text-transform:uppercase; resize:vertical"></textarea>
                        <i class="fa fa-pencil-square-o"></i>
                        <div *ngIf="!validateItemEFrench()" class="form-error">{{'ErrorMsgs.ItemEFRequired' | translate:lang}}</div>
                    </div>
                </div>
            </div>
            <div *ngIf="!isBilingualRegion && !overrideBilingual" class="col-md-12">
                <div class="form-group">
                    <label class="form-label">{{'Nsd.ItemEDescription' | translate:lang}} <span style="font-weight:normal">{{'Nsd.EnglishDescription' | translate:lang}}</span></label>
                    <div class="append-icon">
                        <textarea cols="80" rows="5" formControlName="itemEValue"
                                    class="form-control itemEFont" placeholder="{{'Nsd.ItemEEn' | translate:lang}}"
                                    [class.form-white]="!isReadOnly" [ngClass]="{'form-error': !validateItemE() }"
                                    style="text-transform:uppercase; resize:vertical"></textarea>
                        <i class="fa fa-pencil-square-o"></i>
                    </div>
                    <div *ngIf="!validateItemE() && nsdFrmGroup.controls.itemEValue.errors.required" class="form-error">{{'ErrorMsgs.ItemERequired' | translate:lang}}</div>
                </div>
            </div>
        </div>
    </div>
    <input id="requiresSeries" formControlName="requiresSeries" type="hidden" />
    <input id="requiresItemA" formControlName="requiresItemA" type="hidden" />
    <input id="requiresScope" formControlName="requiresScope" type="hidden" />
    <input id="requiresPurpose" formControlName="requiresPurpose" type="hidden" />
    <input id="requiresItemFG" formControlName="requiresItemFG" type="hidden" />

    <input id="latitude" formControlName="latitude" type="hidden" />
    <input id="longitude" formControlName="longitude" type="hidden" />
</div>


