﻿
@using Westwind.Globalization;

<style scoped>
    .specialColumn{
        background-color: rgb(251, 233, 233);
    }

    .k-button{
        width:100px !important;
    }
    .allheight{
        height:100%;
    }
</style>

<div id="subjectGrid" class="allheight"></div>

<script id="subjectConditiontemplate" type="text/kendo-tmpl">
    <div class="conditionsGrid"></div>
</script>

<script>
@section Scripts{

    require(["admin/Controllers/IcaoSubject/Index"], function (index) {
        var labels = {
            subjectLabel: '@DbRes.T("Subject", "IcaoSubject")',
            nameLabel: '@DbRes.T("Name", "IcaoSubject")',
            nameFrenchLabel: '@DbRes.T("Name (French)", "IcaoSubject")',
            codeLabel: '@DbRes.T("Code", "IcaoSubject")',
            scopeLabel: '@DbRes.T("Scope", "IcaoSubject")',
            itemAUpdate: '@DbRes.T("Item A Update", "IcaoSubject")',
            scopeUpdate: '@DbRes.T("Scope Update", "IcaoSubject")',
            seriesUpdate: '@DbRes.T("Series Update", "IcaoSubject")',
            editLabel: '@DbRes.T("Edit", "IcaoSubject")',
            cancelLabel: '@DbRes.T("Cancel", "IcaoSubject")',
            updateLabel: '@DbRes.T("Update", "IcaoSubject")',
            deleteLabel: '@DbRes.T("Delete", "IcaoSubject")',
            addLabel: '@DbRes.T("Add", "IcaoSubject")',
            descriptionLabel: '@DbRes.T("Description", "IcaoSubject")',
            descriptionLabelFrench: '@DbRes.T("Description (French)", "IcaoSubject")',
            lowerLabel: '@DbRes.T("Lower", "IcaoSubject")',
            upperLabel: '@DbRes.T("Upper", "IcaoSubject")',
            radiusLabel: '@DbRes.T("Radius", "IcaoSubject")',
            codeLabel: '@DbRes.T("Code", "IcaoSubject")',
            traffic: '@DbRes.T("Traffic", "IcaoSubject")',
            purpose: '@DbRes.T("Purpose", "IcaoSubject")',
            fandGEntry: '@DbRes.T("F & G Entry", "IcaoSubject")',
            changePurpose: '@DbRes.T("Change Purpose", "IcaoSubject")',
            cancelOnly: '@DbRes.T("Cancel Only", "IcaoSubject")',
            activeLabel: '@DbRes.T("Active", "IcaoSubject")',            
            invalidScopeValue: '@DbRes.T("Invalid Scope, value should be A,E,W or AE", "IcaoSubject")',
            invalidTrafficValue: '@DbRes.T("Invalid Traffic, I, V or both should be selected", "IcaoSubject")',
        };
        index.init(labels);
    })

    }
</script>