﻿@using Westwind.Globalization;

<style scoped>
    #mainAction {
        width: 100%;
        height: 37px;
        padding-top: 8px;
    }

        #mainAction .k-button {
            width: 80px;
            float: right;
            margin-left: 5px;
        }

    .status {
        height: 30px;
    }

    .Invalid {
        border: 2px solid red;
        margin: -2px;
    }




    #GeoRegionWindow, #GeoRegionWindow form {
        height: 100%;
    }



        #GeoRegionWindow .k-tabstrip-wrapper {
            height: calc(100% - 45px);
            height: -moz-calc(100% - 45px);
            height: -webkit-calc(100% - 45px);
        }

    .fillContainer {
        height: 100%;
        width: 100%;
    }

  
</style>

<div id="GeoRegionWindow" style="display:none">
    <form id="GeoRegionForm">
        <input name="mapPlace" type="hidden" />

        <table class="fillContainer">
            <tr></tr>
            <tr>
                <td>
                    <label for="txtName">@DbRes.T("Name", "GeoRegions")</label>
                </td>
                <td>
                    <input type="text" id="txtName" name="txtName" data-bind="value: Name" />
                </td>

            </tr>
            <tr>
                <td colspan="99">
                    <h3 id="goeLabel">@DbRes.T("Geographical Region", "GeoRegions")</h3>
                </td>
            </tr>
            <tr style="height:100%">
                <td style="position: relative; height:82%; padding:0px;" colspan="99">
                    <div id="mapContainer" style="height:100%; width:100%; position:relative;"></div>
                </td>
            </tr>
            <tr>
                <td colspan="99">

                    <div id="mainAction">
                        <div class="status">
                            <span class="k-invalid-msg" data-for="txtName"></span>
                            <span class="k-invalid-msg" data-for="mapPlace"></span>
                            <button id="btnSave" type="submit" class="k-button">@DbRes.T("Save", "DOA")</button>
                            <button id="btnDiscard" type="button" class="k-button">@DbRes.T("Cancel", "DOA")</button>
                        </div>

                    </div>
                </td>
            </tr>

        </table>



    </form>
</div>

<div id="dataModel" data-model='@Html.Raw(Json.Encode(Model))'></div>


<script>
    require(["admin/Controllers/GeoRegions/GeoRegionEditor"], function (editor) {

        var labels = {
            doaEditor: '@DbRes.T("DOA Editor", "DOA")',
            regionNameIsReq: '@DbRes.T("Region Name is required", "DOA")',
            pleaseDefineGeoRegion: '@DbRes.T("Please define the Geographical region.", "DOA")',
            confirmLabel: '@DbRes.T("Confirm", "DOA")',
            areYouSureToDiscard: '@DbRes.T("Are you sure you want to discard changes and close this window?", "DOA")',
            errorLabel: '@DbRes.T("Error", "DOA")',
            errorSavingGeoRegion: '@DbRes.T("Error Saving Geo Region", "DOA")',
            areYouSureResetBilReg: '@DbRes.T("Are you sure you want to reset the bilingual region to None", "DOA")',
        };

        editor.init(labels);
    })

</script>
