﻿@using Westwind.Globalization;
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@Styles.Render("~/Content/kendo/kendoBundle")
@Styles.Render("~/Content/site")

<link type="text/css" rel="Stylesheet" href="@Url.Content("~/Content/jquery-ui-1.8.6.darkness/css/ui-darkness/jquery-ui-1.8.6.custom.css")" />
<h1>
    @DbRes.T("Geographical Regions", "GeoRegions")
</h1>
<div id="geoRegionsGrid"></div>

<div id="controlWindow"></div>


<script>
@section Scripts{
    require(["admin/Controllers/GeoRegions/Index"], function (index) {

        var labels = {
            createLabel: '@DbRes.T("Create", "GeoRegions")',
            nameLabel: '@DbRes.T("Name", "GeoRegions")',
            editLabel: '@DbRes.T("Edit", "GeoRegions")',
            deleteLabel: '@DbRes.T("Delete", "GeoRegions")',
            confirmLabel: '@DbRes.T("Confirm", "GeoRegions")',
            confirmDelete: '@DbRes.T("Are you sure you want to delete this region?", "GeoRegions")',
            errorLabel: '@DbRes.T("Error", "GeoRegions")',
            errorDeletingReg: '@DbRes.T("Error Deleting Region", "GeoRegions")'
        };

        index.init(labels);
    })
    }
</script>



