﻿<div class="panel bg-blue-dark" [formGroup]="nsdFrmGroup">
    <div class="panel-header">
        <h3><i class="fa fa-plane"></i> <strong>{{'Nsd.ObsLocation' | translate:lang}} &amp; {{'Nsd.Description' | translate:lang}}</strong></h3>
        <div class="control-btn">
            <a href="#" class="panel-toggle"><i class="fa fa-angle-down"></i></a>
        </div>
    </div>

    <!--nsd-body-->
    <div class="panel-content bg-white">
        <!--Obstacle Type-->
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <label class="form-label">{{'Nsd.ObsType' | translate:lang}}</label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-reorder"></i></span>
                        <select2 [value]="nsdFrmGroup.get('obstacleType').value"
                                 [data]="obstacleTypes"
                                 [disabled]="isReadOnly"
                                 (valueChanged)="setObjectType($event)"
                                 [options]="objectTypeSelectOptions()"></select2>
                    </div>
                </div>
                <div *ngIf="invalidMObstType()" class="form-error">{{'ErrorMsgs.ObsTypeRequired' | translate:lang}}</div>
            </div>
        </div>
        <div *ngIf="isOther" class="row">
            <!--bilingual-->
            <div *ngIf="isBilingualRegion" class="col-sm-6">
                <div class="form-group">
                    <div class="append-icon">
                        <input id="otherObstacleNameE" formControlName="otherObstacleNameE" type="text"
                               class="form-control form-white"
                               [ngClass]="{'form-error': !validateObstacleName() }"
                               placeholder="{{'Nsd.OtherDescriptionE' | translate:lang}}"
                               style="text-transform:uppercase; font-size: 10px !important">
                    </div>
                </div>
            </div>
            <div *ngIf="isBilingualRegion" class="col-sm-6">
                <div class="form-group">
                    <div class="append-icon">
                        <input id="otherObstacleNameF" formControlName="otherObstacleNameF" type="text"
                               class="form-control form-white"
                               placeholder="{{'Nsd.OtherDescriptionF' | translate:lang}}"
                               style="text-transform:uppercase; font-size: 10px !important">
                    </div>
                </div>
            </div>
            <!--non-bilingual-->
            <div *ngIf="!isBilingualRegion" class="col-sm-12">
                <div class="form-group">
                    <div class="append-icon">
                        <input id="otherObstacleNameE" formControlName="otherObstacleNameE" type="text"
                               class="form-control form-white"
                               [ngClass]="{'form-error': !validateObstacleName() }"
                               placeholder="{{'Nsd.OtherDescriptionE' | translate:lang}}"
                               style="text-transform:uppercase; font-size: 10px !important">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <!-- Radius or Points -->
            <div class="col-sm-1">
                <div class="form-group">
                    <label class="form-label">{{'Nsd.MObstMode' | translate:lang}}</label>
                    <div>
                        <label class="switch m-r-20">
                            <input id="areaType" formControlName="areaType" class="switch-input" type="checkbox">
                            <span class="switch-label" attr.data-off="{{'Switch.Radius' | translate:lang}}" attr.data-on="{{'Switch.Location' | translate:lang}}"></span>
                            <span class="switch-handle"></span>
                        </label>
                    </div>
                </div>
            </div>
            <!-- Location and Radius -->
            <div *ngIf="!isLine">
                <div class="col-sm-3">
                    <div class="form-group">
                        <label class="form-label">{{'Nsd.Location' | translate:lang}}</label>
                        <div class="append-icon">
                            <input id="location"
                                   formControlName="location" type="text" class="form-control"
                                   [ngClass]="{'form-error': !validateLocation() }"
                                   [class.form-white]="!isReadOnly"
                                   placeholder="{{'Nsd.Location' | translate:lang}}"
                                   spellcheck="false"
                                   style="text-transform:uppercase; font-size: 10px !important">
                            <i class="fa fa-map-marker"></i>
                        </div>
                        <div *ngIf="!validateLocation()" class="form-error">{{'Nsd.InvalidLocation' | translate:lang}}</div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group" style="margin-right: 20px;">
                        <label class="form-label">{{'Nsd.Radius' | translate:lang}}</label>&nbsp;<span>{{units}}</span>
                        <div class="input-group">
                            <span class="input-group-addon btn btn-plus-minus" style="padding:7px 11px 8px;" (click)="decRadiusValue()">-</span>
                            <input id="radius" formControlName="radius" class="form-control"
                                   (keypress)="validateRadiusKeyPressNumber($event)"
                                   [ngClass]="{'form-error': !validateRadius() }" [class.form-white]="!isReadOnly" type="text">
                            <span class="input-group-addon btn btn-plus-minus" style="padding:7px 10px 8px;" (click)="incRadiusValue()">+</span>
                        </div>
                        <div *ngIf="!validateRadius()" class="form-error">{{'Nsd.InvalidRadius' | translate:lang}}</div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label class="form-label">{{'Nsd.Units' | translate:lang}}</label>
                        <div>
                            <label class="switch m-r-20">
                                <input id="radiusUnit" formControlName="radiusUnit" class="switch-input" type="checkbox"
                                       (change)="changeUnits()">
                                <span class="switch-label" attr.data-off="{{'Switch.NM' | translate:lang}}" attr.data-on="{{'Switch.FT' | translate:lang}}"></span>
                                <span class="switch-handle"></span>
                            </label>
                        </div>
                    </div>
                </div>

            </div>
            <!-- Location From and To -->
            <div *ngIf="isLine">
                <div class="col-sm-3">
                    <div class="form-group">
                        <label class="form-label">{{'Nsd.LocationFrom' | translate:lang}}</label>
                        <div class="append-icon">
                            <input id="formPoint"
                                   formControlName="fromPoint" type="text" class="form-control"
                                   [ngClass]="{'form-error': !validateFromPoint() }"
                                   [class.form-white]="!isReadOnly"
                                   placeholder="{{'Nsd.LocationFrom' | translate:lang}}"
                                   spellcheck="false"
                                   style="text-transform:uppercase; font-size: 10px !important">
                            <i class="fa fa-map-marker"></i>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label class="form-label">{{'Nsd.LocationTo' | translate:lang}}</label>
                        <div class="append-icon">
                            <input id="toPoint"
                                   formControlName="toPoint" type="text" class="form-control"
                                   [ngClass]="{'form-error': !validateToPoint() }"
                                   [class.form-white]="!isReadOnly"
                                   placeholder="{{'Nsd.LocationTo' | translate:lang}}"
                                   spellcheck="false"
                                   style="text-transform:uppercase; font-size: 10px !important">
                            <i class="fa fa-map-marker"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Obstacle description -->
        <div *ngIf="isLine" class="row">
            <!--bilingual region-->
            <div *ngIf="isBilingualRegion" class="col-sm-6">
                <div class="form-group">
                    <label class="form-label">{{'Nsd.ODescE' | translate:lang}} <span style="font-weight:normal">{{'Nsd.EnglishDescription' | translate:lang}}</span></label>
                    <div class="append-icon">
                        <input id="obstacleDescriptionE" formControlName="obstacleDescriptionE" type="text"
                               class="form-control form-white"
                               [ngClass]="{'form-error': !validateDescriptionEng() }"
                               placeholder="{{'Nsd.ODescE' | translate:lang}}"
                               style="text-transform:uppercase; font-size: 10px !important">
                    </div>
                </div>
            </div>
            <div *ngIf="isBilingualRegion" class="col-sm-6">
                <div class="form-group">
                    <label class="form-label">{{'Nsd.ODescF' | translate:lang}} <span style="font-weight:normal">{{'Nsd.FrenchDescription' | translate:lang}}</span></label>
                    <div class="append-icon">
                        <input id="obstacleDescriptionF" formControlName="obstacleDescriptionF" type="text"
                               class="form-control form-white"
                               placeholder="{{'Nsd.ODescF' | translate:lang}}"
                               style="text-transform:uppercase; font-size: 10px !important">
                    </div>
                </div>
            </div>
            <!--non-bilingual region-->
            <div *ngIf="!isBilingualRegion" class="col-sm-12">
                <div class="form-group">
                    <label class="form-label">{{'Nsd.ODescE' | translate:lang}} <span style="font-weight:normal">{{'Nsd.EnglishDescription' | translate:lang}}</span></label>
                    <div class="append-icon">
                        <input id="obstacleDescriptionE" formControlName="obstacleDescriptionE" type="text"
                               class="form-control form-white"
                               [ngClass]="{'form-error': !validateDescriptionEng() }"
                               placeholder="{{'Nsd.ODescE' | translate:lang}}"
                               style="text-transform:uppercase; font-size: 10px !important">
                    </div>
                </div>
            </div>
        </div>

        <!-- Height, Elevation, Lighted and Painted -->
        <div class="row">
            <!--height-->
            <div class="col-sm-2">
                <div class="form-group" style="margin-right: 20px;">
                    <label class="form-label">{{'Nsd.Height' | translate:lang}}</label>
                    <div class="input-group">
                        <span class="input-group-addon btn btn-plus-minus" style="padding:7px 11px 8px;" (click)="decHeightValue()">-</span>
                        <input id="height" formControlName="height" class="form-control"
                               (keypress)="validateKeyPressNumber($event)"
                               maxlength="4"
                               [ngClass]="{'form-error': !validateHeight() }" [class.form-white]="!isReadOnly" type="text">
                        <span class="input-group-addon btn btn-plus-minus" style="padding:7px 10px 8px;" (click)="incHeightValue()">+</span>
                    </div>
                    <div *ngIf="nsdFrmGroup.get('height').errors && nsdFrmGroup.get('height').errors.required" class="form-error">{{'ErrorMsgs.HeightRequired' | translate:lang}}</div>
                    <div *ngIf="nsdFrmGroup.get('height').errors && nsdFrmGroup.get('height').errors.invalid" class="form-error">{{'ErrorMsgs.InputInvalid' | translate:lang}}</div>
                </div>
            </div>
            <!--elevation-->
            <div class="col-sm-2">
                <div class="form-group" style="margin-right: 20px;">
                    <label class="form-label">{{'Nsd.Elevation' | translate:lang}}</label>
                    <div class="input-group">
                        <span class="input-group-addon btn btn-plus-minus" style="padding:7px 11px 8px;" (click)="decElevationValue()">-</span>
                        <input id="elevation" formControlName="elevation" class="form-control"
                               (keypress)="validateKeyPressNumber($event)"
                               maxlength="5"
                               [ngClass]="{'form-error': !validateElevation() }" [class.form-white]="!isReadOnly" type="text">
                        <span class="input-group-addon btn btn-plus-minus" style="padding:7px 10px 8px;" (click)="incElevationValue()">+</span>
                    </div>
                    <div *ngIf="nsdFrmGroup.get('elevation').errors && nsdFrmGroup.get('elevation').errors.required" class="form-error">{{'ErrorMsgs.ElevationRequired' | translate:lang}}</div>
                    <div *ngIf="nsdFrmGroup.get('elevation').errors && nsdFrmGroup.get('elevation').errors.invalid" class="form-error">{{'ErrorMsgs.InputInvalid' | translate:lang}}</div>
                </div>
            </div>
            <!--lighted-->
            <div class="col-sm-2">
                <div class="form-group">
                    <label class="form-label">{{'Nsd.Light' | translate:lang}}</label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-reorder"></i></span>
                        <select2 [data]="lightValues"
                                 [value]="nsdFrmGroup.get('lighted').value"
                                 [disabled]="isReadOnly"
                                 (valueChanged)="setLightType($event)"
                                 [options]="{width: '100%'}"></select2>
                    </div>
                </div>
            </div>
            <div class="col-sm-1">

            </div>
            <!--painted-->
            <div class="col-sm-2">
                <div class="form-group">
                    <label class="form-label">{{'Nsd.Paint' | translate:lang}}</label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-reorder"></i></span>
                        <select2 [data]="paintValues"
                                 [value]="nsdFrmGroup.get('painted').value"
                                 [disabled]="isReadOnly"
                                 (valueChanged)="setPaintType($event)"
                                 [options]="{width: '100%'}"></select2>
                    </div>
                </div>
            </div>
            <div class="col-sm-1">

            </div>
            <!--ballmarks-->
            <div class="col-sm-2">
                <div class="form-group">
                    <label class="form-label">{{'Nsd.BallMarks' | translate:lang}}</label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-reorder"></i></span>
                        <select2 [data]="ballMarksValues"
                                 [value]="nsdFrmGroup.get('ballmarks').value"
                                 [disabled]="isReadOnly"
                                 (valueChanged)="setBallmarksType($event)"
                                 [options]="{width: '100px'}"></select2>
                    </div>
                </div>
            </div>

        </div>

    </div>

    <input id="obstacleType" formControlName="obstacleType" type="hidden" />
    <input id="refreshDummy" formControlName="refreshDummy" type="hidden" />
</div>


