﻿<div class="panel bg-blue-dark" [formGroup]="nsdFrmGroup">
    <div class="panel-header">
        <h3><i class="fa fa-plane"></i> <strong>{{'Nsd.AerodromeLocationDescription' | translate:lang}}</strong></h3>
        <div class="control-btn">
            <a href="#" class="panel-toggle"><i class="fa fa-angle-down"></i></a>
        </div>
    </div>

    <!--nsd-body-->
    <div class="panel-content bg-white">
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <label class="form-label">{{'Nsd.ItemA' | translate:lang}}</label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-search"></i></span>
                        <select2 [value]="nsdFrmGroup.get('subjectId').value"
                                 [data]="subjects"
                                 [disabled]="isReadOnly"
                                 [options]="sdoSubjectWithTwysOptions()"></select2>
                    </div>
                    <div *ngIf="!validateSubjectId() && nsdFrmGroup.controls.subjectId.errors.required" class="form-error">{{'ErrorMsgs.SubjectRequired' | translate:lang}}</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="form-group">
                    <label class="form-label">{{'Nsd.Taxiways' | translate:lang}}</label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-search"></i></span>
                        <select2 [value]="taxiwaySelected?.id"
                                 [data]="taxiwayComboList"
                                 (valueChanged)="selectedTaxiwayChanged($event)"
                                 [disabled]="isTaxiwaySelectorDisabled()"
                                 [options]="taxiwaysOptions"></select2>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2">
                <div class="form-group">
                    <label class="form-label">{{'TableHeaders.FullClosure' | translate:lang}}</label>
                    <div class="input-group">
                        <label class="switch m-r-20">
                            <input id="fullClosure" formControlName="fullClosure" class="switch-input" type="checkbox"
                                   (change)="fullClosureChange()"
                                   [disabled]="isFullClosureDisabled()">
                            <span class="switch-label"
                                  attr.data-off="{{'Switch.No' | translate:lang}}" attr.data-on="{{'Switch.Full' | translate:lang}}"></span>
                            <span class="switch-handle"></span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label class="form-label">{{'TableHeaders.Between' | translate:lang}}</label>
                    <div class="append-icon">
                        <i class="fa fa-map-marker"></i>
                        <input formControlName="startClosure" type="text" class="form-control"
                               (keyup)="startClosureChange()"
                               [ngClass]="{'form-error': !validateStartClosure() }" [class.form-white]="!isReadOnly"
                               placeholder="{{'Nsd.StartClosure' | translate:lang}}" style="text-transform:uppercase; font-size: 10px !important">
                    </div>
                    <div *ngIf="!validateStartClosure()" class="form-error">{{'ErrorMsgs.StartPointNeeded' | translate:lang}}</div>
                </div>
            </div>
            <div class="col-sm-1">
                <label class="form-label">&nbsp;</label>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label class="form-label">{{'TableHeaders.And' | translate:lang}}</label>
                    <div class="append-icon">
                        <i class="fa fa-map-marker"></i>
                        <input id="endClosure" formControlName="endClosure" type="text" class="form-control"
                               (keyup)="endClosureChange()"
                               [ngClass]="{'form-error': !validateEndClosure() }" [class.form-white]="!isReadOnly"
                               placeholder="{{'Nsd.EndClosure' | translate:lang}}" style="text-transform:uppercase; font-size: 10px !important">
                    </div>
                    <div *ngIf="!validateEndClosure()" class="form-error">{{'ErrorMsgs.EndPointNeeded' | translate:lang}}</div>
                </div>
            </div>
            <div class="col-sm-1">
                <label class="form-label">&nbsp;</label>
            </div>
        </div>
        <div *ngIf="isBilingualRegion" class="row">
            <div class="col-sm-2">
                <label class="form-label">&nbsp;</label>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label class="form-label">Entre</label>
                    <div class="append-icon">
                        <i class="fa fa-map-marker"></i>
                        <input formControlName="startClosureFr" type="text" class="form-control"
                               (keyup)="startClosureChangeFr()"
                               [ngClass]="{'form-error': !validateStartClosureFr() }" [class.form-white]="!isReadOnly"
                               placeholder="{{'Nsd.StartClosureFr' | translate:lang}}" style="text-transform:uppercase; font-size: 10px !important">
                    </div>
                    <div *ngIf="!validateStartClosureFr()" class="form-error">{{'ErrorMsgs.StartPointNeededFr' | translate:lang}}</div>
                </div>
            </div>
            <div class="col-sm-1">
                <label class="form-label">&nbsp;</label>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label class="form-label">Et</label>
                    <div class="append-icon">
                        <i class="fa fa-map-marker"></i>
                        <input id="endClosureFr" formControlName="endClosureFr" type="text" class="form-control"
                               (keyup)="endClosureChangeFr()"
                               [ngClass]="{'form-error': !validateEndClosureFr() }" [class.form-white]="!isReadOnly"
                               placeholder="{{'Nsd.EndClosureFr' | translate:lang}}" style="text-transform:uppercase; font-size: 10px !important">
                    </div>
                    <div *ngIf="!validateEndClosureFr()" class="form-error">{{'ErrorMsgs.EndPointNeededFr' | translate:lang}}</div>
                </div>
            </div>
            <div class="col-sm-1">
                <label class="form-label">&nbsp;</label>
            </div>
        </div>
        <div class="row">
            <button class="btn btn-info m-r-10 m-b-10" type="button" (click)="excludeTaxiway()" [disabled]="isExcludeButtonDisabled()">
                <i class="fa fa-arrow-up m-r-10"></i> {{'ActionButtons.BtnExclude' | translate:lang}}
            </button>
            <button class="btn m-r-10 m-b-10" [ngClass]="buttonColor()" type="button" (click)="modifyTaxiway()" [disabled]="isModifyButtonDisabled()">
                <i class="fa fa-download m-r-10"></i> {{'ActionButtons.BtnModify' | translate:lang}}
            </button>
            <button class="btn btn-info m-r-10 m-b-10" type="button" (click)="includeTaxiway()" [disabled]="isIncludeButtonDisabled()">
                <i class="fa fa-arrow-down m-r-10"></i> {{'ActionButtons.BtnInclude' | translate:lang}}
            </button>
        </div>

        <div class="row" style="width: 100%; height: 31px;">
            <table class="table" role="grid">
                <thead>
                    <tr role="row">
                        <th tabindex="1" style="width: 15%;">{{'TableHeaders.Designator' | translate:lang}}</th>
                        <th tabindex="2" style="width: 15%;">{{'TableHeaders.Closure' | translate:lang}}</th>
                        <th tabindex="3" style="width: 35%;">{{colBetweenCaption}}</th>
                        <th tabindex="4" style="width: 35%;">{{colAndCaption}}</th>
                    </tr>
                </thead>
            </table>
        </div>

        <div class="row" style="width: 100%; height: 190px; overflow-y: scroll;">
            <table class="table table-hover table-dynamic table-responsive filter-footer dataTable" role="grid">
                <tbody>
                    <tr role="row" *ngFor="let taxiway of taxiwaysSelected;"
                        (click)="pickTaxiway(taxiway.id)"
                        [ngClass]="rowColor(taxiway.id)">
                        <td style="width: 15%;" rowspan="1" colspan="1">
                            <label class="form-label">{{getTaxiwayName(taxiway)}}</label>
                        </td>
                        <td style="width: 15%;" rowspan="1" colspan="1">
                            <label class="form-label">{{getClosureText(taxiway)}}</label>
                        </td>
                        <td style="width: 35%;" rowspan="1" colspan="1">
                            <label class="form-label">{{getBetweenText(taxiway)}}</label>
                        </td>
                        <td style="width: 35%;" rowspan="1" colspan="1">
                            <label class="form-label">{{getAndText(taxiway)}}</label>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="row">
            <div formGroupName="grpClosure">
                <div class="row m-t-20">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label>{{'Nsd.ClosureReasonLabel' | translate:lang}}</label>
                            <div class="input-group">
                                <!---->
                                <span class="input-group-addon"><i class="fa fa-reorder"></i></span>
                                <select2 [value]="nsdFrmGroup.get('grpClosure.closureReasonId').value"
                                         [data]="twyClsdReasons"
                                         [disabled]="countSelectedTwys === 0 || isReadOnly"
                                         (valueChanged)="closureReasonChanged($event)"
                                         [options]="closureReasonOptions"></select2>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div *ngIf="!isBilingualRegion" class="col-md-12">
                        <div class="form-group">
                            <label class="form-label">{{'Nsd.ClosureReasonLabelDesc' | translate:lang}}</label>
                            <div class="append-icon">
                                <textarea cols="80" rows="2" id="closureReasonFreeText" formControlName="closureReasonFreeText"
                                          class="form-control" placeholder="Reason"
                                          [ngClass]="{'form-error': !validateReasonFreeText() }"
                                          [disabled]="isReadOnly"
                                          [class.form-white]="nsdFrmGroup.get('grpClosure.closureReasonFreeText').enabled"
                                          (keyup)="closureReasonTextChange()"
                                          style="text-transform:uppercase; resize:vertical"></textarea>
                                <i class="fa fa-pencil-square-o"></i>
                            </div>
                            <div *ngIf="!validateReasonFreeText()" class="form-error">{{'ErrorMsgs.ClosureReasonNeeded' | translate:lang}}</div>
                        </div>
                    </div>
                    <div *ngIf="isBilingualRegion" class="col-md-6">
                        <div class="form-group">
                            <label class="form-label">{{'Nsd.ClosureReasonLabelDesc' | translate:lang}}</label>
                            <div class="append-icon">
                                <textarea cols="80" rows="2" id="closureReasonFreeText" formControlName="closureReasonFreeText"
                                          class="form-control" placeholder="Reason"
                                          [disabled]="isReadOnly"
                                          [ngClass]="{'form-error': !validateReasonFreeText() }"
                                          [class.form-white]="nsdFrmGroup.get('grpClosure.closureReasonFreeText').enabled"
                                          (keyup)="closureReasonTextChange()"
                                          style="text-transform:uppercase; resize:vertical"></textarea>
                                <i class="fa fa-pencil-square-o"></i>
                            </div>
                            <div *ngIf="!validateReasonFreeText()" class="form-error">{{'ErrorMsgs.ClosureReasonNeeded' | translate:lang}}</div>
                        </div>
                    </div>
                    <div *ngIf="isBilingualRegion" class="col-md-6">
                        <div class="form-group">
                            <label class="form-label">{{'Nsd.ClosureReasonLabelDescFr' | translate:lang}}</label>
                            <div class="append-icon">
                                <textarea cols="80" rows="2" id="closureReasonFreeTextFr" formControlName="closureReasonFreeTextFr"
                                          class="form-control" placeholder="Raison"
                                          [disabled]="isReadOnly"
                                          [ngClass]="{'form-error': !validateReasonFreeTextFr() }"
                                          [class.form-white]="nsdFrmGroup.get('grpClosure.closureReasonFreeTextFr').enabled"
                                          (keyup)="closureReasonTextFrChange()"
                                          style="text-transform:uppercase; resize:vertical"></textarea>
                                <i class="fa fa-pencil-square-o"></i>
                            </div>
                            <div *ngIf="!validateReasonFreeTextFr()" class="form-error">{{'ErrorMsgs.ClosureReasonNeededFr' | translate:lang}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <input id="countSelectedTwy" formControlName="countSelectedTwys" type="hidden" />
    <input id="allTaxiways" formControlName="allTaxiways" type="hidden" />
    <input id="allTaxiwaysSelected" formControlName="allTaxiwaysSelected" type="hidden" />
    <input id="refreshIcao" formControlName="refreshIcao" type="hidden" />
</div>


