﻿@using Westwind.Globalization;
@model NavCanada.Core.Domain.Model.Dtos.MultiPolygonDto

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@Styles.Render("~/Content/kendo/kendoBundle")
@Styles.Render("~/Content/site")

<link type="text/css" rel="Stylesheet" href="@Url.Content("~/Content/jquery-ui-1.8.6.darkness/css/ui-darkness/jquery-ui-1.8.6.custom.css")" />

<div style="height:100%; width:100%">

    <table style="height:100%; width:100%">
        <tr>
            <td style="height:40px;">
                <h1>
                    @DbRes.T("NOTAM Bilingual Region", "BilingualNOTAMRegion")
                </h1>
            </td>
        </tr>

        <tr>
            <td style="position: relative; height:87%; padding:0px;" colspan="99">
                <div id="mapContainer" style="height:100%; width:100%; position:relative;"></div>
            </td>
        </tr>
        <tr style="height:40px;">
            <td >
                <div style="position:absolute; bottom:0; right:0; height:25px; padding-right:15px; padding-bottom:10px">
                    <button id="btnReset" class="k-button">@DbRes.T("Reset to Default", "BilingualNOTAMRegion")</button>
                    <button id="btnDiscard" class="k-button" style="display:none;">@DbRes.T("Discard Changes", "BilingualNOTAMRegion")</button>
                    <button id="btnSave" class="k-button" style="display:none;">@DbRes.T("Save Changes", "BilingualNOTAMRegion")</button>
                </div>
            </td>
        </tr>

    </table>

    
</div>

<div id="controlWindow">
</div>

<div id="dataModel" data-model='@Html.Raw(Json.Encode(Model))' ></div>

<script>
@section Scripts{
    require(["admin/Controllers/BilingualRegion/Index"], function (index) {

        var labels = {
            confirmLabel: '@DbRes.T("Confirm", "BilingualNOTAMRegion")',
            areYouSureMessage: '@DbRes.T("Are you sure you want to discard changes and reload the Bilingual Region", "BilingualNOTAMRegion")',
            errorLabel: '@DbRes.T("Error", "BilingualNOTAMRegion")',
            errorUpdatingRegion: '@DbRes.T("Error Updating the Bilingual Region", "BilingualNOTAMRegion")',
            confirmLabel: '@DbRes.T("Confirm", "BilingualNOTAMRegion")',
            areYouSureYouWant: '@DbRes.T("Are you sure you want to reset the bilingual region to None", "BilingualNOTAMRegion")',
            successLabel: '@DbRes.T("Success", "BilingualNOTAMRegion")',
            resetSuccessfully: '@DbRes.T("The Bilingual Region was reset successfully", "BilingualNOTAMRegion")',
            updateSuccesfully: '@DbRes.T("The Bilingual Region was updated successfully", "BilingualNOTAMRegion")'
        };

        index.init(labels);
    })
}
</script>




