﻿.switch {
    background-color: transparent;
    width: 90px !important
}

.switch-label {
    background: #319DB5;
}

.switch-label:before {
    font-size:10px;
    color: #fff !important;
    text-shadow: 0 1px rgba(0,0,0,0.2);
}

.switch-input:checked ~ .switch-label {
    background: #319DB5;
}

.switch-input:checked ~ .switch-handle {
    left: 69px !important;
}

.select2-container-full-percentage {
    width: 100% !important;
    padding: 0;
}
