﻿<div class="row">
    <div class="col-lg-12">
        <div class="row">
            <div class="form-group">
                <div class="m-b-10 f-14"><strong>{{'Filter.SearchBy' | translate:lang}}</strong></div>
                <div class="input-group m-l-20">
                    <div class="icheck-inline">
                        <label>
                            <iRadio [isChecked]="!isUsingSearchOption" [disabled]="isFilterApplied" (change)="onSearchOptionChanged(isUsingSearchOption)">{{'Filter.CurrentProposal' | translate:lang}}</iRadio>
                        </label>
                        <label>
                            <iRadio [isChecked]="isUsingSearchOption" [disabled]="isFilterApplied" (change)="onSearchOptionChanged(isUsingSearchOption)">{{'Filter.AllNotams' | translate:lang}}</iRadio>
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="btn-group m-l-10">
                <button *ngFor="let slot of slots; let i = index" class="btn btn-success p-0"
                        (click)="getUserQueryFilter(i+1)"
                        [class.active]="i+1 === filterSlotsActive"
                        [class.disabled]="!isFilterSlotActivated(i+1)" style="width:88px; font-family:consolas">
                    <span class="bold">{{filterNames[i]}}</span>
                </button>
            </div>
        </div>
        <form role="form" class="form-group">
            <div class="row">
                <div class="col-lg-9">
                    <div class="row">
                        <div *ngFor="let f of getValidFilters(); let idx = index" class="form-group">
                            <div class="col-lg-3">
                                <select2 [data]="filterColumnsData"
                                         [value]="filterColumnStartValue[idx]"
                                         [options]="{minimumResultsForSearch:-1}"
                                         (valueChanged)="onFilterColumnChanged($event, idx)"></select2>
                            </div>
                            <div class="col-lg-2">
                                <select2 [data]="getFilterOperators(filterColumnStartValue[idx])"
                                         [value]="filterColumnsData[idx].currentOper"
                                         [options]="{minimumResultsForSearch:-1}"
                                         (valueChanged)="onFilterOperatorChanged($event, idx)"></select2>
                            </div>
                            <div class="col-lg-2">
                                <input type="text" class="form-control form-white" placeholder="{{'Filter.MatchingValue' | translate:lang}}" style="width:100%" *ngIf="filters[idx].type != 'combobox'"
                                       [ngClass]="{'form-error': !isFilterAddButtonEnabled(idx) && filterErrorMessage[idx] !== null }"
                                       [(ngModel)]="filters[idx].value" [ngModelOptions]="{standalone: true}">
                                <select2 [data]="filters[idx].valueList" *ngIf="filters[idx].type === 'combobox'"
                                         [value]="filters[idx].value"
                                         [options]="{minimumResultsForSearch:-1}"
                                         (valueChanged)="onFilterValueChanged($event, idx)"></select2>
                                <div *ngIf="!isFilterAddButtonEnabled(idx)" class="form-error">{{filterErrorMessage[idx]}}</div>
                            </div>
                            <div class="col-lg-2">
                                <div class="form-group">
                                    <span class="input-group-btn">
                                        <button class="btn btn-primary" type="submit" style="padding:10px; margin-right:0"
                                                [disabled]="!isFilterAddButtonEnabled(idx)" (click)="addFilterCondition()">
                                            <i class="m-l-5 fa fa-plus"></i>
                                        </button>
                                        <button class="btn btn-danger" type="submit" style="padding:10px"
                                                [disabled]="idx===0 && filters.length <= 1" (click)="removeFilterCondition(idx)">
                                            <i class="m-l-5 fa fa-minus"></i>
                                        </button>
                                    </span>
                                </div>
                                <div *ngIf="!isFilterAddButtonEnabled(idx)" class="form-error">{{filterErrorMessage[idx]}}</div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="text-left m-t-0">
                    <button class="btn btn-success"
                            [disabled]="isApplyFilterButtonDisabled()" (click)="activateFilter()">
                        {{'Filter.ApplyFilter' | translate:lang}}
                    </button>
                    <div class="btn-group" style="vertical-align:top">
                        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                            {{'Filter.SaveFilter' | translate:lang}}
                            <span class="caret"></span>
                        </button>
                        <span class="dropdown-arrow"></span>
                        <ul class="dropdown-menu" style="min-width:115px" role="menu">
                            <li *ngFor="let slot of slots; let i = index">
                                <a href="#" (click)="saveUserQueryFilter($event, i+1)"><span class="bold">{{filterNames[i]}}</span></a>
                            </li>
                        </ul>
                    </div>
                    <button class="btn btn-info" (click)="clearFilter()">
                        {{'Filter.ClearFilter' | translate:lang}}
                    </button>
                    <div class="btn-group" style="vertical-align:top">
                        <button class="btn btn-info dropdown-toggle" type="button" data-toggle="dropdown">
                            {{'Filter.DeleteFilter' | translate:lang}}
                            <span class="caret"></span>
                        </button>
                        <span class="dropdown-arrow"></span>
                        <ul class="dropdown-menu" style="min-width:115px" role="menu">
                            <li *ngFor="let slot of slots; let i = index">
                                <a href="#" (click)="deleteUserQueryFilter($event, i+1)"><span class="bold">{{filterNames[i]}}</span></a>
                            </li>
                        </ul>
                    </div>
                    <div class="btn-group" style="vertical-align:top">
                        <button class="btn btn-info dropdown-toggle" type="button" data-toggle="dropdown">
                            {{'Filter.ChangeFilterName' | translate:lang}}
                            <span class="caret"></span>
                        </button>
                        <span class="dropdown-arrow"></span>
                        <ul class="dropdown-menu" style="min-width:115px" role="menu">
                            <li *ngFor="let slot of slots; let i = index">
                                <a href="#" (click)="changeFilterName($event, i)"><span class="bold">{{filterNames[i]}}</span></a>
                            </li>
                        </ul>
                    </div>
                    <div class="btn-group" style="vertical-align:top">
                        <input type="text" class="form-control form-white" [(ngModel)]="currentFilterName" [ngModelOptions]="{standalone: true}" style="margin-top:2px" [disabled]="isChangeFilterNameDisabled" maxlength="12">
                    </div>
                    <div class="btn-group" style="vertical-align:top">
                        <button type="button" class="btn btn-success btn-sm m-t-5" 
                                [disabled]="isChangeFilterNameDisabled || !currentFilterName" (click)="saveFilterName()">
                            <i class="fa fa-save"></i>
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
