﻿<div class="app-header">
    <h2>
        <strong> {{title}} Proposal ({{model.displayName}})</strong>
        <a href="../Content/help/NESUserGuide{{langCulture}}.pdf#{{model.helpLink}}" target="_blank" style="padding-left:10px;"><i class="icon-question"></i></a>
    </h2>
</div>

<br/>
<proposal-form [model]="model" [isReadOnly]="false"></proposal-form>

<div id="modal-proposaltaken" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header bg-danger">
                <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
                <h4 class="modal-title"><b>{{'NofPick.ProposalOwnership' | translate:lang}}</b></h4>
            </div>
            <div class="modal-body">
                <b>{{'NofPick.ProposalOwnershipMsg1' | translate:lang}}{{proposalOwner}}. {{'NofPick.ProposalOwnershipMsg2' | translate:lang}}</b>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="backToDashboard()">{{'Common.Ok' | translate:lang}}</button>
            </div>
        </div>
    </div>
</div>


<div style="margin-top:100px">
</div>


