﻿<div class="panel bg-blue-dark" [formGroup]="nsdFrmGroup">
    <div class="panel-header">
        <h3><i class="fa fa-plane"></i> <strong>{{'Nsd.ObsLocation' | translate:lang}} &amp; {{'Nsd.Description' | translate:lang}}</strong></h3>
        <div class="control-btn">
            <a href="#" class="panel-toggle"><i class="fa fa-angle-down"></i></a>
        </div>
    </div>

    <!--nsd-body-->
    <div class="panel-content bg-white">
        <!--Obstacle Type-->
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <label class="form-label">{{'Nsd.ObsType' | translate:lang}}</label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-reorder"></i></span>
                        <select2 [value]="nsdFrmGroup.get('obstacleType').value"
                                 [data]="obstacleTypes"
                                 [disabled]="true"
                                 (valueChanged)="setObjectType($event)"
                                 [options]="objectTypeSelectOptions()"></select2>
                    </div>
                </div>
            </div>
        </div>

        <!-- Location -->
        <div class="row">
            <div class="col-sm-5">
                <div class="form-group">
                    <label class="form-label">{{'Nsd.Location' | translate:lang}}</label>
                    <div class="append-icon">
                        <input id="location" 
                               formControlName="location" type="text" class="form-control" placeholder="{{'Nsd.Location' | translate:lang}}" 
                               style="text-transform:uppercase; font-size: 10px !important">
                        <i class="fa fa-map-marker"></i>
                    </div>
                </div>
            </div>
            <!--height-->
            <div class="col-sm-2 col-lg-offset-1">
                <div class="form-group" style="margin-right: 20px;">
                    <label class="form-label">{{'Nsd.Height' | translate:lang}}</label>
                    <div class="input-group">
                        <span class="input-group-addon btn btn-plus-minus" style="padding:7px 11px 8px;">-</span>
                        <input id="radius" formControlName="height" class="form-control" type="text">
                        <span class="input-group-addon btn btn-plus-minus" style="padding:7px 10px 8px;">+</span>
                    </div>
                </div>
            </div>
            <!--elevation-->
            <div class="col-sm-2">
                <div class="form-group" style="margin-right: 20px;">
                    <label class="form-label">{{'Nsd.Elevation' | translate:lang}}</label>
                    <div class="input-group">
                        <span class="input-group-addon btn btn-plus-minus" style="padding:7px 11px 8px;">-</span>
                        <input id="radius" formControlName="elevation" class="form-control" type="text">
                        <span class="input-group-addon btn btn-plus-minus" style="padding:7px 10px 8px;">+</span>
                    </div>
                </div>
            </div>
            <!--lighted-->
            <div class="col-sm-1">
            </div>
            <!--painted-->
            <div class="col-sm-1">
            </div>

        </div>

        <!-- Obstacle description -->
    </div>

    <input id="obstacleType" formControlName="obstacleType" type="hidden" />
    <input id="refreshDummy" formControlName="refreshDummy" type="hidden" />
</div>


