﻿<div class="app-header">
    <h2>
        <strong>{{'Common.New' | translate:lang}} {{'UserSession.PageTitleBold' | translate:lang}} </strong> 
    </h2>
</div>

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <form [formGroup]="userForm" class="form" autocomplete="off"  (ngSubmit)="onSubmit()" novalidate="novalidate">

            <div class="panel bg-blue-dark">
                <div class="panel-header">
                    <h3><i class="fa fa-user-md"></i> <strong>{{'UserSession.UserDetails' | translate:lang}}</strong></h3>
                    <div class="control-btn">
                        <a href="#" class="panel-toggle"><i class="fa fa-angle-down"></i></a>
                    </div>
                </div>
                <div class="panel-content bg-white">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label class="control-label">{{'UserSession.Username' | translate:lang}}</label>
                                <div class="append-icon">
                                    <input id="username" formControlName="username" type="text" 
                                        placeholder="{{'UserSession.PlaceHolderUsername' | translate:lang}}"
                                        class="form-control form-white"
                                        [ngClass]="{'form-error': !validateUsername() }">
                                    <i class="fa fa-user"></i>
                                    <div *ngIf="!validateUsername() && userForm.controls.username.errors && (userForm.controls.username.errors.minlength || userForm.controls.username.errors.maxlength)" class="form-error">{{'UserSession.ValidateUsernameMinMaxLength' | translate:lang}}</div>
                                    <div *ngIf="!validateUsername() && userForm.controls.username.errors && userForm.controls.username.errors.required" class="form-error">{{'UserSession.ValidateUsernameRequired' | translate:lang}}</div>
                                    <div *ngIf="!validateUsername() && userForm.controls.username.errors && userForm.controls.username.errors.pattern" class="form-error">{{'UserSession.ValidateUsernamePattern' | translate:lang}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label">{{'UserSession.FirstName' | translate:lang}}</label>
                                <div class="append-icon">
                                    <input id="firstname" formControlName="firstName" type="text" 
                                           class="form-control form-white"  
                                           placeholder="{{'UserSession.PlaceHolderFirstName' | translate:lang}}"
                                           [ngClass]="{'form-error': !validateFirstName() }">
                                    <i class="fa fa-info"></i>
                                    <div *ngIf="!validateFirstName() && userForm.controls.firstName.errors && userForm.controls.firstName.errors.required" class="form-error">{{'UserSession.ValidateFirstName' | translate:lang}}</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label">{{'UserSession.LastName' | translate:lang}}</label>
                                <div class="append-icon">
                                    <input id="lastname" formControlName="lastName" type="text" 
                                           class="form-control form-white" 
                                           placeholder="{{'UserSession.PlaceHolderLastName' | translate:lang}}"
                                           [ngClass]="{'form-error': !validateLastName() }">
                                    <i class="fa fa-info"></i>
                                    <div *ngIf="!validateLastName() && userForm.controls.lastName.errors && userForm.controls.lastName.errors.required" class="form-error">{{'UserSession.ValidateLastName' | translate:lang}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--<div class="row" formGroupName="grpPassword">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label">{{'UserSession.Password' | translate:lang}}</label>
                                <div class="append-icon">
                                    <input id="password" formControlName="password" type="password" 
                                           class="form-control form-white" 
                                           placeholder="{{'UserSession.PlaceHolderPassword' | translate:lang}}"
                                           [ngClass]="{'form-error': !validatePassword() }">
                                    <i class="fa fa-key"></i>
                                    <div *ngIf="!validatePassword() && userForm.get('grpPassword.password').errors && userForm.get('grpPassword.password').errors.pattern" class="form-error">{{'UserSession.ValidatePasswordPattern' | translate:lang}}</div>
                                    <div *ngIf="!validatePassword() && userForm.get('grpPassword.password').errors && userForm.get('grpPassword.password').errors.required" class="form-error">{{'UserSession.ValidatePasswordRequired' | translate:lang}}</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label">{{'UserSession.ConfirmPassword' | translate:lang}}</label>
                                <div class="append-icon">
                                    <input id="confirmPassword" formControlName="confirmPassword" type="password" 
                                           class="form-control form-white" 
                                           placeholder="{{'UserSession.PlaceHolderConfirmPassword' | translate:lang}}"
                                           [ngClass]="{'form-error': !validateConfirmPassword() }">
                                    <i class="fa fa-key"></i>
                                    <div *ngIf="!validateConfirmPassword() && userForm.get('grpPassword.confirmPassword').errors && userForm.get('grpPassword.confirmPassword').errors.required" class="form-error">{{'UserSession.ValidateConfirmPasswordRequired' | translate:lang}}</div>
                                    <div *ngIf="!validateConfirmPassword() && userForm.get('grpPassword.confirmPassword').errors && userForm.get('grpPassword.confirmPassword').errors.MatchPassword " class="form-error">{{'UserSession.ValidatePasswordMatch' | translate:lang}}</div>
                                </div>
                            </div>
                        </div>
                    </div>-->
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label">{{'UserSession.Position' | translate:lang}}</label>
                                <div class="append-icon">
                                    <input id="position" type="text"
                                           formControlName="position" 
                                           placeholder="{{'UserSession.PlaceHolderTitle' | translate:lang}}"
                                           class="form-control form-white">
                                    <i class="fa fa-certificate"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label">{{'UserSession.Email' | translate:lang}}</label>
                                <div class="append-icon">
                                    <input id="email" formControlName="email" type="email" 
                                           class="form-control form-white"  
                                           placeholder="{{'UserSession.PlaceHolderEmail' | translate:lang}}"
                                           [ngClass]="{'form-error': !validateEmailAddress() }">
                                    <i class="fa fa-envelope-o"></i>
                                    <div *ngIf="!validateEmailAddress() && userForm.controls.email.errors && userForm.controls.email.errors.required" class="form-error">{{'UserSession.ValidateEmailRequired' | translate:lang}}</div>
                                    <div *ngIf="!validateEmailAddress() && userForm.controls.email.errors && userForm.controls.email.errors.pattern" class="form-error">{{'UserSession.ValidateEmailPattern' | translate:lang}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label">{{'UserSession.Organization' | translate:lang}}</label>
                                <div class="append-icon">
                                    <select2 [data]="orgs"
                                             [options]="orgOptions"
                                             [width]="500"
                                             [disabled]="dissableOrganizationDropdown()"
                                             [value]="selectedOrgId"
                                             (valueChanged)="onOrgChanged($event)"></select2>
                                    <i class="fa fa-building-o"></i>
                                    <div *ngIf="!validateOrganization()" class="form-error" style="margin-top:10px;">{{'UserSession.ValidateOrganization' | translate:lang}}</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label">{{'UserSession.Roles' | translate:lang}}</label>
                                <div class="append-icon">
                                    <select2 [data]="roles" [class.form-white]="!isReadOnly"
                                             [options]="roleOptions"
                                             [width]="500"
                                             [disabled]="isReadOnly"
                                             [value]="selectedRoleId"
                                             (valueChanged)="onRoleChanged($event)"
                                             [ngClass]="{'form-error': !validateRoles() }"></select2>
                                    <i class="fa fa-graduation-cap"></i>
                                    <div *ngIf="!validateRoles()" class="form-error" style="margin-top:10px;">{{'UserSession.ValidateRoles' | translate:lang}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label">{{'UserSession.Address' | translate:lang}}</label>
                                <div class="append-icon">
                                    <input id="address" formControlName="address" type="text" 
                                           class="form-control form-white"  
                                           placeholder="{{'UserSession.PlaceHolderAddress' | translate:lang}}"
                                           [ngClass]="{'form-error': !validateAddress() }">
                                    <i class="fa fa-map-marker"></i>
                                    <div *ngIf="!validateAddress() && userForm.controls.address.errors && userForm.controls.address.errors.required" class="form-error">{{'UserSession.ValidateAddress' | translate:lang}}</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label">{{'UserSession.Doas' | translate:lang}}</label>
                                <div class="append-icon">
                                    <select2 [data]="doas" [class.form-white]="!isReadOnly"
                                             [options]="doaOptions"
                                             [width]="500"
                                             [disabled]="isReadOnly"
                                             [value]="selectedDoasIds"
                                             (valueChanged)="onDoaChanged($event)"></select2>
                                    <i class="fa fa-graduation-cap"></i>
                                    <div *ngIf="!validateDoas()" class="form-error" style="margin-top:10px;">{{'UserSession.ValidateRoles' | translate:lang}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label class="control-label">{{'UserSession.PhoneNumber' | translate:lang}}</label>
                                <div class="append-icon">
                                    <input id="phoneNumber" formControlName="phoneNumber" type="text"  
                                           class="form-control form-white"  
                                           placeholder="{{'UserSession.PlaceHolderTelephone' | translate:lang}}"
                                           (blur)="phoneNumberBlur('phoneNumber')"
                                           (focus)="phoneNumberFocus('phoneNumber')"
                                           [ngClass]="{'form-error': !validatePhoneNumber() }">
                                    <i class="fa fa-phone"></i>
                                    <div *ngIf="!validatePhoneNumber() && userForm.controls.phoneNumber.errors && userForm.controls.phoneNumber.errors.required" class="form-error">{{'UserSession.ValidatePhoneNumberRequired' | translate:lang}}</div>
                                    <div *ngIf="!validatePhoneNumber() && userForm.controls.phoneNumber.errors && userForm.controls.phoneNumber.errors.pattern" class="form-error">{{'UserSession.ValidatePhoneNumberPattern' | translate:lang}}</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label class="control-label">{{'UserSession.Fax' | translate:lang}}</label>
                                <div class="append-icon">
                                    <input id="fax" formControlName="fax" type="text" 
                                           class="form-control form-white"  
                                           (blur)="phoneNumberBlur('fax')"
                                           (focus)="phoneNumberFocus('fax')"
                                           placeholder="{{'UserSession.PlaceHolderFax' | translate:lang}}"
                                           [ngClass]="{'form-error': !validateFax() }">
                                    <i class="fa fa-fax"></i>
                                    <div *ngIf="!validateFax() && userForm.controls.fax.errors && userForm.controls.fax.errors.pattern" class="form-error">{{'UserSession.ValidateFaxNumberPattern' | translate:lang}}</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="form-label">{{'UserSession.Disabled' | translate:lang}}</label>
                                <div>
                                    <label class="switch m-r-20">
                                        <input id="disabled" class="switch-input" type="checkbox"
                                               (change)="onDisableChanged($event)"
                                               [checked]="userForm.get('disabled').value">
                                        <span class="switch-label" attr.data-off="{{'Common.No' | translate:lang}}" attr.data-on="{{'Common.Yes' | translate:lang}}"></span>
                                        <span class="switch-handle"></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="text-center  m-t-20">
                        <button class="btn btn-embossed btn-primary" type="submit" [disabled]="userForm.pristine || !userForm.valid || isSubmitting">{{'Common.Save' | translate:lang}}</button>
                        <button class="cancel btn btn-embossed btn-default m-b-10 m-r-0" type="reset" (click)="backToUserList()">{{'Common.Cancel' | translate:lang}}</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

