﻿<div class="app-header">
    <h2>
        <strong>{{'Common.New' | translate:lang}} {{'ConfigurationSession.PageTitleBold' | translate:lang}} </strong>
    </h2>
</div>

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <form [formGroup]="configListForm" class="form" autocomplete="off" (ngSubmit)="onSubmit()" novalidate="novalidate">

            <div class="panel bg-blue-dark">
                <div class="panel-header">
                    <h3><i class="fa fa-user-md"></i> <strong>{{'ConfigurationSession.ConfigDetails' | translate:lang}}</strong></h3>
                    <div class="control-btn">
                        <a href="#" class="panel-toggle"><i class="fa fa-angle-down"></i></a>
                    </div>
                </div>
                <div class="panel-content bg-white">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label">{{'ConfigurationSession.Name' | translate:lang}}</label>
                                <div class="append-icon">
                                    <input id="configName" formControlName="configName" type="text"
                                           class="form-control form-white"
                                           placeholder="{{'ConfigurationSession.EnterConfigName' | translate:lang}}"
                                           style="font-size: 10px !important"
                                           [class.form-white]="!isReadOnly"
                                           minlength="3">
                                    <!--<i class="fa fa-envelope-o"></i>-->
                                    <div *ngIf="!validConfigName()" class="form-error">{{'ConfigurationSession.RequieredConfigName' | translate:lang}}</div>
                                    <div *ngIf="validConfigName() && !validConfigNameSize()" class="form-error">{{'ConfigurationSession.RequieredConfigNameSize' | translate:lang}}</div>
                                    <div *ngIf="!isConfigUniqueName" class="form-error">{{'ConfigurationSession.RequieredConfigNameUnique' | translate:lang}}</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label">{{'ConfigurationSession.Description' | translate:lang}}</label>
                                <div class="append-icon">
                                    <input id="configDescription" formControlName="configDescription" type="text"
                                           class="form-control form-white"
                                           placeholder="{{'ConfigurationSession.Description' | translate:lang}}"
                                           style="font-size: 10px !important"
                                           minlength="3">
                                    <!--<i class="fa fa-envelope-o"></i>-->
                                    <div *ngIf="!validConfigDescription()" class="form-error">{{'ConfigurationSession.RequieredConfigDescription' | translate:lang}}</div>
                                    <div *ngIf="!validConfigDescritionSize()" class="form-error">{{'ConfigurationSession.RequieredConfigDescriptionSize' | translate:lang}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label">{{'ConfigurationSession.Value' | translate:lang}}</label>
                                <div class="append-icon">
                                    <input id="configValue" formControlName="configValue" type="text"
                                           class="form-control form-white"
                                           placeholder="{{'ConfigurationSession.Value' | translate:lang}}"
                                           style="font-size: 10px !important">
                                    <!--<i class="fa fa-envelope-o"></i>-->
                                    <div *ngIf="!validConfigValue()" class="form-error">{{'ConfigurationSession.RequieredConfigValue' | translate:lang}}</div>
                                    <div *ngIf="!validConfigAftnValue()" class="form-error">{{'ConfigurationSession.ValidConfigAftnSwimValue' | translate:lang}} 1000 ms.</div>
                                    <div *ngIf="!validConfigSwimValue()" class="form-error">{{'ConfigurationSession.ValidConfigAftnSwimValue' | translate:lang}} 100 ms.</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label">{{'ConfigurationSession.Category' | translate:lang}}</label>
                                <div class="append-icon">
                                    <input id="configCategory" formControlName="configCategory" type="text"
                                           class="form-control form-white"
                                           placeholder="{{'ConfigurationSession.Category' | translate:lang}}"
                                           style="font-size: 10px !important"
                                           minlength="2">
                                    <!--<i class="fa fa-envelope-o"></i>-->
                                    <div *ngIf="!validConfigCategory()" class="form-error">{{'ConfigurationSession.RequieredConfigCategory' | translate:lang}}</div>
                                    <div *ngIf="!validConfigCategorySize()" class="form-error">{{'ConfigurationSession.RequieredConfigCategorySize' | translate:lang}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="text-center  m-t-20">
                        <button class="btn btn-embossed btn-primary" type="submit" [disabled]="disableSubmit()">{{'Common.Save' | translate:lang}}</button>
                        <button class="cancel btn btn-embossed btn-default m-b-10 m-r-0" type="reset" (click)="backToConfigList()">{{'Common.Cancel' | translate:lang}}</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

