﻿<div class="row">
    <div class="app-header">
        <h2>
            <strong>{{'ConfigurationSession.PageTitleBold' | translate:lang}} {{'ConfigurationSession.PageTitle' | translate:lang}} </strong>
            <a href="../Content/help/NESUserGuide{{langCulture}}.pdf#c_adm_configuration_management" target="_blank" style="padding-left:10px;"><i class="icon-question"></i></a>
        </h2>
    </div>

    <div class="col-md-12">
        <div class="row">
            <div class="m-t-10 m-b-10 no-print">
                <button class="btn btn-primary m-r-10 m-b-10"
                        [routerLink]="['/administration/config/create']">
                    <i class="fa fa-plus m-r-10"></i>{{'Common.Add' | translate:lang}}
                </button>
                <button class="btn btn-primary m-r-10 m-b-10"
                        [disabled]="selectedConfig === null"
                        [routerLink]="['/administration/config/edit', selectedConfig?.category, selectedConfig?.name]">
                    <i class="fa fa-pencil-square-o m-r-10"></i>{{'Common.Edit' | translate:lang}}
                </button>
                <button class="btn btn-primary m-r-10 m-b-10"
                        [disabled]="!canbeDeleted" (click)="confirmDeleteConfig()">
                    <i class="fa fa-trash-o m-r-10"></i>{{'Common.Delete' | translate:lang}}
                </button>
            </div>
        </div>
    </div>
    <form [formGroup]="configListForm" class="form" autocomplete="off" novalidate="novalidate">
        <div class="col-md-12" style="height:100%">
            <div class="row">
                <div class="col-md-12 portlets ui-sortable" style="padding-left:0px">
                    <div class="panel">
                        <div class="panel-content">
                            <div class="dataTables_wrapper form-inline">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="panel">
                                            <div class="panel-header" style="padding-bottom:11px;">
                                                <div class="form-group">
                                                    <span class="control-label" style="line-height:34px">{{'Common.ItemPerPage' | translate:lang}}:</span>
                                                    <select2 [data]="tableHeaders.itemsPerPage"
                                                             [value]="itemsPerPageStartValue"
                                                             [options]="{minimumResultsForSearch:-1}"
                                                             [width]="50"
                                                             (valueChanged)="itemsPerPageChanged($event)"></select2>
                                                </div>
                                                <div class="pull-right">
                                                    <div class="form-group">
                                                        <div class="append-icon">
                                                            <input id="searchConfig" formControlName="searchConfig" type="text"
                                                                   placeholder="{{'Common.Search' | translate:lang}}"
                                                                   class="form-control form-white"
                                                                   minlenght="2" maxlength="20" style="text-transform:uppercase">
                                                            <i class="fa fa-file-code-o" (click)="clearSearch()"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <table class="table table-hover table-dynamic table-responsive filter-footer dataTable" role="grid">
                                    <thead>
                                        <tr role="row">
                                            <th tabindex="1" [class]="sortingClass(0)" (click)="sort(0)" style="width: 20%;" rowspan="1" colspan="1">{{'ConfigurationSession.Name' | translate:lang}}</th>
                                            <th tabindex="2" [class]="sortingClass(1)" (click)="sort(1)" style="width: 35%;" rowspan="1" colspan="1">{{'ConfigurationSession.Description' | translate:lang}}</th>
                                            <th tabindex="3" [class]="sortingClass(2)" (click)="sort(2)" style="width: 25%;" rowspan="1" colspan="1">{{'ConfigurationSession.Value' | translate:lang}}</th>
                                            <th tabindex="4" [class]="sortingClass(3)" (click)="sort(3)" style="width: 20%;" rowspan="1" colspan="1">{{'ConfigurationSession.Category' | translate:lang}}</th>
                                        </tr>
                                    </thead>
                                    <tbody id="data-response">
                                        <tr role="row" *ngFor="let configRec of configRecs; let i = index;" id="p_{{configRec.name}}"
                                            (click)="selectConfigRecord(configRec)"
                                            [class.success]="configRec.isSelected">
                                            <td>{{configRec.name}}</td>
                                            <td>{{configRec.description}}</td>
                                            <td>{{configRec.value}}</td>
                                            <td>{{configRec.category}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <server-pagination [currentPage]="paging.currentPage"
                                                   [pageSize]="paging.pageSize"
                                                   [totalCount]="paging.totalCount"
                                                   [totalPages]="totalPages"
                                                   [sliderSize]="9"
                                                   (onPageChange)="onPageChange($event)"></server-pagination>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<div id="modal-delete" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header bg-danger">
                <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
                <h4 class="modal-title"><b>{{'ConfigurationSession.DeleteConfigRec' | translate:lang}}</b></h4>
            </div>
            <div class="modal-body">
                <b>{{'ConfigurationSession.DeleteConfirmation' | translate:lang}}</b>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="deleteConfigRec()">{{'Common.Yes' | translate:lang}}</button>
                <button type="button" class="btn btn-dark" data-dismiss="modal">{{'Common.No' | translate:lang}}</button>
            </div>
        </div>
    </div>
</div>

