﻿@using Kendo.Mvc.UI
@using NavCanada.Applications.NotamWiz.Web.Code.Helpers
@using Westwind.Globalization;


<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge;chrome=1" />
    <meta charset="utf-8" />
    <title>@DbRes.T("NOTAMWiz", "Home")</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />

    @Styles.Render("~/Content/kendo/kendoBundle")
    @Styles.Render("~/Content/site")


    @RenderSection("styles", required: false)

    <script src="@Url.Content("~/Scripts/require.js")" type="text/javascript"></script>

    @RenderSection("headerScripts", required: false)


</head>

<!--[if gte IE 9]>
  <style type="text/css">
    .gradient {
       filter: none;
    }
  </style>
<![endif]-->


<body>

    <header class="outer-north">
        <div class="k-block-dark">
            <div class="float-left pad10">
                <a href="@Url.Action("Index", "Home", new { Area = "" } )"><img src="~/Images/notamWizLogo.png" id="notamWizHeaderLogo" /></a>
            </div>
            <div class="float-right">
                <div class="float-left">@Html.Partial("_LoginPartial")</div>
            </div>
            <div class="float-clear"></div>

        </div>
    </header>
    @Html.Partial("_SystemNotifications")
    @Html.Partial("_ChatControl")

    <div id="content" class="outer-center main-content">
        <div class="middle-north">
            <div class="k-block pad10">
                <a href="~/">Home</a> > @Html.RouteLink(@DbRes.T("Administrator Area", "Home"), new { controller = "AdminHome", action = "Index", area = "Admin" }) > @ViewBag.Breadcrumb
            </div>

        </div>

        <div class="middle-west">
            <ul id="adminMenu" style="height:100%"></ul>
        </div>

        <div class="middle-center">

            <div class="inner-center">
                @RenderBody()
            </div>
            
        </div>
    </div>

    <footer class="outer-south k-block-dark">
        <div>
            <div class="float-left pad5">
                @Html.Partial("_CopyRight_Version_Info")
            </div>
            <div class="float-right pad5">
                <img id="systemUpIndicator" src="~/Images/connected.png" title='@DbRes.T("Connected", "Layout")' style="display:none" />
                <img id="systemDownIndicator" src="~/Images/disconnected.png" title='@DbRes.T("Disconnected", "Layout")' />

            </div>

        </div>
    </footer>

    <div id="ccsroledata" data-ccsrole='@Html.Raw(Json.Encode(ViewBag.CCSRole))'></div>
    <div id="orgadminroledata" data-orgadminrole='@Html.Raw(Json.Encode(ViewBag.OrgAdminRole))'></div>
    <script>
    @Html.RequireJsCommonStart(@Url.Content("~"))
        require(["jquery", "Resources", "layout", "notify", "chat", "systemStatusNotification", "kendo/kendo.menu.min"], function ($, res, layout, notify, chat, systemStatusNotification) {
            var RES = res.getResources("Admin");
            var model;
            layout.init();

            notify.init();
            chat.init();
            systemStatusNotification.init();

            window.layout = layout;

            $("#adminMenu").kendoMenu({
                orientation: "vertical"

            });

            var menu = $("#adminMenu").data("kendoMenu");
            ccsrole = $("#ccsroledata").data("ccsrole");
            orgadminrole = $("#orgadminroledata").data("orgadminrole");
            if (ccsrole != null && ccsrole === true) {
                menu.append([
                {
                    text: RES.dbRes("Organization Management"),
                    url: "/Admin/Organization",
                    imageUrl: "/Images/user_icon.png"
                },
                {
                    text: RES.dbRes("Domain Of Authority"),
                    url: "/Admin/DomainOfAuthority",
                    imageUrl: "/Images//blue_area.png"
                },
                {
                    text: RES.dbRes("User Management"),
                    url: "/Admin/UserManagement",
                    imageUrl: "/Images/userm.png"
                },
                {
                    text: RES.dbRes("Registration Management"),
                    url: "/Admin/NewRegistration",
                    imageUrl: "/Images/userm.png"
                },
                {
                    text: RES.dbRes("Email Confirmation Pending"),
                    url: "/Admin/WaitingApproval",
                    imageUrl: "/Images/userm.png"
                }
                ]);
            }
            else if (orgadminrole != null && orgadminrole === true) {
                menu.append([
                    {
                        text: RES.dbRes("Organization Management"),
                        url: "/Admin/Organization",
                        imageUrl: "/Images/user_icon.png"
                    },
                    {
                        text: RES.dbRes("User Management"),
                        url: "/Admin/UserManagement",
                        imageUrl: "/Images/userm.png"
                    }
                ]);
            }
            else {
                menu.append([
                  {
                      text: RES.dbRes("Organization Management"),
                      url: "/Admin/Organization",
                      imageUrl: "/Images/user_icon.png"
                  },
                  {
                      text: RES.dbRes("Domain Of Authority"),
                      url: "/Admin/DomainOfAuthority",
                      imageUrl: "/Images//blue_area.png"
                  },
                  {
                      text: RES.dbRes("NSD Manager"),
                      url: "/Admin/NSDManager",
                      imageUrl: "/Images/G.png"
                  },
                  {
                      text: RES.dbRes("Reports"),
                      //url:"~/Admin/",
                      imageUrl: "/Images/blue_area.png"
                  },
                  {
                      text: RES.dbRes("Localization"),
                      url: "/Admin/Localization",
                      imageUrl: "/Images/globe.png"
                  },
                  {
                      text: RES.dbRes("Bilingual NOTAM Region"),
                      url: "/Admin/BilingualRegion",
                      imageUrl: "/Images/region.png"
                  },
                  {
                      text: RES.dbRes("User Management"),
                      url: "/Admin/UserManagement",
                      imageUrl: "/Images/userm.png"
                  },
                  {
                      text: RES.dbRes("ICAO Subject & Conditions"),
                      url: "/Admin/IcaoSubject",
                      imageUrl: "/Images/globe.png"
                  },
                  {
                      text: RES.dbRes("Geographic Regions"),
                      url: "/Admin/GeoRegions",
                      imageUrl: "/Images/netsurf-2.png"
                  },
                  {
                      text: RES.dbRes("Aerodromes Dissemination Category"),
                      url: "/Admin/AerodromeDisseminationCategory",
                      imageUrl: "/Images/blockdevice.png"
                  },
                  {
                      text: RES.dbRes("NAVAID Dissemination Category"),
                      url: "/Admin/NavAidDisseminationCategory",
                      imageUrl: "/Images/blockdevice.png"
                  },
                  {
                      text: RES.dbRes("Series Allocation"),
                      url: "/Admin/SeriesAllocation",
                      imageUrl: "/Images/SeriesAllocation.png"
                  }

                ]);
            }


            @RenderSection("scripts", required: false)
            @Html.Kendo().DeferredScripts(false);
        });
        @Html.RequireJsCommonEnd()
    </script>





</body>

</html>
