﻿@using Westwind.Globalization;
@{
    ViewBag.Title = "NSD Manager";
}

<table style="width:100%;height:100%">
    <tr>
        <td>
            <h2>NSD Manager</h2>
        </td>
    </tr>
    <tr>
        <td height="100%">
            <div id="nsd_grid" style="height:100%"></div>

        </td>
    </tr>
</table>

<script id="nsdVersionsTemplate" type="text/kendo-tmpl">
    <div class="nsdVersionsGrid"></div>
</script>

<div id="model" data-orgs='@Html.Raw(Json.Encode(ViewData["Orgs"]))'></div>

<script>
   @section Scripts{
    require(["admin/Controllers/NSDManager/Index"], function (index) {
            var labels = {
                saveChanges: '@DbRes.T("Save Changes", "NSD Manager")',
                discarChanges: '@DbRes.T("Discard Changes", "NSD Manager")',
                descriptionLabel: '@DbRes.T("Description", "NSD Manager")',
                releaseDate: '@DbRes.T("Release Date", "NSD Manager")',
                supportedSubjects: '@DbRes.T("Supported Subjects", "NSD Manager")',
                versionLabel: '@DbRes.T("Version", "NSD Manager")'
            };
            index.init(labels);
        })
    }
</script>

