﻿@model NavCanada.Services.Api.IdentityProvider.Models.LoginModel

@{
    ViewBag.Title = "IdP Login";
}

<h2>Custom login</h2>

@using (Html.BeginForm())
{
    <div class="form-group">
        <label for="userName">User Name</label>
        <input name="userName" value="" class="form-control" />
        <label for="password">Password</label>
        <input type="password" name="password" class="form-password" />
    </div>
    <div class="form-group">
        <button class="btn btn-primary">Login</button>
    </div>
}
