﻿@using Westwind.Globalization
<style>
    #fixedChat {
        display: none;
        bottom: 0;
        right: 20px;
        margin-left: -200px;
        overflow: hidden;
        padding: 0 5px;
        position: fixed;
        width: 30px;
        z-index: 1001;
    }

    .fixedHeader {

        border-bottom: none;
        color: #fff;
        height: 22px;
        margin: 0 auto;
        padding: 5px;
        width: 390px;
        font-weight: 700;
        font-size: 15px;
    }

        .fixedHeader img {
            width: 25px;
            height: 25px;
            margin-top: -2px;
        }

    #chatActive {
        display: none;
    }

    .fixedContent {
        background: none repeat scroll 0 0 #ffffff;
        border-left: 1px solid #b2b2b2;
        border-right: 1px solid #b2b2b2;
        margin: 0 auto;
        width: 400px;
        height: 300px;
        overflow: auto;
    }

    .userinput {
        width: 390px;
        height: 16px;
        outline: none;
        display: block;
        resize: none;
        padding: 5px;
    }

    .messages {
        color: #333;
        line-height: 1.28;
        padding: 5px;
        font-size: 14px;
        display: block;
    }

        .messages img {
            position: absolute;
            padding-top: 2px;
        }

        .messages span {
            padding-left: 20px;
        }


    .userwrap {
        position: relative;
    }

    .user {
        padding: 5px;
        font-size: 12px;
        color: #888;
        font-weight: 900;
        position: absolute;
        left: 0;
        top: 0;
    }
</style>


<div id="fixedChat">

    <div class="fixedHeader">
        <img id="chatStandby" src="~/Images/user/chat-standby.png" title='@DbRes.T("Open/Close Chat.", "Layout")' />
        <img id="chatActive" src="~/Images/user/chat-active.png" title='@DbRes.T("New Message(s)!. Open/Close Chat.", "Layout")' />
    </div>
    <div class="fixedContent"></div>
    <div class="chatbox">
        <textarea id="userinput" class="userinput" style="height: 16px; ">Type here... (Use @@User for Private Message)</textarea>
    </div>
</div>



