﻿
<style type="text/css" media="screen">
    .slide-out-div {
        padding: 20px;
        width: 250px;
        background: #f2f2f2;
        border: #0072c6 2px solid;
    }
</style>
<script src="~/Scripts/jquery.tabSlideOut.v1.3.js"></script>

<script type="text/javascript">
    $(function () {
        $('.slide-out-div').tabSlideOut({
            tabHandle: '.handle',                     //class of the element that will become your tab
            pathToTabImage: 'images/SendFeed-right.png', //path to the image for the tab //Optionally can be set using css
            imageHeight: '50px',                     //height of tab image           //Optionally can be set using css
            imageWidth: '50px',                       //width of tab image            //Optionally can be set using css
            tabLocation: 'right',                      //side of screen where tab lives, top, right, bottom, or left
            speed: 300,                               //speed of animation
            action: 'click',                          //options: 'click' or 'hover', action to trigger animation
            topPos: '200px',                          //position from the top/ use if tabLocation is left or right
            leftPos: '20px',                          //position from left/ use if tabLocation is bottom or top
            fixedPosition: false                      //options: true makes it stick(fixed position) on scroll
        });

    });

</script>



<div class="slide-out-div">
    <a class="handle" href="http://">Content</a>
    <h3>Contact the delivery team</h3>
    <hr />
    <table>
        <tr>
            <td><a href="mailto:MahdiM@navcanada.ca">Maamoun Mahdi</a></td>
            <td> - Manager<br /></td>
        </tr>
        <tr>
            <td><a href="mailto:Bobasan@navcanada.ca">Andy Bobas </a></td>
            <td>- Team Lead <br/></td>
        </tr>
        <td><a href="mailto:hoftyzs@navcanada.ca">Sharlene Hoftyzer</a></td>
        <td>- Developer<br /></td>
        <tr>
            <td><a href="mailto:alobido@navcanada.ca">Omar Alobidat</a></td>
            <td>- Developer<br /></td>
        </tr>
    </table>

</div>