﻿@using NavCanada.Applications.NotamWiz.Web.Code.Helpers
@using Westwind.Globalization;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge;chrome=1" />
    <meta charset="utf-8" />
    <title>@DbRes.T("NOTAMWiz", "Home")</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />

    @Styles.Render("~/Content/kendo/kendoBundle")
    @Styles.Render("~/Content/site")


    @RenderSection("styles", required: false)

    <script src="@Url.Content("~/Scripts/require.js")" type="text/javascript"></script>

    @RenderSection("headerScripts", required: false)

</head>

<!--[if gte IE 9]>
  <style type="text/css">
    .gradient {
       filter: none;
    }
  </style>
<![endif]-->


<body style="visibility:hidden">

    <header class="outer-north">
        <div class="k-block-dark pad10">
            <a href="@Url.Action("Index", "Home", new { Area = "" } )"><img src="~/Images/notamWizLogo.png" id="notamWizHeaderLogo" /></a>
        </div>
    </header>


    <div id="content" class="outer-center main-content">

        <div class="middle-center workingArea">
            <div id="loadingArea" class="inner-center">
                @RenderBody()
            </div>
            
        </div>
    </div>


    <footer class="outer-south k-block-dark">
        <div>
            <div class="float-left pad5">
                @Html.Partial("_CopyRight_Version_Info")
            </div>
        </div>
    </footer>


    <script>
        @Html.RequireJsCommonStart(@Url.Content("~"))
            require(["jquery", "layout"], function ($, layout) {
            layout.init();

            window.layout = layout; 
            @RenderSection("scripts", required: false)
            document.getElementsByTagName("body")[0].style.visibility = "visible";
        });
        @Html.RequireJsCommonEnd()
    </script>

</body>
</html>


