﻿@using NavCanada.Applications.NotamWiz.Web.Code.Helpers
@using Westwind.Globalization;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge;chrome=1" />
    <meta charset="utf-8" />
    <title>@DbRes.T("NOTAMWiz", "Home")</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />

    @Styles.Render("~/Content/kendo/kendoBundle")
    @Styles.Render("~/Content/site")


    @RenderSection("styles", required: false)

    <script src="@Url.Content("~/Scripts/require.js")" type="text/javascript"></script>

    @RenderSection("headerScripts", required: false)


</head>

<!--[if gte IE 9]>
  <style type="text/css">
    .gradient {
       filter: none;
    }
  </style>
<![endif]-->


<body style="visibility:hidden">

    <header class="outer-north">
        <div class="k-block-dark pad10">
            <a href="@Url.Action("Index", "Home", new { Area = "" } )"><img src="~/Images/notamWizLogo.png" id="notamWizHeaderLogo" /></a>
            <div class="float-right">
                <div class="float-left">@Html.Partial("_LoginPartial")</div>
            </div>
        </div>
    </header>


    @Html.Partial("_SystemNotifications")
    @Html.Partial("_ChatControl")
    <div id="content" class="outer-center main-content">

        <div class="middle-north">
            <div class="k-block pad10">
                <a href="~/">Home</a> > @Html.RouteLink(@DbRes.T("User Settings", "Home"), new { controller = "Account", action = "Manage", area = "" }) > @ViewBag.Breadcrumb
            </div>

        </div>


        <div class="middle-west">
            <ul id="adminMenu" style="height: 100%"></ul>
        </div>

        <div class="middle-center workingArea">
            <div id="loadingArea" class="inner-center">
                @RenderBody()
            </div>
        </div>
    </div>


    <footer class="outer-south k-block-dark">
        <div>
            <div class="float-left pad5">
                @Html.Partial("_CopyRight_Version_Info")
            </div>
            <div class="float-right pad5">

                <img id="systemUpIndicator" src="~/Images/connected.png" title='@DbRes.T("Connected", "Layout")' style="display:none" />
                <img id="systemDownIndicator" src="~/Images/disconnected.png" title='@DbRes.T("Disconnected", "Layout")' />
            </div>

        </div>
    </footer>


    <script>
        @Html.RequireJsCommonStart(@Url.Content("~"))
        //require(["jquery", "layout", "notify", "chat", "systemStatusNotification"], function ($, layout, notify, chat, systemStatusNotification) {
        require(["jquery", "Resources", "layout", "notify", "chat", "systemStatusNotification", "kendo/kendo.menu.min"], function ($, res, layout, notify, chat, systemStatusNotification) {

            var RES = res.getResources("Admin");
            var model;

            layout.init();
            notify.init();

            chat.init();

            $("#adminMenu").kendoMenu({ orientation: "vertical" });
            var menu = $("#adminMenu").data("kendoMenu");

            menu.append([
                {
                    text: "Change Password",
                    url: "/Account/ManagePassword",
                    imageUrl: "/Images/user_icon.png"
                },
                {
                    text: "Change Default Language",
                    url: "/Account/ChangeDefaultLanguage",
                    imageUrl: "/Images/user_icon.png"
                },
                {
                    text: "Change Expired Records Filter",
                    url: "/Account/ChangeExpiredRecordsFilter",
                    imageUrl: "/Images/user_icon.png"
                }
            ]);

            systemStatusNotification.init();
            window.layout = layout;
            @RenderSection("scripts", required: false)
            document.getElementsByTagName("body")[0].style.visibility = "visible";
        });
        @Html.RequireJsCommonEnd()
    </script>





</body>
</html>


