﻿@using Westwind.Globalization
<style scoped>
    .MapPanel
    {
        border: 1px solid #000000;
        height: calc(100% - 8px);
        height: -moz-calc(100% - 8px);
        height: -webkit-calc(100% - 8px);
        margin: 3px;
        overflow: hidden;
        position: relative;
    }

    .ItemProperties
    {
        display: none;
        height: 200px;
        position: fixed;
        width: 200px;
    }

    .ItemProperties > table
    {
        background-color: beige;
        border: 1px solid black;
    }

    .Map
    {
        height: 100%;
        padding: 3px;
        position: relative;
        width: 100%;
    }

    .mapInfo
    {
        display: none;
        user-select: none;
        cursor: default;
        bottom: 6px;
        color: white;
        left: 75px;
        position: absolute;
        text-shadow: 1px 1px #000000;
    }

    .mapTools, .info
    {
        display: none;
        left: 5px;
        min-width: 150px;
        opacity: 0.6;
        position: absolute;
        top: 5px;
    }
</style>
<div class="MapPanel">
    <div class="theMap"></div>
    <div class="mapInfo">
        <div style="width: 100%">
            <table>
                <tr>
                    <td>@DbRes.T("Latitiude", "MapControl") </td>
                    <td>
                        <strong class="InfoLatitude"></strong>
                    </td>
                    <td>@DbRes.T("Longitude", "MapControl")</td>
                    <td>
                        <strong class="InfoLongitude"></strong>
                    </td>
                    <td>@DbRes.T("Zoom", "MapControl")</td>
                    <td>
                        <strong class="InfoZoom"></strong>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <ul class="mapTools">
        <li>
            @DbRes.T("Map Tools", "MapControl")
            <div>
                <table>
                    <tr>
                        <td>
                            <label for="regionType">@DbRes.T("Type:", "MapControl")</label>
                        </td>
                        <td>
                            <input class="regionType" />
                        </td>
                    </tr>
                    <tr class="firSelector" style="display: none">
                        <td>@DbRes.T("FIR:", "MapControl") </td>
                        <td>
                            <input class="firs" />
                        </td>
                    </tr>
                    <tr class="aerodromeSelector" style="display: none">
                        <td>@DbRes.T("AD:", "MapControl")</td>
                        <td>
                            <input class="ads" />
                        </td>
                        <td>@DbRes.T("Radious:", "MapControl")</td>
                        <td>
                            <input class="adRadious" max="100" min="1" step="1" type="number" value="5" />
                        </td>
                    </tr>
                    <tr class="locationSelector" style="display: none">
                        <td>@DbRes.T("Location:", "MapControl")</td>
                        <td>
                            <input class="location" />
                        </td>
                        <td>@DbRes.T("Radious:", "MapControl")</td>
                        <td>
                            <input class="locationRadious" max="100" min="1" type="number" value="5" />
                        </td>
                    </tr>
                    <tr class="polygonSelector" style="display: none">
                        <td>
                            <div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="99">
                            <div style="width: 100%">
                                <button class="btnInclude, k-button" style="float: right; padding-right: 5px" type="button">@DbRes.T("Include", "MapControl")</button>
                                <button class="btnExclude, k-button" style="float: right; padding-right: 5px" type="button">@DbRes.T("Exclude", "MapControl")</button>
                                <button class="btnReset, k-button" style="float: right; padding-right: 5px" type="button">@DbRes.T("Clear All", "MapControl")</button>
                                <button class="btnShowAll, k-button" style="float: right; padding-right: 5px" type="button">@DbRes.T("Show All", "MapControl")</button>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </li>
    </ul>
    <ul class="info">
        <li>
            <strong class="infoTitle"></strong>
            <div style="height: 300px; overflow-y: scroll;">
                <table border="1" class="infoTable">
                    <tr style="background-color: lightgray">
                        <td align="left" width="200px">
                            <strong>@DbRes.T("proprety", "MapControl")</strong>
                        </td>
                        <td align="left" width="300px">
                            <strong>@DbRes.T("Value", "MapControl")</strong>
                        </td>
                    </tr>
                </table>
            </div>
        </li>
    </ul>
</div>
<div class="ItemProperties">
    <table>
        <tbody>
            <tr></tr>
        </tbody>
    </table>
    <div class="actionPanel">
    </div>
</div>