﻿


<script id="userConnectedTemplate" type="text/x-kendo-template">
    <div class="notification">
        <img src="/Images/Notifications/im-user.png" />
        <h3>#= title #</h3>
        
    </div>
</script>
<script id="userDisconnectedTemplate" type="text/x-kendo-template">
    <div class="notification">
        <img src="/Images/Notifications/im-user-offline.png" />
        <h3>#= title #</h3>        
    </div>
</script>


<style>
  
    .notification {
        
        width:300px;
        
        padding: 5px;  
        display: inline-block;
        zoom: 1;
        *display: inline;
    }

  .notification h3 {
            font-size: 12px;
            
            
        }

        .notification img {
            float: left;
            width:25px;
            height:25px;
            margin: 5px;
        }

    /* Error template */
    .k-notification-error.k-group {
        background: rgba(100%,0%,0%,.7);
        color: #ffffff;
    }

    
</style>

<span id="notification" style="display:none;"></span>

