﻿<script type="text/javascript">
    $(function () {
        $('#selectionArea .collapsibleMenuTop').click(function () {
            $(this).next().toggle('fast');
            return false;
        }).next().show();
    });

</script>



<div id="selectionArea" class="middle-west">
    <h3 class="collapsibleMenuTop"><img src="~/Images/user_icon.png" height="15" />&nbsp;&nbsp;<b>NOTAM</b></h3>
    <div class="collapsibleSubMenu" id="notamActions">
        <a href="~/Dashboard/ReviewList"><div class="collapsibleSubMenuItem">NavCanada.Applications.NotamWiz.Resources.Views.Dashboard.Resources.DN_ReviewList<br /></div></a>
        <a href="~/Dashboard/"> <div class="collapsibleSubMenuItem">NavCanada.Applications.NotamWiz.Resources.DN_Create_NOTAM<br /></div></a>
    </div>
    <h3 class="collapsibleMenuTop">
        <img src="~/Images/blue_area.png" height="15" />&nbsp;&nbsp;<b>NavCanada.Applications.NotamWiz.Resources.Views.Dashboard.Resources.DN_REPORTS</b>
    </h3>
    <div class="collapsibleSubMenu" id="reportActions">
        <a href="~/Reports">
            <div class="collapsibleSubMenuItem">
                Report 1
            </div>
        </a>
        <a href="~/Reports">
            <div class="collapsibleSubMenuItem">
                Report 2
            </div>
        </a>
        <a href="~/Reports">
            <div class="collapsibleSubMenuItem">
                Report 3
            </div>
        </a>
        <a href="~/Reports">
            <div class="collapsibleSubMenuItem">
                NavCanada.Applications.NotamWiz.Resources.Views.Dashboard.Resources.DN_View_All_Reports
            </div>
        </a>
    </div>
</div>





