﻿@using Westwind.Globalization;
@model NavCanada.Applications.NotamWiz.Web.Models.AddUser
@{
    ViewBag.Title = "Register";
}
@section styles {
    <link href="@Url.Content("~/Content/Views/Form.css")" rel="stylesheet" type="text/css" />
}
      
<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>

<h3>@ViewBag.Message</h3>
<div id="registerContent">
    @using (Ajax.BeginForm("RegisterUser", "UserManagement", new AjaxOptions { UpdateTargetId = "registerContent" }))
    {
         @Html.AntiForgeryToken()
        @Html.ValidationSummary()
        <fieldset id="fieldset">
            <legend><strong>@DbRes.T("RegistrationForm", "UserManagementRes")</strong></legend>
            <ol>
            <li>
                <strong>
                    @DbRes.T("User Name:", "UserManagementRes")
                </strong>
                @Html.TextBoxFor(m => m.UserName)
                <strong>*</strong>
            </li>
                <li>
                    <strong>
                        @DbRes.T("First Name:", "UserManagementRes")
                    </strong>
                    @Html.TextBoxFor(m => m.FirstName)
                    <strong>*</strong>
                </li>
                <li>
                    <strong>
                        @DbRes.T("Last Name:", "UserManagementRes")
                    </strong>
                    @Html.TextBoxFor(m => m.LastName)
                    <strong>*</strong>
                </li>
                <li>
                    <strong>
                        @DbRes.T("Title/Position:", "UserManagementRes")
                    </strong>
                    @Html.TextBoxFor(m => m.Position)
                    <strong>*</strong>
                </li>
                <li>
                    <strong>
                        @DbRes.T("Email:", "UserManagementRes")
                    </strong>
                    @Html.TextBoxFor(m => m.EmailAddress)
                    <strong>*</strong>
                </li>
                <li>
                    <strong>
                        @DbRes.T("Telephone:", "UserManagementRes")
                    </strong>
                    @Html.TextBoxFor(m => m.Telephone)
                    <strong>*</strong>
                </li>
                <li>
                    <strong>
                        @DbRes.T("Address (if defferent from Organization):", "UserManagementRes")
                    </strong>
                    @Html.TextBoxFor(m => m.Address)
                </li>
                <li>
                    <strong>
                        @DbRes.T("Fax:", "UserManagementRes")
                    </strong>
                    @Html.TextBoxFor(m => m.Fax)
                </li>
                <li>
                    <strong>
                        @DbRes.T("Password:", "UserManagementRes")
                    </strong>
                    @Html.PasswordFor(m => m.Password)
                    <strong>*</strong>
                </li>
                <li>
                    <strong>
                        @DbRes.T("Confirm Password:", "UserManagementRes")
                    </strong>
                    @Html.PasswordFor(m => m.ConfirmPassword)
                    <strong>*</strong>
                </li>                
                <li>
                    <strong>
                        @DbRes.T("Organization:", "UserManagementRes")
                    </strong>
                   @Html.DropDownListFor(m => m.OrganizationId, new SelectList(ViewBag.Organizations, "Id", "Name"))
                </li>
                </ol>

            <input type="submit" value="@DbRes.T("Submit", "UserManagementRes")" class="k-button" />
            <input id ="btnClear" type="button" value="@DbRes.T("Clear", "UserManagementRes")" class="k-button"  />
        </fieldset>
    }   
</div>

