﻿<div class="app-header">
    <h2>
        <strong>{{'Common.New' | translate:lang}} {{'OrgSession.PageTitleBold' | translate:lang}} </strong> 
    </h2>
</div>

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <form [formGroup]="orgForm" class="form" autocomplete="off"  (ngSubmit)="onSubmit()" novalidate="novalidate">

            <div class="panel bg-blue-dark">
                <div class="panel-header">
                    <h3><i class="fa fa-user-md"></i> <strong>{{'OrgSession.OrgDetails' | translate:lang}}</strong></h3>
                    <div class="control-btn">
                        <a href="#" class="panel-toggle"><i class="fa fa-angle-down"></i></a>
                    </div>
                </div>
                <div class="panel-content bg-white">
                    <div class="row">
                        <!-- organization name -->
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label">{{'OrgSession.Name' | translate:lang}}</label>
                                <div class="append-icon">
                                    <input id="orgname" formControlName="name" type="text"
                                           placeholder="{{'OrgSession.PlaceHolderOrgName' | translate:lang}}"
                                           class="form-control form-white"
                                           [ngClass]="{'form-error': !validateName() }"
                                           minlength="3"
                                           tabindex="1">
                                    <i class="fa fa-user"></i>
                                    <div *ngIf="!validateName() && orgForm.controls.name.errors && (orgForm.controls.name.errors.minlength || orgForm.controls.name.errors.maxlength)" class="form-error">{{'OrgSession.ValidateOrgNameMinMaxLength' | translate:lang}}</div>
                                    <div *ngIf="!validateName() && orgForm.controls.name.errors && orgForm.controls.name.errors.required" class="form-error">{{'OrgSession.ValidateOrgNameRequired' | translate:lang}}</div>
                                    <div *ngIf="!validateName() && orgForm.controls.name.errors && orgForm.controls.name.errors.pattern" class="form-error">{{'OrgSession.ValidateOrgNamePattern' | translate:lang}}</div>
                                    <div *ngIf="!isOrgNameUnique" class="form-error">{{'OrgSession.RequieredOrgNameUnique' | translate:lang}}</div>
                                </div>
                            </div>
                        </div>
                        <!-- administrator name -->
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label">{{'OrgSession.AdminUserName' | translate:lang}}</label>
                                <div class="append-icon">
                                    <input id="username" formControlName="username" type="text"
                                           placeholder="{{'OrgSession.PlaceHolderAdminUserName' | translate:lang}}"
                                           class="form-control form-white"
                                           [ngClass]="{'form-error': !validateUsername() }"
                                           tabindex="6">
                                    <i class="fa fa-user"></i>
                                    <div *ngIf="!validateUsername() && orgForm.controls.username.errors && (orgForm.controls.username.errors.minlength || orgForm.controls.username.errors.maxlength)" class="form-error">{{'UserSession.ValidateUsernameMinMaxLength' | translate:lang}}</div>
                                    <div *ngIf="!validateUsername() && orgForm.controls.username.errors && orgForm.controls.username.errors.required" class="form-error">{{'UserSession.ValidateUsernameRequired' | translate:lang}}</div>
                                    <div *ngIf="!validateUsername() && orgForm.controls.username.errors && orgForm.controls.username.errors.pattern" class="form-error">{{'UserSession.ValidateUsernamePattern' | translate:lang}}</div>
                                    <div *ngIf="!isAdminNameUnique" class="form-error">{{'OrgSession.RequieredAdminNameUnique' | translate:lang}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label">{{'OrgSession.Address' | translate:lang}}</label>
                                <div class="append-icon">
                                    <input id="address" formControlName="address" type="text"
                                           class="form-control form-white"
                                           placeholder="{{'OrgSession.PlaceHolderOrgAddress' | translate:lang}}"
                                           [ngClass]="{'form-error': !validateAddress() }"
                                           tabindex="2">
                                    <i class="fa fa-info"></i>
                                    <div *ngIf="!validateAddress() && orgForm.controls.address.errors && orgForm.controls.address.errors.required" class="form-error">{{'OrgSession.ValidateAddress' | translate:lang}}</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label class="control-label">{{'OrgSession.AdminFirstName' | translate:lang}}</label>
                                <div class="append-icon">
                                    <input id="firstname" formControlName="firstName" type="text"
                                           class="form-control form-white"
                                           placeholder="{{'OrgSession.PlaceHolderAdminFirstName' | translate:lang}}"
                                           [ngClass]="{'form-error': !validateFirstName() }"
                                           tabindex="7">
                                    <i class="fa fa-info"></i>
                                    <div *ngIf="!validateFirstName() && orgForm.controls.firstName.errors && orgForm.controls.firstName.errors.required" class="form-error">{{'UserSession.ValidateFirstName' | translate:lang}}</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label class="control-label">{{'OrgSession.AdminLastName' | translate:lang}}</label>
                                <div class="append-icon">
                                    <input id="lastname" formControlName="lastName" type="text"
                                           class="form-control form-white"
                                           placeholder="{{'OrgSession.PlaceHolderAdminLastName' | translate:lang}}"
                                           [ngClass]="{'form-error': !validateLastName() }"
                                           tabindex="8">
                                    <i class="fa fa-info"></i>
                                    <div *ngIf="!validateLastName() && orgForm.controls.lastName.errors && orgForm.controls.lastName.errors.required" class="form-error">{{'UserSession.ValidateLastName' | translate:lang}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label">{{'OrgSession.TypeOfOperation' | translate:lang}}</label>
                                <div class="append-icon">
                                    <input id="typeOfOperation" formControlName="typeOfOperation" type="text"
                                           class="form-control form-white"
                                           placeholder="{{'OrgSession.PlaceHolderOrgTypeOfOper' | translate:lang}}"
                                           [ngClass]="{'form-error': !validateTypeOfOperation() }"
                                           tabindex="3">
                                    <i class="fa fa-info"></i>
                                    <div *ngIf="!validateTypeOfOperation() && orgForm.controls.typeOfOperation.errors && orgForm.controls.typeOfOperation.errors.required" class="form-error">{{'OrgSession.ValidateTypeOfOperationRequired' | translate:lang}}</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label">{{'OrgSession.Email' | translate:lang}}</label>
                                <div class="append-icon">
                                    <input id="emailAddress" formControlName="emailAddress" type="email"
                                           class="form-control form-white"
                                           placeholder="{{'OrgSession.PlaceHolderOrgEmail' | translate:lang}}"
                                           [ngClass]="{'form-error': !validateEmailAddress() }"
                                           tabindex="11">
                                    <i class="fa fa-envelope-o"></i>
                                    <div *ngIf="!validateEmailAddress() && orgForm.controls.emailAddress.errors && orgForm.controls.emailAddress.errors.required" class="form-error">{{'OrgSession.ValidateEmailRequired' | translate:lang}}</div>
                                    <div *ngIf="!validateEmailAddress() && orgForm.controls.emailAddress.errors && orgForm.controls.emailAddress.errors.pattern" class="form-error">{{'OrgSession.ValidateEmailPattern' | translate:lang}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label">{{'OrgSession.HeadOfficeInfo' | translate:lang}}</label>
                                <div class="append-icon">
                                    <input id="headOffice" formControlName="headOffice" type="text"
                                           class="form-control form-white"
                                           placeholder="{{'OrgSession.PlaceHolderOrgHeadOffice' | translate:lang}}"
                                           tabindex="4">
                                    <i class="fa fa-info"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label">{{'OrgSession.Telephone' | translate:lang}}</label>
                                <div class="append-icon">
                                    <input id="telephone" formControlName="telephone" type="text"
                                           class="form-control form-white"
                                           placeholder="{{'OrgSession.PlaceHolderOrgTelephone' | translate:lang}}"
                                           (blur)="phoneNumberBlur()"
                                           (focus)="phoneNumberFocus()"
                                           [ngClass]="{'form-error': !validateTelephone() }"
                                           tabindex="12">
                                    <i class="fa fa-phone"></i>
                                    <div *ngIf="!validateTelephone() && orgForm.controls.telephone.errors && orgForm.controls.telephone.errors.required" class="form-error">{{'OrgSession.ValidatePhoneNumberRequired' | translate:lang}}</div>
                                    <div *ngIf="!validateTelephone() && orgForm.controls.telephone.errors && orgForm.controls.telephone.errors.pattern" class="form-error">{{'OrgSession.ValidatePhoneNumberPattern' | translate:lang}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label">{{'OrgSession.OrganizationType' | translate:lang}}</label>
                                <div class="append-icon">
                                    <select2 [data]="orgTypes" [class.form-white]="!isReadOnly"
                                             [options]="orgTypeOptions"
                                             [width]="500"
                                             [disabled]="isReadOnly"
                                             [value]="orgType"
                                             (valueChanged)="onOrgTypeChanged($event)"
                                             tabindex="5"></select2>
                                    <i class="fa fa-info"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label class="control-label">{{'OrgSession.Doa' | translate:lang}}</label>
                                <div class="append-icon">
                                    <select2 [data]="doas" [class.form-white]="!isReadOnly"
                                             [options]="doaOptions"
                                             [width]="500"
                                             [disabled]="isReadOnly"
                                             [value]="selectedDoaId"
                                             (valueChanged)="onDoaChanged($event)"
                                             tabindex="13"></select2>
                                    <i class="fa fa-graduation-cap"></i>
                                    <div *ngIf="!validateDoas()" class="form-error" style="margin-top:10px;">{{'OrgSession.ValidateDoas' | translate:lang}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label class="control-label">{{'OrgSession.Nsd' | translate:lang}}</label>
                                <div class="append-icon">
                                    <select2 [data]="nsds" [class.form-white]="!isReadOnly"
                                             [options]="nsdOptions"
                                             [width]="500"
                                             [disabled]="isReadOnly"
                                             [value]="selectedNsdIds"
                                             (valueChanged)="onNsdChanged($event)"
                                             tabindex="14"></select2>
                                    <i class="fa fa-graduation-cap"></i>
                                    <div *ngIf="!validateNsds()" class="form-error" style="margin-top:10px;">{{'OrgSession.ValidateNsds' | translate:lang}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="text-center  m-t-20">
                        <button class="btn btn-embossed btn-primary" type="submit" [disabled]="disableSubmit()">{{'Common.Save' | translate:lang}}</button>
                        <button class="cancel btn btn-embossed btn-default m-b-10 m-r-0" type="reset" (click)="backToOrgList()">{{'Common.Cancel' | translate:lang}}</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

