﻿<div class="app-header">
    <h2>
        <strong>{{'ChecklistSession.PageTitleBold' | translate:lang}} </strong>
        <a href="../Content/help/NESUserGuide{{langCulture}}.pdf#c_adm_checklist_management" target="_blank" style="padding-left:10px;"><i class="icon-question"></i></a>
    </h2>
</div>

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <form [formGroup]="checklistForm" class="form" autocomplete="off" novalidate="novalidate">

            <div class="panel bg-blue-dark">
                <div class="panel-header">
                    <h3><i class="fa fa-user-md"></i> <strong>{{'ChecklistSession.Details' | translate:lang}}</strong></h3>
                    <div class="control-btn">
                        <a href="#" class="panel-toggle"><i class="fa fa-angle-down"></i></a>
                    </div>
                </div>
                <div class="panel-content bg-white">
                    <div class="row">
                        <!--Name-->
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label">{{'ChecklistSession.LatestPublication' | translate:lang}}</label>
                                <div class="append-icon">
                                    <textarea cols="80" rows="5" id="latestPublication" formControlName="latestPublication"
                                              class="form-control"
                                              [class.form-white]="true"
                                              style="text-transform:uppercase; resize:vertical"></textarea>
                                    <i class="fa fa-pencil-square-o"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="form-label">{{'ChecklistSession.Actions' | translate:lang}}</label>
                                <div class="input-group">
                                    <button type="button" class="btn btn-embossed btn-primary"
                                            (click)="saveData()"
                                            [disabled]="disableSave()">
                                        <i class="icon-plus"></i> {{'Common.Save' | translate:lang}}
                                    </button>
                                    <button type="button" class="btn btn-embossed btn-primary"
                                            (click)="reloadData()"
                                            [disabled]="disableReset()">
                                        <i class="icon-minus"></i> {{'Common.Discard' | translate:lang}}
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Form Buttons-->
                    <!--<div class="text-center  m-t-20">
                        <button class="btn btn-embossed btn-primary" type="submit">{{'ChecklistSession.PublishChecklist' | translate:lang}}</button>
                    </div>-->
                </div>
            </div>

            <div class="panel bg-blue-dark">
                <div class="panel-header">
                    <h3><i class="fa fa-user-md"></i> <strong>{{'ChecklistSession.ChecklistSeriesConfiguration' | translate:lang}}</strong></h3>
                    <div class="control-btn">
                        <a href="#" class="panel-toggle"><i class="fa fa-angle-down"></i></a>
                    </div>
                </div>
                <div class="panel-content bg-white">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="m-t-10 m-b-10 no-print">
                                <button class="btn btn-primary m-r-10 m-b-10"
                                        [routerLink]="['/administration/checklist/create']">
                                    <i class="fa fa-plus m-r-10"></i>{{'Common.Add' | translate:lang}}
                                </button>
                                <button class="btn btn-primary m-r-10 m-b-10"
                                        [disabled]="selectedSeries === null"
                                        [routerLink]="['/administration/checklist/edit', selectedSeries?.series]">
                                    <i class="fa fa-pencil-square-o m-r-10"></i>{{'Common.Edit' | translate:lang}}
                                </button>
                                <button class="btn btn-primary m-r-10 m-b-10"
                                        [disabled]="selectedSeries === null" (click)="confirmDeleteSeries()">
                                    <i class="fa fa-trash-o m-r-10"></i>{{'Common.Delete' | translate:lang}}
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 portlets ui-sortable" style="padding-left:0px">
                            <div class="panel">
                                <div class="panel-content">
                                    <div class="dataTables_wrapper form-inline">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="panel">
                                                    <div class="panel-header" style="padding-bottom:11px;">
                                                        <div class="form-group">
                                                            <span class="control-label" style="line-height:34px">{{'Common.ItemPerPage' | translate:lang}}:</span>
                                                            <select2 [data]="tableHeaders.itemsPerPage"
                                                                     [value]="itemsPerPageStartValue"
                                                                     [options]="{minimumResultsForSearch:-1}"
                                                                     [width]="50"
                                                                     (valueChanged)="itemsPerPageChanged($event)"></select2>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <table class="table table-hover table-dynamic table-responsive filter-footer dataTable" role="grid">
                                            <thead>
                                                <tr role="row">
                                                    <th tabindex="1" [class]="sortingClass(0)" (click)="sort(0)" style="width: 20%;" rowspan="1" colspan="1">{{'ChecklistSession.Series' | translate:lang}}</th>
                                                    <th tabindex="2" [class]="sortingClass(1)" (click)="sort(1)" style="width: 35%;" rowspan="1" colspan="1">{{'ChecklistSession.FIRS' | translate:lang}}</th>
                                                    <th tabindex="3" [class]="sortingClass(2)" (click)="sort(2)" style="width: 25%;" rowspan="1" colspan="1">{{'ChecklistSession.Coordinates' | translate:lang}}</th>
                                                    <th tabindex="4" [class]="sortingClass(3)" (click)="sort(3)" style="width: 20%;" rowspan="1" colspan="1">{{'ChecklistSession.Radius' | translate:lang}}</th>
                                                </tr>
                                            </thead>
                                            <tbody id="data-response">
                                                <tr role="row" *ngFor="let seriesRec of seriesRecs; let i = index;" id="p_{{seriesRec.series}}"
                                                    (click)="selectSeriesRecord(seriesRec)"
                                                    [class.success]="seriesRec.isSelected">
                                                    <td>{{seriesRec.series}}</td>
                                                    <td>{{seriesRec.firs}}</td>
                                                    <td>{{seriesRec.coordinates}}</td>
                                                    <td>{{seriesRec.radius}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <server-pagination [currentPage]="paging.currentPage"
                                                           [pageSize]="paging.pageSize"
                                                           [totalCount]="paging.totalCount"
                                                           [totalPages]="totalPages"
                                                           [sliderSize]="9"
                                                           (onPageChange)="onPageChange($event)"></server-pagination>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel bg-blue-dark">
                <div class="panel-header">
                    <h3><i class="fa fa-user-md"></i> <strong>{{'ChecklistSession.Manual' | translate:lang}}</strong></h3>
                    <div class="control-btn">
                        <a href="#" class="panel-toggle"><i class="fa fa-angle-down"></i></a>
                    </div>
                </div>
                <div class="panel-content bg-white">
                    <!--Form Buttons-->
                    <div class="text-center  m-t-20">
                        <button class="btn btn-embossed btn-primary" type="submit" (click)="onSubmit()">{{'ChecklistSession.PublishChecklist' | translate:lang}}</button>
                    </div>
                </div>
            </div>

        </form>
    </div>
</div>

<div id="modal-publish" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-sm" style="margin-top: 17% !important;">
        <div class="modal-content">
            <div class="modal-header bg-danger">
                <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
                <h4 class="modal-title"><b>{{'ChecklistSession.PublishNotams' | translate:lang}}</b></h4>
            </div>
            <div class="modal-body">
                <b>{{'ChecklistSession.PublishNotamsConfirmation' | translate:lang}}</b>
                <br />
                <b>{{'ChecklistSession.PublishNotamsWarning' | translate:lang}}</b>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="publishChecklist()">{{'Common.Ok' | translate:lang}}</button>
                <button type="button" class="btn btn-dark" data-dismiss="modal">{{'Common.No' | translate:lang}}</button>
            </div>
        </div>
    </div>
</div>

<div id="modal-delete" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header bg-danger">
                <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
                <h4 class="modal-title"><b>{{'ChecklistSession.DeleteSeries' | translate:lang}}</b></h4>
            </div>
            <div class="modal-body">
                <b>{{'ChecklistSession.DeleteConfirmation' | translate:lang}}</b>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="deleteSeries()">{{'Common.Yes' | translate:lang}}</button>
                <button type="button" class="btn btn-dark" data-dismiss="modal">{{'Common.No' | translate:lang}}</button>
            </div>
        </div>
    </div>
</div>

