﻿<div class="app-header">
    <h2 *ngIf="action === 'create'">
        <strong>{{'Common.New' | translate:lang}} {{'ChecklistSession.SeriesPageTitleBold' | translate:lang}} </strong>
    </h2>
    <h2 *ngIf="action !== 'create'">
        <strong>{{'Common.Edit' | translate:lang}} {{'ChecklistSession.SeriesPageTitleBold' | translate:lang}} </strong>
    </h2>
</div>

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <form [formGroup]="seriesListForm" class="form" autocomplete="off" (ngSubmit)="onSubmit()" novalidate="novalidate">

            <div class="panel bg-blue-dark">
                <div class="panel-header">
                    <h3><i class="fa fa-user-md"></i> <strong>{{'ChecklistSession.SeriesDetails' | translate:lang}}</strong></h3>
                    <div class="control-btn">
                        <a href="#" class="panel-toggle"><i class="fa fa-angle-down"></i></a>
                    </div>
                </div>
                <div class="panel-content bg-white">
                    <div class="row">
                        <div class="col-sm-2">
                            <div class="form-group">
                                <label class="control-label">{{'ChecklistSession.Series' | translate:lang}}</label>
                                <div class="append-icon">
                                    <input id="series" formControlName="series" type="text"
                                           class="form-control form-white"
                                           placeholder="{{'ChecklistSession.EnterSeries' | translate:lang}}"
                                           style="text-transform:uppercase; font-size: 10px !important"
                                           (keypress)="validateKeyPressLetter($event)"
                                           [class.form-white]="!isReadOnly"
                                           maxlength="1">
                                    <!--<i class="fa fa-envelope-o"></i>-->
                                    <div *ngIf="!validSeriesSize()" class="form-error">{{'ChecklistSession.RequieredSerieSize' | translate:lang}}</div>
                                    <div *ngIf="validSeriesSize() && !isSeriesUniqueName" class="form-error">{{'ChecklistSession.RequieredSerieUnique' | translate:lang}}</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="control-label">{{'ChecklistSession.FIRS' | translate:lang}}</label>
                                <div class="append-icon">
                                    <input id="firs" formControlName="firs" type="text"
                                           class="form-control form-white"
                                           placeholder="{{'ChecklistSession.EnterFirs' | translate:lang}}"
                                           style="text-transform:uppercase; font-size: 10px !important"
                                           minlength="4">
                                    <!--<i class="fa fa-envelope-o"></i>-->
                                    <div *ngIf="!validFirsSize()" class="form-error">{{'ChecklistSession.RequieredFirsSize' | translate:lang}}</div>
                                    <div *ngIf="validFirsSize() && !isFirsValid" class="form-error">{{'ChecklistSession.RequieredFirsExists' | translate:lang}}</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="control-label">{{'ChecklistSession.Coordinates' | translate:lang}}</label>
                                <div class="append-icon">
                                    <input id="coordinates" formControlName="coordinates" type="text"
                                           class="form-control form-white"
                                           [ngClass]="{'form-error': !isValidCoordinatesValue }"
                                           placeholder="{{'ChecklistSession.EnterCoordinates' | translate:lang}}"
                                           style="text-transform:uppercase; font-size: 10px !important">
                                    <!--<i class="fa fa-envelope-o"></i>-->
                                    <div *ngIf="!validCoordinatesSize()" class="form-error">{{'ChecklistSession.RequieredCoordinates' | translate:lang}}</div>
                                    <div *ngIf="validCoordinatesSize() && !isValidCoordinatesValue" class="form-error">{{'ChecklistSession.InvalidCoordinates' | translate:lang}}</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-group" style="margin-right: 20px;">
                                <label class="form-label">{{'ChecklistSession.Radius' | translate:lang}}</label>&nbsp;<span>(NM)</span>
                                <div class="input-group">
                                    <span class="input-group-addon btn btn-plus-minus" style="padding:7px 11px 8px;" (click)="decRadius()">-</span>
                                    <input id="radius" formControlName="radius" class="form-control"
                                           (keypress)="validateKeyPressNumber($event)"
                                           maxlength="3"
                                           [ngClass]="{'form-error': !validateRadius() }" type="text">
                                    <span class="input-group-addon btn btn-plus-minus" style="text-transform:uppercase; padding:7px 10px 8px;" (click)="incRadius()">+</span>
                                </div>
                                <div *ngIf="!validateRadius()" class="form-error">{{'ChecklistSession.InvalidRadius' | translate:lang}}</div>
                            </div>
                        </div>
                    </div>
                    <div class="text-center  m-t-20">
                        <button class="btn btn-embossed btn-primary" type="submit" [disabled]="disableSubmit()">{{'Common.Save' | translate:lang}}</button>
                        <button class="cancel btn btn-embossed btn-default m-b-10 m-r-0" type="reset" (click)="backToConfigList()">{{'Common.Cancel' | translate:lang}}</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

