﻿@{
    Layout = "~/Views/Shared/_AdministrationLayout.cshtml";
    ViewBag.Title = "Administration";
}

<my-app>
</my-app>

@section scripts
{
    <link rel="stylesheet" href="~/app/common/leaflet/leaflet.css" />
    <script src="~/app/common/leaflet/leaflet.js"></script>
    <script src="~/app/common/leafletmap.js"></script>
    @*<script src="https://unpkg.com/leaflet@1.3.1/dist/leaflet.js" integrity="sha512-/Nsx9X4HebavoBvEBuyp3I7od5tA0UzAxs+j83KgC8PU0kgB4XiK4Lfe4y4cgBtaRJQEIFCW+oC506aPT2L1zw==" crossorigin=""></script>*@
}


