﻿@using Westwind.Globalization
<style scoped>
    .singleRow
    {
        height: 30px;
        width: 100px;
    }
    .maxRow
    {
        
    }
    #mapContainer
    {
        height: calc(100% - 120px);
        height: -moz-calc(100% - 120x);
        height: -webkit-calc(100% - 120px);
        overflow: hidden;
        position: relative;
    }
    #mainAction
    {
        height: 37px;
        padding-top: 8px;
        width: 100%;
    }

    #mainAction .k-button
    {
        margin-left: 5px;
        width: 80px;
    }

    .status
    {
        height: 30px;
    }

    .borderInvalid
    {
        border: 2px solid red;
        margin: -2px;
    }

    #DOAWindow, #DOAWindow form
    {
        height: 100%;
    }

    #DOAWindow .k-tabstrip-wrapper
    {
        height: calc(100% - 45px);
        height: -moz-calc(100% - 45px);
        height: -webkit-calc(100% - 45px);
    }

    .fillContainer
    {
        height: 100%;
        width: 100%;
    }

    #tabStrip
    {
        height: calc(100%);
        height: -moz-calc(100%);
        height: -webkit-calc(100%);
    }

    #tabStrip > .tabpanel
    {
        height: calc(100% - 50px);
        height: -moz-calc(100% - 50px);
        height: -webkit-calc(100% - 50px);
        width: calc(100% - 35px);
        width: -moz-calc(100% - 35px);
        width: -webkit-calc(100% - 35px);
    }


</style>
<div id="DOAWindow" style="display: none;">
    <form id="DOAForm">
        <div id="tabStrip">
            <ul>
                <li class="k-state-active">
                    <span>@DbRes.T("General", "DOA")</span>
                </li>
                <li>
                    <span>@DbRes.T("Filters", "DOA")</span>
                </li>
                <li>
                    <span>@DbRes.T("Subjects", "DOA")</span>
                </li>
            </ul>
            <div name="DOADetails_tab" class="DOADetails tabpanel">
                <table cellpadding="5" width="100%">
                    <tr class="singleRow">
                        <td>
                            <label for="txtName">@DbRes.T("Name", "DOA")</label>
                        </td>
                        <td>
                            <input class="k-textbox" data-bind="value: Name" id="txtName" name="txtName" type="text" required />
                            <span class="k-invalid-msg" data-for="txtName"></span>
                       </td>
                        <td>
                            <label for="txtDescription">@DbRes.T("Description", "DOA")</label>
                        </td>
                        <td>
                            <input class="k-textbox" data-bind="value: Description" id="txtDescription" name="txtDescription" type="text" required />
                            <span class="k-invalid-msg" data-for="txtDescription"></span>
                       </td>
                    </tr>
                    <tr class="singleRow">
                        <td>
                            <label for="assignToOrg">@DbRes.T("Assign To:", "DOA")</label>
                        </td>
                        <td colspan="3">
                            <input data-bind="value: AssignToOrganizationIds" id="assignToOrg" name="assignToOrg" type="text" />
                            @*<span class="k-invalid-msg" data-for="assignToOrg"></span>*@
                        </td>
                    </tr>
                    <tr class="singleRow">
                        <td colspan="4">
                            <h3 id="goeLabel">@DbRes.T("Geographical Region", "DOA")</h3>
                        </td>
                    </tr>
                    <tr class="singleRow">
                        <td colspan="4">
                            <div id="mapContainer" style="height: 350px"></div>
                            @*<input name="mapPlace" type="hidden" />*@
                            <span name="spanForMapPlace" class="k-invalid-msg" data-for=""></span>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="tabpanel">
                <table cellpadding="5">
                    <tr>
                        <td>
                            <div id="doaFiltersGrid"></div>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="tabpanel">
                <table cellpadding="5">
                    <tr>
                        <td>
                            Subject list
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div id="mainAction">
            <div class="status">
                <table cellspacing="5" width="100%">
                    <tr>
                        <td align="right">
                            <button class="k-button" id="btnSave" type="submit">@DbRes.T("Save", "DOA")</button>
                            <button class="k-button" id="btnDiscard" type="button">@DbRes.T("Cancel", "DOA")</button>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </form>
</div>
<div id="dataModel" data-model="@Html.Encode(Html.Raw(Json.Encode(Model)))"></div>
<script>
    require(["admin/Controllers/DomainOfAuthority/DOAEditor"], function (index) {
        var labels = {
            doaWindow_title: '@DbRes.T("DOA Editor", "DOA")',
            assignToOrg_optionLabel: '@DbRes.T("Select Organization...", "DOA")',
            doaForm_validator_nameRequired: '@DbRes.T("Name is required!", "DOA")',
            doaForm_validator_descriptionRequired: '@DbRes.T("Description is required!", "DOA")',
            doaForm_validator_organizationRequired: '@DbRes.T("Please assign to at least one Organization.", "DOA")',
            doaForm_validator_geoRequired: '@DbRes.T("Please define the Geographical Region of the DOA.", "DOA")',
            doaFiltersGrid_addLabel: '@DbRes.T("Add", "DOA")',
            doaFiltersGrid_editLabel: '@DbRes.T("Edit", "DOA")',
            doaFiltersGrid_deleteLabel: '@DbRes.T("Delete", "DOA")',
            doaFiltersGrid_moveUpLabel: '@DbRes.T("Move Up", "DOA")',
            doaFiltersGrid_moveDownLabel: '@DbRes.T("Move Down", "DOA")',
            doaFiltersGrid_filterOnLabel: '@DbRes.T("Filter On", "DOA")',
            doaFiltersGrid_subjectTypeLabel: '@DbRes.T("Subject Type", "DOA")',
            doaFiltersGrid_specificSubjectLabel: '@DbRes.T("Specific Subject", "DOA")',
            doaFiltersGrid_effectLabel: '@DbRes.T("Effect", "DOA")',
            doaFiltersGrid_includeLabel: '@DbRes.T("Include", "DOA")',
            doaFiltersGrid_excludeLabel: '@DbRes.T("Exclude", "DOA")',
            extDialog_confirm_title: '@DbRes.T("Confirm", "DOA")',
            extDialog_confirm_message: '@DbRes.T("Are you sure you want to discard changes and close this window?", "DOA")',
            extDialog_success_title: '@DbRes.T("Success", "DOA")',
            extDialog_success_creation: '@DbRes.T("DOA created successfully.", "DOA")',
            extDialog_success_update: '@DbRes.T("DOA modified successfully.", "DOA")',
            extDialog_fail_creation: '@DbRes.T("Error creating new DOA.", "DOA")',
            extDialog_fail_update: '@DbRes.T("Error updating DOA.", "DOA")',
            extDialog_reset_DOA: '@DbRes.T("Are you sure you want to reset the DOA?", "DOA")',

        };

        index.init(labels);
    })
</script>