﻿@using Westwind.Globalization;

<style scoped>
    .k-button{
        width:75px;
    }
</style>

<h1>
    @DbRes.T("Domains of Authority", "DOA")
</h1>
<div id="doaGrid"></div>

<div id="controlWindow"></div>


<script>
@section Scripts{
    require(["admin/Controllers/DomainOfAuthority/Index"], function (index) {
        var labels = {
            doaGrid_createDoA_title: '@DbRes.T("Create", "DOA")',
            doaGrid_editDOA_title: '@DbRes.T("Edit", "DOA")',
            doaGrid_deleteDOA_title: '@DbRes.T("Delete", "DOA")',
            doaGrid_columnName_title: '@DbRes.T("Name", "DOA")',
            doaGrid_columnDescription_title: '@DbRes.T("Description", "DOA")',
            deleteDOA_title: '@DbRes.T("Select DOA", "DOA")',
            deleteDOA_message: '@DbRes.T("Please Select DOA first.", "DOA")',
            extDialog_confirm_title: '@DbRes.T("Confirm", "DOA")',
            extDialog_deleteDOA_message: '@DbRes.T("Are you sure you want to delete DOA ", "DOA")',
            extDialog_deleteDOA_confirmation: '@DbRes.T("Deleting DOA", "DOA")',
            extDialog_deleteDOA_error: '@DbRes.T("Deleting DOA: ", "DOA")',
            extDialog_editDOA_title: '@DbRes.T("Select DOA", "DOA")',
            extDialog_editDOA_message: '@DbRes.T("Please Select DOA first.", "DOA")'
        };
        index.init(labels);
    })
    }
</script>






