﻿.home-button {
    min-width: 150px;
    max-width: 150px;
}

.text-center {
    text-align:center;
}

/*.switch-input:checked ~ .switch-label {
    background: #B9D5DB;
}*/

#ui-datepicker-div {
    z-index: 1000 !important
}

.ui-datepicker .ui-datepicker-header {
    background: #1c7588;
}

.round-corners {
    border-radius: 8px;
}

.home-top-panel {
    background-color: #EEE;
}

.home-mid-panel {
    background-color: #EEE;
}

.home-bottom-panel {
    background-color: #EEE;
}

/* Styles for validation helpers*/
.field-validation-error {
    color: #ff0000;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #ff0000 !important;
    background-color: #ffeeee !important;
}

.validation-summary-errors {
    font-weight: bold !important;
    color: #ff0000 !important;
}

.validation-summary-valid {
    display: none;
}

.btn-default[disabled] {
    background-color: #bdc3c7 !important;
    border-color: #bdc3c7 !important;
}

.btn-default {
    background-color: #319db5 !important;
    color: #fff !important;
}

.btn-plus-minus {
    background-color: #ccc;
    color: #222;
}

.btn-plus-minus.focus, .btn-plus-minus:focus, .btn-plus-minus:hover{
    background-color: #bbb;
    color: #000
}

.switch-input:checked ~ .switch-label { background: #777; }

div[class*='icheckbox_'] { top: 0px!important; }

.btn-primary[disabled] {
    background-color: #B9D5DB;
    color: #ffffff;
}

th { outline: 0; }

