﻿@using NavCanada.Utils.Apps.InoMock.Models
@{
    ViewBag.Title = "Home Page";
}


<style>
    .pick-toolbar-button, .unpick-toolbar-button, .submit-toolbar-button, .reject-toolbar-button {
        width: 70px;
        background-color: #286889;
    }

        .pick-toolbar-button:hover, .unpick-toolbar-button:hover, .submit-toolbar-button:hover, .reject-toolbar-button:hover {
            background-color: #ffd800;
            color: #286889;
        }

    .resizable {
        resize: both;
    }
</style>


@(Html.Kendo().Grid<NotamProposal>()
    
    .Name("NotamsGrid")
    .Columns(columns =>
    {
        columns.Bound(c => c.Id).Hidden();
        columns.Bound(c => c.ItemA).Width(75);
        columns.Bound(c => c.Series).Width(75);
        columns.Bound(c => c.StatusTime).Width(100).Format("{0:yyyy/MM/dd hh:mm:ss}");
        columns.Bound(c => c.StartValidity).Width(120);
        columns.Bound(c => c.EndValidity).Width(120);
        columns.Bound(c => c.ItemE).Width("~100");
        columns.Bound(c => c.Coordinates).Width(150);
        columns.Bound(c => c.NoteToNOF).Width(100);
        columns.Bound(c => c.Status).Width(75);

    })
     .ToolBar(tb => tb.Custom().Name("Pick").Url("#").HtmlAttributes(new { @class = "pick-toolbar-button" }))
     .ToolBar(tb => tb.Custom().Name("UnPick").Url("#").HtmlAttributes(new { @class = "unpick-toolbar-button" }))
     .ToolBar(tb => tb.Custom().Name("Reject").Url("#").HtmlAttributes(new { @class = "reject-toolbar-button" }))
     .ToolBar(tb => tb.Custom().Name("Approve").Url("#").HtmlAttributes(new { @class = "submit-toolbar-button" }))
    .Selectable(s => s.Type(GridSelectionType.Row))
    .HtmlAttributes(new { style = "height:100%" })
    .Pageable()
    .Navigatable()
    .Sortable()
    .Scrollable()
    .Filterable()
    .Groupable()
    .Resizable(r=>r.Columns(true))    
    .Events(events => events.DataBound("dataBound"))
    .DataSource(dataSource => dataSource
        .Ajax()
        .PageSize(20)
        .ServerOperation(false)
        .Events(events => events.Error("error_handler"))
        .Model(model => model.Id(p => p.Id))
        .Read("Notams_Read", "Home")
    )
)


@(Html.Kendo().Window()
    .Name("proposalWindow")
    .Title("Update Proposal if Required")
    .Content("")
        .Draggable()
    .Resizable()
    .Modal(true)
    .Width(650)
    .Height(600)
    .Visible(false)
    .Events(e=>e.Close("refreshAll"))

)


@(Html.Kendo().Window()
    .Name("window")
    .Title("Please Specify Reject Reasons")
    .Content(@<text>

        <div style="text-align:center; width:100%">
            <textarea id="rejectReason" rows="5" autofocus placeholder="Reject Reasons..." required style="width:100%"></textarea>
        </div>
        <hr />
        <div style="text-align:center">
            <button id="applyRjectReason" class="k-button" style="width:100px">Apply</button>
        </div>


    </text>)
.Draggable()
    .Modal(true)
    .Resizable()
    .Width(300)
        .Visible(false)

)






@(Html.Kendo().Window()
    .Name("AlertWindow")
    .Title("Selection Required")
    .Content(@<text>

        <p>Please Select a Proposal from the List first.</p>
        <hr />
        <div style="text-align:center">
            <button id="closeAlertWindow" class="k-button" style="width:100px">Ok</button>
        </div>
    </text>)
    .Modal(true)
    .Width(300)
    .Visible(false)

)
<script type="text/javascript">
    function error_handler(e) {
        if (e.errors) {
            var message = "Errors:\n";
            $.each(e.errors, function (key, value) {
                if ('errors' in value) {
                    $.each(value.errors, function () {
                        message += this + "\n";
                    });
                }
            });
            alert(message);
        }
    }
    function resizeGrid() {
        var gridElement = $("#NotamsGrid"),
            dataArea = gridElement.find(".k-grid-content"),
            gridHeight = gridElement.innerHeight(),
            otherElements = gridElement.children().not(".k-grid-content"),
            otherElementsHeight = 0;
        otherElements.each(function () {
            otherElementsHeight += $(this).outerHeight();
        });
        dataArea.height(gridHeight - otherElementsHeight);
    }

    $(window).resize(function () {
        resizeGrid();
    });

    var notify;

    function dataBound(e) {
        
        // subscribe for notification of withdrown proposals
        var proposals = $("#NotamsGrid").data().kendoGrid.dataSource.data();
        
      
        if (proposals.lenght>0)
            notify.server.subscribeNP();
    }


    $(function () {

        notify = $.connection.NotificationHub;
        $.connection.hub.start();

        // Declare a proxy to reference the hub.
        //var notify = $.connection.NotificationHub;
        $(".pick-toolbar-button").click({ action: "Pick" }, changeStatus)
        $(".unpick-toolbar-button").click({ action: "UnPick" }, changeStatus)
        $(".submit-toolbar-button").click({ action: "Submit" }, changeStatus)
        $(".reject-toolbar-button").click(function () { $("#window").data("kendoWindow").center().open(); })
        $("#applyRjectReason").click({ action: "Reject" }, changeStatus)

        $("#closeAlertWindow").click(function (e) { $("#AlertWindow").data("kendoWindow").close(); });


        //dgChange(null);

        // Create a function that the hub can call to broadcast messages.
        notify.client.refreshData = function () {
            var grid = $("#NotamsGrid").data("kendoGrid");
            grid.dataSource.read();
        };
        
    });

    function refreshAll(e)
    {
        location.reload(false);
    }

    function changeStatus(event) {
        //$("#window").data("kendoWindow").close();


        var host = document.URL.replace('#', '');
        var actionUrl = host+'/Home/' + event.data.action;
        var grid = $("#NotamsGrid").data("kendoGrid");
        var selectedItem = grid.dataItem(grid.select());

        if (selectedItem == null) {
            $("#AlertWindow").data("kendoWindow").center().open();
            return;
        }

        if (event.data.action == "Reject") {
            $.ajax({
                url: actionUrl,
                data: { id: selectedItem.Id, reason: $("#rejectReason").val() },
                success: function (newStatus) {
                    selectedItem.set("Status", newStatus);
                    $("#window").data("kendoWindow").close();
                }
            });

        }
        else if (event.data.action == "Submit") {


            $("#proposalWindow").data("kendoWindow")
                .content("")
                .refresh({
                       url: actionUrl,
                       type: "GET",
                       error: function (xhr, error) {
                           handelError(RES.dbRes("Error"), xhr, error);
                       },
                       data: { id: selectedItem.Id },                       
                })
                
                .center().open();
        } else {
            
            $.ajax({
                url: actionUrl,
                data: { id: selectedItem.Id },
                success: function (newStatus) {
                    selectedItem.set("Status", newStatus);
                }
            });
        }






    }

    function dgChange(e) {
        var grid = $("#NotamsGrid").data("kendoGrid");
        var selectedItem = grid.dataItem(grid.select());


        if (selectedItem == null) {
            $(".pick-toolbar-button").fadeOut(10);
            $(".unpick-toolbar-button").fadeOut(10);
            $(".submit-toolbar-button").fadeOut(10);
            $(".reject-toolbar-button").fadeOut(10);
        }
        else {
            $(".pick-toolbar-button").fadeIn(20);
            $(".unpick-toolbar-button").fadeIn(20);
            $(".submit-toolbar-button").fadeIn(20);
            $(".reject-toolbar-button").fadeIn(20);
        }

    }


</script>
