﻿@model NAVTAM.ViewModels.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot your password? / Mot de passe oublié?";
    ViewBag.ShowHome = true;
    ViewBag.CopyrightBilingual = true;
}

<h2><strong>@ViewBag.Title</strong></h2>

@using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <br />
    <h4>To receive an email containing a link to create a new password, type your Username and click <strong>Reset Password</strong>.</h4>
    <h4>Pour recevoir un courriel contenant un lien pour créer un nouveau mot de passe, entrez votre nom d’utilisateur et cliquez <strong>Réinitialiser mot de passe</strong>.</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.Username, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Username, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Reset Password / Réinitialiser le mot de passe" />
        </div>
    </div>
}

@*@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}*@
