﻿@using Westwind.Globalization;
@model NavCanada.Applications.NotamWiz.Web.Models.LocalPassword

@section styles {
    <link href="@Url.Content("~/Content/Views/Form.css")" rel="stylesheet" type="text/css" />
}

<div id="passwordForm" class="middle-west">
    <!-- style="width:600px"> -->
    <div class="form-center">

        @using (Html.BeginForm("Manage", "Account"))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            <fieldset id="TextFieldsChangePasswords">
                <legend>@DbRes.T("Change Password Form", "Manage")</legend>

                <!-- Title -->
                <h2>@ViewBag.Title</h2>

                <!-- Form -->
                <ol>
                    <li>
                        <label for="OldPassword" class="k-label">@DbRes.T("Old password", "Manage")</label>
                        @Html.PasswordFor(m => m.OldPassword, new { @class = "k-textbox", @required = "true", id="oldPassword" })
                    </li>

                    <li>
                        <label for="NewPassword" class="k-label">@DbRes.T("New password", "Manage")</label>
                        @Html.PasswordFor(m => m.NewPassword, new { @class = "k-textbox", @required = "true" })
                    </li>

                    <li>
                        <label for="ConfirmPassword" class="k-label">@DbRes.T("Confirm password", "Manage")</label>
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "k-textbox", @required = "true" })
                    </li>
                </ol>
                <div>
                    <input id="changePasswordButton" type="submit" value="@DbRes.T("Change", "Manage")" class="k-button" oninvalid="close" style="width: 150px" />
                </div>
            </fieldset>
        }

    </div>
</div>

