﻿@using Westwind.Globalization;
@section styles {
    <link href="@Url.Content("~/Content/Views/Form.css")" rel="stylesheet" type="text/css" />
}

@{
    Layout = "~/Views/Shared/_ManageUser.cshtml";

    ViewBag.Title = "Change Expired Records Filter";
}

<div class="middle-west">
    <div class="form-center">

        @using (Html.BeginForm("ChangeExpiredRecordsFilter", "Account", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)

            <fieldset id="TextFieldsChangePasswords">
                <h2>@ViewBag.Title</h2>
                <ol>
                    <li>
                        <label for="expiredrecordfilter" class="k-label-top">Days to expire</label>
                        <input type="number" style="width: 100px" name="expiredrecordfilter" id="expiredrecordfilter" value="@ViewBag.currentExpiredRecordsFilter" min="0" max="730" onkeypress='return event.charCode >= 48 && event.charCode <= 57'>
                    </li>
                </ol>
                <input id="btnChangeExpiredRecordsFilter" type="submit" value="Change" class="k-button" oninvalid="close" style="width:150px" />
            </fieldset>

            <!--
            <table style="width:100%; height:80%">
                <tr>
                    <td>
                        <input type="number" width="32" name="expiredrecordfilter" id="expiredrecordfilter" value="@ViewBag.currentExpiredRecordsFilter" min="0" max="730" onkeypress='return event.charCode >= 48 && event.charCode <= 57'>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input id="btnChangeExpiredRecordsFilter" type="submit" value="Submit" class="k-button" oninvalid="close" style="width:238px" />
                    </td>
                    <td>
                        <input id="btnChangeExpiredRecordsFilterCancel" type="submit" value="Cancel" class="k-button" onclick="location.go('/');return false;" style="width:238px" />
                    </td>
                </tr>
            </table>
            -->
        }
    </div>
</div>

