﻿@using Westwind.Globalization;
@section styles {
    <link href="@Url.Content("~/Content/Views/Form.css")" rel="stylesheet" type="text/css" />
}

@{
    Layout = "~/Views/Shared/_ManageUser.cshtml";
    ViewBag.Title = "Change Langauge";
}

<div class="middle-west">
    <div class="form-center">

        @using (Html.BeginForm("ChangeDefaultLanguage", "Account", FormMethod.Post))
        {
            @Html.Hidden("currentDefaultLanguage", (String)ViewBag.currentDefaultLanguage)
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            <fieldset id="TextFieldsChangeDefaultLanguagePartial">

                <h2>@ViewBag.Title</h2>
                <ol>
                    @foreach (var item in (List<String>)ViewBag.LanguageList)
                    {
                        <li>
                            @if (ViewBag.currentDefaultLanguage == item)
                            {
                                <input type="radio" name="SelectedLanguage" id="@item" value="@item" style="width: 20px; display: inline-block; height: 1em; align-content: initial" checked/>
                            }
                            else
                            {
                                <input type="radio" name="SelectedLanguage" id="@item" value="@item" style="width: 20px; display: inline-block; height: 1em; align-content: initial" />
                            }
                            <label for="large" style="width: 50px; display: inline-block; font-size: medium; align-content: initial">@item</label>
                        </li>
                    }
                </ol>
                <input id="ChangeDefaultLanguageForm" type="submit" value="Change" class="k-button" oninvalid="close" style="width: 150px" />
            </fieldset>
        }
    </div>
</div>

