﻿@using Westwind.Globalization;
@model NavCanada.Applications.NotamWiz.Web.Models.LocalPassword

<div id="passwordForm" class="middle-west">
    <div class="form-center">

        <!-- Title -->
        <h2>@ViewBag.Title</h2>

        <p>
            @DbRes.T("You do not have a local password for this site. Add a local password so you can log in without an external login.", "Manage")
        </p>

        @using (Html.BeginForm("Manage", "Account"))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary()

            <fieldset>
                <legend>@DbRes.T("Set Password Form", "Manage")</legend>
                
                <!-- Form -->
                <ol>
                    <li>
                        <label for="NewPassword" class="k-label">@DbRes.T("New password", "Manage")</label>
                        @Html.PasswordFor(m => m.NewPassword, new { @class = "k-textbox", @required = "true" })
                    </li>
                    <li>
                        <label for="ConfirmPassword" class="k-label">@DbRes.T("Confirm password", "Manage")</label>
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "k-textbox", @required = "true" })
                    </li>
                </ol>

                <input id="changePasswordButton" type="submit" value="@DbRes.T("Set password", "Manage")" class="k-button" oninvalid="close" style="width: 238px" />

            </fieldset>
        }

    </div>

</div>