﻿@using Westwind.Globalization;
@model NavCanada.Core.Domain.Model.Entitities.DigitalSla
<link href="~/Content/Views/NSDEditor/TimeSchedule.css" rel="stylesheet" />
<div id="DigitalSLAcontainer" style="width: 900px">
    <div>
        <textarea id="DigitalSLAContent" rows="10" cols="30" style="width: 500px; height: 300px"></textarea>
    </div>
    <div>
        <input type="checkbox" id="AcceptSLA" name="AcceptSLA" value="AcceptSLA" >@DbRes.T("accept terms and conditions", "DigitalSLA") 
    </div>
</div>
<div id="SLAdataModel" data-model='@Html.Raw(Json.Encode(Model))'></div>
<div id="CurrentUser" data-currentusername='@Html.Raw((ViewBag.CurrentUserName))'></div>

<script>
    require(["c/Account/DigitalSLA"], function (digitalSLA) {
        digitalSLA.init();
    });

    </script>
