﻿@using Westwind.Globalization;
@model NavCanada.Applications.NotamWiz.Web.Models.ForgotPasswordModel

@section styles {
    <link href="@Url.Content("~/Content/Views/Form.css")" rel="stylesheet" type="text/css" />
}

<div class="middle-center">
    <div class="form-center">
        <h2>Forgot Password Request</h2>
        <div id="loginForm">
            @using (Html.BeginForm())
            {
                //@Html.ValidationSummary(false)
                @Html.AntiForgeryToken()
                <fieldset>
                    <legend>Reset Password Form</legend>
                    <ol>
                        <li>
                            @Html.LabelFor(m => m.Username)
                        </li>
                        <li>
                            @Html.TextBoxFor(m => m.Username, new {id = "txtUserName", @class = "userName"})
                            @Html.ValidationMessageFor(m => m.Username)
                        </li>
                        <li>
                            @Html.LabelFor(m => m.EmailAddress)
                        </li>
                        <li>
                            @Html.TextBoxFor(m => m.EmailAddress, new {id = "txtEmailAddress", @class = "userName"})
                            @Html.ValidationMessageFor(m => m.EmailAddress)
                        </li>
                        @Html.ValidationMessage("InvalidResetPasswordRequest")
                    </ol>
                    <input id="loginButton" type="submit" value="Submit" class="k-button"/>
                </fieldset>
            }
        </div>
        <p><strong>PS</strong>: After the submition of this form an email will be sent to you with more information about how to reset the password.</p>

    </div>
</div>

