﻿@using Westwind.Globalization;
@model NavCanada.Applications.NotamWiz.Web.Models.Login

@section styles {
    <link href="@Url.Content("~/Content/Views/Form.css")" rel="stylesheet" type="text/css" />
}

<div class="middle-center">
    <div class="form-center">
        <div id="loginForm" style="display:none">
            @using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)

                <fieldset>
                    <legend>Log in Form</legend>
                    <ol>
                        <li>
                            @Html.LabelFor(m => m.UserName)
                        </li>
                        <li>
                            @Html.TextBoxFor(m => m.UserName, new { id = "txtUserName", @class = "userName" })
                        </li>
                        <li>
                            @Html.ValidationMessageFor(m => m.UserName)
                        </li>

                        <li>
                            @Html.LabelFor(m => m.Password)
                        </li>
                        <li>
                            @Html.PasswordFor(m => m.Password)
                        </li>
                        <li>
                            @Html.ValidationMessageFor(m => m.Password)
                        </li>
                        <li style="margin-bottom:20px">
                            <span style="float:left">
                                @Html.ActionLink(DbRes.T("Forgot your password?", "Login"), "ForgotPasswordRequest")
                            </span>
                            <span style="float:right">
                                @Html.CheckBoxFor(m => m.RememberMe)
                                @Html.LabelFor(m => m.RememberMe, new { @class = "checkbox" })
                            </span>
                        </li>
                    </ol>
                    <input id="loginButton" type="submit" value="Log in" class="k-button" />
                    <div class="pad10">
                        @Html.ActionLink(DbRes.T("Register","Login"), "Register")...
                    </div>
                </fieldset>
            }


        </div>
    </div>
</div>
<input id="btnDigitalSLAAPI" type="button" value='SLA' class="k-button" style="display:none;" />
<div id="DigitalSLAAPI-Popup"></div>
@Html.Hidden("SingedLatestSLA", "false")
<script>

@section scripts
{
    require(["jquery", "Resources", "kendo/kendo.window.min"], function ($, res) {

        var RES = res.getResources("Login");

        $('#loginForm').kendoWindow({
            title: RES.dbRes("Login"),
            width: 500,

        }).data('kendoWindow').open().center();

        $('#txtUserName').focus();
        var DigitalSLAAPIWindow = $("#DigitalSLAAPI-Popup").kendoWindow({
            height: 360,
            width: 520,
            resizable: false,
            visible: false,
            title: RES.dbRes("Terms and conditions"),
            modal: true,
            actions: {}
        }).data("kendoWindow");

        DigitalSLAAPIWindow.bind("refresh", function () {
            $("#DigitalSLAAPI-Popup").data("kendoWindow").center();
            $("#DigitalSLAAPI-Popup").data("kendoWindow").open();
        });
       
        //debugger;
        if('@ViewBag.DigitalSla' === 'yes' )
        {
            $("#DigitalSLAAPI-Popup").data("kendoWindow")
                           .content("")
                           .refresh({
                               url: "../Account/GetDigitalSLAAPI",
                               type: "POST",
                               complete: function () { debugger; },
                               close: function () { debugger; }
                           });
        }

    });

    }
</script>
