﻿@using Westwind.Globalization;
@model NavCanada.Applications.NotamWiz.Web.Models.LocalPassword

@section styles {
    <link href="@Url.Content("~/Content/Views/Form.css")" rel="stylesheet" type="text/css" />
}

@{
    Layout = "~/Views/Shared/_ManageUser.cshtml";

    ViewBag.Title = DbRes.T("Change Password", "Manage");
}

<p class="message-success">@ViewBag.StatusMessage</p>

    @if (ViewBag.HasLocalPassword)
    {
        @Html.Partial("_ChangePasswordPartial")
    }
    else
    {
        @Html.Partial("_SetPasswordPartial")
    }

<script>
    @section Scripts{
    require(["admin/Controllers/UserManagement/ManagePassword"], function (module) {

        // bringing all the labels in one block inside the view
        var labels = {
            passwordsMustMatch: '@DbRes.T("Password and Confirm Password must match", "Manage")',
            passwordStrength: '@DbRes.T("Password must be at least 8 characters long including a combination of lower, upper, digit and special characters", "Manage")',
            passwordDifferent: '@DbRes.T("Password can not be the same as your current password", "Manage")',
            oldPasswordRequired: '@DbRes.T("Old password is required!", "Manage")',
            newPasswordRequired: '@DbRes.T("New password is required!", "Manage")',
            mustConfirmPassword: '@DbRes.T("You must confirm your password!", "Manage")'
        };

        module.init(labels);
    })
    }
</script>
