﻿@using Westwind.Globalization;
@section styles {
    <link href="@Url.Content("~/Content/Views/Form.css")" rel="stylesheet" type="text/css" />
}

@{
    Layout = "~/Views/Shared/_ManageUser.cshtml";
    ViewBag.Title = "Account Settings";
}

<div class="nested-inner-west">
    <p>You're logged in as <strong>@User.Identity.Name</strong>.
    </p>

    <ul>
        <li><a href="/Dashboard">@DbRes.T("Dashboard", "Home")</a></li>
        <li><a href="/Admin/AdminHome">@DbRes.T("Administrator Area", "Home")</a></li>
    </ul>
</div>

<div id="commonWorkingArea" class="nested-inner-center">
    <div id="ManageUserArea" style="display: none;">
    </div>
</div>

