﻿@using Westwind.Globalization;
<link href="~/Content/Views/NsdEditor/TimeSchedule.css" rel="stylesheet" />
<div id="TimeSchedulecontainer" style="width: 900px; visibility:hidden">
    <form id="TimeScheduleForm" style="width: 700px">
        <table style="width: 700px">
            <tr>
                <td id="InExSelection" style="width: 600px">
                    Action Selection:
                    <input type="radio" class="RadioButtonSelectionInEx" name="InExSelection" value="Include" id="Include" />
                    @DbRes.T("Include", "TimeSchedule")&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="radio" class="RadioButtonSelectionInEx" name="InExSelection" value="Exclude" id="Exclude" />@DbRes.T("Exclude", "TimeSchedule")
                </td>
            </tr>
            <tr>
                <td id="SubSelectiontd" style="width: 600px">
                    @DbRes.T("Period Selection:", "TimeSchedule")
                    <input type="radio" class="RadioButtonSelectionWCT" name="SubSelection" value="weekdays" id="weekdays" />@DbRes.T("Week Days", "TimeSchedule")&nbsp;
                    <input type="radio" class="RadioButtonSelectionWCT" name="SubSelection" value="calendar" id="calendar" />@DbRes.T("Calendar", "TimeSchedule")&nbsp;
                    <input type="radio" class="RadioButtonSelectionWCT" name="SubSelection" value="timeonly" id="timeonly" />@DbRes.T("Time Only", "TimeSchedule")
                </td>
            </tr>
            <tr>
                <td id="weekdaystd" style="width: 600px">
                    &nbsp;&nbsp;
                    <input class="checkboxDays" type="checkbox" name="SUN" id="1">&nbsp;@DbRes.T("SUN", "TimeSchedule")&nbsp;&nbsp;&nbsp;&nbsp;
                    <input class="checkboxDays" type="checkbox" name="MON" id="2">&nbsp;@DbRes.T("MON", "TimeSchedule")&nbsp;&nbsp;&nbsp;&nbsp;
                    <input class="checkboxDays" type="checkbox" name="TUE" id="3">&nbsp;&nbsp;@DbRes.T("TUE", "TimeSchedule")&nbsp;&nbsp;&nbsp;&nbsp;
                    <input class="checkboxDays" type="checkbox" name="WED" id="4">&nbsp;@DbRes.T("WED", "TimeSchedule")&nbsp;&nbsp;&nbsp;&nbsp;
                    <input class="checkboxDays" type="checkbox" name="THU" id="5">&nbsp;@DbRes.T("THU", "TimeSchedule")&nbsp;&nbsp;&nbsp;&nbsp;
                    <input class="checkboxDays" type="checkbox" name="FRI" id="6">&nbsp;@DbRes.T("FRI", "TimeSchedule")&nbsp;&nbsp;&nbsp;&nbsp;
                    <input class="checkboxDays" type="checkbox" name="SAT" id="7">&nbsp;@DbRes.T("SAT", "TimeSchedule")
            </tr>
            <tr>
                <td id="schedulertd" style="width: 600px"><div id="scheduler" style="width: 600px"></div></td>
                <td id="schedulerInfotd" style="width: 99px">
                    <div id="menutop">
                        <ul>
                            <li>@DbRes.T("Focus: Alt+Shift+w", "TimeSchedule")</li>
                            <li>@DbRes.T("Unfocus: Alt+Shift+e", "TimeSchedule")</li>
                            <li>@DbRes.T("Arrow Keys: to navigate over the cells.", "TimeSchedule")</li>
                            <li>@DbRes.T("Enter: to creates new event from empty cell or selection.", "TimeSchedule")</li>
                            <li>@DbRes.T("Shift: to create multiple selection.", "TimeSchedule")</li>
                        </ul>
                    </div>
                </td>

            </tr>
            <tr>

                <td id="timeslectortd" style="width: 600px">
                    <div id="timeSelector">
                        <div id="FromTime" style="width: 590px">
                            @DbRes.T("Time Selection:", "TimeSchedule")
                            <select id="FromTimeObject" style="width:55px"></select>
                            <select id="FromOperationSelection" style="width:75px">
                                <option value="empty"> </option>
                                <option value=":">:</option>
                                <option value=" MINUS">@DbRes.T("MINUS", "TimeSchedule")</option>
                                <option value=" PLUS">@DbRes.T("PLUS", "TimeSchedule")</option>
                            </select>
                            <select id="FromMinutesObject" style="width:50px"></select>                                |
                            <select id="ToTimeObject" style="width:55px"></select>
                            <select id="ToOperationSelection" style="width:75px">
                                <option value="empty"> </option>
                                <option value=":">:</option>
                                <option value=" MINUS">@DbRes.T("MINUS", "TimeSchedule")</option>
                                <option value=" PLUS">@DbRes.T("PLUS", "TimeSchedule")</option>
                            </select>
                            <select id="ToMinutesObject" style="width:50px"></select>
                            <div id="ContinuesDiv" style="display: inline-block;">
                                <input type="checkbox" class="checkboxContinues" id="Continues" value="Continues">&nbsp;@DbRes.T("Continuous", "TimeSchedule")<br>
                            </div>

                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td style="width: 600px;position:relative;display:block"><div id="grid" tyle="width: 550;"></div></td>
            </tr>
            <tr>
                <td style="width: 600px;position:relative;display:block">
                    <input id="add" type="button" value='Add' class="k-button" />
                    @*<input id="addandclear" type="button" value='Add to Grid and Clear Input Area' class="k-button" />*@
                    <input id="ClearGridandScheduler" type="button" value='Clear Form' class="k-button" />
                    @*<input id="GenerateTextbtn" type="button" value='Generate Text' class="k-button" />*@
                    <input id="Okbtn" type="button" value='Enter' class="k-button" />
                </td>
            </tr>
            <tr>
                <td style="width: 600px;position:relative;display:block">
                    <input id="errorinput" style="height:1px;width:1px;visibility:hidden" />
                    <input type="text" style="height:1px;width: 550px;position:relative;display:block;visibility:hidden" id="Generatedtext">
                </td>


            </tr>

        </table>
    </form>
</div>
