﻿#NSDDetailesWindow label{
    float:left;
}



#NSDDetailesWindow textarea{
    margin: 5px 1px 3px 0px;
    padding: 3px 3px 3px 3px;
    border: 1px solid rgba(81, 203, 238, 1);
    resize:vertical;    
    min-height:500px;
    width: 100%;  
    height:100%;   
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* IE 8+ */   
}


#NSDDetailesWindow #btnTestFilter{
    width:100px !important;
    height:20px !important;
    font-size:10px !important;
}

#NSDDetailesWindow .actionButtonContainer{
    float:right;
    }

#NSDDetailesWindow .k-button{
    float:right;
    width: 150px;
    padding: 3px 0px 3px 5px;
    margin: 5px 1px 3px 0px;
    }

#NSDDetailesWindow input:focus, #NSDDetailesWindow textarea:focus, #NSDDetailesWindow .k-button:focus{
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid rgba(81, 203, 238, 1);
}

#NSDDetailesWindow .k-edit-form-container, .NSDDetailesContainer{
    width:100%;
    }

#tabStrip{    
}

#tabStrip>.tabpanel{
    min-height:500px;
    height:100%;
    }

#tabStrip>.tabpanel>table{
    width:100%    
    }
