﻿<div class="app-header">
    <h2>
        <strong>{{'Common.Edit' | translate:lang}} {{'NdsClient.PageTitleBold' | translate:lang}}</strong> 
    </h2>
</div>

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <form [formGroup]="form" class="form" autocomplete="off" (ngSubmit)="onSubmit()" novalidate="novalidate">

            <div class="panel bg-blue-dark">
                <div class="panel-header">
                    <h3><i class="fa fa-user-md"></i> <strong>{{'NdsClient.SubscriptionDetails' | translate:lang}}</strong></h3>
                    <div class="control-btn">
                        <a href="#" class="panel-toggle"><i class="fa fa-angle-down"></i></a>
                    </div>
                </div>
                <div class="panel-content bg-white">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="control-label">{{'NdsClient.ClientName' | translate:lang}}</label>
                                <div class="append-icon">
                                    <input id="client" formControlName="client" type="text"
                                           placeholder="{{'NdsClient.ClientName' | translate:lang}}"
                                           class="form-control"
                                           [class.form-white]="!isReadOnly"
                                           [ngClass]="{'form-error': !validateClient() }">
                                    <i class="fa fa-user"></i>
                                    <div *ngIf="!validateClient() && form.controls.client.errors && (form.controls.client.errors.minlength || form.controls.client.errors.maxlength)" class="form-error">{{'NdsClient.ValidateClientNameMinMaxLength' | translate:lang}}</div>
                                    <div *ngIf="!validateClient() && form.controls.client.errors && form.controls.client.errors.required" class="form-error">{{'NdsClient.ValidateClientNameRequired' | translate:lang}}</div>
                                    <div *ngIf="!isClientUniqueName" class="form-error">{{'NdsClient.RequieredClientNameUnique' | translate:lang}}</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-1">
                            <div class="form-group">
                                <label class="control-label">{{'NdsClient.ClientType' | translate:lang}}</label>
                                <div class="append-icon">
                                    <select2 [data]="clientTypes"
                                             [options]="clientTypesOptions"
                                             [width]="200"
                                             [value]="selectedClientTypeId"
                                             [disabled]="true"
                                             (valueChanged)="onClientTypeChanged($event)"></select2>
                                    <div *ngIf="!validateClientType()" class="form-error" style="margin-top:10px;">{{'NdsClient.ValidateClientType' | translate:lang}}</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-group">
                                <label class="control-label">{{'NdsClient.Address' | translate:lang}}</label>
                                <div class="append-icon">
                                    <input id="address" formControlName="address" type="text" style="text-transform:uppercase;" maxlength="8"
                                           placeholder="{{'NdsClient.Address' | translate:lang}}"
                                           class="form-control"
                                           [class.form-white]="!isReadOnly || selectedClientTypeId === clientTypes[0].id"
                                           [ngClass]="{'form-error': !validateAddress() }">
                                    <i class="fa fa-desktop"></i>
                                    <div *ngIf="!validateAddress() && form.controls.address.errors && (form.controls.address.errors.minlength || form.controls.address.errors.maxlength)" class="form-error">{{'NdsClient.ValidateAddressMinMaxLength' | translate:lang}}</div>
                                    <div *ngIf="!validateAddress() && form.controls.address.errors && form.controls.address.errors.required" class="form-error">{{'NdsClient.ValidateAddressRequired' | translate:lang}}</div>
                                    <div *ngIf="!validateAddress() && form.controls.address.errors && form.controls.address.errors.pattern" class="form-error">{{'NdsClient.ValidatePattern' | translate:lang}}</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-1">
                            <div class="form-group">
                                <label class="control-label">{{'NdsClient.Operator' | translate:lang}}</label>
                                <div class="append-icon">
                                    <input id="operator" formControlName="operator" type="text" style="text-transform:uppercase;"
                                           placeholder="{{'NdsClient.Operator' | translate:lang}}"
                                           class="form-control"
                                           [disabled]="true"
                                           [class.form-white]="false">
                                    <i class="fa fa-user-secret"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-1">
                            <div class="form-group">
                                <label class="form-label">{{'NdsClient.Bilingual' | translate:lang}}</label>
                                <div>
                                    <label class="switch m-r-20">
                                        <input id="bilingual" formControlName="bilingual" class="switch-input" type="checkbox"
                                               (change)="bilingualChanged(form.get('bilingual').value)"
                                               [checked]="form.get('bilingual').value === true">
                                        <span class="switch-label" attr.data-off="{{'Switch.No' | translate:lang}}" attr.data-on="{{'Switch.Yes' | translate:lang}}"></span>
                                        <span class="switch-handle"></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-1">
                            <div class="form-group">
                                <label class="form-label">{{'NdsClient.AllowQueries' | translate:lang}}</label>
                                <div>
                                    <label class="switch m-r-20">
                                        <input id="allowQueries" formControlName="allowQueries" class="switch-input" type="checkbox"
                                               (change)="allowQueriesChanged(form.get('allowQueries').value)"
                                               [checked]="form.get('allowQueries').value === true">
                                        <span class="switch-label" attr.data-off="{{'Switch.No' | translate:lang}}" attr.data-on="{{'Switch.Yes' | translate:lang}}"></span>
                                        <span class="switch-handle"></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-1">
                            <div class="form-group">
                                <label class="form-label">{{'NdsClient.DisableSubscription' | translate:lang}}?</label>
                                <div>
                                    <label class="switch m-r-40">
                                        <input id="active" formControlName="active" class="switch-input" type="checkbox"
                                               (change)="activeSubscriptionChanged(form.get('active').value)"
                                               [checked]="form.get('active').value === true">
                                        <span class="switch-label" attr.data-off="{{'Switch.No' | translate:lang}}" attr.data-on="{{'Switch.Yes' | translate:lang}}"></span>
                                        <span class="switch-handle"></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-1">
                            <div class="form-group">
                                <label class="form-label">{{'NdsClient.GeoRef' | translate:lang}}?</label>
                                <div>
                                    <label class="switch m-r-40">
                                        <input id="geoRef" formControlName="geoRef" class="switch-input" type="checkbox"
                                               (change)="geoRefChanged(form.get('geoRef').value)"
                                               [checked]="form.get('geoRef').value === true">
                                        <span class="switch-label" attr.data-off="{{'Switch.No' | translate:lang}}" attr.data-on="{{'Switch.Yes' | translate:lang}}"></span>
                                        <span class="switch-handle"></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div [class.hidden]="form.get('geoRef').value === true">
                        <div class="row">
                            <div class="col-md-5">
                                <div class="form-group">
                                    <label class="control-label">{{'NdsClient.Series' | translate:lang}}</label>
                                    <div class="append-icon">
                                        <select2 [data]="series"
                                                 [options]="seriesOptions"
                                                 [width]="500"
                                                 [value]="selectedSeries"
                                                 [disabled]="isReadOnly || form.get('allSeries').value"
                                                 (valueChanged)="onSeriesChanged($event)"></select2>
                                        <div *ngIf="form.controls.series.errors && form.controls.series.errors.required" class="form-error">{{'NdsClient.ValidateItemAAndSeries' | translate:lang}}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-1">
                                <div class="form-group">
                                    <label class="form-label">{{'NdsClient.AllSeries' | translate:lang}}</label>
                                    <div>
                                        <label class="switch m-r-20">
                                            <input id="allSeries" formControlName="allSeries" class="switch-input" type="checkbox"
                                                   (change)="allSeriesChanged(form.get('allSeries').value)"
                                                   [checked]="form.get('allSeries').value === true">
                                            <span class="switch-label" attr.data-off="{{'Switch.No' | translate:lang}}" attr.data-on="{{'Switch.Yes' | translate:lang}}"></span>
                                            <span class="switch-handle"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">{{'NdsClient.ItemA' | translate:lang}}</label>
                                    <div class="append-icon">
                                        <select2 [data]="itemsA"
                                                 [options]="itemAOptions"
                                                 [width]="500"
                                                 [value]="selectedItemsA"
                                                 [disabled]="isReadOnly"
                                                 (valueChanged)="onItemAChanged($event)"></select2>
                                        <div *ngIf="form.controls.itemsA.errors && form.controls.itemsA.errors.required" class="form-error">{{'NdsClient.ValidateItemAAndSeries' | translate:lang}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div [class.hidden]="form.get('geoRef').value !== true">
                        <div class="row">
                            <div class="col-sm-2">
                                <div class="form-group">
                                    <label class="form-label">{{'NdsClient.LowerLimit' | translate:lang}} <span class="f-8" style="font-weight:normal">(FL)</span></label>
                                    <div class="input-group">
                                        <span class="input-group-addon btn btn-plus-minus" style="padding:7px 11px 8px" (click)="decValue('lowerLimit')">-</span>
                                        <input id="lowerLimit" formControlName="lowerLimit" class="form-control" type="text"
                                               (keypress)="validateKeyPressNumber($event)"
                                               [ngClass]="{'form-error': !validateLowerLimit() }" [class.form-white]="!isReadOnly">
                                        <span class="input-group-addon btn btn-plus-minus" style="padding:7px 10px 8px" (click)="incValue('lowerLimit')">+</span>
                                    </div>
                                    <div style="padding-left:20px">
                                        <div *ngIf="form.get('lowerLimit').errors && form.get('lowerLimit').errors.lowerLimitNonNumeric" class="form-error">{{'ErrorMsgs.LowerLimitNonNumeric' | translate:lang}}</div>
                                        <div *ngIf="form.get('lowerLimit').errors && form.get('lowerLimit').errors.lowerLimitLowerThanZero" class="form-error">{{'ErrorMsgs.LowerLimitLowerThanZero' | translate:lang}}</div>
                                        <div *ngIf="form.get('lowerLimit').errors && form.get('lowerLimit').errors.lowerLimitHigherThanMax" class="form-error">{{'ErrorMsgs.LowerLimitHigherThanMax' | translate:lang}}</div>
                                        <div *ngIf="form.get('lowerLimit').errors && form.get('lowerLimit').errors.invalidLowerLimitRange" class="form-error">{{'ErrorMsgs.InvalidLowerLimitRange' | translate:lang}}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="form-group">
                                    <label class="form-label">{{'NdsClient.UpperLimit' | translate:lang}} <span class="f-8" style="font-weight:normal">(FL)</span></label>
                                    <div class="input-group">
                                        <span class="input-group-addon btn btn-plus-minus" style="padding:7px 11px 8px" (click)="decValue('upperLimit')">-</span>
                                        <input id="upperLimit" formControlName="upperLimit" class="form-control" type="text"
                                               (keypress)="validateKeyPressNumber($event)"
                                               [ngClass]="{'form-error': !validateUpperLimit() }" [class.form-white]="!isReadOnly">
                                        <span class="input-group-addon btn btn-plus-minus" style="padding:7px 10px 8px" (click)="incValue('upperLimit')">+</span>
                                    </div>
                                    <div style="padding-left:20px">
                                        <div *ngIf="form.get('upperLimit').errors && form.get('upperLimit').errors.upperLimitNonNumeric" class="form-error">{{'ErrorMsgs.UpperLimitNonNumeric' | translate:lang}}</div>
                                        <div *ngIf="form.get('upperLimit').errors && form.get('upperLimit').errors.upperLimitLowerThanZero" class="form-error">{{'ErrorMsgs.UpperLimitLowerThanZero' | translate:lang}}</div>
                                        <div *ngIf="form.get('upperLimit').errors && form.get('upperLimit').errors.upperLimitHigherThanMax" class="form-error">{{'ErrorMsgs.UpperLimitHigherThanMax' | translate:lang}}</div>
                                        <div *ngIf="form.get('upperLimit').errors && form.get('upperLimit').errors.invalidUpperLimitRange" class="form-error">{{'ErrorMsgs.InvalidUpperLimitRange' | translate:lang}}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="form-group">
                                    <label class="control-label">{{'NdsClient.CreationSource' | translate:lang}}</label>
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-map"></i></span>
                                        <select2 [value]="selectedSourceId"
                                                 [data]="geoSources"
                                                 (valueChanged)="onSourceChanged($event)"
                                                 [disabled]="isReadOnly"
                                                 [options]="geoSourceOptions"
                                                 [class.form-white]="!isReadOnly"></select2>
                                    </div>
                                </div>
                            </div>
                            <div *ngIf="selectedSourceId === 1">
                                <div class="col-sm-2">
                                    <div class="form-group">
                                        <label class="form-label">{{'NdsClient.FileContent' | translate:lang}}</label>
                                        <div class="file">
                                            <div class="input-group">
                                                <button class="file-button btn btn-sm btn-primary"
                                                        style="height: 25px; line-height: 15px">
                                                    <i class="fa fa-upload"></i>&nbsp;&nbsp;{{'NdsClient.ChooseFile' | translate:lang}}
                                                </button>
                                                <input type="file" class="custom-file" name="attachments" id="attachments"
                                                       (change)="saveRegionFile()" required="" aria-required="true">
                                                <input type="text" class="" id="uploader" placeholder="" readonly=""
                                                       style="height: 25px; width:100px; line-height: 15px; opacity:0">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div *ngIf="selectedSourceId === 3" class="col-sm-6">
                                <div class="form-group">
                                    <label class="control-label">{{'NdsClient.Points' | translate:lang}}</label>
                                    <div class="append-icon">
                                        <textarea id="geoPoints" formControlName="geoPoints" type="text"
                                                  rows="1" cols="10"
                                                  class="form-control"
                                                  [class.form-white]="!isReadOnly"
                                                  placeholder="{{'NdsClient.Points' | translate:lang}}"></textarea>
                                    </div>
                                    <div *ngIf="!isValidLocation" class="form-error">{{'NdsClient.InvalidPoints' | translate:lang}}</div>
                                </div>
                            </div>
                            <div *ngIf="selectedSourceId === 4">
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label class="control-label">{{'NdsClient.Location' | translate:lang}}</label>
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="fa fa-map-marker"></i></span>
                                            <input id="geoLocation"
                                                   formControlName="geoLocation" type="text" class="form-control"
                                                   [ngClass]="{'form-error': !isValidLocation }"
                                                   [class.form-white]="!isReadOnly"
                                                   placeholder="{{'NdsClient.Location' | translate:lang}}"
                                                   style="text-transform:uppercase; font-size: 10px !important">
                                            <!--<i class="fa fa-map-marker"></i>-->
                                        </div>
                                        <div *ngIf="!isValidLocation" class="form-error">{{'NdsClient.InvalidLocation' | translate:lang}}</div>
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <div class="form-group" style="margin-right: 20px;">
                                        <label class="form-label">{{'NdsClient.Radius' | translate:lang}}</label>&nbsp;<span>(NM)</span>
                                        <div class="input-group">
                                            <span class="input-group-addon btn btn-plus-minus" style="padding:7px 11px 8px;" (click)="decValue('geoRadius')">-</span>
                                            <input id="geoRadius" formControlName="geoRadius" class="form-control"
                                                   (keypress)="validateKeyPressNumber($event)"
                                                   [ngClass]="{'form-error': !validateRadius() }" [class.form-white]="!isReadOnly" type="text">
                                            <span class="input-group-addon btn btn-plus-minus" style="padding:7px 10px 8px;" (click)="incValue('geoRadius')">+</span>
                                        </div>
                                        <div *ngIf="form.get('geoRadius').errors && form.get('geoRadius').errors.required" class="form-error">{{'NdsClient.InvalidRadius' | translate:lang}}</div>
                                        <div *ngIf="form.get('geoRadius').errors && form.get('geoRadius').errors.invalid" class="form-error">{{'NdsClient.InvalidRadius' | translate:lang}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div style="width:100%; height:400px; background: transparent url(/content/images/loading.png) no-repeat center center; border:1px solid #E2E2E2">
                                <div id="map" style="width:100%; height:398px"></div>
                            </div>
                        </div>

                    </div>
                    <div *ngIf="action === 'view' ">
                        <div class="text-center  m-t-20">
                            <button class="cancel btn btn-embossed btn-default m-b-10 m-r-0" type="reset" (click)="backToNdsClientList()">{{'Common.Cancel' | translate:lang}}</button>
                        </div>
                    </div>
                    <div *ngIf="action === 'edit' ">
                        <div class="text-center  m-t-20">
                            <button class="btn btn-embossed btn-primary" type="submit" [disabled]="saveDissabled()">{{'Common.Save' | translate:lang}}</button>
                            <button class="cancel btn btn-embossed btn-default m-b-10 m-r-0" type="reset" (click)="backToNdsClientList()">{{'Common.Cancel' | translate:lang}}</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

