﻿<div class="row">
    <div class="app-header">
        <h2>
            <strong>{{'NdsClient.PageTitleBold' | translate:lang}} {{'NdsClient.PageTitle' | translate:lang}}</strong>
            <a href="../Content/help/NESUserGuide{{langCulture}}.pdf#c_adm_client_subscriptions" style="padding-left:10px;" target="_blank"><i class="icon-question"></i></a>
        </h2>
    </div>

    <div class="col-md-12">
        <div class="row">
            <div class="m-t-10 m-b-10 no-print">
                <button class="btn btn-primary m-r-10 m-b-10" type="button"
                        [routerLink]="['/administration/subscription/create']">
                    <i class="fa fa-plus m-r-10"></i>{{'NdsClient.AddClient' | translate:lang}}
                </button>
                <button class="btn btn-primary m-r-10 m-b-10"
                        [disabled]="(selectedClient === null) || isAnySubscriptionSelected()"
                        [routerLink]="['/administration/subscription/view', selectedClient?.id]">
                    <i class="fa fa-pencil-square-o m-r-10"></i>{{'NdsClient.ViewClient' | translate:lang}}
                </button>
                <button class="btn btn-primary m-r-10 m-b-10"
                        [disabled]="(selectedClient === null) || isAnySubscriptionSelected()"
                        [routerLink]="['/administration/subscription/edit', selectedClient?.id]">
                    <i class="fa fa-pencil-square-o m-r-10"></i>{{'NdsClient.EditClient' | translate:lang}}
                </button>
                <button class="btn btn-primary m-r-10 m-b-10"
                        [disabled]="selectedClient === null || isAnySubscriptionSelected()" (click)="confirmDelete()">
                    <i class="fa fa-trash-o m-r-10"></i>{{'NdsClient.DeleteClient' | translate:lang}}
                </button>
                <button class="btn btn-primary m-r-10 m-b-10"
                        [disabled]="!isAnySubscriptionSelected()"
                        (click)="confirmSubmit()">
                    <div *ngIf="!isAnySubscriptionSelected()">
                        <i class="fa fa-circle-o-notch m-r-10"></i>{{'NdsClient.SendNotams' | translate:lang}}
                    </div>
                    <div *ngIf="isAnySubscriptionSelected()">
                        <i class="fa fa-wifi m-r-10"></i>{{'NdsClient.SendNotams' | translate:lang}}
                    </div>
                </button>
            </div>
        </div>
    </div>

    <div class="col-md-12" style="height:100%;">
        <div class="row">
            <div class="col-md-12 portlets ui-sortable">
                <div class="panel">
                    <div class="panel-content" style="padding:5px">
                        <div class="dataTables_wrapper form-inline">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="panel">
                                        <div class="panel-header" style="padding-bottom:11px;">
                                            <div class="form-group">
                                                <span class="control-label" style="line-height:34px">{{'Common.ItemPerPage' | translate:lang}}:</span>
                                                <select2 [data]="tableHeaders.itemsPerPage"
                                                         [value]="queryOptions.pageSize"
                                                         [options]="{minimumResultsForSearch:-1}"
                                                         [width]="50"
                                                         (valueChanged)="itemsPerPageChanged($event)"></select2>
                                            </div>
                                        </div>
                                        <img src="../../../content/images/animated_loading.gif" [style.display]="loadingData ? 'inherit': 'none'"
                                             class="pull-right" style="width:150px; height:20px;" />
                                    </div>
                                </div>
                            </div>
                            <table class="table table-hover table-dynamic table-responsive filter-footer dataTable" role="grid">
                                <thead>
                                    <tr role="row">
                                        <th tabindex="1" [class]="sortingClass(0)" (click)="sort(0)" style="width: 10%;" rowspan="1" colspan="1">{{'NdsClient.ClientName' | translate:lang}}</th>
                                        <th tabindex="2" [class]="sortingClass(1)" (click)="sort(1)" style="width: 7%;" rowspan="1" colspan="1">{{'NdsClient.ClientType' | translate:lang}}</th>
                                        <th tabindex="3" [class]="sortingClass(2)" (click)="sort(2)" style="width: 10%;" rowspan="1" colspan="1">{{'NdsClient.Address' | translate:lang}}</th>
                                        <th tabindex="4" style="width: 10%;" rowspan="1" colspan="1">{{'NdsClient.Series' | translate:lang}}</th>
                                        <th tabindex="5" style="width: 15%;" rowspan="1" colspan="1">{{'NdsClient.ItemA' | translate:lang}}</th>
                                        <th tabindex="6" [class]="sortingClass(5)" (click)="sort(5)" style="width: 7%;" rowspan="1" colspan="1">{{'NdsClient.Operator' | translate:lang}}</th>
                                        <th tabindex="7" [class]="sortingClass(6)" (click)="sort(6)" style="width: 7%;" rowspan="1" colspan="1">{{'NdsClient.BilingualHeader' | translate:lang}}</th>
                                        <th tabindex="8" [class]="sortingClass(7)" (click)="sort(7)" style="width: 5%;" rowspan="1" colspan="1">{{'NdsClient.AllowQueriesHeader' | translate:lang}}</th>
                                        <th tabindex="9" [class]="sortingClass(8)" (click)="sort(8)" style="width: 10%;" rowspan="1" colspan="1">{{'NdsClient.Updated' | translate:lang}}</th>
                                        <th tabindex="10" [class]="sortingClass(9)" (click)="sort(9)" style="width: 10%;" rowspan="1" colspan="1">{{'NdsClient.Synced' | translate:lang}}</th>
                                        <th tabindex="11" [class]="sortingClass(10)" (click)="sort(10)" style="width: 6%;" rowspan="1" colspan="1">{{'NdsClient.DisableSubscription' | translate:lang}}</th>
                                        <th tabindex="12" style="width: 3%;" rowspan="1" colspan="1">
                                            <label>
                                                <iCheck [isChecked]="selectedAll" class="subs-icheck" (change)="selectAllSubscriptions()"></iCheck>
                                            </label>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody id="data-response">
                                    <tr role="row" *ngFor="let client of clients; let i = index;" id="p_{{client.id}}"
                                        (click)="onRowSelected(i)"
                                        [class.success]="client.isSelected">
                                        <td>{{client.client}}</td>
                                        <td>{{client.clientTypeStr}}</td>
                                        <td>{{client.address}}</td>
                                        <td>{{client.series}}</td>
                                        <td>{{client.itemsA}}</td>
                                        <td>{{client.operator}}</td>
                                        <td class="text-center"><i class="fa" [class.fa-check]="client.french"></i></td>
                                        <td class="text-center"><i class="fa" [class.fa-check]="client.allowQueries"></i></td>
                                        <td>{{client.updated | date: 'short' }}</td>
                                        <td>{{client.lastSynced | date: 'short' }}</td>
                                        <td class="text-center"><i class="fa" [class.fa-check]="client.active"></i></td>
                                        <td style="padding-top:3px; padding-bottom:3px">
                                            <div *ngIf="isSubscriptionEnabled(client)">
                                                <div class="icheck-inline">
                                                    <iCheck [isChecked]="client.subscriptionSelected" class="subs-icheck" (change)="selectSubscription(i)"></iCheck>
                                                </div>
                                            </div>
                                        </td>
                                        <!--<td>
                                            <div *ngIf="isSubscriptionEnabled(client)">
                                                <i *ngIf="client.subscriptionSelected" class="fa fa-wifi m-r-10" (click)="selectSubscription(i)"></i>
                                                <i *ngIf="!client.subscriptionSelected" class="fa fa-circle-o-notch m-r-10" (click)="selectSubscription(i)"></i>
                                            </div>
                                        </td>-->
                                    </tr>
                                </tbody>
                            </table>
                            <server-pagination [currentPage]="paging.currentPage"
                                               [pageSize]="paging.pageSize"
                                               [totalCount]="paging.totalCount"
                                               [totalPages]="totalPages"
                                               [sliderSize]="9"
                                               (onPageChange)="onPageChange($event)"></server-pagination>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="modal-delete" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-sm" style="margin-top: 17% !important;">
        <div class="modal-content">
            <div class="modal-header bg-danger">
                <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
                <h4 class="modal-title"><b>{{'NdsClient.DeleteClient' | translate:lang}}</b></h4>
            </div>
            <div class="modal-body">
                <b>{{'NdsClient.DeleteClientConfirmation' | translate:lang}}</b>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="deleteClient()">{{'Common.Yes' | translate:lang}}</button>
                <button type="button" class="btn btn-dark" data-dismiss="modal">{{'Common.No' | translate:lang}}</button>
            </div>
        </div>
    </div>
</div>

<div id="modal-sendnotams" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-sm" style="margin-top: 17% !important;">
        <div class="modal-content">
            <div class="modal-header bg-danger">
                <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
                <h4 class="modal-title"><b>{{'NdsClient.SendNotams' | translate:lang}}</b></h4>
            </div>
            <div class="modal-body">
                <b>{{'NdsClient.SendNotamsConfirmation' | translate:lang}}</b>
                <br />
                <b>{{'NdsClient.SendNotamsWarning' | translate:lang}}</b>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="sendNotams()">{{'Common.Ok' | translate:lang}}</button>
                <button type="button" class="btn btn-dark" data-dismiss="modal">{{'Common.No' | translate:lang}}</button>
            </div>
        </div>
    </div>
</div>




