﻿<div class="panel bg-blue-dark" [formGroup]="nsdFrmGroup">
    <div class="panel-header">
        <h3><i class="fa fa-plane"></i> <strong>{{'Nsd.ObsLocation' | translate:lang}} &amp; {{'Nsd.Description' | translate:lang}}</strong></h3>
        <div class="control-btn">
            <a href="#" class="panel-toggle"><i class="fa fa-angle-down"></i></a>
        </div>
    </div>

    <!--nsd-body-->
    <div class="panel-content bg-white">
        <!--Obstacle Type-->
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <label class="form-label">{{'Nsd.ObsType' | translate:lang}}</label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-reorder"></i></span>
                        <select2 [value]="nsdFrmGroup.get('obstacleType').value"
                                 [data]="obstacleTypes"
                                 [disabled]="isReadOnly"
                                 (valueChanged)="setObjectType($event)"
                                 [options]="objectTypeSelectOptions()"></select2>
                    </div>
                </div>
                <div *ngIf="invalidObstacleType()" class="form-error">{{'ErrorMsgs.ObsTypeRequired' | translate:lang}}</div>
                <div *ngIf="!validateObstacleTypeId()" class="form-error">{{'ErrorMsgs.ObsSelectOption' | translate:lang}}</div>
            </div>
        </div>

        <!-- Location -->
        <div class="row">
            <div class="col-sm-4">
                <div class="form-group">
                    <label class="form-label">{{'Nsd.Location' | translate:lang}}</label>
                    <div class="append-icon">
                        <input id="location" 
                               formControlName="location" type="text" class="form-control"
                               [ngClass]="{'form-error': !validateLocation() }"
                               [class.form-white]="!isReadOnly" 
                               placeholder="{{'Nsd.Location' | translate:lang}}" 
                               spellcheck="false"
                               style="text-transform:uppercase; font-size: 10px !important">
                        <i class="fa fa-map-marker"></i>
                    </div>
                </div>
                <div *ngIf="validateRequiredLocation()" class="form-error">{{'ErrorMsgs.LocationRequired' | translate:lang}}</div>
                <div *ngIf="isLocationFormatInvalid()" class="form-error">{{'ErrorMsgs.LocationFormatInvalid' | translate:lang}}</div>
                <div *ngIf="isValidatingLocation()" class="form-error">{{'ErrorMsgs.ValidatingLocation' | translate:lang}}</div>
                <div *ngIf="isInvalidLocation()" class="form-error">{{'ErrorMsgs.LocationOutRegion' | translate:lang}}</div>
            </div>
            <!--height-->
            <div class="col-sm-2">
                <div class="form-group" style="margin-right: 20px;">
                    <label class="form-label">{{'Nsd.Height' | translate:lang}}</label>
                    <div class="input-group">
                        <span class="input-group-addon btn btn-plus-minus" style="padding:7px 11px 8px;" (click)="decHeight()">-</span>
                        <input id="height" formControlName="height" class="form-control" 
                               maxlength="4"
                               (keypress)="validateKeyPressNumber($event)"
                               [ngClass]="{'form-error': !validateHeight() }" [class.form-white]="!isReadOnly" type="text">
                        <span class="input-group-addon btn btn-plus-minus" style="padding:7px 10px 8px;" (click)="incHeight()">+</span>
                    </div>
                    <div *ngIf="nsdFrmGroup.get('height').errors && nsdFrmGroup.get('height').errors.required" class="form-error">{{'ErrorMsgs.HeightRequired' | translate:lang}}</div>
                    <div *ngIf="nsdFrmGroup.get('height').errors && nsdFrmGroup.get('height').errors.invalid" class="form-error">{{'ErrorMsgs.InputInvalid' | translate:lang}}</div>
                </div>
            </div>
            <!--elevation-->
            <div class="col-sm-2">
                <div class="form-group" style="margin-right: 20px;">
                    <label class="form-label">{{'Nsd.Elevation' | translate:lang}}</label>
                    <div class="input-group">
                        <span class="input-group-addon btn btn-plus-minus" style="padding:7px 11px 8px;" (click)="decElevation()">-</span>
                        <input id="elevation" formControlName="elevation" class="form-control" 
                               maxlength="5"
                               (keypress)="validateKeyPressNumber($event)"
                               [ngClass]="{'form-error': !validateElevation() }" [class.form-white]="!isReadOnly" type="text">
                        <span class="input-group-addon btn btn-plus-minus" style="padding:7px 10px 8px;" (click)="incElevation()">+</span>
                    </div>
                    <div *ngIf="nsdFrmGroup.get('elevation').errors && nsdFrmGroup.get('elevation').errors.required" class="form-error">{{'ErrorMsgs.ElevationRequired' | translate:lang}}</div>
                    <div *ngIf="nsdFrmGroup.get('elevation').errors && nsdFrmGroup.get('elevation').errors.invalid" class="form-error">{{'ErrorMsgs.InputInvalid' | translate:lang}}</div>
                </div>
            </div>
            <!--lighted-->
            <div class="col-sm-2">
                <div class="form-group">
                    <label class="form-label">{{'Nsd.Light' | translate:lang}}</label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-reorder"></i></span>
                        <select2 [data]="lightValues"
                                 [value]="nsdFrmGroup.get('lighted').value"
                                 [disabled]="isReadOnly"
                                 (valueChanged)="setLightType($event)"
                                 [options]="{width: '100%'}"></select2>
                    </div>
                </div>
            </div>
            <!--painted-->
            <div class="col-sm-2">
                <div class="form-group">
                    <label class="form-label">{{'Nsd.Paint' | translate:lang}}</label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-reorder"></i></span>
                        <select2 [data]="paintValues"
                                 [value]="nsdFrmGroup.get('painted').value"
                                 [disabled]="isReadOnly"
                                 (valueChanged)="setPaintType($event)"
                                 [options]="{width: '100%'}"></select2>
                    </div>
                </div>
            </div>

        </div>

        <!-- Obstacle description -->
    </div>

    <input id="obstacleType" formControlName="obstacleType" type="hidden" />
    <input id="refreshDummy" formControlName="refreshDummy" type="hidden" />
</div>


