﻿@using Westwind.Globalization;

@{

    ViewBag.Title = "New Registration";
}

<h2>@DbRes.T("Email Confirmation Pending", "NewRegistrationRes")</h2>
<br/>


<div id="toolbar"></div>

<div id="userGrid"></div>
<div id="assignOrSelectOrganization-Popup"></div>
<div id="userDetail-Popup">
    @Html.Partial("RegistrationDetailTemplate")
</div>

<script>
   @section Scripts{
    require(["admin/Controllers/WaitingApproval/Index"], function (index) {
        var labels = {
            newReg_userRegInfo: '@DbRes.T("User Details", "NewRegistrationRes")',
            newReg_userName: '@DbRes.T("User Name", "NewRegistrationRes")',
            newReg_firstName: '@DbRes.T("First Name", "NewRegistrationRes")',
            newReg_lastName: '@DbRes.T("Last Name", "NewRegistrationRes")',
            newReg_emailAddress: '@DbRes.T("Email Address", "NewRegistrationRes")',
            newReg_orgName: '@DbRes.T("Organization Name", "NewRegistrationRes")',
            newReg_userDetails: '@DbRes.T("Show Details", "NewRegistrationRes")',
            newReg_delete: '@DbRes.T("Delete", "NewRegistrationRes")',
            newReg_close: '@DbRes.T("Close", "NewRegistrationRes")',
            newReg_resendEmail: '@DbRes.T("Re-send Email", "NewRegistrationRes")',
            newReg_deleteUserDlgTitle: '@DbRes.T("Delete User", "NewRegistrationRes")',
            newReg_deleteUserDlgContent: '@DbRes.T("Are you sure you want to delete this user ", "NewRegistrationRes")',
            newReg_deleteUserErrorTitle: '@DbRes.T("Error!", "NewRegistrationRes")',
            newReg_deleteUserErrorContent: '@DbRes.T("Error deleting user. Contact your system administrator.", "NewRegistrationRes")',
            newReg_resendEmailTitle: '@DbRes.T("Registration/Verification Email.", "NewRegistrationRes")',
            newReg_resendEmailContent: '@DbRes.T("Are you sure you want to re-send a registration/verification email this user ", "NewRegistrationRes")',
            newReg_resendEmailErrorTitle: '@DbRes.T("Error!", "NewRegistrationRes")',
            newReg_resendEmailErrorContent: '@DbRes.T("Error re-sending the email to the user. Contact your system administrator.", "NewRegistrationRes")',
            //newReg_rejectUser_message: '@DbRes.T("and user will be deleted from database.", "NewRegistrationRes")',
            //newReg_rejectError_message: '@DbRes.T("RejectUserErrorMsg", "NewRegistrationRes")',
            //newReg_rejectError_unidentify: '@DbRes.T("Unidentified Error.", "NewRegistrationRes")',
            //newReg_selectOrganization: '@DbRes.T("Select Organization...", "NewRegistrationRes")',
            //newReg_doaInfo: '@DbRes.T("DOA Information", "NewRegistrationRes")',
            //newReg_selectDOA: '@DbRes.T("Select DOA...", "NewRegistrationRes")',
            //newReg_updateUser_title: '@DbRes.T("User Information", "NewRegistrationRes")'
        };
        index.init(labels);
    })
    }
</script>
