﻿#subjectTree {
    height: 97%;
    background: -webkit-linear-gradient(#fff,#eee); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#fff,#eee); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#fff,#eee); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#fff,#eee); /* Standard syntax */
}

.nested-inner-west .k-grid-content > table > tbody > .k-alt {
    border: 0;
}

.nested-inner-west .k-grid-header {
    padding: 0 !important;
    display: none;
}

.nested-inner-west .k-grid-content {
    overflow-y: visible;
}

.detailGrid .k-grid td {
    border-width: 0;
}

.detailGrid {
    border: 0;
}

#txtSearchString {
    width:60%
}
