﻿@{ 
    var appVersion = new NAVTAM.Helpers.ApplicationVersion();
}
<p class="account-copyright">
    @if (ViewBag.CopyrightBilingual == true)
    {
        <span>
            Copyright © 2019 NavCanada. All rights reserved. / © Droit d'auteur par NAV CANADA 2019. Tous droits réservés. Version: @appVersion.Version Built On / Basé sur: @appVersion.BuildDate
        </span>
    }
    else
    {
        <span>
            @Resources.CopyrightMessage @Resources.Version: @appVersion.Version @Resources.BuiltOn: @appVersion.BuildDate
        </span>
    }
</p>