﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="admin-themes-lab">
    <meta name="author" content="themes-lab">
    <link rel="shortcut icon" href="~/favicon.ico?Rev=3.0.1" type="image/vnd.microsoft.icon">
    <title>@ViewBag.Title</title>

    @Styles.Render("~/content/css/layout")

    <script src="~/scripts/plugins/modernizr-2.6.2-respond-1.1.0.min.js"></script>
</head>

<body class="account2" data-page="login">
   <!-- BEGIN LOGIN BOX -->
    <div class="container" id="login-block-1">
        <i class="user-img icons-faces-users-03"></i>
        <div class="account-info">
            <img src="~/content/Images/NavCanada.png" class="img-responsive img-rounded center-block">
        </div>
        @*<div class="account-info">
                <a href="dashboard.html" class="logo"></a>
                <h3>Entry &amp; Distribution System.</h3>
                <ul>
                    <li><i class="icon-magic-wand"></i> Fully customizable</li>
                    <li><i class="icon-layers"></i> Various sibebars look</li>
                    <li><i class="icon-arrow-right"></i> RTL direction support</li>
                    <li><i class="icon-drop"></i> Colors options</li>
                </ul>
            </div>*@
        <div class="account-form">
            @RenderBody()
        </div>
    </div>
    <!-- END LOCKSCREEN BOX -->

    <div class="footer">
        @Html.Partial("_Copyrights")
    </div>

    <!-- BEGIN PRELOADER -->
    <div class="loader-overlay">
        <div class="spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
    </div>
    <!-- END PRELOADER -->

    @Scripts.Render("~/bundles/js/jquery")
    @Scripts.Render("~/bundles/js/bootstrap")
    @Scripts.Render("~/bundles/js/plugins")

    @RenderSection("scripts", required: false)
</body>
</html>
