﻿<div class="row" data-bind="visible: dg.paging.totalPages() > 1">
    <div class="col-md-6">
        <div class="dataTables_info" id="DataTables_Table_2_info" role="status" aria-live="polite">
            <span>
                showing&nbsp;<span data-bind="text: ((dg.paging.currentPage() -1) * dg.paging.pageSize()) + 1"></span>&nbsp;to&nbsp;
                <span data-bind="text: ((dg.paging.currentPage() -1) * dg.paging.pageSize()) + dg.paging.pageSize()"></span>&nbsp;off&nbsp;
                <span data-bind="text: dg.paging.totalCount"></span>&nbsp;entries
            </span>
        </div>
    </div>
    <div class="col-md-6">
        <div class="dataTables_paginate pull-right" id="table2_paginate">
            <div class="btn-group">
                <button class="btn btn-xs btn-primary" type="button"
                        data-bind="enable: dg.paging.currentSlider() > 0, click: dg.prevSlider">
                    <i class="fa fa-angle-double-left"></i>
                </button>
                <button class="btn btn-xs btn-primary" type="button"
                        data-bind="enable: dg.paging.currentPage() > 1 , click: dg.prevPage">
                    <i class="fa fa-angle-left"></i>
                </button>
                <!-- ko foreach: dg.paging.pages -->
                <button class="btn btn-xs btn-primary" data-bind="css: { 'active': $parent.dg.paging.currentPage() === $data }, text: $data, click: function() { $parent.dg.toPage($data) }"></button>
                <!--/ko-->
                <button class="btn btn-xs btn-primary" type="button"
                        data-bind="enable: dg.paging.currentPage() < dg.paging.totalPages(), click: dg.nextPage">
                    <i class="fa fa-angle-right"></i>
                </button>
                <button class="btn btn-xs btn-primary" type="button"
                        data-bind="enable: dg.paging.currentSlider() < dg.paging.sliderlastBound() - 1, click: dg.nextSlider">
                    <i class="fa fa-angle-double-right"></i>
                </button>
            </div>
        </div>
    </div>
</div>
