﻿#grid {
    height: 100%;
    background: -webkit-linear-gradient(#fff,#eee); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#fff,#eee); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#fff,#eee); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#fff,#eee); /* Standard syntax */
}

#scheduler {
    height: 100%;
    background: -webkit-linear-gradient(#fff,#eee); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#fff,#eee); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#fff,#eee); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#fff,#eee); /* Standard syntax */
}

#TimeSchedulecontainer {
    height: 100%;
    background: -webkit-linear-gradient(#fff,#eee); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#fff,#eee); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#fff,#eee); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#fff,#eee); /* Standard syntax */
}


/*#menutop ul, #menutop li {
    margin: 0; padding: 0;
}*/

.k-scheduler-dayview .k-scheduler-table td,
.k-scheduler-weekview tr:nth-child(2) .k-scheduler-table td,
.k-scheduler-monthview .k-scheduler-table td {
    height: 55px !important;
}

.k-window  div.k-window-content
{
        overflow: hidden;
}