﻿@{
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
    ViewBag.Title = "Dashboard";
}

<my-app>
</my-app>

@section scripts
{
    <link rel="stylesheet" href="~/app/common/leaflet/leaflet.css" />
    <script src="~/app/common/leaflet/leaflet.js"></script>
    <script src="~/app/common/leafletmap.js"></script>
    <script src="~/app/common/leafletgeomap.js"></script>
}


