﻿<div class="panel bg-blue-dark" [formGroup]="nsdFrmGroup">
    <div class="panel-header">
        <h3><i class="fa fa-plane"></i> <strong>{{'Nsd.RwyClosureNotamScenario' | translate:lang }}</strong></h3>
        <div class="control-btn">
            <a href="#" class="panel-toggle"><i class="fa fa-angle-down"></i></a>
        </div>
    </div>
    <div class="panel-content bg-white">
        <div class="row">
            <div class="col-sm-4">
                <div class="form-group">
                    <label class="form-label">{{'Nsd.EffectedAeroDrome' | translate:lang}}</label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-search"></i></span>
                        <select2 [value]="nsdFrmGroup.get('effectedAerodrome').value"
                                 [data]="subjects"
                                 [options]="getEffectedAerodrome()"
                                 (valueChanged)="setEffectedAerodrome($event)"
                                 [disabled]="checkForDisableItemAIfReplacement()">
                        </select2>
                    </div>
                    <div *ngIf="invalidEffectedAerodrome()" class="form-error">{{ 'Nsd.EffectedAeroDromeRequiredError' | translate:lang }}</div>
                    <div *ngIf="!validateAerodromeRequired()" class="form-error">{{ 'Nsd.EffectedAeroDromeRequiredError' | translate:lang }}</div>
                    <div *ngIf="!nsdFrmGroup.get('effectedAerodrome').value" class="form-error">{{ 'Nsd.EffectedAeroDromeRequiredError' | translate:lang }}</div>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="form-group">
                    <label class="form-label">{{ 'Nsd.EffectedRunway' | translate: lang }}</label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-reorder"></i></span>
                        <select2 [value]="nsdFrmGroup.get('effectedRunway').value"
                                 [data]="rwySelections"
                                 (valueChanged)="setEffectedRunway($event)"
                                 [options]="runwaySelectOptions()"
                                 [disabled]="checkForDisableItemAIfReplacement()">
                        </select2>
                    </div>
                    <div *ngIf="validateRunway()" class="form-error">{{'Nsd.EffectedRunwayRequired' | translate: lang }} </div>
                </div>
            </div>
            <div class="col-sm-2">
                <label class="form-label">{{ 'Nsd.ClosureReason' | translate:lang}}</label>
                <div class="form-group">
                    <label class="switch m-r-20">
                        <input id="closureQuestion" formControlName="closureQuestion" class="switch-input" type="checkbox" [checked]="$ctrl('closureQuestion').value === true">
                        <span class="switch-label"
                              attr.data-off="{{'Switch.No' | translate:lang}}" attr.data-on="{{'Switch.Yes' | translate:lang}}"></span>
                        <span class="switch-handle"></span>
                    </label>
                </div>
            </div>
            <div *ngIf="$ctrl('closureQuestion').value === true">
                <div class="col-sm-3">
                    <div class="form-group">
                        <label class="form-label">{{ 'Nsd.Reason' | translate:lang}}</label>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-reorder"></i></span>
                            <select2 [value]="nsdFrmGroup.get('closureReasonId').value"
                                     [data]="closureReasons"
                                     (valueChanged)="setClosureType($event)"
                                     [options]="closureTypeSelectOptions()"
                                     [disabled]="isReadOnly"></select2>
                            <div *ngIf="getOtherReason()">
                                <div class="append-icon">
                                    <textarea cols="30" rows="1" id="closureReasonOtherFreeText"
                                              formControlName="closureReasonOtherFreeText" class="form-control"
                                              (keyup)="changeReasonFree()"
                                              [class.form-white]="!isReadOnly" style="text-transform:uppercase;
                                              resize:horizontal" placeholder="{{'Nsd.Specify' | translate: lang}}"></textarea>
                                    <i class="fa fa-pencil-square-o"></i>
                                </div>
                                <div *ngIf="IsBilingualRegion()">
                                    <div class="append-icon">
                                        <textarea cols="30" rows="1" id="closureReasonOtherFreeTextFr"
                                                  formControlName="closureReasonOtherFreeTextFr" class="form-control"
                                                  (keyup)="changeReasonFree()"
                                                  [class.form-white]="!isReadOnly" style="text-transform:uppercase;
                                                  resize:horizontal" placeholder="{{'Nsd.SpecifyFr' | translate: lang}}"></textarea>
                                        <i class="fa fa-pencil-square-o"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div *ngIf="validateOtherReason()" class="form-error">{{'Nsd.RunwayRestrictionsRequired' | translate: lang}}</div>
                        <div *ngIf="validateClosures()" class="form-error">{{'ErrorMsgs.ClosureReasonNeeded' | translate: lang}}</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2">
                <div class="form-group">
                    <label class="form-label">{{'Nsd.AvailAsTaxiway' | translate: lang}}</label>
                    <div>
                        <label class="switch m-r-20">
                            <input id="availableAsTaxiway" formControlName="availableAsTaxiway" class="switch-input" type="checkbox" [checked]="$ctrl('availableAsTaxiway').value === true" />
                            <span class="switch-label"
                                  attr.data-off="{{'Switch.No' | translate:lang}}" attr.data-on="{{'Switch.Yes' | translate:lang}}"></span>
                            <span class="switch-handle"></span>
                        </label>
                    </div>
                </div>
            </div>
            <div *ngIf="getAvailAsTxyway()">
                <div class="col-sm-2">
                    <div class="form-group">
                        <label class="form-label">{{'Nsd.TxyRestrictions' | translate: lang}}</label>
                        <div>
                            <label class="switch m-r-20">
                                <input id="txyRestrictions" formControlName="txyRestrictions" class="switch-input" type="checkbox" [checked]="$ctrl('txyRestrictions').value === true" />
                                <span class="switch-label"
                                      attr.data-off="{{'Switch.No' | translate:lang}}" attr.data-on="{{'Switch.Yes' | translate:lang}}"></span>
                                <span class="switch-handle"></span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <section *ngIf="$ctrl('txyRestrictions').value === true && getAvailAsTxyway()">
                    <div class="append-icon">
                        <textarea cols="180" rows="2" id="freeTextTaxiwayRestriction" formControlName="freeTextTaxiwayRestriction"
                                  class="form-control" placeholder="{{'Nsd.Restrictions' | translate: lang}}"
                                  [class.form-white]="!isReadOnly"
                                  style="text-transform:uppercase; resize:horizontal"></textarea>
                        <i class="fa fa-pencil-square-o"></i>
                    </div>
                    <section *ngIf="IsBilingualRegion()">
                        <div class="append-icon">
                            <textarea cols="180" rows="2" id="freeTextTaxiwayRestrictionFr" formControlName="freeTextTaxiwayRestrictionFr"
                                      class="form-control" placeholder="{{'Nsd.RestrictionsFr' | translate: lang}}"
                                      [class.form-white]="!isReadOnly"
                                      style="text-transform:uppercase; resize:horizontal"></textarea>
                            <i class="fa fa-pencil-square-o"></i>
                        </div>
                    </section>
                    <div *ngIf="validateTwyRestrictionsFreeText()" class="form-error">{{'Nsd.TxyRestrictionsReq' | translate: lang}}</div>
                </section>
            </div>
        </div>
        <section *ngIf="getAvailAsTxyway()">
            <div class="row">
                <div class="col-sm-4">
                    <label class="form-label">{{'Nsd.AircraftRestrictions' | translate: lang}}</label>
                    <div class="form-group">
                        <label class="switch m-r-20">
                            <input id="acftRestrictions" formControlName="acftRestrictions" class="switch-input" type="checkbox" [checked]="$ctrl('acftRestrictions').value === true">
                            <span class="switch-label"
                                  attr.data-off="{{'Switch.No' | translate:lang}}" attr.data-on="{{'Switch.Yes' | translate:lang}}"></span>
                            <span class="switch-handle"></span>
                        </label>
                    </div>
                </div>
            </div>
        </section>
        <section *ngIf="$ctrl('acftRestrictions').value === true && getAvailAsTxyway()">
            <div class="row">
                <div class="col-sm-2">
                    <div class="form-group">
                        <label class="form-label">{{'Nsd.AircraftWingSpan' | translate: lang}}</label>
                        <div class="input-group">
                            <span class="input-group-addon btn btn-plus-minus" style="padding:7px 11px 8px;" (click)="decWingspan()">-</span>
                            <input id="acftWingspanRestrictions" formControlName="maxWingSpanFt" class="form-control"
                                   (keypress)="validateKeyPressNumber($event)"
                                   [class.form-white]="!isReadOnly" type="text" min="0" max="9999999999" (change)="setMaxWingSpanFt()">
                            <span class="input-group-addon btn btn-plus-minus" style="padding:7px 10px 8px;" (click)="incWingspan()">+</span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label class="form-label">{{'Nsd.AircraftWeight' | translate: lang}}</label>
                        <div class="input-group">
                            <span class="input-group-addon btn btn-plus-minus" style="padding:7px 11px 8px;" (click)="decWeight()">-</span>
                            <input id="acftWeightRestrictions" formControlName="maxWeightLbs" class="form-control"
                                   (keypress)="validateKeyPressNumber($event)"
                                   [class.form-white]="!isReadOnly" type="text" min="0" max="9999999999" (change)="setMaxWeight()">
                            <span class="input-group-addon btn btn-plus-minus" style="padding:7px 10px 8px;" (click)="incWeight()">+</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div *ngIf="validateAircraftRestrictionsValues()" class="form-error">{{'Nsd.AircraftRes' | translate: lang}}</div>
                <div *ngIf="validateIsNaN()" class="form-error">{{'Nsd.InvalidValueNotNaN' | translate: lang}}</div>
                <div *ngIf="validateBigInt()" class="form-error">{{'Nsd.InvalidValueBigInt' | translate: lang}}</div>
            </div>
        </section>
    </div>
    <input id="closureReasonId" formControlName="closureReasonId" type="hidden" />
    <input id="refreshDummy" formControlName="refreshDummy" type="hidden" />
    <input id="rwySelections" formControlName="effectedRunway" type="hidden" />
</div>