﻿<div class="panel bg-blue-dark" [formGroup]="nsdFrmGroup">
    <div class="panel-header">
        <h3><i class="fa fa-plane"></i> <strong>{{'Nsd.AerodromeLocationDescription' | translate:lang}}</strong></h3>
        <div class="control-btn">
            <a href="#" class="panel-toggle"><i class="fa fa-angle-down"></i></a>
        </div>
    </div>

    <!--nsd-body-->
    <div class="panel-content bg-white">
        <!--SDOs with CARS-->
        <div class="row">
            <div class="col-sm-8">
                <div class="form-group">
                    <label class="form-label">{{'Nsd.ItemA' | translate:lang}}</label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-search"></i></span>
                        <select2 [value]="nsdFrmGroup.get('subjectId').value"
                                 [data]="subjects"
                                 [disabled]="isReadOnly"
                                 [options]="sdoSubjectWithCarsOptions()"></select2>
                    </div>
                    <div *ngIf="!validateSubjectId() && nsdFrmGroup.controls.subjectId.errors.required" class="form-error">{{'ErrorMsgs.SubjectRequired' | translate:lang}}</div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label class="form-label">{{'Nsd.Status' | translate:lang}}</label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-search"></i></span>
                        <select2 [value]="nsdFrmGroup.get('carsStatusId').value"
                                 [data]="carsStatus"
                                 [disabled]="nsdFrmGroup.get('subjectId').value === '' || isReadOnly"
                                 (valueChanged)="carsStatusChanged($event)"
                                 [options]="carsStatusOptions"></select2>
                    </div>
                    <div *ngIf="!validateCarsStatusId()" class="form-error">{{'ErrorMsgs.StatusRequired' | translate:lang}}</div>
                </div>
            </div>
        </div>
        <div *ngIf="carsStatusId === 1">
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label class="control-label">{{'Nsd.StartHour' | translate:lang}}</label>
                        <div class="append-icon">
                            <input id="startHour" formControlName="startHour" type="text" class="form-control form-white"
                                   (keypress)="validateKeyPressHours($event,'startHour')"
                                   [ngClass]="{'form-error': !validateHoursEmptyCtrls('startHour')}"
                                   (keyup)="carsClosedHoursChange()"
                                   [class.form-white]="!isReadOnly" placeholder="HHMM" maxlength="4" size="4">
                            <i class="fa fa-clock-o"></i>
                        </div>
                        <div *ngIf="!validateHoursEmptyCtrls('startHour')" class="form-error">{{'ErrorMsgs.StartHourNeeded' | translate:lang}}</div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label class="control-label">{{'Nsd.EndHour' | translate:lang}}</label>
                        <div class="append-icon">
                            <input id="endHour" formControlName="endHour" type="text" class="form-control form-white"
                                   (keypress)="validateKeyPressHours($event,'endHour')"
                                   [ngClass]="{'form-error': !validateHoursEmptyCtrls('endHour')}"
                                   (keyup)="carsClosedHoursChange()"
                                   [class.form-white]="!isReadOnly" placeholder="HHMM" maxlength="4" size="4">
                            <i class="fa fa-clock-o"></i>
                        </div>
                        <div *ngIf="!validateHoursEmptyCtrls('endHour')" class="form-error">{{'ErrorMsgs.EndHourNeeded' | translate:lang}}</div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label class="form-label">{{'Nsd.DaylightSavingTime' | translate:lang}}</label>
                        <div>
                            <label class="switch m-r-20">
                                <input id="daylightSavingTime" formControlName="daylightSavingTime" class="switch-input" type="checkbox"
                                       (change)="changeDaylightSavingTime()"
                                       [disabled]="isReadOnly">
                                <span class="switch-label" attr.data-off="{{'Switch.No' | translate:lang}}" attr.data-on="{{'Switch.Yes' | translate:lang}}"></span>
                                <span class="switch-handle"></span>
                            </label>
                        </div>
                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col-sm-2">
                    <div class="form-group">
                        <label class="form-label">{{'Nsd.Everyday' | translate:lang}}</label>
                        <div>
                            <label class="switch m-r-20">
                                <input formControlName="everyday" class="switch-input" type="checkbox"
                                       (change)="selectAllDays()"
                                       [disabled]="isReadOnly">
                                <span class="switch-label" attr.data-off="{{'Switch.No' | translate:lang}}" attr.data-on="{{'Switch.Yes' | translate:lang}}"></span>
                                <span class="switch-handle"></span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="col-sm-10">
                    <div class="form-group">
                        <label class="form-label"> &nbsp;</label>
                        <div class="input-group">
                            <div class="icheck-inline">
                                <label>
                                    <iCheck [isChecked]="nsdFrmGroup.get('daysOfWeek.monday').value" class="cars-icheck"
                                            (change)="checkboxChanged('daysOfWeek.monday', $event)"
                                            [disabled]="disabledDayCheckbox || isReadOnly">{{'Weekdays.Monday' | translate:lang}}</iCheck>
                                </label>
                                <label>
                                    <iCheck [isChecked]="nsdFrmGroup.get('daysOfWeek.tuesday').value" class="cars-icheck"
                                            (change)="checkboxChanged('daysOfWeek.tuesday', $event)"
                                            [disabled]="disabledDayCheckbox || isReadOnly">{{'Weekdays.Tuesday' | translate:lang}}</iCheck>
                                </label>
                                <label>
                                    <iCheck [isChecked]="nsdFrmGroup.get('daysOfWeek.wednesday').value" class="cars-icheck"
                                            (change)="checkboxChanged('daysOfWeek.wednesday', $event)"
                                            [disabled]="disabledDayCheckbox || isReadOnly">{{'Weekdays.Wednesday' | translate:lang}}</iCheck>
                                </label>
                                <label>
                                    <iCheck [isChecked]="nsdFrmGroup.get('daysOfWeek.thursday').value" class="cars-icheck"
                                            (change)="checkboxChanged('daysOfWeek.thursday', $event)"
                                            [disabled]="disabledDayCheckbox || isReadOnly">{{'Weekdays.Thursday' | translate:lang}}</iCheck>
                                </label>
                                <label>
                                    <iCheck [isChecked]="nsdFrmGroup.get('daysOfWeek.friday').value" class="cars-icheck"
                                            (change)="checkboxChanged('daysOfWeek.friday', $event)"
                                            [disabled]="disabledDayCheckbox || isReadOnly">{{'Weekdays.Friday' | translate:lang}}</iCheck>
                                </label>
                                <label>
                                    <iCheck [isChecked]="nsdFrmGroup.get('daysOfWeek.saturday').value" class="cars-icheck"
                                            (change)="checkboxChanged('daysOfWeek.saturday', $event)"
                                            [disabled]="disabledDayCheckbox || isReadOnly">{{'Weekdays.Saturday' | translate:lang}}</iCheck>
                                </label>
                                <label>
                                    <iCheck [isChecked]="nsdFrmGroup.get('daysOfWeek.sunday').value" class="cars-icheck"
                                            (change)="checkboxChanged('daysOfWeek.sunday', $event)"
                                            [disabled]="disabledDayCheckbox || isReadOnly">{{'Weekdays.Sunday' | translate:lang}}</iCheck>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div *ngIf="isReadOnly === false">
            <div class="row">
                <div class="col-sm-2">
                    <div class="form-group">
                        <label class="form-label">{{'Nsd.AddReason' | translate:lang}}</label>
                        <div>
                            <label class="switch m-r-20">
                                <input formControlName="addReason" class="switch-input" type="checkbox"
                                       (change)="addAReason()"
                                       [disabled]="isReadOnly">
                                <span class="switch-label" attr.data-off="{{'Switch.No' | translate:lang}}" attr.data-on="{{'Switch.Yes' | translate:lang}}"></span>
                                <span class="switch-handle"></span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="addReason === true">
            <div class="row">
                <div *ngIf="!isBilingualRegion" class="col-md-12">
                    <div class="form-group">
                        <label class="form-label">{{'Nsd.ClosureReasonLabel' | translate:lang}}</label>
                        <div class="append-icon">
                            <textarea cols="80" rows="2" formControlName="reason"
                                      class="form-control" placeholder="{{'Nsd.ClosureReasonLabel' | translate:lang}}"
                                      (keyup)="changeReason()"
                                      [disabled]="isReadOnly"
                                      [class.form-white]="nsdFrmGroup.get('reason').enabled"
                                      style="text-transform:uppercase; resize:vertical"></textarea>
                            <i class="fa fa-pencil-square-o"></i>
                        </div>
                        <div *ngIf="!validateReasonCtrls('reason')" class="form-error">{{'ErrorMsgs.ClosureReasonNeeded' | translate:lang}}</div>
                    </div>
                </div>
                <div *ngIf="isBilingualRegion" class="col-md-6">
                    <div class="form-group">
                        <label class="form-label">{{'Nsd.ClosureReasonLabel' | translate:lang}}</label>
                        <div class="append-icon">
                            <textarea cols="80" rows="2" formControlName="reason"
                                      class="form-control" placeholder="{{'Nsd.ClosureReasonLabel' | translate:lang}}"
                                      (keyup)="changeReason()"
                                      [disabled]="isReadOnly"
                                      [class.form-white]="nsdFrmGroup.get('reason').enabled"
                                      style="text-transform:uppercase; resize:vertical"></textarea>
                            <i class="fa fa-pencil-square-o"></i>
                        </div>
                        <div *ngIf="!validateReasonCtrls('reason')" class="form-error">{{'ErrorMsgs.ClosureReasonNeeded' | translate:lang}}</div>
                    </div>
                </div>
                <div *ngIf="isBilingualRegion" class="col-md-6">
                    <div class="form-group">
                        <label class="form-label">{{'Nsd.ClosureReasonLabelFr' | translate:lang}}</label>
                        <div class="append-icon">
                            <textarea cols="80" rows="2" formControlName="reasonFr"
                                      class="form-control" placeholder="{{'Nsd.ClosureReasonLabelFr' | translate:lang}}"
                                      (keyup)="changeReason()"
                                      [disabled]="isReadOnly"
                                      [class.form-white]="nsdFrmGroup.get('reasonFr').enabled"
                                      style="text-transform:uppercase; resize:vertical"></textarea>
                            <i class="fa fa-pencil-square-o"></i>
                        </div>
                        <div *ngIf="!validateReasonCtrls('reasonFr')" class="form-error">{{'ErrorMsgs.ClosureReasonNeededFr' | translate:lang}}</div>
                    </div>
                </div>
            </div>
        </div>

    
    </div>
    <input id="refreshIcao" formControlName="refreshIcao" type="hidden" />
</div>


