﻿@using Westwind.Globalization;

@{

    ViewBag.Title = "New Registration";

}

<h2>@DbRes.T("Registration Management", "NewRegistrationRes")</h2>
<div id="userGrid"></div>
<div id="assignOrSelectOrganization-Popup"></div>
<div id="userDetail-Popup">
    @Html.Partial("RegistrationDetailTemplate")
</div>




<script>
   @section Scripts{
    require(["admin/Controllers/NewRegistration/Index"], function (index) {
        var labels = {
            newReg_userRegInfo: '@DbRes.T("User Registration Information", "NewRegistrationRes")',
            newReg_organizationInfo: '@DbRes.T("Organization Information", "NewRegistrationRes")',
            newReg_userName: '@DbRes.T("User Name", "NewRegistrationRes")',
            newReg_firstName: '@DbRes.T("First Name", "NewRegistrationRes")',
            newReg_lastName: '@DbRes.T("Last Name", "NewRegistrationRes")',
            newReg_showDetails: '@DbRes.T("Show Registration Details", "NewRegistrationRes")',
            newReg_rejectUser_title: '@DbRes.T("Reject User", "NewRegistrationRes")',
            newReg_rejectUser_message: '@DbRes.T("and user will be deleted from database.", "NewRegistrationRes")',
            newReg_rejectError_message: '@DbRes.T("RejectUserErrorMsg", "NewRegistrationRes")',
            newReg_rejectError_message_cont: '@DbRes.T("Error modifying record... contact your system administrator.", "NewRegistrationRes")',
            newReg_rejectError_unidentify: '@DbRes.T("Unidentified Error.", "NewRegistrationRes")',
            newReg_cancelRegistration: '@DbRes.T("Are you sure you want to cancel current registration?", "NewRegistrationRes")',
            newReg_selectOrganization: '@DbRes.T("Select Organization...", "NewRegistrationRes")',
            newReg_doaInfo: '@DbRes.T("DOA Information", "NewRegistrationRes")',
            newReg_selectDOA: '@DbRes.T("Select DOA...", "NewRegistrationRes")',
            newReg_val_phoneIncomplete: '@DbRes.T("Phone number is not completed.", "NewRegistrationRes")',
            newReg_val_faxIncomplete: '@DbRes.T("Fax number is not completed.", "NewRegistrationRes")',
            newReg_val_emailIncomplete: '@DbRes.T("Email does not appear to be valid", "NewRegistrationRes")',
            newReg_val_organizationRequired: '@DbRes.T("Organization Name is required!", "NewRegistrationRes")',
            newReg_val_addressRequired: '@DbRes.T("Address is required!", "NewRegistrationRes")',
            newReg_val_emailRequired: '@DbRes.T("Email is required!", "NewRegistrationRes")',
            newReg_val_phoneRequired: '@DbRes.T("Telephone is required!", "NewRegistrationRes")',
            newReg_val_operationRequired: '@DbRes.T("Type of Operation is required!", "NewRegistrationRes")',
            newReg_val_usernameRequired: '@DbRes.T("Username is required!", "NewRegistrationRes")',
            newReg_val_roleRequired: '@DbRes.T("At least one User Role need to be specified!", "NewRegistrationRes")',
            newReg_val_firstnameRequired: '@DbRes.T("First Name is required!", "NewRegistrationRes")',
            newReg_val_lastnameRequired: '@DbRes.T("Last Name is required!", "NewRegistrationRes")',
            newReg_val_positionRequired: '@DbRes.T("Title/Position is required!", "NewRegistrationRes")',
            newReg_approveError_message: '@DbRes.T("ApproveUserErrorMsg", "NewRegistrationRes")',
            newReg_updateUser_title: '@DbRes.T("User Information", "NewRegistrationRes")'

        };
        index.init(labels);
    })
    }
</script>
