﻿@using Westwind.Globalization;

<script id="reviewDetailTemplate" type="text/x-kendo-template">
    <div class="RegDetailAjax-loading"></div>

    <div id="reviewDetailContent" >
        <table>
            <tr>
                <td style="width: 300px">
                    <strong>
                        @DbRes.T("User Name:", "NewRegistrationRes")
                    </strong>
                </td>
                <td style="width: 300px">
                    <input style="width:290px" id="UserName" name="UserName" class="k-textbox" data-bind="value: userVM.UserName" required maxlength="100" readonly />
                </td>
            </tr>
            <tr>
                <td style="width: 300px">
                    <strong>
                        @DbRes.T("First Name:", "NewRegistrationRes")
                    </strong>
                </td>
                <td style="width: 300px">
                    <input style="width:290px" id="FirstName" name="FirstName" class="k-textbox" data-bind="value: userVM.FirstName" required maxlength="100" readonly />
                </td>
            </tr>
            <tr>
                <td style="width: 300px">
                    <strong>
                        @DbRes.T("Last Name:", "NewRegistrationRes")
                    </strong>
                </td>
                <td style="width: 300px">
                    <input style="width:290px" id="LastName" name="LastName" class="k-textbox" data-bind="value: userVM.LastName" required maxlength="100" readonly />
                </td>
            </tr>
            <tr>
                <td style="width: 300px">
                    <strong>
                        @DbRes.T("Title/Position:", "NewRegistrationRes")
                    </strong>
                </td>
                <td style="width: 300px">
                    <input style="width:290px" id="Position" name="Position" class="k-textbox" data-bind=" value: userVM.Position" required maxlength="100" readonly />
                </td>
            </tr>
            <tr>
                <td style="width: 300px">
                    <strong>
                        @DbRes.T("Email:", "NewRegistrationRes")
                    </strong>
                </td>
                <td style="width: 300px">
                    <input style="width:290px" id="Email" name="Email" class="k-textbox" data-bind="value: userVM.EmailAddress" required maxlength="100" readonly />
                </td>
            </tr>
            <tr>
                <td style="width: 300px">
                    <strong>
                        @DbRes.T("Telephone:", "NewRegistrationRes")
                    </strong>
                </td>
                <td style="width: 300px">
                    <input style="width:290px" id="Telephone" name="Telephone" class="k-textbox" data-bind="value: userVM.Telephone" required maxlength="100" readonly />
                </td>
            </tr>
            <tr>
                <td style="width: 300px">
                    <strong>
                        @DbRes.T("Address:", "NewRegistrationRes")
                    </strong>
                </td>
                <td style="width: 300px">
                    <input style="width:290px" id="Address" name="Address" class="k-textbox" data-bind="value: orgVM.Address" required maxlength="100" readonly />
                </td>
            </tr>
            <tr>
                <td style="width: 300px">
                    <strong>
                        @DbRes.T("Fax:", "NewRegistrationRes")
                    </strong>
                </td>
                <td style="width: 300px">
                    <input style="width:290px" id="Fax" name="Fax" class="k-textbox" data-bind="value: userVM.Fax" required maxlength="100" readonly />
                </td>
            </tr>
            <tr>
                <td style="width: 300px">
                    <strong>
                        @DbRes.T("Organization Name:", "NewRegistrationRes")
                    </strong>
                </td>
                <td style="width: 300px">
                    <input style="width:290px" id="OrgName" name="OrgName" class="k-textbox" data-bind="value: orgVM.Name" required maxlength="100" readonly />
                </td>
            </tr>
            <tr>
                <td style="width: 300px">
                    <strong>
                        @DbRes.T("Organization Address:", "NewRegistrationRes")
                    </strong>
                </td>
                <td style="width: 300px">
                    <input style="width:290px" id="OrgAddress" name="OrgAddress" class="k-textbox" data-bind="value: orgVM.Address" type="text" required maxlength="100" readonly />
                </td>
            </tr>
            <tr>
                <td style="width: 300px">
                    <strong>
                        @DbRes.T("Organization Email:", "NewRegistrationRes")
                    </strong>
                </td>
                <td style="width: 300px">
                    <input style="width:290px" id="OrgEmail" name="OrgEmail" class="k-textbox" data-bind="value: orgVM.EmailAddress" type="text" required maxlength="100" readonly />
                </td>
            </tr>
            <tr>
                <td style="width: 300px">
                    <strong>
                        @DbRes.T("Organization Telephone:", "NewRegistrationRes")
                    </strong>
                </td>
                <td style="width: 300px">
                    <input style="width:290px" id="OrgTelephone" name="OrgTelephone" class="k-textbox" data-bind="value: orgVM.Telephone" type="text" required maxlength="100" readonly />
                </td>
            </tr>
            <tr>
                <td style="width: 300px">
                    <strong>
                        @DbRes.T("Type of Operation:", "NewRegistrationRes")
                    </strong>
                </td>
                <td style="width: 300px">
                    <input style="width:290px; " id="TypeOfOperation" name="TypeOfOperation" class="k-textbox" data-bind="value: orgVM.TypeOfOperation" type="text" required maxlength="100" readonly />
                </td>
            </tr>
            <tr>
                <td style="width: 200px">
                    <button style="width:200px" id="ButtonRejectUser" type="button" class="k-button">@DbRes.T("Reject Registration", "NewRegistrationRes")</button>
                </td>
                <td style="width: 250px;">
                    <div>
                        <button style="width:290px;" id="ButtonStRegUser" type="button" class="k-button">@DbRes.T("Start User Registration", "NewRegistrationRes")</button>
                    </div>
                </td>
            </tr>
        </table>

    </div>

</script>
