﻿@using Westwind.Globalization;
<div class="StertRegAjax-loading"></div>
<div id="CreateOrganization-Popup">
        @Html.Partial("../Organization/OrganizationTemplate")
    </div>
    <div id="UpdateUser-Popup">
        @Html.Partial("../UserManagement/UserTemplate")
    </div>
    <div id="CreateOrAssignDOA-Popup">
        @Html.Partial("CreateOrAssignDOATemplate")
    </div>
    <div id="assignOrganizationContent">

        <table id="assignOrganizationContentTable">
            <tr >
                <td></td>
                <td>
                    <strong>
                        @DbRes.T("Assign to an existing Organization:", "NewRegistrationRes")
                    </strong>
                    <input id="assignOrganization" name="assignOrganization" type="text" style="width:300px" />
                </td>

            </tr>
            <tr >
                <td>

                </td>
                <td>
                    <strong>
                        @DbRes.T("Or Create an Organization:", "NewRegistrationRes")
                    </strong>
                </td>

            </tr>
            <tr>

                <td>
                <button id="btnPreviousOrg" type="button" class="k-button" style="width:200px">@DbRes.T("Previous", "NewRegistrationRes")</button>
                </td>
                <td align="right">
                    <button id="btnCreateOrg" type="button" class="k-button" style="width:300px">@DbRes.T("Create an Organization", "NewRegistrationRes")</button>
                </td>
            </tr>
        </table>
    </div>

