﻿.form-center {
    margin: 20px auto auto auto;
    width: 500px;
}

input {
    margin: auto;
}

    input[type="checkbox"],
    input[type="button"] {
        width: auto;
    }

    input[type="submit"]{
        width: 100%;
        margin: auto;
    }

fieldset{
    border: none;
    margin: auto;
    padding: 10px;
    padding-top: 5px;
    margin-left: auto;
    margin-right: auto;
}

    fieldset legend {
        display: none;
    }

    fieldset ol {
        padding: 0;
        list-style: none;
    }

        fieldset ol li {
            padding-bottom: 5px;
        }

label {
    display: block;
}

    label.checkbox {
        display: inline;
    }

input, textarea {
    border: 1px solid #e2e2e2;
    background: #fff;
    color: #333;
    font-size: 1.2em;
    width:100%;
    padding-top:5px;
    padding-bottom:5px;
}


    input:focus, textarea:focus {
        border: 1px solid #7ac0da;
    }

    input[type="checkbox"] {
        background: transparent;
        border: inherit;
        width: auto;
    }

td input[type="submit"],
td button {
    font-size: 1em;
    padding: 4px;

}

/* info and errors */
.message-info {
    border: 1px solid;
    clear: both;
    padding: 10px 20px;
}

.message-error {
    clear: both;
    color: #e80c4d;
    font-size: 1.1em;
    margin: 20px 0 10px 0;
}

.message-success {
    color: #7ac0da;
    font-size: 1.3em;
    margin: 20px 0 10px 0;
}

.error {
    color: #e80c4d;
}


/* styles for validation helpers */
.field-validation-error {
    color: #e80c4d;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #e80c4d;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
  background-color: #ffe0d9;
  color: #ef470a;
  border-color: #ef470a;
  border-width:1px;

  border-radius: 3px;
    font-size: 1.1em;
    padding-left: 20px;
    padding-right: 20px;
    padding-top:5px;
    padding-bottom:5px;
    margin-bottom:10px;
}

.validation-summary-errors ul {
    margin: auto;
    padding: 0;
    text-align: center;
}

.validation-summary-errors li {

    list-style: none;
    margin: auto;
}

.validation-summary-valid {
    display: none;
}

.validation-error {
    display: block;
    padding: 5px;
    margin: auto;
    margin-left: 15px;
}

