﻿<div *ngIf="systemDown" class="row alert alert-warning" role="alert">
    <div class="col-sm-12">
        <div *ngIf="hubDown">
            <strong>{{ 'Alerts.HubDownWarning' | translate:lang }} {{systemStatus.lastUpdated}}</strong>
        </div>

        <div *ngIf="systemError">
            <div class="row">
                <div class="col-sm-11">
                    <div>
                        <strong>{{ 'Alerts.SystemErrorWarning' | translate:lang }} {{systemStatus.lastUpdated}}</strong>
                    </div>
                    <div *ngIf="expanded">
                        <div>
                            <br />
                            {{ systemStatus.lastError }}
                            <br />
                        </div>
                        <div style="margin-top: 20px;">
                            <button class="btn btn-dark m-r-10 m-b-10" (click)="resetStatus()">
                                <i class="fa fa-recycle">&nbsp;{{ 'Alerts.ResetSystemStatusLabel' | translate:lang }}</i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-sm-1">
                    <div class="pull-right">
                        <i *ngIf="!expanded" class="fa fa-angle-down" (click)="toggleExpand()"></i>
                        <i *ngIf="expanded" class="fa fa-angle-up" (click)="toggleExpand()"></i>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>