﻿<div class="row">
    <div class="col-lg-4"></div>
    <div class="col-lg-4">
        <h1>Invalid user</h1>
        <h3>Possible problems:</h3>
        <ul>
            <li>User does not belog to an organization.</li>
            <li>User's organization does not belog to a DOA.</li>
            <li>The user doesn't have the proper roles.</li>
        </ul>
    </div>
    <div class="col-lg-4">
    </div>
</div>

<br />
<br />

