﻿@using Westwind.Globalization;
<link href="~/Content/Views/NsdEditor/TimeSchedule.css" rel="stylesheet" />
<div id="TimeSchedulecontainer" style="width: 700px; visibility:hidden">
    <form id="TimeScheduleForm" style="width: 700px">
        <table style="width: 700px">
            <tr>
                <td id="SubSelectiontd" style="width: 700px">
                    @DbRes.T("Period Selection:", "TimeSchedule")
                    <input type="radio" class="RadioButtonSelectionWCT" name="SubSelection" value="weekdays" id="weekdays" />@DbRes.T("Week Days", "CarsSchedule")&nbsp;
                    <input type="radio" class="RadioButtonSelectionWCT" name="SubSelection" value="timeonly" id="timeonly" />@DbRes.T("Time Only", "CarsSchedule")
                </td>
            </tr>
            <tr>
                <td id="weekdaystd" style="width: 700px">
                    &nbsp;&nbsp;
                    <input class="checkboxDays" type="checkbox" name="SUN" id="1">&nbsp;@DbRes.T("SUN", "CarsSchedule")&nbsp;&nbsp;&nbsp;&nbsp;
                    <input class="checkboxDays" type="checkbox" name="MON" id="2">&nbsp;@DbRes.T("MON", "CarsSchedule")&nbsp;&nbsp;&nbsp;&nbsp;
                    <input class="checkboxDays" type="checkbox" name="TUE" id="3">&nbsp;&nbsp;@DbRes.T("TUE", "CarsSchedule")&nbsp;&nbsp;&nbsp;&nbsp;
                    <input class="checkboxDays" type="checkbox" name="WED" id="4">&nbsp;@DbRes.T("WED", "CarsSchedule")&nbsp;&nbsp;&nbsp;&nbsp;
                    <input class="checkboxDays" type="checkbox" name="THU" id="5">&nbsp;@DbRes.T("THU", "CarsSchedule")&nbsp;&nbsp;&nbsp;&nbsp;
                    <input class="checkboxDays" type="checkbox" name="FRI" id="6">&nbsp;@DbRes.T("FRI", "CarsSchedule")&nbsp;&nbsp;&nbsp;&nbsp;
                    <input class="checkboxDays" type="checkbox" name="SAT" id="7">&nbsp;@DbRes.T("SAT", "CarsSchedule")
            </tr>
            <tr>

                <td id="timeslectortd" style="width: 700px">
                    <div id="timeSelector">
                        <div id="FromTime" style="width: 650px">
                            @DbRes.T("Time Selection:", "CarsSchedule")
                            <input id="FromTimeObject" value="00" style="width:60px" />
                            <input id="ToTimeObject" value="00" style="width:60px" />
                            <input type="checkbox" class="checkboxDT" id="DT" value="DT">&nbsp;@DbRes.T("Daylight Saving", "CarsSchedule")
                            <input id="FromTimeObjectDT" value="00" style="width:60px" />
                            <input id="ToTimeObjectDT" value="00" style="width:60px" />

       
                          </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td style="width: 700px;position:relative;display:block"><div id="grid" tyle="width: 550;"></div></td>
            </tr>
            <tr>
                <td style="width: 700px;position:relative;display:block">
                    <input id="add" type="button" value='Add' class="k-button" />
                    <input id="addandclear" type="button" value='Add to Grid and Clear Input Area' class="k-button" />
                    <input id="ClearGridandScheduler" type="button" value='Clear Form' class="k-button" />
                    <input id="Okbtn" type="button" value='Enter' class="k-button" />
                </td>
            </tr>
            <tr>
                <td style="width: 700px;position:relative;display:block">
                    <input id="errorinput" style="height:1px;width:1px;visibility:hidden" />
                    
                </td>


            </tr>

        </table>
    </form>
</div>

