﻿<div class="app-header">
    <div *ngIf="action === 'edit' ">
        <h2>
            <strong>{{'Common.Edit' | translate:lang}} {{'SeriesAllocationSession.PageTitleBold' | translate:lang}} </strong> 
        </h2>
    </div>
    <div *ngIf="action === 'view' ">
        <h2>
            <strong>{{'Common.View' | translate:lang}} {{'SeriesAllocationSession.PageTitleBold' | translate:lang}} </strong> 
        </h2>
    </div>
</div>

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <form [formGroup]="seriesForm" class="form" autocomplete="off" (ngSubmit)="onSubmit()" novalidate="novalidate">

            <div class="panel bg-blue-dark">
                <div class="panel-header">
                    <h3><i class="fa fa-user-md"></i> <strong>{{'SeriesAllocationSession.SerieDetails' | translate:lang}}</strong></h3>
                    <div class="control-btn">
                        <a href="#" class="panel-toggle"><i class="fa fa-angle-down"></i></a>
                    </div>
                </div>
                <div class="panel-content bg-white">

                    <div class="row">
                        <div class="col-sm-2">
                            <div class="form-group">
                                <label class="control-label">{{'SeriesAllocationSession.Subject' | translate:lang}}</label>
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-plane"></i></span>
                                    <select2 [value]="selectedSubject"
                                             [data]="subjects"
                                             (valueChanged)="onSubjectChanged($event)"
                                             [disabled]="isReadOnly"
                                             [options]="subjectOptions"
                                             [class.form-white]="!isReadOnly"></select2>
                                </div>
                                <div *ngIf="!validateSubject()" class="form-error" style="margin-top:10px;">{{'SeriesAllocationSession.ValidateSubject' | translate:lang}}</div>
                            </div>
                        </div>

                        <div class="col-sm-2">
                            <div class="form-group">
                                <label class="control-label">{{'SeriesAllocationSession.RegionName' | translate:lang}}</label>
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-globe"></i></span>
                                    <select2 [value]="selectedRegionId"
                                             [data]="geoRegions"
                                             (valueChanged)="onRegionChanged($event)"
                                             [disabled]="isReadOnly"
                                             [options]="geoRegionOptions"
                                             [class.form-white]="!isReadOnly"></select2>
                                </div>
                                <div *ngIf="!validateRegion()" class="form-error" style="margin-top:10px;">{{'SeriesAllocationSession.ValidateRegion' | translate:lang}}</div>
                            </div>
                        </div>

                        <div class="col-sm-3">
                            <div class="form-group">
                                <label class="control-label">{{'SeriesAllocationSession.DisseminationName' | translate:lang}}</label>
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-map"></i></span>
                                    <select2 [value]="selectedDisseminationCategory"
                                             [data]="disseminationCategories"
                                             (valueChanged)="onDisseminationChanged($event)"
                                             [disabled]="isReadOnly"
                                             [options]="disseminationCategoriesOptions"
                                             [class.form-white]="!isReadOnly"></select2>
                                </div>
                                <div *ngIf="!validateDissemination()" class="form-error" style="margin-top:10px;">{{'SeriesAllocationSession.ValidateDissCat' | translate:lang}}</div>
                            </div>
                        </div>

                        <div class="col-sm-2">
                            <div class="form-group">
                                <label class="control-label">{{'SeriesAllocationSession.QCodeName' | translate:lang}}</label>
                                <div class="append-icon">
                                    <select2 [data]="codes" class="form-white"
                                             [options]="codeOptions"
                                             [value]="selectedCodeId"
                                             [disabled]="isReadOnly || readOnlyQCode"
                                             (valueChanged)="onSelectedCodeChanged($event)"></select2>
                                    <i class="fa fa-file-code-o"></i>
                                    <div *ngIf="!validateQCode()" class="form-error">{{'SeriesAllocationSession.RequieredQCode' | translate:lang}}</div>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-3">
                            <div class="form-group">
                                <label class="control-label">{{'SeriesAllocationSession.SerieName' | translate:lang}}</label>
                                <div class="append-icon">
                                    <input id="seriesName" formControlName="series" type="text"
                                           class="form-control form-white"
                                           (keyup)="seriesNameKeyUp()"
                                           placeholder="{{'SeriesAllocationSession.EnterSeries' | translate:lang}}"
                                           style="text-transform:uppercase; font-size: 10px !important"
                                           [class.form-white]="!isReadOnly"
                                           [disabled]="isReadOnly"
                                           [ngClass]="{'form-error': !validateSeriesName() }">
                                    <i class="fa fa-envelope-o"></i>
                                    <div *ngIf="!validateSeriesName()" class="form-error">{{'SeriesAllocationSession.RequieredSeries' | translate:lang}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="action === 'view'" class="text-center  m-t-20">
                        <button class="cancel btn btn-embossed btn-default m-b-10 m-r-0" type="reset" (click)="backToSeriesList()">{{'Common.Close' | translate:lang}}</button>
                    </div>
                    <div *ngIf="action === 'edit'" class="text-center  m-t-20">
                        <button class="btn btn-embossed btn-primary" type="submit" [disabled]="disableSubmit()">{{'Common.Save' | translate:lang}}</button>
                        <button class="cancel btn btn-embossed btn-default m-b-10 m-r-0" type="reset" (click)="backToSeriesList()">{{'Common.Cancel' | translate:lang}}</button>
                    </div>
                </div>
            </div>
            <input id="regionName" formControlName="regionName" type="hidden" />
            <input id="disseminationCategoryName" formControlName="disseminationCategoryName" type="hidden" />
        </form>
    </div>
</div>

