﻿<div>
    <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-10">
            <h2>{{title}}</h2>
            <form name="mainForm">
                
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="userName">User:</label>
                            <input type="text" class="form-control" id="userName" name="userName" [(ngModel)]="userName">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="password">Password:</label>
                            <input type="password" class="form-control" id="password" name="password" [(ngModel)]="password">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label for="topicName">Topic:</label>
                            <input type="text" class="form-control" id="topicName" name="topicName" [(ngModel)]="topicName">
                        </div>
                    </div>
                    <div class="col-lg-4">
					<!--
                        <div class="form-group">
                            <label for="subsName">Subscription Name:</label>
                            <input type="text" class="form-control" id="subsName" name="subsName" [(ngModel)]="subscriptionName">
                        </div>
					-->
                    </div>
                    <div class="col-lg-4">
					<!--
                        <div class="form-group">
                            <label for="subsName">Filter:</label>
                            <input type="text" class="form-control" id="filterValue" name="filterValue" [(ngModel)]="filterValue">
                        </div>                    
					-->
                    </div>
                </div>

                <div>
                    <button class="btn btn-default" (click)="createSubscription()" [disabled]="started">Start!</button>
                    <button class="btn btn-default" (click)="unsubscribe()" [disabled]="!started">Stop!</button>
                    <button class="btn btn-default" (click)="cleanQueue()">Clean</button>
                </div>

            </form>

            <hr *ngIf="subscriptionId"/>
            <h3 *ngIf="subscriptionId">
                Notams from topic &quot;{{topicName}}&quot; for subscription &quot;{{subscriptionName}}&quot;
            </h3>
            <div>
                <div *ngFor="let notam of notams" class="jumbotron" style="padding-top: 20px;padding-bottom: 20px;">
                    <b *ngIf="notam.id">Hub Message ID: {{notam.id}}</b>
                    <p *ngIf="notam.itemA">ItemA: {{notam.itemA}} </p>
                    <p *ngIf="notam.fir">FIR: {{notam.fir}} </p>
                    <p *ngIf="notam.coordinates">Coordinates: {{notam.coordinates}} </p>
                    <p *ngIf="notam.operator">Operator: {{notam.operator}}</p>
                    <p *ngIf="notam.metadata">Metadata: {{notam.metadata}}</p>
                    <pre>
                        {{notam.body}}
                    </pre>
                </div>
            </div>

        </div>
        <div class="col-lg-1"></div>
    </div>

</div>
